[2018-04-17 22:40] clemens-mewald opened #1140 "[Feature Request] Provide checkpoint information in TensorBoard"
For debugging it would be beneficial if TensorBoard, in addition to global steps, provided the checkpoint ID that was used. Could be added to the hover context box that shows run name, value, steps, etc. for each metric value.

[2018-04-17 23:44] skambha opened #1141 "Experimental db: Histogram does not render properly when reading data from db"
Repro:
- From the[ histogram tutorial](https://www.tensorflow.org/programmers_guide/tensorboard_histograms), generate the events file
- Load the file using the loader
- Use the db option and view it in Tensorboard
The histogram and the distributions do not show correct results
-----
There are 3 issues:
1. The calculation of the histogram buckets is incorrect per the histogramProto defined in 	[sum

[2018-04-17 23:47] skambha commented on #1141
The issue is for code in contrib/tensorboard/db.  I have a fix and will open a PR soon.

[2018-04-17 23:57] skambha commented on #1141
Opened the PR:  https://github.com/tensorflow/tensorflow/pull/18627

[2018-04-18 19:28] Spenhouet commented on #376
At the moment if two `events.out.tfevents....` files are in one folder, only the first shows up in TensorBoard.
I would wish for all such files in one folder to result in a average for all scalars.

[2018-04-18 20:19] jmw992 commented on #815
Yeah, you actually have to put the your file path in the --logdir
Directory_Path.  So you have to find the correct file path for that
tensorflow folder on your computer.

On Wed, Apr 18, 2018 at 10:18 AM, mariam zabihi <notifications@github.com>
wrote:

[2018-04-19 09:41] disha3 opened #1143 "Customizing tensorboard to display how many epochs are finished"
I have tensorboard dashboard for my training, it has the weight and bias variation and step count, but now I want to display how many epochs are finished and the amount of data it is training on.

Can I show that information in the current run without losing the older information.

[2018-04-19 12:45] jmw992 commented on #815
Unfortunate, sorry it started working for me after I did that.  Best of
luck figuring it out

On Thu, Apr 19, 2018, 3:23 AM mariam zabihi, <notifications@github.com>
wrote:

[2018-04-19 16:36] nichenghyx opened #1146 "When I used tensorboard as tensorboard --logdir=logs ,it told me that:"
![image](https://user-images.githubusercontent.com/20518717/39005441-d63e4b58-4432-11e8-8645-e33977981ad3.png)

[2018-04-19 17:49] kapurvish commented on #1133
Is it a TensorBoard bug of GOOGLE??

[2018-04-19 18:54] yk5 commented on #938
Would it be hard to make the button with tri-state (linear/log/modified log) instead of toggling between the two? The Icon would need to be carefully designed though.

[2018-04-19 19:31] yk5 opened #1147 "Support Logarithmic scale to x-axis too"
Recent research shows that log-log scaled plotting would help to visualize conversion trends.
http://research.baidu.com/deep-learning-scaling-predictable-empirically/

As Tensorboard provides log-scale option for Y-axis, what's missing is log-scale option for X-axis.
Of course this would be useful when an issue #938 about the log-scaling is fixed.

The option could be easily iconized as rotating t

[2018-04-19 19:38] shoyer commented on #938
@yk5 do you have use cases for modified log scaling?

[2018-04-19 19:49] yk5 commented on #938
No, I don't prefer modified log scaling.
I anticipate  true log-scaling, but my point was: if the decision is not
made because of some benefits of modified log scale, I wish to have true
log scaling earlier as a third option instead of later replacing modified
log scaling with it.

On Thu, Apr 19, 2018 at 12:38 PM Stephan Hoyer <notifications@github.com>
wrote:

[2018-04-19 19:55] shoyer commented on #938
This issue is a duplicate of https://github.com/tensorflow/tensorboard/issues/938

[2018-04-19 21:49] mathemage commented on #82
+1 to set name/variable scopes to go to either main or auxiliary graph. Or at least save the settings and layout across TensorBoard sessions.

[2018-04-20 05:11] jart commented on #1147
We don't have time to work on this right now, but we're open to contributions adding this feature. Please note vz-line-chart is *delicate* and should be modified with special care, as we've seen changes to this component cause regressions in the past.

[2018-04-20 05:13] jart commented on #1146
Try running `pip install tb-nightly`. See also #1111. We'll have a patch release out soon.

[2018-04-20 05:13] #1146 closed

[2018-04-20 05:24] jart commented on #1139
We have a finite color palette carefully chosen by designers and color blindness experts. That list of colors wraps around after a certain number of runs.

[2018-04-20 05:24] #1139 closed

[2018-04-20 05:25] jart commented on #1136
This might be a better question for [StackOverflow](http://stackoverflow.com/questions/tagged/tensorboard) since it's not a bug or feature request. There's a larger community there with better searchability.

[2018-04-20 05:25] #1136 closed

[2018-04-20 05:26] jart commented on #1143
This might be a better question for [StackOverflow](http://stackoverflow.com/questions/tagged/tensorboard) since it's not a bug or feature request. There's a larger community there with better searchability.

[2018-04-20 05:26] #1143 closed

[2018-04-20 05:35] jart commented on #1134
It seems strange that TensorBoard is sending those requests, since you probably didn't open the Debugger or Beholder dashboards. I'd like to know why that's happening and contributions are welcome. Although I can't tell for certain if that's the root cause of the issue you're experiencing.

[2018-04-20 05:35] jart commented on #1125
This might be a better question for [StackOverflow](http://stackoverflow.com/questions/tagged/tensorboard) since it's not a bug or feature request. There's a larger community there with better searchability.

[2018-04-20 05:36] jart commented on #1125
Re-opening because this was triaged. Please accept my apologies.

[2018-04-20 05:39] jart commented on #1133
This is a harmless warning that comes from our TensorFlow dependency, which can be ignored, or you can build TensorFlow from source, so CPU computations go faster for your hardware.

[2018-04-20 05:39] #1133 closed

[2018-04-20 07:06] kapurvish commented on #1133
If this is a warning, then why I am not able to see the graph, when I open in chrome browser : localhost:6006, I am not able to see the graph.

[2018-04-22 17:25] YantianZha opened #1149 "Tensorbaord 1.7 error with TensorFlow 1.8, and how to install tensorboard 1.8?"
- TensorBoard version: 1.7.0
 - TensorFlow version: tensorflow-gpu-1.8.0rc0
 - OS Platform and version: Linux Ubuntu 16.04
 - Python version: 2.7

Hello,
I'm having a problem of using tensorboard 1.7 to visualize the events generated by tensorflow 1.8. The error is at bottom. I suspect a reason is I should use tensorboard 1.8 instead of 1.7. That said, I cannot find a way to install the tensorboar

[2018-04-22 17:36] YantianZha commented on #1149
Right now I temporarily resolved the problem by replacing the "tensorboard/backend/event_processing/event_file_loader.py" with the latest version (https://github.com/tensorflow/tensorboard/edit/master/tensorboard/backend/event_processing/event_file_loader.py).

[2018-04-22 17:50] #1149 closed

[2018-04-24 22:50] nfelt commented on #1149
Duplicate of #1111

[2018-04-24 22:54] nfelt commented on #1136
Duplicate of #1097

@dgiunchi The code sample was incorrect, this has been fixed in #1100, see the PR there for the corrected code sample.

[2018-04-24 22:54] nfelt commented on #1146
Duplicate of #1111

[2018-04-24 23:00] nfelt commented on #938
Duplicate of #57

@shoyer thanks for pointing that out.  Since that issue predates this one by a year, I'll close this one in favor of the pre-existing issue, so please follow along on #57 if interested.

[2018-04-24 23:00] #938 closed

[2018-04-24 23:02] nfelt commented on #57
It was pointed out that #938 is a duplicate of this older issue.  There's some valuable more recent discussion on #938 but we're centralizing on this issue for tracking purposes.

I've marked this contributions welcome, since we are stretched thin in terms of our ability to do new feature work right now.  That said, I agree that this should be fixed and we would happily take a PR to replace the Mo

[2018-04-24 23:07] nfelt commented on #469
@tachim we are stretched pretty thin right now so we can make no guarantees on when we might be able to work on this.  I'll mark it contributions welcome though.

[2018-04-25 03:32] zjy8006 opened #1153 "How to show the loss curve of training set and validation set at the same time using the customed estimator?"
Hi, recently i customed estimator api to build regression model.  In order to clear out the changes of loss value in the training set and validation set. I need to know that how to show the loss curve of training and validation set at the same time. I tried to use train_and_evaluate api of estimator and i got the following picture.
![image](https://user-images.githubusercontent.com/19348442/392247

[2018-04-25 12:25] ljh9961 commented on #130
GOOD!

[2018-04-25 20:15] tachim commented on #469
Maybe we can take a crack at this, what's the most similar PR we can look at? This one seems a bit sparse https://github.com/tensorflow/tensorboard/pull/471/files

[2018-04-26 07:04] nikhilmaram opened #1154 "TensorBoard not showing Complete data"
TensorBoard version : 1.6.0
OS version : Mac OS High Sierra
Python version : 3.6

Issue:
1. I am running my code through 1000 epochs and I am writing to TensorBoard each epoch,But in TensorFlow I am not able to see values corresponding to all 1000 epochs. I only see for 300 epochs(x-axis is only 300).
2. If I run my code for less than 200 epochs. I don't see any scalar values in my TensorBoard. I

[2018-04-26 12:00] draliii commented on #1134
I had the same issue when visualising my learning with tensorflow 1.7 on python 3.5.3 running on debian. Some runs wouldn't show at all, even those that were there the day before. It was caused by low disk space, deleting some old models and restarting tensorboard worked for me.

[2018-04-26 17:58] KylePiira opened #1155 "TensorBoard requires GPU memory to run"
- TensorBoard version: 1.8.0a20180416
- TensorFlow version: nightly-1.8.0a20180416
- OS: Ubuntu 17.10
- Python version: 3.6

I am receiving the below error when trying to run TensorBoard with a TensorFlow instance training a model and consuming all available GPU memory.

[code]

The error indicates that the reason for failure is a lack of GPU memory. This seems strange since TensorBoard should not

[2018-04-26 18:10] jart commented on #1155
This will be fixed as soon as https://github.com/tensorflow/tensorboard/pull/1114 is submitted. Thank you for your patience.

[2018-04-26 18:11] jart commented on #1155
Marking as a duplicate of #1107 in the interim.

[2018-04-26 18:11] #1155 closed

[2018-04-26 21:40] nfelt commented on #1154
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it isn't clearly a TensorBoard bug.  There is a larger community available there.

If you're able to reduce this problem to a minimal reproduction and have confirmed that it isn't an issue with only your local system or with the data in the event file itself, feel free to reopen the issue.

[2018-04-26 21:40] #1154 closed

[2018-04-26 22:03] nfelt commented on #469
@chihuahua would probably know best.  I think the starting point would likely be the PR curves dashboard which has per-run sliders (in #471) which could perhaps be adapted into a global slider for the images dashboard, and the logic that hooks those sliders up to the individual charts would look similar.

I think perhaps more important than the actual implementation is defining the behavior of the

[2018-04-26 23:53] #427 closed

[2018-04-26 23:53] #588 closed

[2018-04-26 23:53] #607 closed

[2018-04-27 00:09] agupta74 commented on #1103
I am also having the same issue with mnist debug example code.

Please run the following command to reproduce:

python -m tensorflow.python.debug.examples.debug_mnist --tensorboard_debug_address localhost:6064

[2018-04-27 09:07] gdoras opened #1157 "Tensorboard feature request: save scalars plots as image"
Tensorboard scalars plots are great. It would be even greater if we could save them directly (not only the data) into an image (ideally in .svg).

Is it something you could consider ?

[2018-04-27 17:22] nfelt commented on #1157
Closing in favor of tracking in #32 which covers this case.

[2018-04-27 17:22] #1157 closed

[2018-04-27 17:27] nfelt commented on #32
We don't foresee being able to implement this in the near future, but PRs are welcome.  Note that the current `vz-line-chart` component that implements the scalar charts does use SVG elements, but it uses a constellation of such elements that together make up the chart, so even an implementation to export as SVG would require somehow compositing together those elements correctly.

[2018-04-27 17:37] agupta74 commented on #1103
It looks like I was able to resolve the issue after removing the proxy settings

[2018-04-27 20:52] salehmamdouh1984 opened #1159 "INFO:tensorflow:Restoring parameters -- Takes forever"
I have a very simple linear regression program. Train and Test. That's it!!!! Calling model.evaluate takes forever ..... I even wakitedfor a whole day ... I thin there is a serious bug in tensorflow here or just a bad documentation.

mode.test(input_fn=some_input_test)

Not logs are printed. The last statement printed is "INFO:tensorflow:Restoring parameters from path to my model directory"

Bug r

[2018-04-27 21:10] nfelt commented on #1159
Closing since this isn't a TensorBoard issue.  Please try asking a question on [Stack Overflow](http://stackoverflow.com/questions/tagged/tensorflow).

[2018-04-27 21:10] #1159 closed

[2018-04-29 02:23] Walid-Ahmed opened #1160 "Tensorboard loads but not a single point is drawn on curves nor an image is shown."
Consider Stack Overflow for getting support using TensorBoard - they have a larger community with better searchability:

https://stackoverflow.com/questions/tagged/tensorboard

 - TensorBoard version (from pip package 1.7)
 - OS Platform and version ( Linux Ubuntu 16.04)
 - Python version (2.7)

Training and evaluation seems running without any problems. Tensorboard loads but not a single point is

[2018-04-29 21:50] chihuahua commented on #469
Yeah, I agree with @nfelt's listing of design decisions to be made. To elaborate a bit on the first point (the behaviors of chart sliders with regards to the global one), tags within a run (such as train or eval) often share the same steps because we often log, say, eval or train data at the same frequencies. However, steps may differ across runs. One might write train summaries every 5 steps, but

[2018-04-30 20:50] cancan101 commented on #766
any news on this?

[2018-04-30 23:47] nfelt commented on #1160
Closing because this question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorboard) since there is not enough information to make it clear that this is a TensorBoard bug. StackOverflow has a larger community that reads general usage questions.

[2018-04-30 23:47] #1160 closed

[2018-05-01 01:58] tatsuya-takahashi opened #1162 "is Tensorboard Embeddings supports japanese char label?"
Hi,

I tried to visualize Tensorflow Embeddings.
But Japanese label isn't display on browser.

I wrote below code.
[code]
'blog.metadata.tsv''s char-code is utf-8, and this file contains Japanese.

In Chrome Browser, On RightSide, Japanese label is displayd.
But On Center SVG space, Japanese label is not displayed.

I want to dispaly Japanese label on center SVG space.
What should I do?

env
- ten

[2018-05-01 04:39] tatsuya-takahashi commented on #1162
Btw, Japanese Label displayed in Only Non-char mode view.
![image](https://user-images.githubusercontent.com/34804215/39461371-120b8496-4d45-11e8-8908-fd3f8f2736e8.png)

[2018-05-02 00:53] fabianbaier opened #1163 "InvalidArgumentError when running official Summaries and Tensorboard example"
Hi Community,

I am trying to run the [Tensorboard example](https://www.tensorflow.org/programmers_guide/summaries_and_tensorboard) that is linked to this [source code](https://raw.githubusercontent.com/tensorflow/tensorflow/r1.8/tensorflow/examples/tutorials/mnist/mnist_with_summaries.py)

I'll get the following error message:

`InvalidArgumentError: You must feed a value for placeholder tensor '

[2018-05-02 11:03] akhilkathi97 opened #1164 "Package Installation Error"
I was installing **face_recognition** package found on git hub.https://github.com/ageitgey/face_recognition. The installation wasn't successful. The error shown is as follows -
 **```tensorboard 1.6.0 has requirement bleach==1.5.0, but you'll have bleach 2.1.3 which is incompatible.
tensorboard 1.6.0 has requirement html5lib==0.9999999, but you'll have html5lib 1.0.1 which is incompatible.```**

[2018-05-02 17:36] nfelt commented on #1164
The bleach (and html5lib) dependencies have been eliminated in #1142, which should be in the next TensorBoard release.  In the mean time, you'd have to install tensorboard 1.6 and face_recognition in a separate virtualenv or somehow avoid installing them in an environment where you already have bleach 2.1.3.

[2018-05-02 17:37] nfelt commented on #1164
Duplicate of #427

[2018-05-02 17:37] #1164 closed

[2018-05-02 19:45] nfelt commented on #1134
Duplicate of #982

[2018-05-02 19:47] nfelt commented on #1134
Thanks @humphd, I agree the 404 issue is a dupe of #982.  I don't think it's actually relevant to the original issue that @sdk21 was having, which sounds like TensorBoard wasn't showing any data?

@sdk21 if you're still having that issue, it'd be helpful if you could provides screenshots and described in a little more detail what isn't working.

[2018-05-02 20:13] nfelt commented on #982
One thing to try might be changing the relevant `src` attributes to bind using `src$="[[_name]]"` rather than `src=` - see this section for details: https://www.polymer-project.org/1.0/docs/devguide/data-binding#attribute-binding

I'm not sure if that would actually fix this; the page doesn't mention `src` as a native property that requires attribute binding.  But since it is similar to `href` whi

[2018-05-02 20:46] cancan101 opened #1166 "Installing tensorboard does not install tensorflow"
[code]
Does not install tensorflow
I am on `tensorboard==1.8.0`.

[code]

[2018-05-02 21:27] nfelt commented on #1166
Closing since this is by design.  TensorBoard expects you to have a tensorflow installation in the python environment in which you install TensorBoard, but it intentionally doesn't depend on TensorFlow's pip package directly because people install TensorFlow in many different ways (`tensorflow`, `tensorflow-gpu`, from source, etc.).  Note that `tensorflow`/`tensorflow-gpu` also already depend on `

[2018-05-02 21:27] #1166 closed

[2018-05-03 06:18] scotthuang1989 opened #1167 "How to check my input data in tensorflow projector"
- TensorFlow version if different from TensorBoard 1.7.0
 - OS Platform and version (e.g., Linux Ubuntu 16.04) ubuntu 17.10
 - Python version (e.g. 2.7, 3.5) 3.6

in the below image, I can choose to show data in a 3-D image after dimensionality reduction. but I can only choose weight of NN layers, How do I show my input data in this page and use the different color for different category?

![image

[2018-05-03 12:05] fatterZhang commented on #992
@GeoffreySmythe Thank you. I met this error, too. And follow your advice, solved the problem.
Environment: ubuntu14.04 + cuda8.0 + py2.7 + anaconda
former: tensorflow 1.2   tensorflow-tenboard 0.4,   now:tensorflow1.6.0 and tensorboard 1.6.0

[2018-05-03 23:46] jart commented on #1167
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorboard) since it is not a bug or feature request. There is also a larger community that reads questions there. If you think we've misinterpreted a bug, please comment again with a clear explanation.

[2018-05-03 23:46] #1167 closed

[2018-05-04 01:33] #815 closed

[2018-05-04 01:52] jart commented on #1163
It's possible our example has drifted out of date. We'd welcome contributions that help fix things.

[2018-05-04 02:00] jart commented on #766
We're currently working on having a DB storage layer that puts information like the graphdef on disk rather than in memory. We'd be happy to accept a contribution that, for example, adds a flag to not load the GraphDef into memory, or perhaps saves a pointer to its file in memory to load it on demand, since the GraphDef is usually the very first thing inside an event log file.

[2018-05-05 02:36] sdk21 commented on #1134
Hi all,
It turns out the problem was with my version of firefox (45.x). I upgraded it to 52.x and it worked for me. 404 is still persistent and is not relevant to the issue I was having.
Thanks.

[2018-05-05 10:32] rmit-s3555597-poshun-lin opened #1168 "SyntaxError: invalid syntax"
Consider Stack Overflow for getting support using TensorBoard - they have a larger community with better searchability:

https://stackoverflow.com/questions/tagged/tensorboard

For bug reports, please include the following:

 - TensorBoard version (from pip package, also printed out when running `tensorboard`)
 - TensorFlow version if different from TensorBoard
 - OS Platform and version (e.g., Li

[2018-05-06 10:40] SpikingNeurons opened #1169 "Compile from source on windows fails"
Consider Stack Overflow for getting support using TensorBoard - they have a larger community with better searchability:

https://stackoverflow.com/questions/tagged/tensorboard

For bug reports, please include the following:

 - TensorBoard version (from pip package, also printed out when running `tensorboard`)
1.8.0 compiling from source with bazel 0.13.0
 - TensorFlow version if different from Te

[2018-05-06 21:54] cinjon opened #1170 "Tooltip Width"
The tooltip that appears when I hover over a graph doesn't show the left most side nor the full name if the name is too long. This is particularly problematic because the LHS is where the colors are described. There also doesn't seem to be a setting to hide any of the info displayed in order to reduce the column width.

Tensorboard 1.7.0
CentOS Linux 7.4.1708
Python 3.6.5 (Anaconda)
Firefox 59.0.2

[2018-05-07 07:17] tatsuya-takahashi commented on #1162
@nfelt
OK, thanks.
Best regards.

[2018-05-07 11:57] hridayroy24 commented on #682
im>>> import gensim

...     raw = i.lower()
...     tokens = tokenizer.tokenize(raw)
...     stopped_tokens = [i for i in tokens if not i in hindi_stop]
...     stemmed_tokens = [p_stemmer.stem(i) for i in stopped_tokens]
...     texts.append(stemmed_tokens)
...

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python2.7/dist-packages/gensim/corpora/

[2018-05-07 12:33] milani commented on #581
Since the last reference to this issue dates back to 6 months ago, I want to ask if this feature request is still relevant or the focus is shifted?

[2018-05-07 14:44] Inoryy commented on #766
Unfortunately ` graph=None` to the FileWriter didn't solve the issue, running quite quickly out even with just a few models.

[2018-05-07 17:31] nfelt commented on #682
@hridayroy24 the problem you're having doesn't look at all related to TensorBoard and shouldn't be posted to this issue tracker.  Please consider removing the post and asking instead on Stack Overflow or with gensim or nltk.

[2018-05-07 17:39] decentralion commented on #581
@milani I was the big advocate for this, and I'm not working on TB anymore, so I think the focus has shifted. I'll close the issue

[2018-05-07 17:39] #581 closed

[2018-05-07 17:44] nfelt commented on #1170
If you have a screenshot of this behavior that would be helpful for understanding the issue.  Does it persist even if you widen the browser window?

[2018-05-07 17:45] nfelt commented on #1168
There's no actual information in this bug report.  Please fill out the template if you file future issues.

[2018-05-07 21:55] jart commented on #1169
This issue is likely happening upstream with Bazel due to something about its embedded JDK. Try using an older version maybe or filing an issue with them.

[2018-05-07 21:55] #1169 closed

[2018-05-08 10:09] npanpaliya opened #1171 "Tensorboard 1.8 shows nothing in the browser"
- TensorBoard version (from pip package, also printed out when running `tensorboard`)
Tensorboard 1.8 installed via pip
 - TensorFlow version if different from TensorBoard
Tensorflow 1.8 with GPU installed via pip
 - OS Platform and version (e.g., Linux Ubuntu 16.04)
Linux Ubuntu 16.04 x86_64
 - Python version (e.g. 2.7, 3.5)
2.7.12
 - For browser-related issues:
   - Browser type and version (e.g

[2018-05-08 16:19] jart commented on #1171
This sounds like a network connectivity issue and most likely isn't related to TensorBoard. There are various troubleshooting steps you can try like pinging. You're using a recent version of Chrome. Try also seeing if there's anything in the debugger console. Will reopen on new information.

[2018-05-08 16:19] #1171 closed

[2018-05-08 16:47] npanpaliya commented on #1171
I checked in debug console too. I see only one request going and response coming from tensorboard with 200 OK. And after that it just stops sending/receiving data. Ping does work. Is there any other way to troubleshoot at tensorboard side?

[2018-05-08 18:06] jart commented on #1171
If you view source, does it show what appears to be TensorBoard source code? Screenshots of Chrome debugger panels would be helpful. It might also be helpful to have a screenshot of the HTTP request / response headers, which you should be able to obtain in the Chrome debugger.

[2018-05-09 06:55] jart commented on #731
I'm going to unflag that issue contrib-welcome because I looked into the build tooling and it's super complicated, at least from the perspective of a Google project. [TensorFlow.js](https://js.tensorflow.org/) might be providing solutions in this area too. We'll check more in the future.

[2018-05-09 12:08] jart commented on #1171
I recommend contacting your system administrator.

[2018-05-09 13:19] vincent-grosbois opened #1172 "Library to generate tensorboard-compatible events from other programs"
Hi!
It seems that the way tensorboard works is by polling tfevents files for specific protobuf messages and then parsing and displaying them.
For now, these messages are generated by Tensorflow through the EventWriter tensorflow class.
Is there any simple way to generate these messages from another 3rd-party program?
As far as I know it's just a matter of having access to the *.proto file definiti

[2018-05-09 15:03] jart commented on #1172
It should be as simple as copying the .proto files over. [dmlc/tensorboard](https://github.com/dmlc/tensorboard/tree/master/tensorboard/src) that did something similar. We're currently working on a SQLite storage format so folks can write data to TensorBoard without needing to worry about protobuf. What are your thoughts on this [schema](https://github.com/tensorflow/tensorflow/blob/master/tensorf

[2018-05-09 16:05] thomasdeneux opened #1174 "No dashboards are active for the current data set"
Hello, to learn about tensorboard I have run the example [mnist_with_summaries.py](https://www.github.com/tensorflow/tensorflow/blob/r1.8/tensorflow/examples/tutorials/mnist/mnist_with_summaries.py), as recommended  in the documentation [TensorBoard: Visualizing Learning](https://www.tensorflow.org/programmers_guide/summaries_and_tensorboard#launching_tensorboard). As I am on Windows 10, i have se

[2018-05-09 16:38] jart commented on #1174
Could you provide more info on TensorFlow and TensorBoard versions?

[2018-05-09 19:46] vincent-grosbois commented on #1172
Hi!
it seems that the proto events themselves are encoded, cf https://github.com/tensorflow/tensorflow/blob/49c20c5814dd80f81ced493d362d374be9ab0b3e/tensorflow/core/lib/io/record_writer.cc#L95 .
I think the schema idea is great, but in our use-case we already have protobuf integration and no SQLite integration, so it seems more complex to integrate this than "just" generating raw events that are b

[2018-05-11 13:58] lcswillems opened #1176 "--path_prefix startup URL omits trailing slash"
When I execute `tensorboard --logdir storage/logs --path_prefix /test`, I get this message: ```TensorBoard 1.8.0 at http://lcswillems-ubuntu:6006/test (Press CTRL+C to quit)```. But when I click on the link, I get `Not found` page.

I precise that when I execute `tensorboard --logdir storage/logs`, it is working.

I use Tensorboard 1.8.0.

[2018-05-11 14:09] lcswillems commented on #1176
I solved this by replacing `/test` by `/test/` in the command. But there is an issue with the description of the `--path_prefix` argument. It is written:

[2018-05-11 14:58] lcswillems opened #1177 "Parameter for automatically taking a free port (Feature request)"
If I execute `tensorboard --logdir dir1` then `tensorboard --logdir dir2`, I will get an error because the port 6006 is already used. Is there a way to select automatically a free port without having to add `--port 6007`? It will be a really nice feature, because I often open a lot of tensorboard server and I can't remember how many I opened and with which ports.

[2018-05-11 15:52] thomasdeneux commented on #1174
Oh sorry, i was using pretty old versions indeed (tensorflow 1.4.0 and tensorboard 0.4.0). Now with the up-to-date versions (tensorflow 1.8.0 and tensorboard 1.8.0), Tensorboard is working great. Thank you.

[2018-05-11 15:52] #1174 closed

[2018-05-11 17:00] nfelt commented on #1177
You can use `--port 0` which should dynamically select an unused port.

https://unix.stackexchange.com/a/180500

[2018-05-11 17:00] #1177 closed

[2018-05-11 17:26] nfelt commented on #1176
Hm, what happens if you run `tensorboard --logdir storage/logs --path_prefix /test` but then visit the URL with a trailing slash, i.e. `http://lcswillems-ubuntu:6006/test/`?  If that works then it's likely just an issue with the URL that's being printed out, not with TensorBoard's actual URL handling for the path prefix.

[2018-05-11 17:28] lcswillems commented on #1176
It is working if I go to `http://lcswillems-ubuntu:6006/test/`.

[2018-05-11 17:32] nfelt commented on #1176
Thanks for checking - in that case I think it's just the logic for printing the URL out that would need a fix.

[2018-05-11 20:28] lcswillems commented on #1177
What does this code do?

[2018-05-11 22:08] jart commented on #1177
It runs TensorBoard, which prints the port number to stdout, and the script intercepts the port number via a UNIX FIFO immediately without needing a sleep loop, then sends an HTTP request to TensorBoard, then waits for it to shutdown.

[2018-05-13 06:12] anbai106 opened #1178 "Tensorboard does not work after I transfer log files to another machine"
I trained my CNN on my cluster and transfer the log folder onto my Mac locally, then I use tensorboard to open it locally on my Mac, but the page shows:

Its French, saying that it is impossible to find the iP address, I guess that is my ip address of my cluster.

Do you have any workaround? This solution does not work for me [,](https://stackoverflow.com/questions/37987839/how-can-i-run-tensorboa

[2018-05-14 02:03] samueljosephk commented on #1111
`pip install tb-nightly` did not solve it for me but `pip install tf-nightly` did.

[2018-05-14 07:25] venik commented on #1111
for those who build from the source, tag: v1.8.0 commit 93bc2e doesn't have this problem, tag v1.8.0-rc1 has this problem

[2018-05-14 13:18] dynamicwebpaige opened #1179 "TensorBoard tutorial with tf.keras"
There are currently end-to-end tutorials using `tf.keras` and TensorBoard - at least, none that I could see in the TensorFlow repo.☺

It would be a nice enhancement to expand the documentation - even just to include the flower [transfer learning example](https://www.tensorflow.org/tutorials/image_retraining), or the MNIST example shown at [2017 TensorFlow Dev Summit](https://github.com/decentralio

[2018-05-14 13:23] dynamicwebpaige opened #1180 "No mention of TensorBoard on the TensorFlow landing page."
There is currently no mention of TensorBoard on the TensorFlow landing page, and no direct link to the tool or its docs. Could we add it to the **Projects** section, or potentially the **Develop** section?

![tensorboard](https://user-images.githubusercontent.com/3712347/39999885-e919d096-574f-11e8-82cc-a0142fcd60de.png)

[2018-05-14 15:18] ogugugugugua opened #1181 "No matching distribution found for tensorboard<1.7.0,>=1.6.0"
Consider Stack Overflow for getting support using TensorBoard - they have a larger community with better searchability:

https://stackoverflow.com/questions/tagged/tensorboard

For bug reports, please include the following:

 - TensorBoard version (from pip package, also printed out when running `tensorboard`)
 - TensorFlow version if different from TensorBoard
 - OS Platform and version (e.g., Li

[2018-05-14 21:18] jart commented on #1181
I'm not able to reproduce this issue. What version of pip are you using? Does this happen after you run `pip install -U pip`?

See also: https://github.com/tensorflow/tensorflow/issues/17845

[2018-05-14 21:26] jart commented on #1179
I agree and we'd welcome contributions doing just that.

[2018-05-14 21:29] nfelt commented on #1111
TensorBoard 1.8.0 fixes this issue.  If you're still seeing this issue, try `pip install tensorboard==1.8.0` (or if you have tensorflow installed via pip, update tensorflow via `pip install tensorflow==1.8.0` which will also update tensorboard).

[2018-05-14 21:59] dynamicwebpaige commented on #1179
Excellent! Have been working on a quickstart today for the [1D CNN with imdb](https://github.com/keras-team/keras/blob/master/examples/imdb_cnn.py) example in Keras' docs.

It would be interesting to explicitly show how TensorBoard visualizations change as you:

* add layers (same activation function)
* add layers (different activation function)
* increase number of epochs, histograms
* include `w

[2018-05-15 03:49] chrissaher commented on #66
Is there any new about this new feature?

[2018-05-15 07:32] sophistcxf commented on #1111
pip install tb-nightly   solves my problem

[2018-05-15 15:16] Hoeze commented on #34
Any updates on this?

[2018-05-15 21:07] cinjon commented on #1170
<img width="1126" alt="screen shot 2018-05-15 at 5 07 23 pm" src="https://user-images.githubusercontent.com/615351/40083542-792ad898-5862-11e8-96ff-cdef3f8e21fe.png">
Here's a screenshot. It doesn't help to widen the screen.

[2018-05-15 21:28] theyiwenliu opened #1184 "No document for frontend unit tests"
We have`bazel test tensorboard/...` for python tests, but currently there is no document for `how to execute frontend unit tests`.

e.g. how to execute tests under `tensorboard/plugins/graph/tf_graph_common/test` or `tensorboard/plugins/audio/tf_audio_dashboard/test` etc.

And I thought the `BUILD` file under `tensorboard/plugins/audio/tf_audio_dashboard/test` will tell Bazel to trigger the test,

[2018-05-15 21:53] jart commented on #1184
Our frontend testing story is something we've been actively working to improve, using rules_webtesting, for quite some time. We're in some respects constrained by our Travis testing environment, which we might replace. We'd welcome contributions that help us improve.

[2018-05-15 22:03] nfelt commented on #66
Nothing new, but contributions are welcome.  I believe it would be relatively straightforward since the graph is rendered using an SVG element already.

[2018-05-15 22:10] theyiwenliu commented on #1184
@jart Thanks for your reply, may I know how do you trigger the frontend tests with rules_webtesting? Like what is the exact command do you use?

[2018-05-15 22:10] nfelt commented on #386
I'm not sure that the font choice is really the obstacle here per @dsmilkov's comment above.  Perhaps what would work to avoid having the glyph texture grow too large would be to first go through the labels and collect all the distinct codepoints, and then render glyphs just for those codepoints into the texture?  That way it wouldn't need to be all of unicode.

[2018-05-15 22:37] jart commented on #1184
Try running `bazel test //tensorboard/functionaltests:core_test`. That should download Chromium and browser test from the command line, but it's always been flaky. So we sometimes do things like `bazel run //tensorboard/components/vz_sorting/test` and open the test html file in the browser, and then open the Chrome console to see if it passed.

[2018-05-16 09:05] EliaCereda opened #1190 ""You must feed a value for placeholder tensor ‘Placeholder’" when using BeholderHook"
- TensorBoard version: **1.8.0**
 - OS Platform and version: **Linux Ubuntu 16.04** and **macOS 10.13.4**
 - Python version: **3.5** and **3.6**

Trying to train a model with a custom Estimator and the `tensorboard.plugins.beholder.BeholderHook` fails with the following error:

[code]

I have found that replacing the definition of the placeholder in "tensorboard/plugins/beholder/beholder.py", line

[2018-05-16 09:50] nfelt commented on #1190
Thanks for the report, this was actually fixed in #1148 which should be in `tb-nightly` now and in the next release.

[2018-05-16 09:50] #1190 closed

[2018-05-16 09:54] EliaCereda commented on #1190
For some reason GitHub search didn’t pull that up when I was looking for it. I’ll wait for the next release then, thanks for the fast response!

[2018-05-16 12:19] chrissaher commented on #66
I can handle it. As far as I understand, it should be handle as a plugin for tensorboard. Is it correct?

[2018-05-16 12:45] jart commented on #66
Something like that, you could probably just contribute a button to the existing graph explorer.

[2018-05-16 18:49] jart commented on #349
How is it possible for a GCS event log to be gsutil rsync'd and then change afterwards? Event log filenames have timestamps in them. Files don't exist on GCS until `close()`. One thing TensorBoard does is it checks if a run directory got deleted, in which case it'll remove it from memory. It doesn't check file modified time.

[2018-05-16 19:18] jart commented on #349
I just spoke with @nfelt. It turns out TensorFlow does resumable uploads, so GCS event logs can be read before `close()`. The `gsutil rsync` behavior also probably differs from `/usr/bin/rsync` which IIRC is smarter about not unlinking inodes.

I assume you want `gsutil rsync` because `--logdir=gs://...` is slow? That makes this a duplicate of #158. We're going to make GCS go fast. Will that solve

[2018-05-17 00:53] aman-tiwari opened #1192 "Precomputed Dimensionality Reductions"
It would be great if the Embedding Projector supported precomputed dimensionality reductions.
For instance, if I wanted to use UMAP I could just compute it serverside to map to 3d/2d and have that be directly visualised rather than make a feature request here and wait for it to be implemented.  This could also be useful if I don't want to compute a huge T-SNE clientside.

[2018-05-17 02:12] jart commented on #1192
Maybe something like TensorFlow.js could help it run faster in the browser cc: @jameswex. We don't have the infrastructure in place right now to do heavy lifting on the serving path. It might be possible to precompute that and log it as a summary, which the backend can then serve as read-only content.

[2018-05-17 02:17] jart commented on #1103
@caisq Would it be possible to turn off gRPC size limits, only when transmitting `tf.GraphDef`?

[2018-05-17 02:20] #1180 closed, assigned to jart

[2018-05-17 03:41] aman-tiwari commented on #1192
That is what I meant - logging it in a special summary or having an option in the projector that just displays them as-is (i.e without PCA/TSNE)

[2018-05-17 05:41] jart commented on #1192
You could put JSON in a `DT_STRING` scalar `tf.summary.tensor_summary`. If it makes more sense to do it with a file, then that's probably fine too; the projector plugin already does special things with files.

[2018-05-17 21:01] jart commented on #1184
FTFY #1193

[2018-05-17 23:50] #1107 closed

[2018-05-18 02:39] nfelt commented on #1015
Hmm, I agree this is weird, though it might be a bit tricky to fully fix.  For now, if you're still having this issue, you might try using `tb.summary.histogram` from TensorBoard itself.  I think as long as you stick to binary histograms, that should avoid this type of artifact (though I have not actually tried it).

[2018-05-18 02:49] TimZaman opened #1194 "Tensorboard gives `CUDA_ERROR_OUT_OF_MEMORY`?"
I'm currently training so I'm hogging my GPU for memory. Why would Tensorboard give an OOM? What does/should it use CUDA for?

On ubuntu 16.04, tensorflow-gpu-1.7

[code]

[2018-05-18 02:55] TimZaman commented on #1194
Closing for now. After some cleanups of tb and tf it seems things have restored their sanity on my end.

[2018-05-18 02:55] #1194 closed

[2018-05-18 03:41] nfelt commented on #1194
Duplicate of #1107

[2018-05-18 03:42] nfelt commented on #1194
This sounds like #1107 which recently had a mitigating PR go in.  The nightly release should pick up that PR soon, so if you see the issue again you could try installing `tb-nightly` and using that.

[2018-05-18 05:25] keihiromasa commented on #982
Hi.

I got the same issue, having “W0219 15:12:02.944875 Thread-1 application.py:273] path /[[_dataImageSrc]] not found, sending 404” and the firefox tab crushed(showing white page, and got some script error).

But I realized that firedox update has been downloaded, and when I applied the update, error doesn’t occur anymore.

Hope this info helps.

[2018-05-18 12:22] iurilarosa opened #1195 "Discrepancies in measurements of execution time between TensorBoard, timeline and time()"
Hi, with Tensorflow 1.8.0 and TensorBoard 1.8.0 I have three different measurements of the execution time of my code.
With the `time` function I get ~0.35 s, using it like the code below
[code]
With TensorBoard I get ~0.08 s, using `timeline` i get ~0.1 s
The first measure is reliable because, for example, if I cycle the graph execution 100 times I have a total computing time ~35s.
Why these diffe

[2018-05-18 18:10] jart commented on #867
@robieta We've been bug scrubbing this week to improve GCS support. TensorBoard nightly users can expect to see `--logdir=gs://...` performance and reliability greatly improve in the upcoming weeks.

@nfelt Could this be related to the truncation issue you encountered a few days ago in the TF GCS impl? If so, please reopen and assign.

[2018-05-18 19:36] jart commented on #1195
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-05-18 19:36] #1195 closed

[2018-05-18 20:32] theyiwenliu commented on #1184
It works! Thanks for your efficiency! 👍

[2018-05-19 00:55] martin-gorner commented on #1111
I am using the latest version of tensorflow and tensorboard, installed via pip: 1.8.0 and 1.8.0
The problem still exists. Is there a solution outside of nightly builds or compiling from source ?

[2018-05-19 00:59] jart commented on #1111
@martin-gorner Could you provide stack traces and logs? Does `pip install tb-nightly` help?

[2018-05-19 02:34] nfelt commented on #867
@robieta There's a known issue where in some circumstances TensorBoard won't load fresh data from GCS.  This would happen only in a case where you have 1 or 2 separate run subdirectories containing event files within your logdir (if you have 3 or more, you hit a different problem, but it shouldn't get stuck loading).

If that matches your situation and you're willing to use `tf-nightly` in additio

[2018-05-21 15:46] cinjon opened #1201 "Dictionary changed size during iteration"
- Tensorboard 1.8.0
- OS: Ubuntu 16.04
- Python 3.6

I'm getting this RuntimeError. There doesn't seem to be a way for the tag_to_content  to change though.

[code]

[2018-05-21 16:14] cinjon commented on #1201
I'm still baffled what is mutating this. Additionally, it appears that content (https://github.com/tensorflow/tensorboard/blob/c1be95b8cac849759b20100401c94077f9bcaaf4/tensorboard/plugins/scalar/scalars_plugin.py#L75) is not used.

[2018-05-21 16:14] cinjon commented on #1201
I also tried this with python 3.5 and got the same error.

[2018-05-21 16:27] jart commented on #1201
That definitely looks like a bug. Chances are it's not being mutated by that function, but rather by the thread that's reading for new events. In Python2 the solution would be simple, which is called `items()` rather than `iteritems()` but this behavior flipped in Python3 and I'm not sure if six provides an abstract, and in either case, there could be a thread race condition. @nfelt could you take

[2018-05-21 16:35] cinjon commented on #1201
A deepcopy on tag_to_content seems to fix it, although wow is this going slow now.

[2018-05-21 16:40] jart commented on #1201
Yes there's a lot of stuff in there. Adding a lock around the precise data structure is likely what's required. I'm surprised we haven't encountered this before.

[2018-05-21 17:08] nfelt commented on #1201
I actually have seen this crop up before, though it's generally been hard to reproduce.

I think a sufficient fix would be adding another set of locks, one per value of `PluginEventAcccumulator._plugin_to_tag_to_content` (where the value is a dict of tag to content).  Then we acquire the relevant lock:

1) when adding a new tag to a tag-to-content dict:
https://github.com/tensorflow/tensorboard/bl

[2018-05-21 17:24] greaber opened #1202 "max grpc message size is too small"
I am using TensorBoard 1.8.0.  I am trying to use the debugger, but I get this error message:

[code]

Someone asked about this problem here: https://stackoverflow.com/questions/49648395/tensorboard-debugger-and-grpc-max-message-size-between-client-and-server

A comment on that question suggests that setting `grpc.max_receive_message_size` could help, but there is no variable named `max_receive_me

[2018-05-21 23:21] csarron opened #1204 "Projector: default compute PCA issue"
When clicking on the projector tab, tensorboard starts loading tensor values and computes the PCA.
The problem is that if the tensor is very large (e.g. large embeddings), default computing the PCA will take super long time, and you can do nothing but wait a few minutes at least.

I believe this is flaw for the default logic, a better option would be to let the user decide whether to compute the P

[2018-05-21 23:33] jart commented on #1202
This is probably a duplicate of #1103, most likely due to a large `tf.GraphDef`. cc: @caisq on debugger graph gRPC overflow.

[2018-05-21 23:33] #1202 closed

[2018-05-22 16:57] nikonikolov commented on #405
A follow up on the above. The distributions tab alleviates this problem to a degree, but it also does not allow zooming. So for example in the plot below, because the data shrinks very abruptly, it is very hard to track the standard deviation when the data shrinks. It would be nice to be able to zoom in a specific area by drawing a rectangle over it (the same way as in the scalars tab).
![image](h

[2018-05-22 18:22] jart commented on #405
TensorBoard reservoir samples data to fit in memory. I just submitted a change today that'll allow our SQLite storage system (requires a real disk) to store unlimited samples. After that we can add zooming.

[2018-05-22 18:39] iansf opened #1205 "TensorBoard plots switch to scientific notation on the y axis too early, which makes plots harder to read."
TensorBoard plots switch to scientific notation for 5 digit numbers, which requires more characters to represent, and actually hides relevant precision, as demonstrated in the attached screenshot.

![screen shot 2018-05-22 at 11 27 56 am](https://user-images.githubusercontent.com/12631059/40382403-36a3c312-5db3-11e8-942a-e680c5c463d3.png)

-1.329e+4 -- 9 characters for 4 digits of precision and si

[2018-05-22 18:43] nikonikolov commented on #405
Great news, looking forward to it!

[2018-05-22 20:12] greaber commented on #1202
Yep, this must be the issue since setting `send_traceback_and_source_code=False`, as suggested in #1103, makes the debugger work.

[2018-05-22 20:59] caisq commented on #1202
@greaber Thanks for the info. It is helpful. It shows that the root cause of the issue is sending of the traceback and source code data from TensorFlow runtime to the debugger backend is not sharded properly, causing failure in the case of large source code due to, say large source files or many source files. The GraphDef and tensor values are already sharded before sending.
I'll work on a fix to

[2018-05-22 21:02] caisq commented on #1103
@jart As discussed in #1202, the issue here is not GraphDef, which is already divided into small chunks prior to sending through gRPC. The issue here is source code and Python tracebacks, which are populated in a single protocol buffer and sent through gRPC. This fails when the size of the protocol buffer is larger than 4 MB, due to, for example, large source files or many of them. The current wor

[2018-05-23 04:10] piroxi commented on #958
@jjeaby did you manage to solve this problem? i'm facing the exact same problem as you, trying to implement earlystopping and tensorboard in a single callback

[2018-05-23 19:13] MjdMahasneh commented on #1027
@zeynali Hi there, Could you please update the status of this issue and share if you managed to solve it. many thanks

[2018-05-24 05:29] sizhky opened #1209 "create_summary_metadata TypeError: Value must be iterable"
Hello,

I've been getting this problem when I run tensorboard. I tried reinstalling and it is of no use...

Details:
Version: 1.8.0
TF Version: 1.3.0-rc0
CPE OS Name: cpe:/o:centos:centos:7
Kernel: Linux 3.10.0-327.el7.x86_64
Architecture: x86-64
Python: 2.7

[code]

[2018-05-24 05:31] sizhky commented on #1209
Above error occurs when I run `tensorboard --logdir runs` in linux

[2018-05-24 06:01] nfelt commented on #1209
Please fill out the issue template that is shown at https://github.com/tensorflow/tensorboard/issues/new.

[2018-05-24 14:13] sizhky commented on #1209
@nfelt I've edited my question so as to have the version details.

[2018-05-24 16:11] caisq commented on #431
This issue is obsolete now. Closing it.

[2018-05-24 16:11] #431 closed

[2018-05-24 17:53] djl11 commented on #893
I agree with both netheril96 and martin popel, it is very cumbersome to make sense of the data when there are 20+ scalars all plotted together in a single plot. I'm quite surprised there isn't more attention around this issue. It would make data visualization so much easier. But I also agree that anything is better than nothing, and being able to do this programmatically inside python would be a s

[2018-05-24 18:13] Sora77 opened #1210 "Projector point isolation : Cosine distance change and explained variance decrease"
Hello,
This issue is a request for an explaination about two points in Tensorboard's projector :
#### 1 - Cosine distance changes when isolating a selection of points
Cosine distance seems to change when zooming on points. The right side column showing the nearest neighours has the mention 'in the original space'. I think I'm not the only one who also interpreted it as 'the cosine distance is also

[2018-05-24 19:05] jart commented on #1210
This issue deserves an achievement for most tags. We really appreciate feedback. We're happy to consider feature requests. Support is better directed to [Stack Overflow](http://stackoverflow.com/questions/tagged/tensorboard) since there's a larger community there with better searchability. We'd very much welcome contributions that improve our documentation.

@nsthorat do you have thoughts on this

[2018-05-24 19:21] jart commented on #893
What do we think about the following solutions?

1. Have a checkbox next to regex search so it chooses new colors each time it's applied.
2. Make (1) the default behavior and don't bother with the checkbox.
3. Make (2) cleverer, by only choosing new colors if the filtered colors needlessly overlap.

[2018-05-24 21:43] nfelt commented on #1209
Duplicate of #635

@sizhky this appears to be a known issue if your TF version is sufficiently old.  Perhaps you can update it to TF 1.4.0 or greater.

[2018-05-24 21:43] #1209 closed

[2018-05-24 23:29] martinpopel commented on #893
@jart: These three solutions may help and as someone here wrote, anything is better than nothing, but...

The problem of 2 and 3 is that some colors will change when users don't expect this - I guess this could be very controversial (although for me it is better than the current state). Sometimes I get used to some color-run mappings. Sometimes I make the regex more specific just temporarily then

[2018-05-25 00:36] djl11 commented on #893
I ageee that custom color selection would be by far the best solution. It would even be useful to colour certain plots similarly sometimes.

For example: 3 datasets, each with 3 hyperparameter selections, and 3 different architectures, making 27 scalars plotted in total. Maybe I could use just red blue green to distinguish the dataset for 1 screenshot, then the hyperparameters for another, and fin

[2018-05-25 00:52] djl11 commented on #893
Also, as a side note. Most people in my lab use tensorboard regularly, and by far the most common use case is comparing many runs in a single plot, with various parameters selected for cross comparison, with directory structure for the log files used to distinguish meaning. Having briefly spoken to each of them today after writing this comment, this is a feature request which all of them were very

[2018-05-25 04:40] dmoham1476 commented on #405
Can we also export histogram values to csv? I see this option is available for scalars

[2018-05-25 05:03] Sakib-Ar-Rahman commented on #49
I am facing a similar problem with large event files when trying to visualize embeddings on Tensorboard. Below is a simple script that reproduces the problem. Tensorboard runs perfectly fine if I just reduce the size or change the number of features in the embeddings. This shape produces large checkpoints (over 1GB). The error that I get when running Tensorboard is

 /Users/sakibarrahman/static/tf

[2018-05-25 12:04] sizhky commented on #1209
@nfelt - I have updated it but still I get nothing in the web-page. My logdir has tfevents file but I get a blank screen in localhost:6006

[2018-05-25 16:00] jart commented on #49
Could this be the same issue as https://github.com/tensorflow/tensorflow/issues/582?

[2018-05-25 18:07] nfelt commented on #49
@Sakib-Ar-Rahman that looks like maybe a different issue since it actually involves a checkpoint file, not an events file.  Could you repost into a new github issue (https://github.com/tensorflow/tensorboard/issues/new) and include the information requested in the issue template?  In particular, could you include any stacktrace that comes with the error message if there is one?

[2018-05-25 22:15] nfelt commented on #1209
That's not enough information to be able to assist you.  At a minimum I would need to know what you mean by "blank screen" - i.e. a screenshot, plus the output of the developer tools network and JS console panels, and what browser version you're using.

It would also be useful if you could provide the exact command line you're running, any output from the command, and the tfevents file that you're

[2018-05-26 03:05] nfelt commented on #405
@dmoham1476 would you mind opening a separate feature request for this, since it's not related to zooming?

[2018-05-26 08:35] nfelt commented on #1209
The attached eventlog is only 160 bytes and is corrupted - it's not in valid TensorFlow records format, and seems to contain a raw error message from matplotlib:

[code]

I expect that's why TensorBoard isn't loading.

[2018-05-26 15:42] Sergio0694 opened #1211 "Page/tab navigation breaks in MS Edge after first page change"
Hello, I've noticed a navigation issue in TensorBoard, when using Microsoft Edge.
Basically, the navigation system just stops working after the first navigation. You open TensorBoard and land in the "scalars", and navigating to another page (eg. "graphs") works fine.

After that, attempting to open another page, or to go back to the "scalars" page doesn't work anymore. You can see from the attache

[2018-05-27 22:08] cindycatrosa commented on #905
I have also noticed the missing x-axis labels on Windows 10, Firefox 60.0.1 64-bit with Tensorboard 1.7.0

[2018-05-27 22:08] skaematik commented on #905
I have also noticed the missing x-axis labels on Windows 10, Firefox 60.0.1 64-bit with Tensorboard 1.7.0

[2018-05-28 03:55] Seanspt commented on #773
Up vote  for sampling instead of return first 10k.
Also, it would be great that a group of wanted IDs could be passed in.

[2018-05-28 14:06] justfouw opened #1213 "How could I embed the summary op implementation of my custom plugin with tensorflow?"
I have created one plugin for specific visualization purpose under the tips from [tensorboard-plugin-demo](https://github.com/tensorflow/tensorboard-plugin-example). For simple to say, the plugin name is "plugin_a", and the summary op is implemented in function "op" of summary.py. So I can use this op like `summary.op(tensor_name, tensor)`. And it works.

However, the common way of using summary o

[2018-05-28 16:14] Sakib-Ar-Rahman opened #1214 "Tensorboard (Embeddings Projector) not working with large checkpoint files"
- TensorBoard version (from pip package, also printed out when running `tensorboard`): 1.7.0
 - TensorFlow version if different from TensorBoard: 1.7.0
 - OS Platform and version (e.g., Linux Ubuntu 16.04): macOS High Sierra Version 10.13.3
 - Python version (e.g. 2.7, 3.5): 3.6.5
 - For browser-related issues:
   - Browser type and version (e.g. Chrome 64.0.3282.140): Version 66.0.3359.139 (Offic

[2018-05-28 16:20] Sakib-Ar-Rahman commented on #49
Just created a new issue for checkpoint files at #1214

[2018-05-29 14:04] jjeaby commented on #958
@piroxi your problem's solution was not found. i got it same problem. i known that tensorbord's keras not support multiple callback at that time!!  tensorflow in keras not yet support multiple callback in current version.

[2018-05-29 19:47] nfelt commented on #773
We'd welcome a contribution to implement server-side sampling if someone wants to take this on.

[2018-05-29 19:51] nfelt commented on #1213
The `tf.summary` namespace is limited to the built-in ops that come with TensorFlow itself.  If you've developed your own custom plugin, that's great, but you'll need your own way to distribute the custom summary op code.  As you noted, functionally the summary ops should still work fine if they're located elsewhere in the code; they don't need to be in `tf.summary`.

[2018-05-29 19:51] #1213 closed

[2018-05-31 06:28] justfouw commented on #1213
@nfelt Yes, this custom plugin works. My purpose is to keep the same use experience as other build-in summary ops. I have checked the image summary op and find its original implementation is in //tensorflow/core/kernels/summary_image_op.cc. So it may need lots of work to distribute this custom summary op.

[2018-05-31 15:19] tazr opened #1218 "Zoom out"
- TensorBoard version (from pip package, also printed out when running `tensorboard`): 1.8.0

AFAIK the only way to zoom out is to click to the "Fit domain to data" button in the corner of a chart. However I sometimes find myself wanting to have a larger view than that.

For example, sometimes I want to have the y-axis starting at the value 0. This can give a better idea of the significance of imp

[2018-05-31 16:56] nfelt commented on #1218
This sounds mostly like a duplicate of #77 (and see also #710), unless there's a specific use case for being able to dynamically "zoom out" with a zooming-style interaction, versus the various suggested approaches on those Github issues which mostly have an interaction more like "check box to start y-axis at 0" or "click button to enter explicit axis limits".

If you think it's not a duplicate fee

[2018-05-31 21:05] nfelt commented on #1213
You shouldn't need to implement any C++ code to write your custom summary op.  Just build the op out of other python ops and use tf.summary.tensor_summary() to log whatever data you need, as shown in the example.

For distributing it, as I said, you'll need to distribute the custom code separately since TensorFlow's namespace is only for the built-in premade ops supported by TensorFlow.  But it's

[2018-05-31 21:38] sleighsoft commented on #952
I would love to see that as well.

[2018-05-31 21:39] sleighsoft opened #1219 "Trace Inputs only works when selecting node and then toggle"
tb-nightly==1.9.0a20180531

When I enable Trace Inputs in the graph view it only works when I first select a node and then toggle it off and on.

[2018-06-01 06:58] #1218 closed

[2018-06-01 06:59] tazr commented on #1218
Having #77 would already be great, I am closing this one.

[2018-06-01 14:13] tothovak commented on #1201
Is there any way around this? Tensorboard was running for me for good 2 weeks then this problem started happening and it won't work anymore. Can't really downgrade to1.7 as am using TF 1.8 functionalities.

[2018-06-01 15:16] iron9light opened #1220 "--logdir unexpectedly interprets commas and colons"
Consider Stack Overflow for getting support using TensorBoard - they have a larger community with better searchability:

https://stackoverflow.com/questions/tagged/tensorboard

For bug reports, please include the following:

 - TensorBoard version (from pip package, also printed out when running `tensorboard`) 1.8.0
 - TensorFlow version if different from TensorBoard
 - OS Platform and version (e.

[2018-06-04 02:00] CDLuminate opened #1221 "[feature request] --logdir should support regex"
This will he helpful for the user to compare several runs instead of all.

[code]

[2018-06-04 13:23] caisq commented on #1118
The commit mentioned above should have fixed this issue. The fix will be available in the next release of tensorflow and tensorboard.

[2018-06-04 13:23] #1118 closed

[2018-06-04 14:52] ro3c opened #1222 "No matching distribution found for tensorboard<1.9.0,>=1.8.0 (from tensorflow==1.8.0)"
Consider Stack Overflow for getting support using TensorBoard - they have a larger community with better searchability:

 - TensorBoard version (1.9.0 ?)
 - TensorFlow version: Built from source 1.8
 - OS Platform and version: OS X 10.13.4
 - Python version: 3.5.3

Trying to install Tensorflow built from source and received the following error message:

Collecting tensorboard<1.9.0,>=1.8.0 (from t

[2018-06-04 15:27] ro3c commented on #1222
Issue is with pip not upgrading properly.  Must upgrade pip without using pip
curl https://bootstrap.pypa.io/get-pip.py | python
in order to get to version 10.0 with the proper certificates.

[2018-06-04 15:27] #1222 closed

[2018-06-04 18:14] lcswillems opened #1224 "Smoothing produces weird plots"
When `smoothing` is not 0, this kind of wierd graphs appear:

![image](https://user-images.githubusercontent.com/5437552/40934025-6f9565ec-6801-11e8-918d-f8c03f0317b5.png)

[2018-06-04 18:15] nfelt commented on #1221
This looks more like shell glob syntax than regex syntax, so I'll update the issue title accordingly.

The `--logdir` flag does accept multiple logdirs but they have to be comma-separated, not space-separated like a glob produces.  So tight now the way to achieve this would be using a shell that supports globbing and then do something like what's described here but with a comma instead of a colon:

[2018-06-04 18:47] nfelt commented on #1224
What kind of plot are you expecting?  Is the plot supposed to be a constant, i.e. a horizontal line?  If so, this is a duplicate of #786.

In general, a screenshot of what you expect / what it looks like when smoothing is 0 would be useful.

[2018-06-04 19:55] lcswillems commented on #1224
When smoothing is 0, the line is horizontal what is right. And yes, it is a duplicate. Sorry!

[2018-06-04 20:05] nfelt commented on #1224
Duplicate of #786

No worries, thanks for reporting anyway.

[2018-06-04 20:05] #1224 closed

[2018-06-04 20:15] nfelt commented on #1220
Commas are interpreted as separating multiple logdirs passed to the --logdir flag as a single argument, so they can't be present in the directory names as it currently works.

You have a few options:
- Rename the directory to avoid the comma
- Create a symlink to the directory that doesn't use a comma, and point TensorBoard at that instead
- Point TensorBoard at a directory one level up from the o

[2018-06-04 22:57] jart commented on #1221
I have a change in flight that is migrating us to argparse, which should make it possible to do this, without the commas.

[2018-06-04 23:32] nfelt opened #1225 "Fix bad interaction with GcsFileSystem caching"
TensorBoard reads log directories using TensorFlow's `tf.gfile` API, which has built-in support for Google Cloud Storage (GCS) via [GcsFileSystem](https://github.com/tensorflow/tensorflow/blob/v1.8.0/tensorflow/core/platform/cloud/gcs_file_system.h).  Unfortunately in TF 1.4+ this filesystem added a shared LRU cache that in its default configuration behaves pathologically badly for TensorBoard's r

[2018-06-04 23:36] CDLuminate commented on #1221
the comma separated list is just hard to type, especially when you have tens of runs in some long name. either supporting regex or shell globbing would eliminate the pain.

[2018-06-05 00:48] nfelt commented on #1201
For now one workaround could be setting the background reload via `--reload_interval` higher than the default (5 second interval), which should at least make this happen less often.

[2018-06-05 05:40] iron9light commented on #1220
I tried 3 firstly, it works until I got more than one dir whose name contains ",".
Then I go with 1 and changed a lot of code and folder name :(

I think it's a bad design if it cannot support dir name with "," since it's a valid char for dir name.
And I wish it could support wildcards.

[2018-06-05 14:19] lcswillems opened #1227 "Lines outside plot's window with smoothing"
![image](https://user-images.githubusercontent.com/5437552/40981815-e3bcfacc-68a9-11e8-986f-c0886a3e6aae.png)

With smoothing 0.999, one of the line is not in the plot window.

[2018-06-05 15:21] lcswillems opened #1228 "Name of plot's lines not fully visible"
I would like to see the name of the blue line, but when I scroll down, it disappears.

![screenshot from 2018-06-05 11-16-57](https://user-images.githubusercontent.com/5437552/40985635-8b66785e-68b2-11e8-86be-93af91e92236.png)

[2018-06-05 16:57] jart commented on #1220
We also don't support colons probably. We could probably run the logdirs through a URI decoder, so you can specify those commas as hex. See also argparse change in https://github.com/tensorflow/tensorboard/issues/1221

[2018-06-05 20:34] nfelt commented on #867
This should be fixed by #1226, so in the upcoming 1.9 release of TensorBoard, provided that you're using TensorFlow 1.9+ as well.  See #1225 for details.

[2018-06-05 20:34] #867 closed

[2018-06-05 20:42] nfelt commented on #158
We discovered an issue (#1225) involving bad interaction between TensorBoard and the underlying TensorFlow `tf.gfile` API when running against GCS logdirs, and this issue causes excessive network usage and API calls, as @potiuk describes above in https://github.com/tensorflow/tensorboard/issues/158#issuecomment-320565668.  PR #1226 should address this in the upcoming 1.9 release of TensorBoard as

[2018-06-05 21:30] jart commented on #158
Performance aside, if you want to know whether or not GCS network egress is free, here's a helpful shell function:

[code]

I've been considering possible integrating that into TensorFlow, so we can show a warning, since many people will run TensorBoard on their local machines, rather than something like `gcloud compute ssh instance -- -I 6006:localhost:6006 tensorboard --logdir=gs://foo/bar`. Wou

[2018-06-05 23:01] lcswillems opened #1229 "Cannot see lines outside of the window"
![screenshot from 2018-06-05 18-56-33](https://user-images.githubusercontent.com/5437552/41007189-a3d018b0-68f2-11e8-8e6f-248534e7998e.png)

There is no way to see the gray line going out of the window. I cannot know the value it is taken outside: no zoom out possible, and no value given in the black box when the line is outside... This is really not convenient, I need to read my log files to get

[2018-06-05 23:10] nfelt commented on #1229
Just confirmed - did you uncheck the checkbox for "Ignore outliers in chart scaling"?

[2018-06-05 23:12] nfelt commented on #1228
Duplicate of #1019

I think the best way to address this would be something like what #1019 proposes as a feature request, where there's a way to "pin" the pop up so that you can scroll over it, select values from it, and maybe even sort it or download it as the OP on #1019 suggests.

[2018-06-05 23:13] nfelt commented on #1228
Duplicate of #1019

[2018-06-05 23:13] #1228 closed

[2018-06-06 04:29] sachinbijalwan commented on #1111
I also faced this issue. Nothing mentioned above was working for me. It was then I noticed that when I launched tensorboard it's version was 1.5 even though after installing tensorboard >=1.8 . I ran `pip freeze` and found that their was another package called tensorflow-tensorboard which was launching itself whenever I ran tensorboard. So, I uninstalled it and everything worked fine.

[2018-06-06 05:09] lcswillems commented on #1228
Thank you for the answer!

[2018-06-06 05:19] martin-gorner commented on #1111
same here, I had to uninstall tensorflow-tensorboard manually

[2018-06-06 06:13] lcswillems commented on #1229
Sorry, there was a way: I didn't uncheck the checkbox... Thank you for your help! Several times before I checked / unchecked this checkbox without seeing any effect so I didn't think to test it again.

[2018-06-06 07:57] STsui1019 opened #1230 "Cannot show history images"
TensorBoard version: 1.8.0
OS: Linux Ubuntu 16.04
Python version: 2.7

I was trying to view history images using step slider. Based on the answer from Stack Overflow, the following code should work out,

`import io
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf
import numpy as np

def gen_plot():
    """Create a pyplot plot and save to buffer."""
    uniform_data = n

[2018-06-06 12:05] mi-lad commented on #1221
I would love this feature. The problem with comma separated list is that it's static. With a regex tensorboard could continuously look for new directories that match the regex.

I run most of my training jobs on a jenkins server and have one tensorboard instance that's watching the top-level jenkins home directory. It works fine except that there are many duplicate folders because of Jenkin's syml

[2018-06-06 17:34] nfelt commented on #1230
This error looks like what might happen if you had run TensorBoard with the image summary named "heatmap" originally, then restarted TensorBoard with the image summary named "plot", but without refreshing the TensorBoard page in the browser.  Otherwise I'm not sure how this error would be produced.

Re: how to get a history view, that question is a bit better for stack overflow since you'll get a

[2018-06-06 17:34] #1230 closed

[2018-06-06 19:56] jart commented on #1221
Have you considered using symlinks?

[2018-06-06 21:42] mi-lad commented on #1221
mmm, how? I guess the problem is new jenkins jobs are created and deleted all the time and it'd be nice not having to restart tensorboard

[2018-06-07 19:28] subham1 commented on #695
Yeah. I too ran it in the same directory and it worked. Thanks!

[2018-06-07 21:01] nfelt commented on #158
I think #1087 should also address a lot of the slowness involved in scanning the GCS logdirs for event files.  That PR should also be included in TensorBoard 1.9.

[2018-06-07 21:07] nfelt commented on #668
Duplicate of https://github.com/tensorflow/tensorboard/issues/65

[2018-06-07 21:07] nfelt commented on #668
Looks like this is mostly a duplicate of #65, so closing in favor of that existing issue.

[2018-06-07 21:07] #668 closed

[2018-06-08 02:57] caisq commented on #1103
This issue should have been fixed by https://github.com/tensorflow/tensorflow/commit/d2090672fe8305289156460c43f7fcc1a5dd5422#diff-3a99c734be4389d1419cb133c18e5c29

and will become available in tensorflow release 1.9.

[2018-06-08 11:59] ngc92 opened #1232 "[feature request] save scalar data multiple runs"
The data download links for the scalar plugin currently only support downloading one single run. In a situation where many runs are used to compare different hyperparameters, it would be nice to be able to download all runs simultaneously into a single file. Maybe even a download all scalars button, that gives a zip archive with all the scalar graphs.
This would also allow to quickly share the mos

[2018-06-10 14:17] colbec opened #1234 "Julia/TensorBoard contradictory warning about AVX2 from custom compiled version?"
- TensorBoard version 1.8.0
 - TensorFlow version 1.8.0 custom compile with bazel, libtensorflow.so
 - OS Platform and version: openSUSE Leap 15
 - Python version 3.6

Julia 0.6.3 runs some tests on TensorFlow including loading TensorBoard. When using a plain vanilla  default version of TensorFlow I am warned that my processor can use AVX, AVX2, FMA and SSE, so I compile a custom version of `libte

[2018-06-10 19:36] nfelt commented on #1234
TensorBoard just does "import tensorflow" from its python code, nothing fancier than that.  So it will pick up whatever TensorFlow version you have available in your python environment.

If you want to use the custom-compiled tensorflow you'd probably need to custom-compile a whole pip package and install that locally; I don't think there's a way for TensorBoard to refer to libtensorflow.so direct

[2018-06-11 16:37] RanFeldesh opened #1237 "Beholder doesn't work in Eager Mode or TF 2.0"
Does Beholder works in Eager mode? If so, how should the call [beholder.update(
  session=sess)] be changed to support that? @chrisranderson , as the author, what is your opinion?

[2018-06-11 16:53] amygdala commented on #158
@jart : IMO integrating that GCS egress check into TB would be very helpful to our users.

[2018-06-11 21:03] #1201 closed

[2018-06-11 21:29] nfelt commented on #1201
This should be fixed by #1235 and will be in the 1.9 release of TensorBoard.

[2018-06-11 21:34] nfelt commented on #1232
I think it would make sense at least for the drop-down menu on each chart to have an `(all)` option that would download data for all runs.

It might also make sense to have a button for downloading data for all charts too, though this could get a little more complex - since not all charts are rendered on the frontend, e.g. ones on later pages, so it might make more sense to produce the zip file at

[2018-06-12 02:31] su526664687 opened #1239 "Dilation rate can't display correctly"
- TensorBoard version: 1.8.0
 - TensorFlow version if different from TensorBoard: 1.9.0-dev20180522
 - OS Platform and version: Linux Ubuntu 16.04
 - Python version: 2.7
 - For browser-related issues:
   - Browser type and version: 62.0.3202.75 (Official Build) (64-bit)
   - Screenshot if it's a visual issue
![1](https://user-images.githubusercontent.com/16068384/41266755-fb360802-6e2a-11e8-967b-e

[2018-06-13 01:31] SrMouraSilva opened #1244 "Tensorboard plugin - Beholder: Request features"
## Request features

* [ ] Show only specific variables, not all trainables: filter by code and by UI
* [ ] Add option to do not resize the views (or add option to resize proportionally)
* [ ] For better visualization, add add post training operations with a variable (reshape, reverse and other transformations). To get a similar result, I have to create a new variable, do a series of operations an

[2018-06-13 05:15] jmoraleda commented on #227
What is the currently recommended way of computing a confusion matrix during evaluation mode when using estimators so that it can later be viewed in tensorboard, for an experience similar to the image shown above?

 I have considered constructing a custom metric leveraging the function _streaming_confusion_matrix in https://github.com/tensorflow/tensorflow/blob/r1.8/tensorflow/python/ops/metrics_i

[2018-06-13 06:49] tengerye commented on #81
Any progress?

[2018-06-13 21:22] nfelt commented on #81
Nothing on our end.  I'm not sure if any of the commenters on the old issue have made progress.

[2018-06-13 21:29] nfelt commented on #1244
Other than the UI-controlled selection, I think this is possible today by using the `arrays` parameter to `Beholder.update()` to pass in an explicit list of numpy arrays to visualize.  That should make it possible to show specific variables and to do post-filtering transformations.

[2018-06-13 22:28] SrMouraSilva commented on #1244
Hello, @nfelt,

I'm currently checking how to do it (somehow more automatic or more elegant). If I succeed, I'll send a pull request.

I hope to post something here soon to discuss :)

[2018-06-14 00:29] SrMouraSilva commented on #1244
I hoped that the following method existed:

[code]

The expected output in Tensorboard Beholder:

![image](https://user-images.githubusercontent.com/5341804/41384955-2fe02b6c-6f4f-11e8-977a-99580c8d1def.png)

`visualizer.register` will execute post-filtering transformations and add the result in tensorboard

## Problems

For a visualization with 40 images (5 columns and 8 lines)

### `tf.trainable

[2018-06-14 10:28] dongchaoanderuni opened #1249 "Tensorboard problem with tensorflow-gpu"
When I just put command "tensorboard --logdir = ~/logs" into terminal. Here is the feedback information. And I try other paths, but all of them don't work either.

Here is the path of generated document :
~/logs/events.out.tfevents.1528970249.shawdong-CP75S

Here is the feedback from terminal:
tensorboard --logdir=~/logs
2018-06-14 12:21:31.463928: I tensorflow/core/platform/cpu_feature_guard.cc:1

[2018-06-14 12:21] #1249 closed

[2018-06-14 16:56] Sumit217 opened #1250 "Embedding Projector doesn't allow to download T-SNE cluster data in a separate file for classification purposes"
Consider Stack Overflow for getting support using TensorBoard - they have a larger community with better searchability:

https://stackoverflow.com/questions/tagged/tensorboard

For bug reports, please include the following:

 - TensorBoard version (from pip package, also printed out when running `tensorboard`)
 - TensorFlow version if different from TensorBoard
 - OS Platform and version (e.g., Li

[2018-06-14 20:06] nfelt commented on #1239
Thanks for the report.  Could you provide a more detailed way to reproduce this?  Ideally a tfevents file that when loaded in TensorBoard shows the unexpected dilation rate attribute.

[2018-06-14 22:33] martin-gorner opened #1252 "event files too large when TF graph contains constant data"
TB 1.8.0
OS: any
Python version: any

Tensorboard event file abnormally large when the TF graph contains data defined with tf.constant.
For example for MNIST the event file will be almost 1GB if the MNIST dataset is loaded with tf.constant.  The mnist dataset is 50MB uncompressed.

Storing this data in the event files is never useful. In the Tensorboard interface, only small constants are visible.

[2018-06-15 06:41] chengmengli06 opened #1253 "tensorboard search and hide ops"
Tensorboard visualization is great, but for big graphs, it is hard to locate certain ops. There are two many components in the graph. So I want two new functions:

It is possible to hide some nodes, such as reshape, relu, and soon, which does not affects the graph structure.
Is it possible to search some ops by name keywords, such as RPNLoss? The search result could be displayed on a search board.

[2018-06-15 09:50] ZinedineCerise opened #1254 "AttributeError: module 'tensorflow' has no attribute 'train'"
Hello !
I use Visual Studio, Python 3.6(64-bit) and i have installed tensorflow (1.8.0), tensorboard (1.9.0) and tflearn (0.3.2) on Windows 10.

I have seen a lot of issues resolved on the same subject, but none have been efficient to solve mine.
I am training a neuronal network to make edge detection, which is more or less working, but I would like to monitor the training.
I make it using tflearn

[2018-06-15 17:55] nfelt commented on #1253
1) Nodes can be removed from the main graph individually by clicking on them and then clicking to remove them.  Are you asking for something like a checkbox to remove all such nodes?  An example of a rendered graph and then what you'd like to see would help us understand the feature request.

2) Graph node search was added in our 1.9 release, there is now a box where you can search node names by r

[2018-06-15 18:01] nfelt commented on #1254
Can you provide the output of the following commands in the same window shell window?

[code]

[2018-06-15 19:07] nfelt commented on #1252
@martin-gorner Could you provide a sample event file or ideally sample code that produces the event file with the large graph constants?

[2018-06-15 19:35] nfelt commented on #1244
I think maybe the most generic solution here would be to replace `frame` with a `frames` option that 1) takes a list of NP_ARRAY and displays all of them and 2) only scales them proportionally.  That way we kind of have the `arrays` option when you want them to be treated like raw data (proportion doesn't matter as much) and `frames` when you want them to be treated like images (proportion does ma

[2018-06-15 20:54] martin-gorner commented on #1252
Sure, here you go (I changed my MNIST sample to load the data from file properly but here is an old version that works with TF 1.8 and shows the problem):

git clone https://github.com/martin-gorner/tensorflow-mnist-tutorial.git
cd tensorflow-mnist-tutorial
git reset --hard a443df25ef779c54c6c03397dcda9cae0ac8f2c2
cd mlengine/
python3 trainer/task.py

A 700MB events file will appear in a directory

[2018-06-15 20:59] martin-gorner commented on #1252
and if you reset to a later version that loads the data from file progressively, the event file becomes less than 1MB.

git pull
git reset --hard 9af70c1dda1184e1803498c2a4b882577cfe2528
python3 trainer/task.py

A 1MB events file will appear in a directory called "checkpoints" a couple of seconds later.

[2018-06-15 22:03] isalirezag opened #1255 "tensorflow 1.8.0 has requirement tensorboard<1.9.0,>=1.8.0, but you'll have tensorboard 1.6.0 which is incompatible."
trying to instal the following comand:

`sudo -H pip install --upgrade tensorflow tensorflow-tensorboard`

and i got this error:

any help?

[2018-06-15 22:06] nfelt commented on #1255
The tensorboard pip package is now just `tensorboard`, you should `pip uninstall tensorflow-tensorboard` and then `pip install --upgrade tensorflow` by itself (which will automatically install the correct version of tensorboard).

[2018-06-15 22:06] #1255 closed

[2018-06-15 22:10] isalirezag commented on #1255
@nfelt it gives me this error:

`tensorflow-gpu 1.5.0 requires tensorflow-tensorboard<1.6.0,>=1.5.0, which is not installed.
`

also whatever i do i dont know why i still cannot import tensorboard_logger

python -c "import tensorboard_logger"Traceback (most recent call last): File "<string>", line 1, in <module> ImportError: No module named tensorboard_logger

[2018-06-15 22:27] nfelt commented on #945
FYI, PR #1138 added a `--samples_per_plugin` flag that can be used to set the number of samples retained on a per-plugin basis.  So e.g. `--samples_per_plugin=text=100` should set the text dashboard to retain 100 samples for each series.

[2018-06-15 22:30] nfelt commented on #1012
FYI, PR #1138 added a `--samples_per_plugin` flag that can be used to set the number of samples retained on a per-plugin basis.  So e.g. `--samples_per_plugin=images=100` should set the image dashboard to retain 100 images per series.

Leaving this open to track the request to be able to manually input a step and scroll around near it (without necessarily having to keep 1000s of images in memory),

[2018-06-15 23:47] SrMouraSilva commented on #1244
I have a W variable with shape `[1 x n]`. It contains `m` images with the same size [width, height]:
Then, `n = m * width * height`.

I would like to visualize in a `a x b` array of images.

Example:

* `m = 4` images
* `width = 4`
* `height = 4`
* Grid `a x b` = `4 x 4`
* `W = [w_{1,1} w_{1,2} w_{1,3} w_{1,4} w_{2,1} w_{2,2} w_{2,3} w_{2,4} w_{3,1} w_{3,2} w_{3,3} w_{3,4} w_{4,1} w_{4,2} w_{4,3}

[2018-06-17 00:56] ppwwyyxx commented on #59
What's the status of the issue?

[2018-06-17 10:48] GiorgiaAuroraAdorni opened #1256 "[Projector] Label by should appear even if no color map options are available."
- TensorBoard and TensorFlow version 1.8
 - OS Platform and version (Linux Ubuntu 17.10)
 - Python version (2.7.14)
 - Browser: Safari version 11.1.1  (13605.2.8))

![schermata 2018-06-17 alle 12 26 41](https://user-images.githubusercontent.com/29384416/41507033-da6e37cc-7229-11e8-8729-ccdb1e827c75.jpg)

If no metadata column meets the conditions to be used as a colormap (ie it has less than 50 un

[2018-06-17 13:35] Pradeep119 commented on #682
use only
return base64.b64decode(a)
instead of
return base64.b64decode(a).decode('utf-8')

[2018-06-18 02:36] decentralion commented on #59
I had the most context on this issue, but I've stopped working on TensorBoard. So unless someone else has picked it up - it's basically abandoned.

[2018-06-18 13:16] ZinedineCerise commented on #1254
Yes, when I write the command 1 :

[code]

[2018-06-18 13:18] ZinedineCerise commented on #1254
When I write the line : > pip list
I got :
`PS C:\Windows\system32> pip list
Package        Version
-------------- -----------
absl-py        0.2.2
astor          0.6.2
bleach         1.5.0
gast           0.2.0
grpcio         1.12.0
html5lib       0.9999999
Markdown       2.6.11
numpy          1.14.3
Pillow         5.1.0
pip            10.0.1
protobuf       3.5.2.post1
setuptools     39.2.0
six

[2018-06-18 13:20] ZinedineCerise commented on #1254
And when I write : > python -c "import tensorflow as tf; print(tf.train)"

`python : Le terme «python» n'est pas reconnu comme nom d'applet de commande, fonction, fichier de script ou
programme exécutable. Vérifiez l'orthographe du nom, ou si un chemin d'accès existe, vérifiez que le chemin d'accès
est correct et réessayez.
Au caractère Ligne:1 : 2
+  python -c "import tensorflow as tf; print(tf.t

[2018-06-18 16:29] austinmw opened #1257 "Images tab is not updating"
Consider Stack Overflow for getting support using TensorBoard - they have a larger community with better searchability:

https://stackoverflow.com/questions/tagged/tensorboard

For bug reports, please include the following:

 - TensorBoard version (from pip package, also printed out when running `tensorboard`)
1.8.0
 - TensorFlow version if different from TensorBoard
1.8.0
- OS Platform and versio

[2018-06-18 18:38] nfelt commented on #227
@jmoraleda Glad you figured out something that works!

[2018-06-18 18:49] nfelt commented on #59
Our own `tb.summary` summary APIs all support a `display_name` parameter that's rendered in the frontend.  We are still working on making those ready for migrating people over from `tf.summary`, but once you're using `tb.summary` I think this issue is addressed.

[2018-06-18 18:53] nfelt commented on #1254
So the last error in running the python command looks like the shell just can't find the python binary.  How did you launch python before?  Can you launch it in the same way?

Overall, I'm not sure we can be much help - this seems like an issue with how your python installation is providing the `tensorflow` package import.  You could try reinstalling, and maybe try using a virtualenv for installin

[2018-06-18 18:54] nfelt commented on #1257
Could you include a screenshot and more detail on exactly what command you ran?  If you can attach the tfevents file from the log directory you're using that would also help, and include any output printed by the script.

[2018-06-18 20:01] nfelt commented on #1257
I'm not that familiar with the object detection models, but what's your setting for `eval_config.num_visualizations`?

https://github.com/tensorflow/models/blob/324d6dc3b52d7219d4ef48b1e4b7f9e4086f11fd/research/object_detection/protos/eval.proto#L8

[2018-06-18 20:04] austinmw commented on #1257
I think I set it to 10. I was under the impression that it would show the first ten every time (unless I set shuffle=true), but should at least update after each new checkpoint evaluation, no?

[2018-06-19 00:10] hkhatod commented on #227
@jmoraleda This is so much more elegant. Thanks for improving my code. Thanks!!!

[2018-06-19 13:15] patzm commented on #1213
@justfouw what about creating a summary wrapper?

e.g. in `my_organization/summary.py`:
[code]
and then in `whatever_script.py`:
[code]

[2018-06-19 15:02] ZinedineCerise commented on #1254
When I write it in my Visual Studio Shell :

[code]

Yes but honnestly I don't understant, i've already unistall and reinstall everything... (I am already in a virtualenv with Virtual Studio isn't it  ?)

[2018-06-19 19:06] nfelt commented on #1254
So wherever you were trying to run the `tensorboard` command, there needs to be a working tensorflow installation active.  Typically that's achieved by using virtualenv.  Visual Studio might include one (I don't know if it does) but it sounded like you were running `tensorboard` from the regular windows shell, which I assume is different?

Earlier it appeared that running `python` produced an erro

[2018-06-19 20:18] nfelt commented on #1257
I'm not sure - as I said, not that familiar with the TF models code.  Did you get ahold of the events file?  That's going to be the easiest way for me to provide any more information.

[2018-06-19 21:00] decentralion commented on #59
Oh, sweet! :+1:

[2018-06-20 09:44] Sumit217 commented on #1250
@nfelt Would be grateful, if you can suggest me something on this?

[2018-06-20 16:41] melissadale commented on #905
I am using Chrome and not seeing x-axis labels, (the tick marks do show however). Should there be labels (e.g. steps)? Can we get labels?
---
Windows 10
Chrome Version 67.0.3396.79 (Official Build) (64-bit)
TensorBoard: 1.8.0

[2018-06-21 09:12] ZinedineCerise commented on #1254
So yeah I eventually decided to install Microsoft Visual Studio Tools for AI and run TensorBoard From Visual Studio.
Which works fine, I should have done it from the beginning, thanks for the advice !

[2018-06-21 09:12] ZinedineCerise commented on #1254
(Should I close the issue then ?)

[2018-06-21 16:57] nfelt commented on #1254
Great, glad you got it working!  I'll close the issue then.

[2018-06-21 16:57] #1254 closed

[2018-06-21 17:41] nfelt commented on #1250
@Sumit217 I'm actually not very familiar with the embedding projector myself, and unfortunately we may not have time to address this feature request in the near future.

cc @dsmilkov @nsthorat @francoisluus in case anyone has suggestions for workarounds or has an idea for how this might be easily implemented.

[2018-06-21 17:46] nsthorat commented on #1250
Actually you already can. If you use the bookmarks bar in the bottom right, and save the bookmark, the computed t-SNE embeddings will be downloaded in JSON!

Let me know if you have trouble with that.

[2018-06-21 17:59] nfelt commented on #905
There should be labels on the X-axis, but it seems like something in Plottable isn't consistently rendering them in all cases.

Those of you reporting the issue, could you include 1) a screenshot and ideally 2) attach an events file that when loaded in TensorBoard results in this issue, as well as the browser, OS, and TensorBoard versions.  (In order to fix this we'll need to first be able to cons

[2018-06-21 20:23] Sumit217 commented on #1250
"  {"pca-0":0.2748771905899048,"pca-1":-0.37543976306915283,"pca-2":-0.2921373248100281,"pca-3":0.14536359906196594,"pca-4":-0.1794687956571579,"pca-5":-0.38032111525535583,"pca-6":0.14102117717266083,"pca-7":0.3352908492088318,"pca-8":0.41407617926597595,"pca-9":-0.1911829113960266,"tsne-0":11.142189254026334,"tsne-1":-8.650362966257541,"tsne-2":-9.99883919837444},{"pca-0":0.23078849911689758,"pc

[2018-06-21 20:34] melissadale commented on #905
I am hesitant to publicly share the events file. If you can email me, I can share these files with you privately: melissa.r.dale@gmail.com

**Details**:
Windows 10
TensorBoard: 1.8.0

**Chrome** Version 67.0.3396.79 (Official Build) (64-bit)
![plots](https://user-images.githubusercontent.com/1429496/41743970-619103d0-7570-11e8-93c9-97aad7fafb67.png)

---

I mainly use chrome, but I do have firefox

[2018-06-21 21:33] nfelt commented on #905
@melissadale no problem if the event file is sensitive, my intent wasn't to ask for anything of that nature.  (If anyone on this thread has a non-sensitive reproduction however, that would be very helpful.)  In the Chrome screenshot I'm seeing x-axis labels - did the issue go away?  Or were there other charts that were missing them off-screen?  A screenshot of the affected plots is what would be m

[2018-06-21 22:32] melissadale commented on #905
I see my confusion - My question about whether to expect to see a label or not, I was referring to explaining what the numbers represent, not the actual numbers associated with the ticks. So in this case, I was expecting the label "Steps".  This is clearly a separate issue - would you like me to remove my previous comment to save screen real estate in this thread?

[2018-06-21 22:36] nfelt commented on #905
@melissadale Ah okay I understand now.  Yes, we don't label the horizontal axis as a whole, though the meaning of the horizontal axis is shown in the selector in the menu bar (step vs wall time vs relative wall time).  Up to you if you'd like to edit your previous comment or not.

[2018-06-21 23:10] nfelt commented on #1252
Thanks for the examples, this was very helpful and I can reproduce the issue.  In this case it looks like both the GraphDef and MetaGraphDef are about 375 MB each.  I expect (but have not confirmed) that the 50MB of uncompressed MNIST data expands to 375MB due to padding or other overhead in the representation.

FWIW, this is somewhat orthogonal to the large constant issue, but I observed that the

[2018-06-22 02:08] nfelt commented on #1227
If you still have access to this plot, could you provide screenshots of it without smoothing (a setting of 0) and also confirm whether you have the "ignore outliers" option checked?  If you did have the outlier ignoring enabled, this might be a duplicate of #651.

[2018-06-22 02:54] lcswillems commented on #1227
It is a duplicate of #651, thank you for the help!

[2018-06-22 07:57] su526664687 commented on #1239
Thanks for your quick response. I give an example.

The code is below,
[code]
below is my tfevent,
[events.out.tfevents.1529653537.sjming.tar.gz](https://github.com/tensorflow/tensorboard/files/2126733/events.out.tfevents.1529653537.sjming.tar.gz)

the graph is following,
![1](https://user-images.githubusercontent.com/16068384/41764577-24e16a50-7634-11e8-9814-6a0ca034770e.png)

I analysis my probl

[2018-06-22 17:50] nfelt commented on #1227
Duplicate of #651

[2018-06-22 17:51] #1227 closed

[2018-06-22 21:41] nfelt commented on #1239
Okay, glad you resolved the issue - I will close this out then.

[2018-06-22 21:41] #1239 closed

[2018-06-24 21:32] linzhiqiu opened #1258 "Text data shown incomplete?"
I used tensorboard add_text() function to store the accuracy for every epoch; however in the end, only a limited number of texts are shown (for example, epoch 1->2->3->10->13->19->28 are shown, everything else is missing). How do I get all the data back? Is there a setting or anything that control the amount of text data to be shown?

[2018-06-25 07:00] jmoraleda commented on #1252
I am not saving any images and only a few scalar values and still getting truly enormous tf event files (On the order of 100GB per file), which of course make tensorboard crash the momemt there are more than a couple of them.

I am using estimators in version 1.8 invoked using the `train_and_evaluate` function.

I gather from the coments above that training data is saved to event files, so I suspe

[2018-06-25 09:01] nfelt commented on #1258
Duplicate of #83

[2018-06-25 09:03] nfelt commented on #1258
This is a result of the automatic reservoir sampling behavior in TensorBoard which only keeps 10 text summaries by default.  With TensorBoard 1.9 you can customize the number of summaries kept for the text plugin using the `--samples_per_plugin` flag introduced in #1138, e.g. `--samples_per_plugin=text=100` should set the text dashboard to retain 100 samples for each series.

[2018-06-25 09:03] #1258 closed

[2018-06-25 16:47] nfelt commented on #1252
@jmoraleda Yes, I think you're also affected by this issue.  When using `tf.data.Dataset.from_tensor_slices()` this will result in the input data being stored as a constant in your graph (which is then written to the events file), and as the docs [describe here](https://www.tensorflow.org/programmers_guide/datasets#consuming_numpy_arrays) this works best for datasets that are quite small.  Even th

[2018-06-25 22:09] nsthorat commented on #1250
Hm... if you are looking for clusters for non-visual representation, you may want to just do something like K-means in python instead of using our tool. Our tool is very useful for visualization, but it sounds like you want to do something a little more custom and analytic.

sklearn has everything you'd want to do something like.

Am I missing some reason you want to use the embedding projector?

[2018-06-25 23:31] jmoraleda commented on #1252
@nfelt Thank you! Following your pointer and suggestion I ended up refactoring my code to use `tf.estimator.inputs.numpy_input_fn` instead of directly invoking `from_tensor_slices`. (I also explored writing my own implementation to use placeholders and then to feed the arrays into tensors one batch at a time, but I felt I was just writing a basic implementation of the `numpy_input_fn` code).

This

[2018-06-26 12:59] derenrich opened #1261 "SQLite Tensorflow Data Export Docs"
I see that tensorboard now supports reading logs from sqlite but I'm not seeing any documentation on how to produce that format of data. Is it not possible/suggested yet? the closest i could find was this test case https://github.com/tensorflow/tensorflow/blob/0978e060af5a7c7ad22ead745ac781d6c86e1985/tensorflow/contrib/summary/summary_ops_graph_test.py#L240

[2018-06-26 14:34] nfelt commented on #1261
Thanks for asking!  The support for reading event data from a SQLite DB is still experimental, so we haven't yet written proper documentation for it.  Also, we aren't yet guaranteeing any stability in the DB schema/format, so I wouldn't rely on it as your only data format for this data.

However, if you'd like to give it a try, you can use `tf.contrib.summary.create_db_writer()` as shown in the te

[2018-06-26 20:47] Sumit217 commented on #1250
@nsthroat

Yes, you're right nikhil. That was one of the first option i explored but unfortunately not much luck with the output as my data has too much variance.
You can assume, I am trying reverse engineering with tensorboard.

[2018-06-26 23:16] ppwwyyxx commented on #59
@nfelt Apart from `tf.summary` and `tb.summary`, there is also a `tf.contrib.summary`. They all have different APIs. What's the differences and which one we should migrate to?

[2018-06-27 11:34] schroederen commented on #1103
Still getting this error with 1.9.0-rc1 as well as the current nightly...

[2018-06-27 13:39] caisq commented on #1103
@schroederen Just to help me diagnose your issue better, what happens if you set `send_traceback_and_source_code` to `False` as suggested in one of the posts above?

[2018-06-27 16:57] derenrich commented on #1261
Thanks for the pointers. I got it working nicely. I also found https://www.tensorflow.org/api_docs/python/tf/contrib/summary generically helpful though the formatting there is broken.

Is there an ETA for a stabilization of the sqlite format? I'm working on surrounding tooling where we're considering persisting these files (and maybe read/write them outside of tensorflow/board) and I'd rather not

[2018-06-28 10:41] tchaton opened #1264 "Tensorflow Debbuger Issues with managed Session"
Hi,

When I use tf.train.Supervisor and the associated Session, tensorboard debugger doesn t get information and never start.

Best,
Tom

[2018-06-28 17:29] derenrich opened #1265 "Option to Generate PID File"
I'm building a tool that manages tensorboard sessions and it would be helpful if tensorboard could generate its own pid file. Would you accept a PR to add a flag that would create a pid file at launch?

[2018-06-28 19:42] roadjiang commented on #1155
Same problem. I wonder is there a FLAG specifying GPU?

xxx@worker1:~$ tensorboard -helpfull

       USAGE: /usr/local/bin/tensorboard [flags]
flags:

tensorboard.plugins.debugger.debugger_plugin_loader:
  --debugger_data_server_grpc_port: The port at which the non-interactive debugger data server should receive debugging data via gRPC from one or more debugger-enabled TensorFlow runtimes. No debu

[2018-06-29 10:03] jart commented on #1265
Have you considered using `start-stop-daemon --make-pidfile`?

If you're productionizing TensorBoard, please take into consideration that many plugins were written under the assumption that there's a certain degree of trust, due to its historical use cases.

[2018-06-29 20:52] vardhanv opened #1269 "s3 support"
Hi,

I work with an s3 object store regularly but don't see that listed in the list of supported object stores for TensorFlow? Is there a set of tests i need to run to make sure nothing breaks unexpectedly ?

Best Regards
Vishnu

[2018-06-29 22:46] jart commented on #1265
I'm open to doing this, but might I ask how you managed to get TensorBoard to run on RHEL6? Was TF statically compiled with a custom toolchain? Was libstdc++.so replaced on the system?

[2018-06-30 00:05] derenrich commented on #1265
we're currently using the conda distributed binaries which are custom built (it's a delicate and suboptimal situation). we have issues with LIBC otherwise.

[2018-07-02 21:31] nfelt commented on #1155
@roadjiang We believe this is fixed in TensorBoard 1.9, is that what you're using?  If not, could you try updating?

[2018-07-02 21:32] nfelt commented on #1264
@caisq any thoughts?

[2018-07-03 12:34] schroederen commented on #1103
@caisq This fixes the problem. However, I was under the impression that the latest bug fixes are supposed to make it work with send_traceback_and_source_code=True as well?

[2018-07-03 13:59] hadim opened #1270 "404 error when used with a Jupyter proxy"
- TensorBoard 1.8.0
- Tensorflow 1.8.0
- Linux Ubuntu 18.04
- Python 3.6
- Chromium 66

I am trying to use a Jupyter proxy called [`nbserverproxy`](https://github.com/jupyterhub/nbserverproxy) in order to access TB from the Jupyter server (that saves me one more SSH tunnel with the cluster).

TB interface loads correctly but can't retrieve information from `/data/runs`, `/data/environments`, and s

[2018-07-03 19:50] nfelt commented on #1270
I think you might be seeing this due to a missing trailing slash in the URL you're using to visit TensorBoard - what happens if you try it with http://localhost:8888/proxy/6006/ including the trailing slash?  You might also need to pass --path_prefix=/proxy/6006/ depending on how nbserverproxy works (I'm not familiar with it).

Without the trailing slash, when tensorboard requests the relative pat

[2018-07-03 19:56] nfelt commented on #59
@ppwwyyxx We're working on making `tb.summary` the future "standard" API, but it's not quite there yet and still may be subject to some changes.  In particular, right now `tb.summary` is a layer on top of `tf.summary`, but in the future it will be a layer on top of `tf.contrib.summary` which has a somewhat different mechanism for actually emitting summaries.

If you're interested in `display_name`

[2018-07-03 20:46] hadim commented on #1270
Pretty easy fix indeed!!!

The trailing slash did the trick :-)

[2018-07-03 20:46] #1270 closed

[2018-07-03 21:48] nfelt commented on #1270
Glad to hear that fixed it!

[2018-07-05 17:30] derenrich commented on #1261
I have a desire to consume the logs programmatically outside of tensorboard (in addition to tensorboard) and the SQL format is just easier for me to deal with. Yeah I might fall back to the logs because of what you say

[2018-07-05 23:04] PetrochukM commented on #178
Any progress on this?

[2018-07-06 01:12] cvinson830 opened #1271 "Proposal: New UI to show GPU Details"
We’re looking to extend the TensorBoard user interface to display interesting GPU details for each node in a neural network.  The GPU Details that we plan to display focus on the usage of tensor cores.  Tensor cores enable deep learning applications to run significantly faster.

Tensorboard GRAPHS tab: When a node is selected, and when the new ‘GPU Details’ radio button is clicked in navigator pan

[2018-07-06 02:54] PetrochukM opened #1272 "Tensorboard selective purge (wacky graphs)"
Tensorboard purges selectively for one graph but not the other, minimal code example below...

**Graphs**
![image](https://user-images.githubusercontent.com/7424737/42385200-f32525ca-80f0-11e8-9b71-e0658f3113ec.png)

**Output**
[code]

**Code**
[code]

**Inspect**
[code]

**System**
 - TensorBoard 1.8.0
 - macOS High Sierra
 - 3.5

[2018-07-06 03:10] PetrochukM commented on #1272
Tried to use Tensorboard 1.9.0 and the issue persists:
![image](https://user-images.githubusercontent.com/7424737/42358024-85dc66ce-808f-11e8-905e-1ae18e699205.png)

[2018-07-06 03:21] PetrochukM commented on #1272
This is happening for more than one graph:
![image](https://user-images.githubusercontent.com/7424737/42358348-06afdf64-8091-11e8-9ef1-b7ca9cbfe495.png)

[2018-07-06 15:37] PetrochukM commented on #1272
**EventLog**
[code]

[2018-07-06 16:03] PetrochukM commented on #1272
Figured it out: (Need to include a file_version event)
[code]

[2018-07-06 16:03] #1272 closed

[2018-07-06 17:14] nfelt commented on #1261
Okay.  FYI, there's [`tf.train.summary_iterator()`](https://www.tensorflow.org/api_docs/python/tf/train/summary_iterator) which you can use to parse the event log file format.

[2018-07-06 17:19] nfelt commented on #178
@PetrochukM not that I'm aware of.

[2018-07-06 17:37] PetrochukM commented on #1272
Yup, I am aware, submitted issues for both packages because I was not sure where the bug was. Closed this issue following understanding this is an issue on the ``tensorboardX`` side.

[2018-07-06 21:29] suisuiwudi commented on #82
+1 Any progress?

[2018-07-07 00:06] nfelt commented on #82
No progress to report I'm afraid, though I agree this would be useful.

[2018-07-07 11:00] alexlee-gk commented on #39
That's neat! For the encoding of the GIF, I'd like to suggest to directly use ffmpeg instead of moviepy by using the `encode_gif` function I wrote [here](https://gist.github.com/alexlee-gk/38916bf524dc75ca1b988d113aa30710). It avoids writing to a temporary file by piping outputs directly to an encoded string. More importantly, it uses ffmpeg's palette generation which I have found to work better (

[2018-07-10 08:04] Seraphli opened #1274 "Figure shrank when switching pages"
Switching pages back and forward will cause this bug. But after a while when it automatically update the graphs, these plots will restore to the normal size.

 - TensorBoard version: 1.8.0
 - TensorFlow version: 1.8.0
 - OS Platform and version: Linux Ubuntu 16.04
 - Python version: 3.6.5
 - For browser-related issues:
   - Browser type and version: Chrome Version 65.0.3325.181
   - Screenshot:

!

[2018-07-10 17:27] cinjon opened #1275 "Support Histogram Data Download"
Are there plans to support downloading the data from histograms?

Here's a relevant stack overflow --> https://stackoverflow.com/questions/48547914/tensorboard-histograms-to-matplotlib. There's support for doing this in the scalars, but doesn't seem to be support for histograms.

[2018-07-10 17:41] nfelt commented on #1275
No immediate plans, but we would welcome a contribution for this along the lines of the support for the scalars dashboard.

[2018-07-10 19:29] bhack commented on #469
Any progress here? It is one of the workday routine most useful feature.

[2018-07-11 14:26] datlife opened #1277 "[Feature Request] Night Mode Toggle Option"
It would be super helpful for people working at night like me.

Thanks,

[2018-07-11 16:19] nfelt commented on #1277
As a crude approximation of this, you can just invert the colors in the page by running `document.documentElement.style = "filter: invert(100%)"` in the JS console.

Doing this in a more sophisticated way seems tricky, because the various visualizations do different things in terms of color, background, etc.  For example, would you expect that a night mode would change how images on the Image dash

[2018-07-11 16:49] datlife commented on #1277
Hi @nfelt,

Thank you for asking.
* Inspired from recent night mode updates of Youtube / Reddit, I think it is okay to keep the images as-is.
* I am currently using "Dark Mode" Extension on Google Chrome to switch to night mode. However, for Tensorboard, the scalar tab is blacked out whenever I enable the extension.
* Yeah, true that the color palettes might be messed up. I do not have experience

[2018-07-11 16:50] nfelt commented on #1277
Hmm, if you get a chance could you post a screenshot of what Tensorboard looks like with the extension?  Even if it doesn't look quite right.

[2018-07-11 16:59] datlife commented on #1277
Sure!

Here is the example of before and after I toggle the Dark Mode extension

### Before
![selection_009](https://user-images.githubusercontent.com/13214917/42587912-06998a7a-84f1-11e8-842d-0c2e3dd78719.png)

### After
![selection_008](https://user-images.githubusercontent.com/13214917/42587918-0963e4d0-84f1-11e8-87ee-c53dfad71851.png)

[2018-07-11 17:57] cvinson830 commented on #1271
Hello, here are responses to additional prompts:

[code]

[2018-07-11 20:15] TopologyApplied opened #1278 "How to enable fuzzy search on tensorboard embedding projector?"
The embedding projector of tensorboard as is shown at

https://projector.tensorflow.org

Currentlt can do EXACT MATCH to search a word, but we want regex/fuzzy match.

For example,  we want to find the word "programming", but we forgot how to spell it, all we remember is a regex "prog.*ing"

The current projector template could not find any match.

How to modify the template to enable such a fuzzy

[2018-07-11 21:46] mpekalski commented on #905
I am experiencing the same in Firefox 61.0b9 (64-bit) on Ubuntu. No labels on x axis. It is not visible for steps, relative and wall. The only thing in relative in wall I see name of months and days, but not hours. In case of steps I see nothing. In Chrome it works.

[2018-07-12 08:38] Jylomaki opened #1282 "Regex filter: Multiple string and/or wildcards"
Hello,
It seems to me that the regex filter does not currently support filtering multiple strings neither using wild cards.
  As I'm doing a hyper-parameter search with 4 different parameters (and will soon there will 6 parameters) this make comparing data cumbersome.
  Also due to this it can't filter with 2 parameters if they are not one after another.
Is there a way to do such search?
If not, w

[2018-07-12 12:25] TanguyMoreau opened #1283 "Error loading graph in tensorboard with placeholder named "length""
Tensorflox-gpu : 1.8.0
Tensorboard : 1.8.0
Python : 3.6.5
Distribution : Ubuntu 16.04.4 LTS

### Description of the problem :
When adding a graph to visualize it in tensorboard, the graph does not print.
![image](https://user-images.githubusercontent.com/16269358/42632282-f4f38428-85dc-11e8-8b37-b28b103aedbf.png)
This problem does not seem to depend on the browser (we tested chrome, firefox and sa

[2018-07-12 18:33] nfelt commented on #1282
Can you provide examples of the exact names you're trying to filter and what the regexes you tried were?

[2018-07-13 08:39] Jylomaki commented on #1282
My files names looks like this:
`learning_rate_0.01__module_httpstfhubdevgoogleimagenetmobilenet_v2_050_96feature_vector2__hidden_units_10-10__logs `
and I use this code to generate the string:
[code]
Right now my dict contains: hidden units layers, learning rate and module name, but I plan to add a few more parameter such as usage of bias and initializers and otpimizers.

I can filter on one para

[2018-07-13 19:44] nfelt commented on #1283
Thank you very much for the detailed examples!  We have some suspicion of what might be causing this and will investigate.

[2018-07-13 20:20] nfelt commented on #1282
The filter is a regex, so if you wanted to filter for strings with both those substrings you would want to type in `v2_050_96.*hidden_units_10-10` where the parameters are joined with `.*` and in the same order that they appear in the name of the run.

Which demo are you referring to that uses `,` to join parameters?

[2018-07-16 08:50] eyaler opened #1290 "tensorboard does not find profile, if logdir directs to a parent directory"
usually we can direct tensorboard to a parent directory to see multiple models. however, tensorboard does not find the profiling data (by capture_tpu_profile), if logdir directs to a parent directory

[2018-07-16 10:38] eyaler opened #1291 "tensorboard profiler trace_viewer does not work on firefox"
i am using tensorboard profiler to profile tpus. on chrome everything works. on firefox 61, all tools works except trace_viewer which shows an empty pain after loading

[2018-07-16 18:04] nfelt commented on #1282
Glad to hear that works for you.  Yeah, the `,` used in that demo is just a literal comma used in naming the event file directory; it isn't treated specially in terms of doing the regex filtering.

[2018-07-16 18:05] nfelt commented on #1291
cc @qiuminxu

[2018-07-16 18:06] nfelt commented on #1290
cc @qiuminxu

[2018-07-17 09:53] PHarshali commented on #39
Still waiting for the tensorboard video and very excited. Till then if there is anyone wanting to read about tensorboard can follow this link - https://data-flair.training/blogs/tensorboard-tutorial/

[2018-07-17 17:32] qiuminxu commented on #1291
hi @eyaler, thank you for using the tool. The trace viewer tool in profiler plugins calls [Chrome trace viewer](https://github.com/catapult-project/catapult/blob/master/tracing/README.md) to render the events timeline. Sorry, our trace viewer tool currently only supports Chrome.

[2018-07-17 17:35] eyaler commented on #1291
i see. can this be added to the relevant docs?

[2018-07-17 17:38] qiuminxu commented on #1291
We're adding this to the official [cloud tpu tool docs](https://cloud.google.com/tpu/docs/cloud-tpu-tools).  It should be updated in a few days.

[2018-07-17 17:42] qiuminxu commented on #1290
Nice suggestion. Will send a PR to fix this. Hi @nfelt, can you assign the issue to me?

[2018-07-17 18:03] nfelt commented on #1290
@qiuminxu Hmmm I tried but I'm not able to pick out your github handle in the issue dropdown box, I think it's because you're not a member of the Tensorflow github org. I'll follow up internally.

[2018-07-18 08:54] ShoufaChen opened #1295 "Removing name scope bug"
just take this [mnist](https://github.com/tensorflow/models/blob/master/tutorials/image/cifar10/cifar10_multi_gpu_train.py#L92) for example:

in fact, under the `name_scope` context, the explicitly specify the summary name will still equipped with the `name_scope` prefix, i.e,  the so called `Remove 'tower_[0-9]/' from the name` doesn't work actually.

Also pointed at  [tf summary name not work](h

[2018-07-19 02:39] justfouw commented on #1213
@patzm Thanks for your advice!
@nfelt Frankly, We have one custom-tensorflow in my orignization. So I need to integrate this plugin into our custom-tensorflow. I decide to put `plugin_a` in `contrib` directory.

[2018-07-19 21:51] hadikazemi commented on #1111
Only the last solution worked for me:
`sudo pip uninstall tensorflow-tensorboard`

[2018-07-20 21:52] nfelt commented on #1295
Yes, I don't think that logic works - it's possible that it worked pre-TF-1.0, but since TF 1.0 the name scoping is baked into the summary tag name.

We do have an open issue requesting that we allow a way to manually override the tag name in TensorBoard: #59.  Since that feature would resolve your issue, I'm going to go ahead and mark this issue as a duplicate of that one.

[2018-07-20 21:52] nfelt commented on #1295
Duplicate of #59

[2018-07-20 21:52] #1295 closed

[2018-07-24 00:36] jart commented on #1271
This type of contribution sounds good to me. I commented in https://github.com/tensorflow/tensorflow/issues/20597

[2018-07-24 06:13] whatdhack opened #1305 "Add gradient flow graph"
For a complex  networks, it can be hard to understand how gradient flows back ( with the presence of stop_gradient , etc.)  for back propagation.  Data flow graph is great for  understand the forward path. A similar graph for the backward path will be even more useful.

[2018-07-24 14:09] ding-hai-tao opened #1306 "No dashboards are active for the current data set."
Consider Stack Overflow for getting support using TensorBoard - they have a larger community with better searchability:

https://stackoverflow.com/questions/tagged/tensorboard

For bug reports, please include the following:

 - TensorBoard version=1.8.0
 - OS Platform and version ( Ubuntu 16.04)
 - Python version (3.6)
 - For browser-related issues:
   - Browser type and version (Chrome 64.0.3282.

[2018-07-24 15:34] stephanwlee commented on #1306
Hi Ding-Hai-Tao,
Sorry if I am uninformed, but is `=\home\b1906\htding\lanenet-lane-detection-master\tboard\lanenet\vgg` is legal path? Can you `ls` it?

[2018-07-24 18:12] relh commented on #1111
If you are running different versions of tensorflow/tensorboard make sure you are running the right version to monitor the right experiments.

conda environments help for this.

[2018-07-24 18:16] nfelt commented on #1306
@ding-hai-tao It looks like you have an extra space in `--logdir =\home\...` it should be `--logdir=\home\...` or `--logdir \home\...`.  (either a space, or an equals sign, but not both)

[2018-07-24 23:01] ybsave commented on #892
No Google people have any comments for this issue?

[2018-07-25 02:42] canavandl commented on #1270
thank you! thank you! thank you! @nfelt

[2018-07-26 23:52] srinivr commented on #376
@chihuahua custom-scalars looks great! Any chance if tensorboard team will be able to work on what's being requested here? Average over several runs will be a popular request at least among RL researchers and will aid fair results being reported.

[2018-07-27 00:45] #982 closed

[2018-07-27 00:45] stephanwlee commented on #982
PR #1315 should fix the issue. Please reopen the issue if a next release does not address the issue. Thank you!

[2018-07-27 14:44] aawgit commented on #403
There aren't any options to zoom on my chrome browser. It is shown at a readable scale while loading and automatically adjust to fit the screen which is too small to see in case of the issue posted by @chihuahua. Dragging only moves the graph.

[2018-07-27 16:38] yaroslavvb opened #1320 "Fails silently if port is occupied"
TensorBoard 1.9.0 fails silently if port is already occupied

[code]
Downgrading to version 1.8 fixes this

[code]

[2018-07-27 17:34] iansf opened #1321 "Please save tooltip sorting method and panel open/closed layout in a cookie so that I don't have to reset it every time I reload TensorBoard due to a UI glitch or memory leak."
When running TB with a lot of different runs, I always use Nearest for the tooltip sorting -- it makes it much easier to locate the particular run I'm interested in on a busy graph. However, every time I have to refresh the page, the sorting method reverts back to Default. I understand that the sorting method isn't in the url, since that tends to be a personal preference, but it does seem like qui

[2018-07-27 18:44] yaroslavvb opened #1322 "Feature request: making window wider"
Here's what it looks like on my screen, it would be nice to make it wider so that "full screen" button for a graph can make a bigger graph
![screenshot 2018-07-27 11 43 03](https://user-images.githubusercontent.com/23068/43340778-49cf4188-9192-11e8-895c-0d984c3a1e6a.png)

[2018-07-27 18:48] stephanwlee commented on #1322
Hi @yaroslavvb, which version are you using? If you are using nightly or based on HEAD, you might have witnessed a recent regression on this.

[2018-07-27 18:59] yaroslavvb commented on #1322
I'm using TensorBoard 1.9.0

[2018-07-29 08:05] mikesol opened #1323 "tensorboard crashes with "locale.Error: unsupported locale setting""
tensorboard 1.9.0
Mac OS High Sierra
Python 3.6.5

[code]
commenting out `util.setup_logging()` makes it work like a charm, but this is kinda hacky.
Sorry that I can't contribute a fix, as I'm not exactly sure how the locale affects tensorboard and/or python.

[2018-07-30 07:47] alexattia commented on #92
Do you plan to add security (password login for instance) to TensorBoard?

[2018-07-31 02:03] nfelt commented on #1323
Hmm, I can't reproduce this in testing against tensorboard 1.9.0 on a High Sierra mac with Python 3.6.5.

Can you check if a plain `python3 -c 'import locale; locale.setlocale(locale.LC_ALL, "")'` fails for you too?  That behavior should be supported by python as the way to set the locale to the user's default settings, and that exact call is even shown as an example here: https://docs.python.org/

[2018-07-31 22:16] yaroslavvb commented on #1322
I just opened same server on friend's computer, and his TB looks fine. Same version of MacOS and Chrome. Updated Chrome, still narrow. Checked in Firefox, looks fine. So there's some local setting on my Chrome that makes window narrow, with only 1 plot per column

[2018-07-31 22:25] stephanwlee commented on #1322
Right, I was wondering if we ever had a UI like that and it seems unlikely that we did. Looking at the pretty rounded corners and what not (which we definitely didn't do), it looks like some kind of extension is causing this. Do you suspect any extension or anything that can influence the looks?
Thanks

[2018-07-31 22:43] yaroslavvb commented on #1322
Bingo!
It was this extension
https://chrome.google.com/webstore/detail/play/gklfcaofjmilchcphdgbhjeoopdaejje

[2018-07-31 23:01] stephanwlee commented on #1322
Yup, in the source code of the plugin, I found the CSS selector that matches ours: gklfcaofjmilchcphdgbhjeoopdaejje/1.5.0_0/assets/styles/authors/dropdown-style.css#L326

[code]

Technically speaking, the Extension should take effect to _whitelist_ of urls but it seems to apply to all URLs (gklfcaofjmilchcphdgbhjeoopdaejje/1.5.0_0/manifest.json#L13). If this were a GitHub project, I would file an

[2018-07-31 23:01] #1322 closed

[2018-08-02 05:30] yaroslavvb opened #1327 "Feature request: customizing tensorboard header"
I have several tensorboards running at various numeric ips and sometimes it's hard to keep track of them...it would be useful to have a flag to customize header. IE, to customize "TensorBoard" to contain some other short string. IE

tensorboard --header=OhioTB ... would should "OhioTB" instead of "TensorBoard"

[2018-08-02 06:14] chenbohua3 opened #1328 "there is always a module named report_uninitialized_variables in tensorboard"
- TensorBoard version : 1.8
 - TensorFlow version : 1.8
 - OS Platform and version :Linux Ubuntu 16.04
 - Python version 3.6

whenever I train a module with estimator, a module named report_uninitialized_variables_1 always occurred in the graph in tensorboard.

Do anyone know what it means, does it mean that the variables in the graph are uninitialized even if I specified the way to initialize

[2018-08-02 16:14] stephanwlee opened #1329 "Upgrade external Dependencies like Plottable"
## Context
TensorBoard today (as of 1.10a) is using Plottable 3.1.0 when the latest is at 3.8.3. It brings in few performance optimizations like less measure/mutate operations on mousemove. Specifically, when  moving cursor across page on non-chart elements, the Plottable via MouseInteractions spends about ~5ms per frame doing JS+renderer work (remember, we have 16.666ms per frame) that has zero i

[2018-08-02 19:43] nfelt commented on #1327
FWIW, you can customize the window title (the tab title in the browser) with the `--window_title` flag.  Potentially we could make it so the "TensorBoard" bar could be changed as well.

What do you normally want to differentiate between the various instances?  E.g. do they represent different experiments and underlying data, or just multiple tensorboards potentially pointing at the same data for s

[2018-08-02 19:45] nfelt commented on #1328
This is an Op that Estimator automatically adds the the graph.  I don't think it indicates any issue with your model; Estimator just always adds that op so that if there are uninitialized variables they'll be handled appropriately.

If you want to know more, asking on TensorFlow stackoverflow might be your best bet - this isn't anything specific to TensorBoard which I'm pretty sure is just reflect

[2018-08-02 19:45] #1328 closed

[2018-08-02 21:29] yaroslavvb commented on #1327
I'm running experiments in different regions which don't share filesystem. So some experiments are run in Europe, and some in US, and you can't tell which tensorboard is which by looking at URL, since it's numeric. Thanks for window_title hint, I'll try that

[2018-08-03 03:33] chenbohua3 commented on #1328
thank you @nfelt ~

[2018-08-03 09:11] NiRajlunavat commented on #1255
Im allso getting the same error but did not find any solution

[2018-08-03 15:36] nfelt commented on #1255
@NiRajlunavat you'd need to provide more detail for us to be able to help.  Please make sure you're not installing tensorflow-tensorboard, which is the old package name, and also note that if you're using `tensorboard_logger` that's not affiliated with the official TensorBoard project.

[2018-08-03 18:57] carlthome commented on #46
This is the best temporary workaround for a `tf.estimator`'s `params` dict that I could come up with, though it doesn't let you compare runs. I would love something sortable like what @koaning describes.

[code]

<img width="680" alt="screen shot 2018-08-03 at 20 55 11" src="https://user-images.githubusercontent.com/1595907/43660511-9032ce24-975f-11e8-98df-6d1de00c8ec9.png">

[2018-08-03 21:03] wxprofessor commented on #1255
hopefully this will help? :)

After reading through some blogs about the tensorboard issue, I just uninstalled tensorflow, and protobuf (because of a previous incompatibility), and reinstalled tensorflow hoping the new dependencies would be found, and received the following.

![image](https://user-images.githubusercontent.com/5704029/43665555-8a811326-973e-11e8-983b-c8e8b53b62b3.png)

I then resta

[2018-08-03 21:09] nfelt commented on #1255
@wxprofessor It looks like your `pip install tensorflow` command is saying that you also have `tensorflow-gpu` installed - you want to only have one of the two installed at a time.  Can you try uninstalling all the tensor* packages and then reinstalling?  Or even better, get a fresh conda environment and try just installing tensorflow-gpu?

[2018-08-03 21:17] wxprofessor commented on #1255
oops... I was about to write another sample of uninstalling everything and getting a tensorboard conflict error.. but of course you are right, and I am shooting a giant potato at my tensor box lol :)  moment will post the results... I'm betting you are right.. tyvm :)

[2018-08-03 21:28] wxprofessor commented on #1255
Thank you @nfelt .. it worked exactly as you said :)  ^5

![image](https://user-images.githubusercontent.com/5704029/43666625-a00d481e-9742-11e8-8674-577a45a0ee50.png)

[2018-08-03 22:36] nfelt commented on #1255
@wxprofessor glad to hear it :)

[2018-08-04 11:10] RM1708 opened #1337 "Feature Request: Projector Axes Annotation"
Hello.
The 3-D axes of the Projector are in R(ed), G(reen), and B(lue). The drop-down component selectors are marked X, Y, and Z.

The X, Y, Z could be changed to R, G, & B. Alternatively, the axes could be annotated X, Y, & Z. Or both.

Regards
RM

[2018-08-04 14:40] VladX09 opened #1338 "Scalar graphics: x axis doesn't represent global_step values"
Hi!
I've got strange behavior of scalar graphics.
The X axis doesn't represent `global_step` values, which are set in `FileWriter.add_summary()` method.

**Here's a small example (from Jupyter Notebook):**

[code]

**And I see this in TensorBoard:**

![scr-0](https://user-images.githubusercontent.com/6130692/43677424-77f23a6a-980a-11e8-81fa-77a43bfa27e3.png)

As you can see, x axis takes values fr

[2018-08-04 16:38] jleni commented on #82
is this something where contributed would be welcomed or there are some architectural considerations that make it difficult?

[2018-08-05 07:53] VladX09 commented on #1338
Oh, I found the reason. It's my fault.

`FileWriter` isn't closed automatically because it's declared in Jupyter cell scope (in the global scope in another words). So it's just should be closed manually to dump all events into the file.

[2018-08-05 07:53] #1338 closed

[2018-08-05 11:49] sleighsoft commented on #82
Probably just some kind of extension to `tf.name_scope`. E.g. `tf.name_scope(main_graph=True)` that will be inherited to sub scopes and then 1 extra field for the respective protobuf file.

[2018-08-06 11:58] lobachevzky opened #1339 "Tensorboard cuts off top of graphs"
Consider Stack Overflow for getting support using TensorBoard - they have a larger community with better searchability:

https://stackoverflow.com/questions/tagged/tensorboard

For bug reports, please include the following:

 - TensorBoard version (from pip package, also printed out when running `tensorboard`)
tensorboard       1.8.0
 - TensorFlow version if different from TensorBoard
tensorflow

[2018-08-06 22:02] nfelt commented on #1255
@NaderNazemi I'm not sure why, but that's not really something we can help with here (this is for TensorBoard issues only).  You can try asking on StackOverflow with the #tensorflow tag.

[2018-08-06 22:43] nfelt commented on #1339
Do you have the "ignore outliers in chart scaling" option checked?  If so, try unchecking it.

If that was it - you might want to follow https://github.com/tensorflow/tensorboard/issues/214 which is for making it more obvious when the outlier detection is truncating charts.

[2018-08-07 10:32] EgleGrublyte commented on #235
Hi,
Any news about this?

[2018-08-07 15:05] UnchartedBull opened #1340 "TensorBoard Keras Callback fails, if input type is tf.string"
TensorBoard Version: 1.9.0
TensorFlow Version: 1.9.0
OS: macOS 10.13.6
Python Version: 2.7.10 / 3.6.4

Hi,

TensorBoard exists with the following error, if one of the input layers has the input `dtype=tf.string`:
[code]

If I change the input of the layer to `int32` TensorBoard works fine (nothing is added though), however as expected the training fails. The layer is just a simple Input layer: `In

[2018-08-07 15:20] nfelt commented on #1340
This might be a limitation of how the Keras callback currently works (it appears to attempt to compute a histogram summary for every layer, including string tensor layers).

cc @omalleyt12 FYI

[2018-08-07 15:25] nfelt commented on #235
I don't have much context on how this used to work.  Was this multiple regexes for filtering runs, or tags, or both?  How were the multiple regexes entered?  I assume the result set was items that match all the regexes (i.e. the intersection), right?

I am guessing that the main use case of multiple regexes is handling cases where matches might occur in an unknown order, otherwise if the order is

[2018-08-07 15:29] lobachevzky commented on #1339
Life changing. Thank you so much.

[2018-08-07 15:29] #1339 closed

[2018-08-07 16:12] wchargin commented on #235
This filtered tags. They were called “tag groups”. You can see [a demo
of the UI at 12:38 in the TensorBoard talk][1].

The implementation was deeply flawed, due to fundamental restrictions of
Polymer. Tag groups were always buggy, and the bugs compounded with more
features that we added, like pagination. This was one of the motivations
for removing it, though in retrospect it may have been the wr

[2018-08-07 16:13] wchargin commented on #235
It’s the ability, I believe, to have multiple distinct sets. You might
have tag groups for `.*lr=0.5.*` and `.*levels=3.*`, and expand either
or both of these at a time to see different views.

[2018-08-07 17:53] nfelt commented on #235
cc @stephanwlee FYI since this kinda relates to the data-selector work

@wchargin Thanks for the background!  I see, so they were independent regexes filters that each got their own category pane.

In some ways this functionality sounds like a better fit for the [custom-scalars dashboard](https://github.com/tensorflow/tensorboard/tree/1.10/tensorboard/plugins/custom_scalar) - based on the OP's req

[2018-08-07 17:57] wchargin commented on #235
Yep, okay. (Lacking support for keys is still a huge problem for other
reasons, but we digress.) This is kind of fundamentally a bad fit for
TensorBoard, as Plottable/D3 are certainly _not_ stateless, and
certainly _do_ care about particular DOM elements. Of course, this is
also the case for lots of other general-purpose JS libraries, so the
Polymer thesis seems to imply that your whole applicatio

[2018-08-07 18:14] nfelt commented on #235
@wchargin Yes, I agree, it's a bad fit for TensorBoard.  The post I'm getting Polymer's stance from is admittedly from 2015, so maybe it's not necessarily current: https://github.com/Polymer/polymer/issues/1713#issuecomment-108729265  They did start to add keys for Polymer 2.0 (https://github.com/Polymer/polymer/pull/3970) but they backed it out because it introduced other issues.  We could try ta

[2018-08-08 05:01] NiRajlunavat commented on #1255
Thanks for the support @nfelt ....its solved

[2018-08-08 19:08] balloch commented on #376
Also wondering if there are any updates on this. Would be incredibly beneficial to the research community to have tools that make it easier to show bounds on results.  Will increase the accountability of doing this regularly in research

[2018-08-09 06:20] tt-leader opened #1344 "tensorboard does not load new data from events file which was synced from another server via rsync"
- TensorBoard version: 1.8.0
 - TensorFlow version if different from TensorBoard: 1.8.0
 - OS Platform and version: Linux Ubuntu 14.04
 - Python version: 3.5
 - Browser type and version: Chrome 68.0.3440.84

I use [lsyncd](https://github.com/axkibe/lsyncd) (similar to rsync+inotify) to sync `events` files from one server (which is running model evaluation) to another server (which is running tenso

[2018-08-09 10:30] lahmeri opened #1346 "Tensorboar + “TypeError: GetNext() takes 1 positional argument but 2 were given"
- TensorBoard version (from pip package, also printed out when running `tensorboard`) **1.5.1**
 - TensorFlow version if different from TensorBoard **1.9.1**
 - OS Platform and version (e.g., Linux Ubuntu 16.04)**Linux 18.04**
 - Python version (e.g. 2.7, 3.5)**python 3**

 **I am training a model using ssd_mobilenet_v1_pets config  file (i have a duplication in the log)**

INFO:tensorflow:global

[2018-08-09 13:53] tomkocmi commented on #893
I would also greatly appreciated the possibility to change the colors **ad-hoc**. Or just one button "reassign colors", which would take into account the runs I selected first (I usually select much less than 16 runs).

[2018-08-09 19:10] nfelt commented on #1346
Duplicate of #1111

[2018-08-09 19:12] nfelt commented on #1346
Please install TensorBoard 1.8 or higher.  In general, it's best to keep TensorBoard and TensorFlow on the same minor version (e.g. version 1.x for both with x being the same) to avoid compatibility issues.

[2018-08-09 19:12] #1346 closed

[2018-08-09 19:29] nfelt commented on #1344
This sounds like the same underlying issue as #349.  The user there was able to work around this by using rsync's `--inplace` option.  It looks like lsyncd may support that as well:
https://github.com/axkibe/lsyncd/blob/a26eb6f94a95ded4120957cf8bfb0743c31ec5bf/ChangeLog#L73

Could you give that a try?  At some point we may add the ability for TensorBoard to detect when the file it's reading from h

[2018-08-10 01:33] tt-leader commented on #1344
@nfelt Thanks for your advice. `rsync`'s `--inplace` option work well in this situation.

[2018-08-10 16:07] sharvil commented on #766
I'm also experiencing this issue with TensorBoard 1.9. Evicting GraphDef from memory might be an okay short-term solution but it's a fixed size, so it should only save a constant amount of memory. The problem for me is memory growth over time.

@jart is someone actively looking into this issue? It's fine if the answer is no, just want to understand where things are. Also, is there any additional i

[2018-08-12 19:47] caisq opened #1349 "Debugger Plugin: TensorBoard doesn't error out if gRPC --debugger_port is already used"
To reproduce:

1. Start a tensorboard process with --debugger_port configured to a given port, say 6064.
2. In another terminal, start another tensorboard process with a different http --port, but the same --debugger_port value. Observe that the second process prints an C++ level error log line, but it doesn't really error out.

[2018-08-12 19:48] caisq commented on #1349
cc @chihuahua

[2018-08-13 17:37] nfelt commented on #1349
Hmm, does this happen on all platforms or just on Mac?  Sounds maybe related to #1320 though I assume the socket logic here is within gRPC.

[2018-08-13 17:39] caisq commented on #1349
@nfelt I haven't tested on Macs yet. I observed this on a Linux laptop. Not sure what @chihuahua used when he first reported this issue.

[2018-08-13 18:10] chihuahua commented on #1349
Thanks for reporting, @caisq! This was on my ubuntu workstation.

[2018-08-13 19:26] #1329 closed

[2018-08-13 19:26] stephanwlee commented on #1329
It has been fixed by #1333

[2018-08-13 23:31] karttikeya opened #1353 "Erratic behaviour in accessing subdirs on Windows"
Consider Stack Overflow for getting support using TensorBoard - they have a larger community with better searchability:

https://stackoverflow.com/questions/tagged/tensorboard

For bug reports, please include the following:

 - TensorBoard version (from pip package, also printed out when running `tensorboard`)
1.10.0
 - TensorFlow version if different from TensorBoard
1.10.0
 - OS Platform and ver

[2018-08-15 07:52] eliorc commented on #70
This feature would help a lot.

Once you get to over 15 different models, the tensorboard takes too long to load and fails to load all the logs often.
Also the colors cycle start to get confusing

[2018-08-15 08:40] zakizhou commented on #952
any update on this issue?

[2018-08-16 22:46] warunapww commented on #1214
The tensorboard is running fine for the provided code with TF 1.8
Python: 3.6
OS: CentOS 7.4

[2018-08-19 12:27] danijar opened #1365 "Support glob or regex patterns for the --logdir flag"
Currently, it can be difficult to use TensorBoard with many experiments:

- Ideally, I would just point TensorBoard to my root log directory. Then I could filter different sets of experiments by regex via the UI. However, TensorBoard becomes unusably slow for more than about a hundred runs. While this would be great to solve in the long term, I assume there is no easy fix here.
- One workaround is

[2018-08-19 12:34] danijar commented on #170
Last time we talked this seemed unfeasible because of restrictions in the Polymer framework or would at least require a major rewrite. This bugfix/feature would still save me and my collaborator time and hassle every day, but I think for now it's not going to happen. Please correct me if I'm wrong, @wchargin :)

[2018-08-20 16:11] stephanwlee commented on #1365
Hi Danijar, thanks for opening the issue. About the last bullet point: `Grouping each set of experiments...`, would symlink work? That sounds a lot cleaner and is a quick work around.

[2018-08-21 15:52] Dapid opened #1368 "Cannot set name of tf.keras.models"
The following example fails with an Attribute error on Python 3.6:

[code]
Setting EMBEDDED to False it uses the independent Keras library, and it works.

Here is the full traceback:
[code]

Versions:
Tensorflow: 1.10.0
Keras: 2.2.0

[2018-08-21 17:26] nfelt commented on #1365
Duplicate of #1221

[2018-08-21 17:26] stephanwlee commented on #1368
@Dapid Skimming through the code, it does not look like the issue pertains to TensorBoard. Did you mean to raise an issue to Tensorflow/Tensorflow instead? Thanks!

[2018-08-21 17:31] nfelt commented on #1221
From @danijar on #1365:

[2018-08-21 17:31] nfelt commented on #1365
I'll close this since we already have #1221 open for this, but I've copied your comment over and will respond there to keep the discussion in one place.

[2018-08-21 17:31] #1365 closed

[2018-08-21 17:35] nfelt commented on #1221
We're likely going to be overhauling a lot of the logdir/run discovery logic in the near future and I definitely want to address the dynamic run subselection use case.  I think the first solution (making run loading much faster and then offering selection in the UI) is the best overall approach here since it's the most flexible and matches what we want to offer for the database-backed TensorBoard

[2018-08-21 18:08] mi-lad commented on #1221
Would it be possible to automate things if the selection is in the UI? Maybe you could offer some REST API as well to set the filtering via the URL?

[2018-08-21 18:17] nfelt commented on #952
This would require identifying some data source on the TF side that could be used to populate the final device placement in the graph viewer.  I think it might be possible to get this information from RunMetadata - which is associated with a single session.run() call - and which the TensorBoard graph viewer already uses to show CPU and memory stats.

The [RunMetadata proto](https://github.com/tens

[2018-08-21 19:37] Dapid commented on #1368
You are absolutely right, I filed it in the wrong repo, sorry!

[2018-08-21 19:37] #1368 closed

[2018-08-21 22:39] wchargin commented on #170
Unfortunately, you are correct. Related is #235, which is also a feature
that we’d like but are unable to implement due to Polymer restrictions.
I’m sorry that I don’t have a better answer for you.

[2018-08-22 03:55] DeanChan commented on #867
The problem still exists on Tensorboard 1.10.0.

The log files are generated on the remote server. I mounted the log path to local machine via cifs and opened a tensorboard server also on the local machine.

A stupid yet effecticve workaround is to restart tensorboard server every `t` seconds:
[code]
Name this file as `tensorboard_daemon` and put it at the same path as `tensorboard`.

[2018-08-22 07:17] sunjiankun126 commented on #1255
Thank you @wxprofessor @nfelt ...

[2018-08-22 17:37] nfelt commented on #349
I'm re-opening this issue since we've gotten a few other reports and they don't always involve GCS - this applies to usage of regular rsync and other syncing programs as well if they update files via replacement rather than by appending.  We may or may not fix this but it's fair to track as an open issue.

[2018-08-22 17:38] nfelt commented on #1344
Duplicate of #349

[2018-08-22 17:38] nfelt commented on #1344
I've re-opened #349 so I'm closing this as a duplicate of that one - please follow along there.

[2018-08-22 17:38] #1344 closed

[2018-08-22 17:44] nfelt commented on #867
@DeanChan I'm not sure how cifs works and I'm also not sure how you're using it with GCS - more detail would be helpful.  But if you're not reading directly from GCS itself, e.g. with `tensorboard --logdir gs://bucket/logdir`, then the issue fixed here is a different issue.

It seems more likely that the problem you're seeing is #349, a known issue where TensorBoard doesn't detect if event files i

[2018-08-23 12:08] danijar commented on #1221
@nfelt The UI becomes completely usable for me as soon as the log directory contains more than 50 runs. What happens is that clicking any UI element incurs a delay of about 5-20 seconds and many times TensorBoard gives up on loading any summaries. I suspect that this depends on the amount of summary information, so TensorBoard might be able to handle more runs if there are fewer summary tags (prob

[2018-08-23 23:53] stephanwlee commented on #1353
Hi @karttikeya, thank you for opening the issue.
I just tried to run TensorBoard on Windows with ~200MB large event files. Scalar charts did appear kind of slowly but nothing was too out of ordinary.

@nfelt can chime in but I don't think you should be pointing at directory like `C:\`. TensorBoard would be scanning through large amount of files looking for nested event files. Do you just have thre

[2018-08-24 13:56] mi-lad commented on #1221
Another useful option would be a flag to stop tensorboard from following symlinks

[2018-08-24 17:10] kcgthb commented on #267
Mmmh, so now that #92 has been closed because it's "too ambitious", what's the plan to enable authentication?

The lack of any kind of authentication/authorization mechanism makes Tensorboard pretty much unusable outside of a developer laptop. It can't be reasonably used on any shared, multi-tenant environment.

[2018-08-24 17:38] nfelt commented on #267
We don't have any near-term plans to add auth mechanisms directly to TensorBoard, but it's possible today to run TensorBoard behind an authenticating reverse proxy like [nginx](https://docs.nginx.com/nginx/admin-guide/security-controls/configuring-http-basic-authentication/
), or since it's a WSGI app under the hood, run a slightly modified TensorBoard with some WSGI auth middleware.

Putting auth

[2018-08-24 18:40] nfelt commented on #1353
@karttikeya Can you run `tensorboard --inspect --logdir <your logdir>` and paste the output here?  Also, if possible, can you provide the three event files that reproduce this behavior?

[2018-08-24 22:33] karttikeya commented on #1353
Hi,
@nfelt @stephanwlee  Thank you for the support. Here is the link to [event files](https://drive.google.com/open?id=1Ymz_dldSwAqzijx4WWJy4B7GmmOxk0-d) and below is the output for
`tensorboard --inspect --logdir=C:\sh`  :
![image](https://user-images.githubusercontent.com/10197226/44610826-11498d00-a7cc-11e8-978c-6f9e30645d49.png)

[2018-08-27 20:36] Loofort commented on #835
I'd like to report this issue as well.
at https://projector.tensorflow.org/ bookmark upload doesn't work, producing:

THREE.WebGLRenderer 77
(index):10152 Uncaught TypeError: Cannot read property 'select' of undefined
    at HTMLElement.b._uploadFile ((index):10152)
    at HTMLElement.d ((index):4668)
    at HTMLElement.fire ((index):4690)
    at Object.fire ((index):4678)
    at Object.forward ((

[2018-08-27 21:17] ldalzovo commented on #227
I am trying to use the code provided by @jmoraleda in Tensorflow Object Detection API, but I have an error executing
`estimator = tf.contrib.estimator.add_metrics(estimator,
      lambda labels, predictions: {'mean_iou': tf.metrics.mean_iou(labels, predictions['class_ids'],3)})`
with this message:
`lambda labels, predictions: {'mean_iou': tf.metrics.mean_iou(labels, predictions['class_ids'],60)})

[2018-08-28 15:20] andrewzu commented on #1063
Is this feature still planned to be supported?

[2018-08-28 18:57] sguada opened #1388 "Make colors of scalar summaries consistent based on names of sub-folders"
Different runs would assign different colors to train/eval summaries. It would be better if it were consistent and based on sorted names.

[2018-08-28 19:01] sguada opened #1389 "Allow avoiding the header scope in the name."
Including the first scope in the metric name seems redundant and takes a lot of space

![image](https://user-images.githubusercontent.com/1766524/44744427-f91e8a00-aab9-11e8-85db-1db9f2333590.png)

[2018-08-28 20:34] bhack commented on #1002
Any news?

[2018-08-29 21:16] rom1504 commented on #766
I'm having the same thing from tensorboard 1.10

[2018-08-30 02:25] YouZengLi commented on #1149
![screenshot from 2018-08-30 10-25-06](https://user-images.githubusercontent.com/19741535/44825861-13ce3b80-ac3f-11e8-8719-2fbfcbe52983.png)

[2018-08-30 02:29] YouZengLi commented on #1149
@YantianZha  Thank you, your method can solve my problem.

[2018-08-30 07:38] Spenhouet opened #1392 "logdir should default to ."
My personal workflow:

1. Open the folder with the tensorboard files in it
2. Open a command window from this folder (this folder as root)
3. type in `tensorboard --logdir .` in manually
4. switch to the browser

It seems so minor but you won't believe how tiring it is to type ` --logdir .` every time.

For me it would be a huge quality of life improvement to make `logdir` default to the current f

[2018-08-30 16:02] qiuminxu opened #1393 "TensorBoard op_profile op_details card mis-align over the Op Table"
In TensorBoard v1.11 (master), the profile plugin op_profile tool has a op_details card, which is placed under the sidebar. Due to recent global change in sidebar css (PR #1296 ), the card now miss align with the Op Table, rather than the left of the window.

See the screenshot below:

![tensorboard-image](https://user-images.githubusercontent.com/3082188/44863439-fc3c8600-ac31-11e8-8419-1829eb61d

[2018-08-30 19:33] stephanwlee commented on #1393
It has been addressed by #1394. Thanks for raising the issue :)

[2018-08-30 19:33] #1393 closed

[2018-09-03 07:29] themightyoarfish opened #1400 "Layer tooltip box runs behind sidebar with long names"
- TensorBoard version (from pip package, also printed out when running `tensorboard`): 1.5.1
 - OS Platform and version: Linux Ubuntu 16.04
 - Python version: 3.6
 - For browser-related issues:
   - Browser type and version: Firefox 61.0.2 (64-bit)
   - Screenshot if it's a visual issue:

![screen shot 2018-09-03 at 09 27 31](https://user-images.githubusercontent.com/11613312/44973084-aaf70400-af5

[2018-09-03 07:36] themightyoarfish commented on #1400
It would be better if the box was drawn over everything else  and maybe an ellipsis used to abbreviate the middle part of the plot name, if the box is too large.

[2018-09-03 22:29] nfelt commented on #1400
Duplicate of #1170

[2018-09-03 22:30] nfelt commented on #1400
Thanks for reporting.  I believe #1170 is already tracking this issue - please follow along there.

[2018-09-03 22:30] #1400 closed

[2018-09-05 05:39] keyongyu commented on #1027
@chihuahua, Zeynail was asking pr_curve for object detection,  I think https://github.com/tensorflow/tensorboard/blob/master/tensorboard/plugins/pr_curve/README.md is helpless, which is just for classification,  have to manually code to determine if the object is detected according to the bbox IOU.

[2018-09-05 09:46] zhoupo commented on #221
http://projector.tensorflow.org/ has a corresponding GitHub repository [embedding-projector-standalone](https://github.com/tensorflow/embedding-projector-standalone), which can be deployed locally; then you can view embeddings by one of the following ways:
- Click "Load data" button in the data panel
- Add query parameter "config" to Embedding Projector index page path. "config" is a URL that poin

[2018-09-06 14:04] gabrielazg commented on #670
Hi, everyone! Thanks for making this clear. Please add the restriction (that sprite images need to be square) at [https://www.tensorflow.org/programmers_guide/embedding#images](https://www.tensorflow.org/programmers_guide/embedding#images), so that everyone gets it right from the beginning. Many thanks!

[2018-09-11 17:10] olicht opened #1412 "mobile layout"
It would be great to have tensorboard supporting mobile phones, even if the support would be partial.

Example use case: You seat in your grandma house for a holiday meal, your uncle once again tells a long and boring story, and want to check the progress of your model's training. You can't go to a computer (you don't want to be noticed), and on the mobile the UI have a lot of issues.

[2018-09-11 22:08] ricoms commented on #46
These two projects allow this hyper-parameters logging:

1. https://mlflow.org/
2. https://www.comet.ml/

[2018-09-12 03:46] py2ai commented on #236
Just type this in Safari
http://localhost:6006

[2018-09-12 06:52] wqw547243068 opened #1416 "How to use What-If tool in tensorboard？"
I am very excited at the coming tool [What-If](https://pair-code.github.io/what-if-tool/index.html#features)，but got a little conconfued about how to try it in tensorboard，if anyone knows，please tell me，thanks！

[2018-09-12 22:13] nfelt commented on #1416
@jameswex might be able to fill you in.  The What-If tool should be available in the next release of TensorBoard.  There is a readme available at https://github.com/tensorflow/tensorboard/blob/master/tensorboard/plugins/interactive_inference/README.md

Closing this issue though, since we ask that the issue tracker only be used for reporting bugs and feature requests.

[2018-09-12 22:13] #1416 closed

[2018-09-13 00:39] jameswex commented on #1416
As of the next release of TensorBoard, you should be able to access the What-If Tool in the dashboards drop-down at the top-right of TensorBoard. Alternatively, you can build from HEAD on master branch, or use a nightly build to see it in TensorBoard. From there, the instructions at https://github.com/tensorflow/tensorboard/blob/master/tensorboard/plugins/interactive_inference/README.md should cla

[2018-09-13 12:05] phisad commented on #55
This would be a really helpful feature! In the meantime, is there a workaround regex to have this done?

[2018-09-13 13:04] guygeva opened #1420 "What-If tool could not infer when exporting a model built by estimator.DNNClassifier"
- TensorBoard version - built it locally. I cloned the git repository - the latest commit in my local repository is c1e8878b42c16e7018f54613f847b59d357e971e
 - TensorFlow version - 1.4
 - OS Platform and version - Linux Ubuntu 16.04
 - Python version - 3.6

I am trying to use the What-If tool for a model created by using the tf.estimator.DNNClassifier canned estimator. The model was exported and s

[2018-09-13 15:38] maximilianmozes opened #1421 "Embedding visualization with eager execution"
TensorBoard version: 1.10.0
OS: Linux Ubuntu 16.04.5 LTS
Python version: 2.7.12

I am using eager execution and I would like to visualize embeddings in TensorBoard. I use the following code to set up the visualization:

`import tensorflow as tf`
`import tensorflow.contrib.eager as tfe`
`from tensorflow.contrib.tensorboard.plugins import projector`
`tf.enable_eager_execution()`
`tf.executing_eagerl

[2018-09-13 17:54] nfelt commented on #55
Duplicate of #170

[2018-09-13 17:55] nfelt commented on #55
I don't believe there's any regex-based workaround, but this issue is something we're actively investigating.

Also, I'm closing this as a duplicate of #170 since they are the same issue, and while this one was filed first, #170 has more overall discussion and context at this point.

[2018-09-13 17:55] #55 closed

[2018-09-13 17:56] nfelt commented on #170
I found #55 which was filed earlier for the same issue as this one (as a migration of https://github.com/tensorflow/tensorflow/issues/7720), but I opted to dedupe that one in favor of this one since it has more context.

[2018-09-13 17:57] nfelt commented on #1420
cc @jameswex

[2018-09-13 18:09] nfelt commented on #1421
Hmm, thanks for reporting this.  Unfortunately visualize_embeddings() was only designed to work with a tf.summary.FileWriter() for the summary_writer parameter, and so it errors out if you pass in tf.contrib.summary.create_file_writer().

We'll fix this, but for the time being, I would just work around it.  I think one workaround would just be to create a tf.summary.FileWriter(path) before calling

[2018-09-13 18:13] phisad commented on #170
For me this regex workaround worked:

Tags matching `val_acc|val_loss|^(?!class1|class2|class3).*$`

Would be nice to have a switch for the tag matching from whitelist to blacklist. Then the user can "simply" put the charts she doesnt want to see.

[2018-09-13 19:46] jameswex commented on #1420
out of curiosity, does it work if you run the model in a tensorflow serving model server locally on the machine your tensorboard server is running on and use localhost:<port> instead?

[2018-09-13 19:50] danijar commented on #170
I don't think that a regex solves the problem, but it does make me wonder why this is so difficult given that the search panel already supports dynamically choosing summary tags and updating pagination correctly.

[2018-09-13 20:29] nfelt commented on #170
@danijar that's a good question - there are a number of difference that make handling the run selection case harder.

Re: the bad behavior that @wchargin was concerned about - the regex search actually does exhibit this today.  For example, vertical scales and whether the chart is expanded or not stick with the actual tf-scalar-card element even when it's reassigned to display a new tag, which is

[2018-09-14 00:32] orionr opened #1422 "TensorBoard build fails on Mac"
It's possible I made a n00b mistake, but I can't seem to build TensorBoard from master on OS X.

- TensorBoard version: master
 - OS Platform and version: macOS High Sierra
 - Xcode version: Xcode 10.0
- bazel version: 0.16.1
 - Python version (e.g. 2.7, 3.5): 2.7.15

I have a conda environment active and try to run `bazel build tensorboard` but get the following error

[code]

I'm not actually su

[2018-09-14 00:36] nfelt commented on #1422
You shouldn't actually need to be inside a conda environment just to do the build.  Could you perhaps try doing it outside conda and see if it has the same failure?

[2018-09-14 00:47] danijar commented on #170
Thanks for the insights and great to hear that Stephan is looking into it. Regarding your last paragraph, I don't think this would be much of an issue. If somebody wanted to compare runs, they would most likely select them at the same time. If you change the selection to a different experiment with different summary tags, I think it is reasonable that the page layout changes.

[2018-09-14 04:19] orionr commented on #1422
Same issue outside conda. I also tried virtualenv as outlined in https://github.com/tensorflow/tensorboard/blob/master/DEVELOPMENT.md but same issue. Which dependency is missing based on the error above? I'm having a hard time parsing the bazel output...

[2018-09-14 06:36] maximilianmozes commented on #1421
Alright, I'll try that then. Thanks for your help and the clarification.

[2018-09-14 06:48] AlphaSue opened #1423 "what if tools don't support exported model from estimator"
When I use what-if tools, I have to specify if the model is regression or classify as how you define your exported model. However, when I exported my model fro estimator by using
tf.estimator.LatestExporter or tf.estimator.FinalExporter, I cannot set my signature method as regression or classify. It can only be set with prediction, which don't works in what-if tools.

Can any body tell me a way to

[2018-09-14 15:46] orionr commented on #1422
Ah! I figured it out - I was accidentally using Xcode 10 *beta* when I should have been using Xcode 9.4.1. Maybe CROSSTOOLS isn't setup for this yet?

Doing the following worked:

[code]
Thank you @nfelt for the pointers! Leaving this here just in case others have this issue in the future.

[2018-09-14 15:46] #1422 closed

[2018-09-14 21:31] nfelt commented on #1422
@orionr glad you figured it out!  Hmm, a bit surprising that it would fail but hopefully it'll be resolved by bazel/Xcode before the Xcode 10 final release is out.

[2018-09-14 21:36] nfelt commented on #1423
cc @jameswex

[2018-09-14 23:08] Khev opened #1425 "tensorboard Keras callback fails: can't find tensorflow"
For some reason Keras can't find the tensorflow module when I try and use tensorboard (Keras and tensorflow are working fine otherwise). I'm using python 2.7 on ubuntu, and have updated Keras and tensorflow. My apologies if I'm missing something obvious.

Thanks!

## INPUT
""
from keras.callbacks import TensorBoard

index = int(0.9*len(X))
x_train, y_train = X[:index],y[:index]
x_test, y_test = X[

[2018-09-14 23:12] nfelt commented on #1425
What exact version of tensorflow are you using?  Can you run `from tensorflow.contrib.tensorboard.plugins import projector` successfully from your python shell?

[2018-09-14 23:16] Khev commented on #1425
I'm running tensorflow version '1.10.1'

I cannot fun the above command, I get the following complaint

---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
<ipython-input-13-130f93094534> in <module>()
----> 1 from tensorflow.contrib.tensorboard.plugins import projector

/home/kokeeffe/anaconda2/lib

[2018-09-14 23:27] nfelt commented on #1425
Hmm, that's odd - I don't have that error when I try with TF 1.10 on ubuntu.  At this point however it looks like it's not really a TensorBoard issue, it seems like something in your tensorflow.contrib import tree is broken - you could try asking on StackOverflow?  Or just reinstalling a fresh TensorFlow.

[2018-09-14 23:27] #1425 closed

[2018-09-15 23:15] amj commented on #1002
+1.  Is this still experimental?

[2018-09-16 07:52] guygeva commented on #1420
192.168.30.15 is actually the IP address of the localhost, but I also tried replacing it with 'localhost' and got the same result.

[2018-09-16 14:28] Elites2017 commented on #1261
**I used the MobileNet_v1_1.0_224 tensorflow model for object detection. Now, I have my custom frozen graph (.pb file) that I need to convert to tflite extension so that I can use my model for mobile devices.**

When I tried to convert it with the toco tool --output_node_names=MobileNetV1/Predictions/Reshape_1 I got the **ValueError: Invalid tensors 'input' were found.** How can I see my input and

[2018-09-16 17:23] AntonKovalev opened #1426 "Contribute to TF from Windows environment"
I would like to contribute to tensorflow, however, I have not found any information on how to do it
on windows in Visual Studio 2017? Just building the code(apparently cmake is depricated?) and running it in windows? I have installed TF with GPU support ,CUDA, cuDNN as explained here: https://www.tensorflow.org/install/install_windows
But this is only for running the library? What if I, for instan

[2018-09-17 14:03] jameswex commented on #1423
Have you tried following these directions (https://www.tensorflow.org/guide/saved_model#using_savedmodel_with_estimators) for exporting estimator models for serving?

[2018-09-17 14:47] itxiud2015 opened #1427 "What version of tensorflow could have Debugger Dashboard function with Tensorboard?"
What version of tensorflow could have Debugger Dashboard function with Tensorboard?

I use tensorflow version 1.4, I failed to launch Debugger Dashboard in Tensorboard.

[2018-09-17 14:56] jameswex commented on #1420
@guygeva are your model and test data senstive, or could you share them with me? I can debug your specific problem if I can have access to them.

[2018-09-17 15:04] jameswex commented on #1423
Here is another resource for how to export an estimator for serving with a classification or regression signature, so the What-If Tool can query it: http://shzhangji.com/blog/2018/05/14/serve-tensorflow-estimator-with-savedmodel/

[2018-09-17 17:47] Khev commented on #1425
Hi Nick,

I will try a reinstall -- thanks for your help!

Best,
Kevin

*Kevin O'Keeffe*
Postdoctoral Fellow
MIT Senseable City Lab <http://senseable.mit.edu/>

www.kevokeeffe.com

On Fri, Sep 14, 2018 at 7:27 PM Nick Felt <notifications@github.com> wrote:

[2018-09-18 00:36] nfelt commented on #1427
cc @caisq

[2018-09-18 00:44] nfelt commented on #1426
I think you may be asking in the wrong place - this GitHub repository is for TensorBoard, the visualization web app that comes bundled with TensorFlow.

I'm guessing you might want to start with the Windows build-from-source instructions, and ask on the TF discuss list or stack overflow if you have further questions: https://www.tensorflow.org/install/install_sources_windows

[2018-09-18 00:44] #1426 closed

[2018-09-18 04:14] Draichi opened #1433 "TypeError: run() got an unexpected keyword argument 'flags_parser'"
I keep getting this error:
#### TypeError: run() got an unexpected keyword argument 'flags_parser'

### My env:
 - OS Platform and version (e.g., Linux Ubuntu 16.04)
`Ubuntu 16.04`
 - Python version (e.g. 2.7, 3.5)
`3.5.2`
[code]

I recently removed tensorflow and installed tensorflow-gpu, now i'm getting this error whenever I try to run `tensorboard --logdir=~/my/path`, even if i try a simple `te

[2018-09-18 11:52] sihagmnis36 opened #1434 "/usr/bin/env: 'python': No such file or directory"
- OS Platform and version: Docker Ubuntu 16.04
 - Python version: 3.6.4

While building bazel, I get following error:
[code]
Working directory is `~/notebooks/tensorboard/tensorboard/plugins/interactive_inference`
and command to build bazel is `bazel run --python_path=/opt/conda/bin/python tf_interactive_inference_dashboard/demo:agedemoserver`

[2018-09-18 14:47] jameswex commented on #1434
@sihagmnis36 Can you build other tensorboard artifacts outside of that specific What-If Tool demo? For example, do you get the same error if you "bazel build tensorboard" from repository's top-level directory?

[2018-09-18 23:49] nfelt commented on #1433
I assume you also have `tb-nightly` installed?  It's our nightly build and it's a dependency of `tf-nightly` so you'd pick it up automatically if you installed `tf-nightly`.

You can fix this issue by installing `absl-py>=0.4.0`.  It was an unintentional breakage in our nightly build and should be resolved by tomorrow's `tb-nightly` release.

Also, FYI, it's generally not a good idea to have multi

[2018-09-19 05:29] sihagmnis36 commented on #1434
@jameswex I tried that and it gave almost the same error as before. Here's the complete error.
[code]

[2018-09-19 09:38] hsluoyz commented on #785
Any update on this issue?

[2018-09-19 17:52] danijar opened #1439 "Smoothed curve way off the actual line"
Without smoothing:
![screenshot](https://user-images.githubusercontent.com/2111293/45771414-093a0d00-bc13-11e8-8840-d7e113803e38.png)
Smoothing 0.9:
![screenshot](https://user-images.githubusercontent.com/2111293/45771393-fc1d1e00-bc12-11e8-9ba6-62dd293f3d4d.png)
I don't see any reason why the smoothed curve should be so far away from the actual data.

[2018-09-19 20:32] velocirabbit commented on #32
Given that we're already able to export to CSV, couldn't this be roughly implemented by having a "Save to image" option that plots the data from the CSV values? That would at the very least condense the "save to CSV -> load to numpy -> plot -> save to image" sequence of steps into a single step.

[2018-09-19 22:30] nfelt commented on #1261
@Elites2017 it doesn't look like your problem is related to this GitHub issue, which is about SQLite data export documentation.  Please ask on StackOverflow or open a new GitHub issue if you think your issue is a bug in TensorBoard.

[2018-09-20 00:31] nfelt commented on #1434
Do you have `python` available at the same command line that you're running `bazel`?  What if you activate the conda environment before running `bazel`?  Does that help?

[2018-09-20 00:38] nfelt commented on #785
No updates.  We're working on the DB backend which should at some point at least support more of an "active" indicator.

Actually building functionality into TensorBoard to delete runs from disk may be out of scope, since it converts TensorBoard from being essentially read-only into something that can be used to permanently alter data on the machine it runs on, which puts it into a different realm

[2018-09-20 01:39] OliveZT opened #1442 "logDir has default path?when I set tf.summary.FileWriter(tensorboard_dir) but not validate"
1. Setting the save_dir: /checkpoints/textcnn
`save_dir = os.path.join(run_path, 'checkpoints/textcnn')
save_path = os.path.join(save_dir, 'best_validation')`

2. Setting the FileWriter path: /tensorboard/textcnn
tensorboard_dir = 'tensorboard/textcnn'`
tf.summary.FileWriter(tensorboard_dir)`

3. Running the tensorboard:
`MacBook-Pro:tensorboard xintin$ tensorboard --logdir=textcnn`

4. Visiting 1

[2018-09-20 01:59] Elites2017 commented on #1261
Ok, thank you. I don't think it's a bug. I just haven't found documentation on how to get the input and output node names from tensorboard graph.

[2018-09-20 02:05] Elites2017 opened #1443 "**I used the MobileNet_v1_1.0_224 tensorflow model for object detection. Now, I have my custom frozen graph (.pb file) that I need to convert to tflite extension so that I can use my model for mobile devices.**"
When I tried to convert it with the toco tool with the following parameter for output node name as it comes with the model itself in the info file --output_node_names=MobileNetV1/Predictions/Reshape_1 I got the **ValueError: Invalid tensors 'input' were found.** How can I get / see the input and output node names in tensorboard graph like this in the pictures obtained while training?

![pic 1](htt

[2018-09-20 06:51] sihagmnis36 commented on #1434
Yes, `python` is available. It works fine as it normally should. I did not try with `conda` environment. I'll try it once and see if it helps and will get back to you.

[2018-09-20 07:11] guygeva commented on #1420
OK. This solved the main issue because I am getting a different traceback now:
`E0920 10:01:50.152777 Thread-2 _internal.py:87] Error on request:
Traceback (most recent call last):
  File "/home/guyg/.cache/bazel/_bazel_guyg/10aad5f1b9b4fd4ada8c4066e616f3cc/external/org_pocoo_werkzeug/werkzeug/serving.py", line 193, in run_wsgi
    execute(self.server.app)
  File "/home/guyg/.cache/bazel/_bazel_gu

[2018-09-20 15:58] jameswex commented on #1420
I'm wondering if your issue is that when you save the model you are not providing the apporiate build_parsing_serving_input_receiver_fn for use of the classification API. If you inspect your saved model pbtxt (by converting it to pbtext from binary) or use saved_model_cli, you should be able to see the signatures that the saved model are providing. In my case it seems to be providing the tensorflo

[2018-09-20 20:08] nfelt commented on #1443
In TensorBoard, you can use the node name regex search within the graph dashboard (should be on the top of the left-hand toolbar) to find graph nodes by name.

FYI, in general we prefer to keep the issue tracker limited to actual bugs or feature requests in TensorBoard.  For usage questions, StackOverflow has a broader audience.

[2018-09-20 20:08] #1443 closed

[2018-09-20 20:11] nfelt commented on #1442
Closing since this doesn't sound like a bug in TensorBoard, but feel free to reopen if you think it's a bug and you can clarify exactly what behavior you are expecting and what TensorBoard is doing differently.

TensorBoard resolves a relative logdir path against the current directory.  So if you are in a directory called "/checkpoints" then running `tensorboard --logdir=textcnn` will load data fr

[2018-09-20 20:11] #1442 closed

[2018-09-20 23:16] nfelt commented on #1320
Ok, I finally got to the bottom of this issue, which I will send a PR to fix.  For posterity:

Th IPv4/v6 handling logic first attempts to bind to an empty host, and then assumes any error was due to a lack of IPv4, and would then fall back to an explicit IPv6 wildcard (`::`).  There are a number of problems with this approach:

1) Passing in a blank host is unreliable.  Python's socket module say

[2018-09-21 07:00] mrTsjolder opened #1450 "multi-event feature request"
Currently, when having multiple event files in some subdirectory of the log directory, it is assumed that these event files are to be appended to get one single graph. This is rather often not the case, however, which leads to a bunch of users ending up with a bunch of useless lines connecting the different runs, e.g. as illustrated [here](https://stackoverflow.com/questions/36798669/how-can-i-sep

[2018-09-21 15:05] Elites2017 commented on #1443
The problem is that I don't know the input and output name of those nodes which I need in order to convert my frozen graph (.pb file) into tensorflow lite (.tflite) and I don't know how to get or see them from such a complex graph

![complexgraph](https://user-images.githubusercontent.com/35799396/45889337-61773780-bdea-11e8-8e56-3d182bebefd6.PNG)

[2018-09-21 15:09] ornew opened #1452 "What-If is not support GZIP-compressed TFRecord"
- TensorBoard version: 1.11.0a0
- OS Platform and version: macOS High Sierra
- Python version: 2.7

I get the following error occurred (and infinite loading):

[code]

I'm using **GZIP-compressed TFRecord**. This errors is happen because the TFRecord option has not compression type option.

I think that this is an excellent tool. Please implement the compression support. Thanks.

[2018-09-21 18:06] nfelt commented on #1452
cc @jameswex

[2018-09-21 18:10] nfelt commented on #1443
This might be more of a question for toco/tflite folks - this issue tracker is only for TensorBoard and I don't know enough about toco or tflite to really help with that aspect of your problem.  It sounded from the error message you got that the tensor in question might actually be named "input" in which case the graph dashboard search feature could help you find it.  But beyond that, I'm not sure

[2018-09-21 20:47] jameswex commented on #1452
@ornew Thanks for the feedback! We can definitely enable handling of gzip'd tfrecord files. Have you had success using the tool on your model(s) and dataset(s) outside of this issue?

[2018-09-21 23:35] #1320 closed

[2018-09-22 14:09] Elites2017 commented on #1443
It's okay. I'm closing this.

[2018-09-24 15:20] deagarwa opened #1458 "What-If Tool: Failed to build and run the demo from code"
While trying to run the Binary classifier for UCI Census dataset salary prediction demo, Bazel build is getting failed consistently with the following error:

<<<<
bazel run tensorboard/plugins/interactive_inference/tf_interactive_inference_dashboard/demo:demoserver
INFO: Analysed target //tensorboard/plugins/interactive_inference/tf_interactive_inference_dashboard/demo:demoserver (0 packages load

[2018-09-24 18:30] HerrMuellerluedenscheid commented on #1323
Hey @mikesol

I just encountered the same error when connecting via ssh from my OSX laptop to my gpu workstation running on debian. Turns out that a 'dpkg-reconfigure'solved the issue. Checkout [this link on medium](https://medium.com/@mohammedhammoud/fix-locale-error-unsupported-locale-setting-f9849eec41f1) for a copy-paste suggestion.

[2018-09-24 21:38] nfelt commented on #1458
@deagarwa could you please fill out the issue template?  I.e. include your bazel version, OS version, etc.

cc @jameswex

[2018-09-24 21:57] #1452 closed

[2018-09-24 23:08] nfelt commented on #884
I followed up on this internally (see g/polymerdiscuss/KxlI4B8FXUE) and it appears to be due to this issue in Polymer: https://github.com/Polymer/polymer/issues/5168

There's a workaround that involves changing the category pane to remove `restamp` from its dom-if and wrapping its `<slot>` in a `<span>` element.  However, removing `restamp` causes chart-shrinkage issues, so those would need to be

[2018-09-25 03:36] imtarit commented on #640
I am having similar issue. What could be the possible cause?
![capture](https://user-images.githubusercontent.com/16299377/45991360-eeaadc80-c0c7-11e8-9c7c-c3ffd9b61ac7.JPG)

[2018-09-25 05:11] deagarwa commented on #1458
Thanks for the reply. Here are the environment details:
Bazel version: bazel-0.17.1-windows-x86_64
OS: Windows 10
Msys2, MS Visual Studio 2018
Java: jre1.8.0_181

[2018-09-25 09:05] guygeva commented on #1420
Thank you @jameswex.
The saved_model_cli shows that there is only the 'predict' method in the saved model.
My code is very similar to the snippets you posted.

The only difference I can see is that I am using `build_raw_serving_input_receiver_fn`.
Could it be that the defaults for the export for estimator have been changed since Tensoflow v1.4?

[2018-09-25 11:58] guygeva commented on #1420
After exporting a model twice with this code:
`
features = tf.feature_column.make_parse_example_spec(feature_columns)
  recvfn = tf.estimator.export.build_parsing_serving_input_receiver_fn(features)
  classifier.export_savedmodel('./savedmodel', recvfn)

  recvfn = tf.estimator.export.build_raw_serving_input_receiver_fn({"x" :tf.placeholder(feature_columns[0].dtype, feature_columns[0].shape, featu

[2018-09-26 09:33] deagarwa commented on #1458
Here is the o/p with --verbose_failures:
**$ bazel run tensorboard/plugins/interactive_inference/tf_interactive_inference_dashboard/demo:demoserver --verbose_failures**
INFO: Analysed target //tensorboard/plugins/interactive_inference/tf_interactive_inference_dashboard/demo:demoserver (0 packages loaded).
INFO: Found 1 target...
ERROR: C:/users/deepika.d.agarwal/desktop/what-if/tensorboard-master/

[2018-09-26 09:49] deagarwa commented on #1458
While compiling tensorboard, I am getting the same error related to Valcanizing:
**$ bazel run //tensorboard -- --logdir ./my_logs**
INFO: Analysed target //tensorboard:tensorboard (80 packages loaded).
INFO: Found 1 target...
**ERROR: C:/users/deepika.d.agarwal/desktop/what-if/tensorboard-master/tensorboard/components/BUILD:40:1: Vulcanizing /trace_viewer.html failed (Exit 1)**
Error: Could not f

[2018-09-26 21:13] Issam-Jmili opened #1462 "Visualization of the confusion matrix"
Hi !!
I am new in IA field and even I do not have a deep knowledge in python. So I am looking for help and please it is emergency.
My OS is Ubuntu 18.04.1 LTS
Python 2.7
Tensorboard 1.11.0
Tensorflow  1.10.1

I did follow the tutoriel like bellow :

1. virtualenv tensorflow
2.    source ~/tensorflow/bin/activate
3.    cd ~/example_code
4.    curl -LO https://github.com/tensorflow/hub/raw/r0.1/exam

[2018-09-26 21:42] nfelt commented on #1462
Where are you getting confusion_matrix.py?  You would perhaps have better luck following up with wherever confusion_matrix.py comes from - from the screenshot you shared it's unclear if it's even intended to be run as a script (as opposed to being imported).  You could also ask on StackOverflow or other TensorFlow support for help using the image retraining example.

Other than that, I'm not sure

[2018-09-26 21:47] Issam-Jmili commented on #1462
Like I said I am new in this field ... Anyway Thanks ^^
Le 26 sept. 2018 22:42, "Nick Felt" <notifications@github.com> a écrit :

[2018-09-26 21:55] nfelt commented on #1462
I think your best bet is asking wherever you got confusion_matrix.py.  Without knowing where that code is from there's not much else I can suggest, but I hope that helps.

[2018-09-26 21:55] #1462 closed

[2018-09-26 22:12] nfelt commented on #1450
Thanks for the feature request.  We have some upcoming work to support multiple experiments within TensorBoard and also better display of runs in hyperparameter tuning (including repeats of the same parameter setting) that I think should address your use case - stay tuned.

cc @erzel @stephanwlee FYI

[2018-09-26 22:54] reinhouthooft opened #1463 "What-If Tool: thresholded inference problem (confusion matrix/ROC)"
Version info:
* TensorBoard 1.12.0a0
* TensorFlow 1.8.0
* MacOS 10.13.6
* Python 2.7

Description:
Running 2-class classification with a custom estimator results in incorrect confusion matrix/ROC curve values. When dragging the threshold slider, the "actual yes/no" percentages change (see screenshots). Other than that, when using a vocab file to specify the labels ("False", "True"), the legend sho

[2018-09-27 00:00] nfelt commented on #1463
cc @jameswex

[2018-09-27 06:14] deagarwa opened #1466 "Vulcanizing failed while building Tensorboard"
Hi,
I am getting the following error related to Vulcanizing while building Tensorboard:
**$ bazel run //tensorboard -- --logdir ./my_logs**
INFO: Analysed target //tensorboard:tensorboard (80 packages loaded).
INFO: Found 1 target...
**ERROR: C:/users/deepika.d.agarwal/desktop/what-if/tensorboard-master/tensorboard/components/BUILD:40:1: Vulcanizing /trace_viewer.html failed (Exit 1)**
Error: Coul

[2018-09-27 13:28] jameswex commented on #1463
@reinhouthooft Thanks for the bug report. Would you be willing to provide the saved model and a tf record file of examples for me to reproduce the problem with? Or is the model and/or data not for sharing?

[2018-09-27 20:05] reinhouthooft commented on #1463
@jameswex The mock data + model can be found at https://file.io/OphIwR.

I load it via
[code]
and load into the what-if tool via inference address `0.0.0.0:8500`, model name `analysis_model`, and model signature `serving_analysis`. Path to examples set to `<path>/tensorboard_issue1463/example.tfrecord`.

[2018-09-27 23:08] #48 closed

[2018-09-27 23:40] nfelt opened #1467 "double-linked SQLite libs cause locking/corruption issues"
This issue documents problems arising from TensorBoard attempting to use two different copies of the SQLite library within a single process.  One copy of SQLite is the one provided in the python standard library via `import sqlite3`.  The other is compiled into TensorFlow, and used by the DB summary writer to write directly to SQLite from C++ code.

SQLite expects that all its operations within a

[2018-09-28 00:06] nfelt commented on #1467
At this point, we have a few paths forward available:

A) Consolidate onto a single copy of SQLite.  This has three sub-options:

A1) Use TF's copy of SQLite.  This is a non-starter; we are aiming to eliminate the TF dependency anyway in the long term, and using the TF copy would require adding to TF either our own python sqlite wrapper or an entire existing one like pysqlite.

A2) Use python's co

[2018-09-28 02:10] Cory-M commented on #718
Same thing happens to me. It works well on local computer but doesn't work on the cluster. Have you figured out what's wrong?

[2018-09-28 02:28] nfelt commented on #1458
Closing this in favor of the new issue #1466.  I'll take a look at it when I get a chance to see if I can reproduce it, but right now I'm not sure I have any idea what's happening.

[2018-09-28 02:28] #1458 closed

[2018-09-28 13:45] jameswex commented on #1463
@reinhouthooft The link https://file.io/OphIwR gives me a 404 error.

[2018-09-28 13:55] jameswex commented on #1463
Another additional way for me to debug would be if you provided the response to the "infer" request that the what-if tool webpage makes to the TensorBoard web server. You can find it in the network tab of the chrome developer console (open the developers console before clicking "accept" in the what-if tool setup dialog to ensure the "infer" network request and response are captured).

[2018-09-28 16:36] reinhouthooft commented on #1463
@jameswex I'll check out the request/response.

I updated my previous comment, I added the model+data as an attachment to the comment.

[2018-09-28 16:51] jameswex commented on #1463
@reinhouthooft thanks! i'm able to reproduce. at first glance i think the what-if tool can't handle the fact that the labels for the two classes in the inference results are both blank (and therefore identical). in all previous uses, i've seen the label field in the protocol buffer returned by serving to the tensorboard webserver (and then passed along to the plugin's webpage) populated with 0 for

[2018-09-28 16:58] reinhouthooft commented on #1463
That is indeed very strange, I'll have a look at it, thanks for the pointer!

[2018-09-28 16:59] #1463 closed

[2018-09-28 19:45] reinhouthooft commented on #1463
@jameswex The tf classification API is specified as follows:
[code]
which allows the user to specify `classes=None`. When this is done, tf serving will output `label=""` in its inference. So I assume that `label=""` is actually part of the API specification and should therefore be handled by the what if tool as a valid inference response.

[2018-09-28 19:53] jameswex commented on #1463
Thanks for the doc reference. I created #1471 to have the what-if tool handle empty labels by using indices for the class labels, which seems to do the right thing for your case.

[2018-09-29 01:24] stephanwlee opened #1473 "Various Charts can appear tiny"
This is a master issue to track many on-going/zombied issues with charts in general.

Source of all problems: charts are drawn with respect to size of their container. When the container is `display: none` for any reason (i.e., using `dom-if`), it can lead to bad measurement and lead to wrong chart.

Issues
---
#190

PRs
---
#204
#1465

[2018-09-29 18:14] ashudeep commented on #1204
This happens even if you the tensor is already Nx2 sized!

[2018-09-30 14:14] sosam29 commented on #958
is multiple callback implemented in tensorflow yet?

[2018-10-01 07:08] erzel commented on #1450
Thanks for the feature request. As Nick wrote, we're working on a plugin that will allow plotting repeats of the same training session. It allows you to compare training sessions with different parameters and to group sessions with the same parameters so that you can plot the progress of the training metrics of each session in the same graph. It also allows you to get an aggregation of the last me

[2018-10-01 19:29] nfelt commented on #1467
At this point, we have a few paths forward available:

A) Consolidate onto a single copy of SQLite.  This has three sub-options:

A1) Use TF's copy of SQLite.  This is a non-starter; we are aiming to eliminate the TF dependency anyway in the long term, and using the TF copy would require adding to TF either our own python sqlite wrapper or an entire existing one like pysqlite.

A2) Use python's co

[2018-10-01 21:42] #47 closed

[2018-10-01 23:20] stephanwlee commented on #56
Just tried it with TB 1.11 and I couldn't reproduce this on:
- Chrome: 69.0.3497.100
- Safari: 12.0
- Firefox: 60

[2018-10-01 23:20] #56 closed

[2018-10-01 23:29] stephanwlee commented on #90
Could not reproduce this on Firefox Quantum (60.0)

[2018-10-01 23:29] #90 closed

[2018-10-02 00:18] nfelt commented on #1473
@stephanwlee Hmm, #311 seems to be a PR about webfiles.zip, did you mean to reference another one?

There's also issue #554, which was addressed via #902 and #908.

[2018-10-02 00:27] nfelt commented on #1204
I agree that there should be some control when launching the projector about which type of analysis to do, and one of the options should be "no analysis" if the values are already 2 or 3 dimensional.  (I think the custom panel can be used to achieve this for 2 dims today, but I'm not entirely sure).  It could either be a splash screen that has you select the analysis to perform, or it could just c

[2018-10-02 11:15] persiyanov opened #1480 "Embedding projector hangs in version 1.11.0"
TensorBoard embedding projector hangs on a title "Computing PCA....". I solved this problem when downgraded both TF & TensorBoard to version 1.7.0.

- TensorBoard & TensorFlow version is **1.11.0**
 - OS Platform and version **Linux Ubuntu 16.04**
 - Python version **3.5**

The minimal example to reproduce the issue:

[code]

[2018-10-02 17:35] stephanwlee commented on #1480
Thanks for the issue with the sample code! I was able to reproduce this and I have a fix ready 😃

[2018-10-02 21:14] #1480 closed

[2018-10-03 10:53] stefan-falk commented on #1323
Getting the same issue.

I am able to fix this issue with the help of [this answer](https://stackoverflow.com/a/36257050/826983).
### Environment

[code]

[2018-10-05 01:04] nikhilsaldanha commented on #991
@lucadigiammarino Did you manage to fix this? I'm having the same problem. Essentially, the tensorboard is loading the results over time, as it would appear when the model is training. So I have to wait for as long as the model took to train to observe all the metrics.

[2018-10-05 07:46] kapilkd13 commented on #773
Hi @nfelt  I would like to take this. Can you point me to the files corresponding to the embedding projector. Also any suggstions/ideas?

[2018-10-05 12:59] lucadigiammarino commented on #991
No, I still have no idea of what is going on. I've tried TB for different projects and it does not often have this behaviour.

On Oct 5, 2018, at 3:04 AM, Nikhil Saldanha <notifications@github.com<mailto:notifications@github.com>> wrote:

@lucadigiammarino<https://github.com/lucadigiammarino> Did you manage to fix this? I'm having the same problem. Essentially, the tensorboard is loading the resul

[2018-10-05 18:14] ShashiUpadhyay opened #1494 "Tensorboard slow with S3"
Consider Stack Overflow for getting support using TensorBoard - they have a larger community with better searchability:

https://stackoverflow.com/questions/tagged/tensorboard

For bug reports, please include the following:

 - TensorBoard version  - 1.5.1
 - TensorFlow version if different from TensorBoard - No
 - OS Platform and version (e.g., Linux Ubuntu 16.04) - Tensorflow installed on EC2 in

[2018-10-08 03:56] miracode2033 commented on #982
I also have the same problem even though Tensorboards is blaming my CPU ...

![screenshot from 2018-10-08 06-54-02](https://user-images.githubusercontent.com/39874132/46591945-04a49e00-cac7-11e8-87b2-33071b51965c.png)

[2018-10-08 11:22] Dapid opened #1496 "Smoothing fails for constant scalars"
I have a network training where the learning rate didn't change:
![base](https://user-images.githubusercontent.com/1616942/46606313-bdd19b00-cafc-11e8-92bd-205d1cecb977.gif)

When applying smoothing, I get the following artefacts:
![smooth](https://user-images.githubusercontent.com/1616942/46606338-ebb6df80-cafc-11e8-8653-cf007e6ab08d.gif)

Note that when pushing smoothing all the way to 1 the lin

[2018-10-08 14:42] stefan-falk commented on #70
Totally agree. :)

[2018-10-08 14:45] stephanwlee commented on #982
Hi @miracode2033, it should be fixed in 1.10 or 1.11. You seem to be using 1.7.0

[2018-10-08 18:38] jameswex opened #1497 "Add ability to sample in what-if tool loading"
Instead of reading sequentially, add an option to randomly sample the examples from disk.

[2018-10-08 18:40] jameswex opened #1498 "Add progress indicator loading data in what-if tool"
When loading examples, display progress in the status message in what-if tool.

Also investigate if there are ways to speed up loading of examples from disk.

[2018-10-08 19:55] nfiedel commented on #1420
The Classification & Regression signatures are programming contracts, between the exporter of a model and the ecosystem of tooling that performs inference with them. This contract expects serialized input. Changing the contract to be un-typed, allowing any form of input whether serialized or not, would make it increasingly difficult to publish, share, deploy, or inspect SavedModels.

  A potential

[2018-10-08 20:35] Draichi commented on #1433
@nfelt Thanks dude :)

[2018-10-08 23:15] stephanwlee opened #1499 "Tag filtering can cause line charts to be stale"
Ever since the data-loader-behavior refactor, the tf-line-chart-data-loader may not load based on the latest data requirement when:

1. tag filter to show plots of the same set of runs
2. examine the first and the second tags. Make sure you remember the general shape or values of two plots
3. type a character to match the second tag but not the first one. does the first chart have the correct valu

[2018-10-09 03:59] miracode2033 commented on #982
Thank you @stephanwlee  Let me check it out.

[2018-10-09 13:39] jameswex opened #1502 "Add sequence example support to What-If Tool"
Allow loading of sequence examples in what-if tool

- Need to correctly parse and update sequence examples in python
- Need UI control for setting of sequence example mode
- Need facets dive to gracefully handle data from sequence examples
- Need to ensure servo classification/regression APIs can handle sequence examples

[2018-10-09 13:56] danijar opened #1503 "Custom scalars that aggregate selected runs"
Is it possible to use the custom scalar dashboard to aggregate over the currently selected runs? For example, I'd like to show the mean with a shaded standard deviation of the test accuracy.

[2018-10-09 17:01] gokul-uf commented on #349
I have this exact issue when using `rsync` to download data from a GPU cluster. I currently restart `tensorboard` every time I use `rsync` to get the updates. Seems one could use suggestions from [here](https://stackoverflow.com/questions/4708511/how-to-watch-a-directory-for-changes) to watch for updates in folders from `--logdir`.

I'd be happy to contribute if there's a fix that the devs agree u

[2018-10-09 20:28] jameswex commented on #1420
@guygeva , is it possible for you to change your model to take in serialized input as per the code above that does?

`features = tf.feature_column.make_parse_example_spec(my_feature_columns)
recvfn = tf.estimator.export.build_parsing_serving_input_receiver_fn(features)`

It seems that your use of `build_raw_serving_input_receiver_fn` causes the saved model to not take in serialized tf.examples as

[2018-10-09 21:32] malikaltakrori commented on #1421
I tried this. It doesn't work because here the embeddings are not saved. In Graph mode, the embeddings are saved as part of the model (in the checkpoint). Here (the above code, and the workaround) the embeddings are not saved anywhere, just the name, and the metadata.

[2018-10-10 13:47] Khyta commented on #251
Hey!
Does tensorboard support polymer 3.x? Because I'm developing a TesorBoard plugin.
Thanks!

[2018-10-10 14:42] manzagop opened #1506 "Incorrect flag parsing: purge_orphaned_data"
Hi!

Thanks for a great tool!

Issue: It is not possible to disable "purging of orphaned data" through the `purge_orphaned_data` flag.

 - TensorBoard version: TOT (guessing that's 1.11.0)
 - Python version 2.7

The problem is with the argparse flag parsing[1]: using type=bool means the string argument will be converted to boolean, e.g. bool('False') => True.

`import argparse
parser = argparse.Ar

[2018-10-10 14:44] stephanwlee commented on #251
@Khyta nope, not yet. We do intend to upgrade someday but we do not have a concrete plan around it.

[2018-10-10 18:52] nfelt commented on #1421
@malikaltakrori Yes, you'd still need to write out checkpoints under eager mode yourself, separately.  The workaround I suggested was only for fixing the call to `projector.visualize_embeddings()`, which by design only saves a config file and not the embeddings themselves.

[2018-10-10 18:58] nfelt commented on #349
@gokul-uf can you use `rsync --inplace` as a workaround?

Re: watching for updates, my understanding is that there is no single cross-platform way to do this, and it's impossible to do for remote filesystems that have no "filesystem notifications" API.  We're making some changes to how we traverse logdirs right now so I wouldn't want to complicate things further, but down the road we might conside

[2018-10-10 19:05] nfelt commented on #1503
This isn't possible today.  The custom scalars dashboard margin charts can show a "shaded region" around a line, but they all currently have to be explicitly constructed from fixed tags - there's no automatic aggregation/stddev computation.
https://github.com/tensorflow/tensorboard/blob/c6fc8d1ed9fd1062459cec13688d408d786a1ee6/tensorboard/plugins/custom_scalar/layout.proto#L45-L69

This would defi

[2018-10-10 19:06] nfelt commented on #1496
Duplicate of #786

[2018-10-10 19:07] nfelt commented on #1496
Yes, unfortunately this is a known issue with the current smoothing.  Please follow #786.

[2018-10-10 19:07] #1496 closed

[2018-10-12 15:19] #1497 closed

[2018-10-12 20:20] str4w opened #1514 "First Batch Normalization layer in a Keras-generated model appears to be connected to everything."
- TensorBoard version 1.10.0
 - TensorFlow version 1.10.0
 - OS Platform and version Windows 10 64bit and CentOS 6.9
 - Python version 2.7 and 3.6
 - For browser-related issues: n/a

When using tensorflow.keras to create a model, the first batchnormalization layer appears to be connected to all other batch normalization layers in the graph.  I think this is rendered incorrectly rather than built i

[2018-10-13 16:04] GeorgSatyros commented on #1111
Got this error when using tensorflow and tensorboard 1.7.0.Upgrading to tensorboard 1.8.0 fixed the issue, as @nfelt mentioned above.

[2018-10-15 08:59] anacej commented on #1027
are there any updates on this matter?

[2018-10-15 09:19] winnechan commented on #949
Hi, my graph appears a second and then disappers in the browser. After that, I want to export the PNG image and find that the image is 0 KB and the title says "graph_large_attrs_key=_too_large_attrs&limit_attr_size=1024&run=".
How to solve such a problem? Thanks!

[2018-10-15 14:49] elimohl opened #1515 "Images in tensorboard are not recognized as images in non chromium-based browsers."
No `View Image`, `Copy Image`, `Copy Image Location` items in context menu in Firefox and Palemoon.

 - TensorBoard version 1.6.0
 - TensorFlow version 1.6.0
 - Python version 3.6.4
 - Browsers Mozilla Firefox 62.0.3, Moonchild Productions Pale Moon 28.1.0

![screenshot_2018-10-15_17-45-25](https://user-images.githubusercontent.com/10729543/46958349-4d012480-d0a2-11e8-9b09-089b7c949a2a.png)

[2018-10-16 08:18] DmitryUlyanov opened #1518 "Smoothing depends on sequence length"
Hi,

It seems that the smoothing function somehow either peeks into the future or the visualization depends on the number of points in the sequence. Here is an example:

[code]

Here is the result with smoothing (0.96 or 0.996 as I recall) :
![screenshot from 2018-10-16 10-18-57](https://user-images.githubusercontent.com/6727524/46999137-787d2100-d12d-11e8-9f0f-693d8f436029.png)

I guess It is nat

[2018-10-16 18:54] manzagop opened #1519 "Fault tolerant event purging support for multi-machine summaries"
TensorBoard version: TOT (guessing that's 1.11.0)
Python version 2.7

I'm training on tpu and hitting trouble with valid events being purged. I believe the issue is both the coordinator and the worker write summaries, but only the coordinator writes session start events. These session starts are then used to incorreclty invalidate worker events.

Does this make sense?

Thanks.

[2018-10-17 06:03] Jeonguuz commented on #1111
@chihuahua thank you.
sudo pip3 install tb-nightly solved my problem.

[2018-10-17 06:43] qixiuai opened #1522 "Let users to choose the time interval of reloading data"
Now Tensorboard reloads data every 30s. Is it possible to make the time interval selectable for users?