[2019-06-22 12:38] kernelizd commented on #2348
My TF says:
AttributeError: 'RealInterval' object has no attribute 'sample_uniform'

[2019-06-22 12:57] kernelizd commented on #2348
Additionally, I got this error when I tried tf.linspace as you explained
TypeError: Object of type 'EagerTensor' is not JSON serializable

[2019-06-22 18:17] wchargin commented on #2348
The `sample_uniform` function requires TensorBoard 1.14.

You’ll need to convert tensors to plain values before serializing them
as hparams: either

[code]

or

[code]

or just use the numpy `linspace`:

[code]

[2019-06-22 20:17] ceevee830 commented on #2359
Hi Stephan,

So I copied the GRAPHS plugin dashboard, board, info, controls, etc to get the new signatures of the new TB v1.14 interface.  Where in the GRAPHS plugin is `document.createElement` used?  I cannot seem to find it.  Also, my plugin did not need `document.createElement` before - what changed?

[2019-06-22 20:53] kernelizd commented on #2348
Hi. Thanks, the suggestions worked. Apart from sample_uniform method. I'm using TF beta1 which is the latest, and it comes with tensorboard 1.14.0a20190603
Still says undefined method.

[2019-06-22 22:56] gogasca commented on #1063
[code]
`throttle_secs` and `save_checkpoints_steps` did the trick for me

[2019-06-23 07:08] wchargin commented on #2348
@kernelizd: `sample_uniform` was added in #2259, which merged on
2019-06-03, so it should have first appeared in the 2019-06-04 nightly.
Please upgrade to either latest `tb-nightly` or latest `tensorboard`.

[2019-06-24 09:12] vipulroxx opened #2377 "TensorBoard Error: Your CPU supports instructions that this TensorFlow binary was not compiled to use:AVX2"
I noticed that there is an earlier issue similar to this, but the issue was closed so I decided to make a new one since the suggestions weren't working.

[code]
My code did compile and it did create a ```log``` folder with profile directory and other files in the directory.

I ran this on the terminal(making sure that I am in the right path):
[code]
This is what I get as output
[code]
When I run t

[2019-06-24 09:41] #2377 closed

[2019-06-24 09:41] vipulroxx opened #2378 "TensorBoard Error: Your CPU supports instructions that this TensorFlow binary was not compiled to use:AVX2"
I noticed that there is an earlier issue similar to this, but the issue was closed so I decided to make a new one since the suggestions weren't working.

[code]
My code did compile and it did create a ```log``` folder with profile directory and other files in the directory.

I ran this on the terminal(making sure that I am in the right path):
[code]
This is what I get as output
[code]
When I run t

[2019-06-24 10:03] vipulroxx opened #2379 "PYYAML not found"
Running ```.to_yaml()``` on mac is giving me this error :
[code]
When I run pip install, it says that the package already exists.
[code]

How am I supposed to run it?

[2019-06-24 10:22] vipulroxx commented on #2379
So I figured in the above terminal output
``` File "/Users/vipulsharma/Library/Python/3.7/lib/python/site-packages/tensorflow/python/keras/engine/network.py", line 1560,```
This version of Python is different than the version here :
```Requirement already satisfied: pyyaml in /Users/vipulsharma/Library/Python/2.7/lib/python/site-packages (5.1.1)```.
So I tried installing yaml in
```/Users/vipulsha

[2019-06-24 12:37] ellonde commented on #2122
Arh yea, I can see that im not very specific, sorry about that :)

I was still getting `module 'tensorflow._api.v2.compat.v2.summary.experimental' has no attribute 'write_raw_pb'` as mentioned above. But i found the error, it was that I had tf2.0alpha and not beta. Its working now :+1:

[2019-06-24 12:55] morgangiraud commented on #1961
Hi @stephanwlee,

Thanks for your answer and your insights, I've been able to change my code a little bit and make tit work.  👍🏻
Just in case other people stumble upon this, the following is a small script that highlights one of the differences between `autograph.to_graph` and `tf.function`
[code]

Which outputs
[code]

[2019-06-24 13:23] tonysinghmss commented on #1775
I was facing similar issues and after making this change, it worked fine.

Now when I run the below code:
[code]

 I get this error as follows:

---------------------------------------------------------------------------
[code]

[2019-06-24 14:47] wchargin commented on #2379
Hi @vipulroxx! This looks like an issue with TensorFlow, not
TensorBoard. Please [open an issue over at the TensorFlow repository][1]
instead.

[1]: https://github.com/tensorflow/tensorflow/issues/new/choose

[2019-06-24 14:47] #2379 closed

[2019-06-24 15:11] stephanwlee commented on #2378
Hi @vipulroxx, the TensorFlow log (info) on CPU instruction can be ignored. What does your code look like and what is populated in the log_dir? How large is an event file in it? Also, when you say

Do you mean it is totally blank?

[2019-06-24 15:31] #2330 closed

[2019-06-24 15:40] jameswex commented on #1775
@tonysinghmss which notebook is this with? One of the ones provided? Or your own dataset/model. And can you provide details about your environment (TF version, witwidget version, python version, etc.). Thanks!

[2019-06-24 15:42] stephanwlee commented on #2359
I was trying to describe the internals of Polymer one does not need to know about. I brought it up while trying to explain why the `template` was empty and why you were only seeing `document-fragment` inside.

[2019-06-24 16:59] wchargin commented on #2376
For posterity: the symbol is `TensorBoard`, not `Tensorboard`.

[2019-06-24 16:59] #2376 closed

[2019-06-24 19:17] nfelt commented on #2378
Can you just try going to `http://localhost:6006` instead?  It looks like your MacBook Air's hostname is not one that actually resolves in DNS.

[2019-06-24 20:17] wchargin commented on #2122
Great; glad to here that upgrading fixed the issue.

[2019-06-25 06:27] tonysinghmss commented on #1775
This is the notebook that trains a linear classifier on the UCI census problem. I am working with Python 3.6.4, Tensorflow 1.14.0 and witwidget 1.2

[2019-06-25 06:53] vipulroxx commented on #2378
Thanks @stephanwlee for the help.

Thanks alot @nfelt . It wasn't resolving the DNS, and it worked with http://localhost:6006. You guys are great! Cheers :)

[2019-06-25 06:53] #2378 closed

[2019-06-25 13:11] jameswex commented on #1775
@tonysinghmss can you paste what the feature_spec and df.dtypes variables both contain? Thanks.

[2019-06-25 18:54] #2028 closed

[2019-06-26 06:43] tonysinghmss commented on #1775
df.dtypes is :

[code]

feature_spec is:

`{'Age': FixedLenFeature(shape=(), dtype=tf.int64, default_value=None), 'Workclass': FixedLenFeature(shape=(), dtype=tf.string, default_value=None), 'Education': FixedLenFeature(shape=(), dtype=tf.string, default_value=None), 'Marital-Status': FixedLenFeature(shape=(), dtype=tf.string, default_value=None), 'Occupation': FixedLenFeature(shape=(), dtype=tf.s

[2019-06-26 07:27] tonysinghmss commented on #1775
df.dtypes is :

[code]

feature_spec is:

`{'Age': FixedLenFeature(shape=(), dtype=tf.int64, default_value=None), 'Workclass': FixedLenFeature(shape=(), dtype=tf.string, default_value=None), 'Education': FixedLenFeature(shape=(), dtype=tf.string, default_value=None), 'Marital-Status': FixedLenFeature(shape=(), dtype=tf.string, default_value=None), 'Occupation': FixedLenFeature(shape=(), dtype=tf.s

[2019-06-26 07:27] tonysinghmss commented on #1775
df.dtypes is :

[code]

feature_spec is:
`
{'Age': FixedLenFeature(shape=(), dtype=tf.int64, default_value=None), 'Workclass': FixedLenFeature(shape=(), dtype=tf.string, default_value=None), 'Education': FixedLenFeature(shape=(), dtype=tf.string, default_value=None), 'Marital-Status': FixedLenFeature(shape=(), dtype=tf.string, default_value=None), 'Occupation': FixedLenFeature(shape=(), dtype=tf.s

[2019-06-26 07:27] tonysinghmss commented on #1775
df.dtypes is :

[code]

[2019-06-26 07:28] tonysinghmss commented on #1775
df.dtypes is :

Age                int64

Workclass         object

fnlwgt             int64

Education         object

Education-Num      int64

Marital-Status    object

Occupation        object

Relationship      object

Race              object

Sex               object

Capital-Gain       int64

Capital-Loss       int64

Hours-per-week     int64

Country           object

Over-50K           i

[2019-06-26 07:28] tonysinghmss commented on #1775
df.dtypes is :

Age                int64

Workclass         object

fnlwgt             int64

Education         object

Education-Num      int64

Marital-Status    object

Occupation        object

Relationship      object

Race              object

Sex               object

Capital-Gain       int64

Capital-Loss       int64

Hours-per-week     int64

Country           object

Over-50K           i

[2019-06-26 07:28] tonysinghmss commented on #1775
df.dtypes is :

Age                int64
Workclass         object
fnlwgt             int64
Education         object
Education-Num      int64
Marital-Status    object
Occupation        object
Relationship      object
Race              object
Sex               object
Capital-Gain       int64
Capital-Loss       int64
Hours-per-week     int64
Country           object
Over-50K           int32
dtype: ob

[2019-06-26 07:28] tonysinghmss commented on #1775
df.dtypes is :

Age                int64
Workclass         object
fnlwgt             int64
Education         object
Education-Num      int64
Marital-Status    object
Occupation        object
Relationship      object
Race              object
Sex               object
Capital-Gain       int64
Capital-Loss       int64
Hours-per-week     int64
Country           object
Over-50K           int32
dtype: ob

[2019-06-26 07:28] tonysinghmss commented on #1775
df.dtypes is :

Age                int64
Workclass         object
fnlwgt             int64
Education         object
Education-Num      int64
Marital-Status    object
Occupation        object
Relationship      object
Race              object
Sex               object
Capital-Gain       int64
Capital-Loss       int64
Hours-per-week     int64
Country           object
Over-50K           int32
dtype: ob

[2019-06-26 07:30] tonysinghmss commented on #1775
df.dtypes is :

[code]

feature_spec is:
`
{'Age': FixedLenFeature(shape=(), dtype=tf.int64, default_value=None), 'Workclass': FixedLenFeature(shape=(), dtype=tf.string, default_value=None), 'Education': FixedLenFeature(shape=(), dtype=tf.string, default_value=None), 'Marital-Status': FixedLenFeature(shape=(), dtype=tf.string, default_value=None), 'Occupation': FixedLenFeature(shape=(), dtype=tf.s

[2019-06-26 07:30] tonysinghmss commented on #1775
df.dtypes is :

[code]

feature_spec is:
`
{'Age': FixedLenFeature(shape=(), dtype=tf.int64, default_value=None), 'Workclass': FixedLenFeature(shape=(), dtype=tf.string, default_value=None), 'Education': FixedLenFeature(shape=(), dtype=tf.string, default_value=None), 'Marital-Status': FixedLenFeature(shape=(), dtype=tf.string, default_value=None), 'Occupation': FixedLenFeature(shape=(), dtype=tf.s

[2019-06-26 08:34] KOLANICH opened #2387 "Listen only localhost by default"
By default tensorbord listens all interfaces, which may be a security issue. IMHO by default it should listen only on localhost, and if one uses it on a server, he usually configures the stuff, so it is not an issue for him.

[2019-06-27 17:58] AlliedToasters opened #2391 "Modify Label Font in Projections?"
I'm visualizing some category embeddings using the projections feature. I would like to see the labels, but when I turn on "label by, label", I get labels that are too small to read:

![Screenshot from 2019-06-27 14-55-57](https://user-images.githubusercontent.com/27147422/60289078-fbc15a00-98eb-11e9-9037-34f9904b1953.png)

Is there any way to modify the font size on those labels so I can read the

[2019-06-27 21:13] #2359 closed

[2019-06-28 01:14] nfelt commented on #2387
Thanks for the feedback, and yes, our current thinking is that we'll cut over to listening on localhost only by default for our 2.0 release, though there are a few details to work out around making sure it's easy for users who want the current behavior to still get it.  Stay tuned.

[2019-06-28 03:22] duancaohui opened #2399 "tensorflow beta0 or 1, tensorboard: Windows fatal exception: access violation"
# Environment information (required)
Windows 10
RTX 2080 Ti
tensortlow-gpu== 2.0.0beta1
CUDA 10.0, CUDNN cudnn-10.0-windows10-x64-v7.4.2.24

## Issue description
When I update my `tensorflow-gpu==alpha0` to `tensorflow-gpu== 2.0.0beta1`，I open  tensorboard to view my training process,
[code]
However, when I open the chrome and visit the site, a mistake arised as follows:
[code]

Therefore, I re-in

[2019-06-28 14:36] koulanurag opened #2400 "Legend and axis labels in downloaded svgs'"
Hi,
I was wondering if there is a way of having legend and axis labels in downloaded svg's from tensorboard without re-plotting the data using another library.

Thanks,
Anurag Koul

[2019-06-28 16:58] stephanwlee commented on #2400
It definitely should be possible and I would imagine the necessary change going somewhere near https://github.com/tensorflow/tensorboard/blob/master/tensorboard/components/vz_line_chart2/line-chart-exporter.ts.

This is not our priority at the moment but we welcome contributions!

[2019-06-28 17:17] koulanurag commented on #2400
Thanks , I will try to give it a try.

[2019-06-28 19:07] nfelt commented on #2399
It sounds like reinstalling `tensorflow-gpu` fixed the issue, and it's not clear to me from the thread dump what the problem might have been, so I'll go ahead and close this out.  If you end up seeing this repeatedly and can reproduce the issue from a clean install (see e.g. the issue instructions), feel free to comment and we can re-open.

[2019-06-28 19:07] #2399 closed

[2019-06-28 22:21] yfCanada commented on #2039
I observe the same thing.
Ubuntu 18.04
TensorFlow 1.13.1
TensorBoard 1.13.1
Python 3.6.8
CUDA: 10.0

Are there any updates/ways to access compute time stats on GPU?

[2019-06-28 23:16] stephanwlee opened #2403 "Polymer 2: hparams weird when you visit graph plugin before"
If you visit graph plugin before hparams plugin is stamped, you get below UI.

![image](https://user-images.githubusercontent.com/2547313/60375815-02b99c80-99c0-11e9-8453-a6a3c3b01bd5.png)

Do notice the large chevron down on the paper-dropdown.
This problem is unique in Polymer2.

[2019-06-29 03:35] mmehedin commented on #2226
after pip uninstall tensorflow
and pip uninstall tensorboard

pip install -q tf-nightly

ERROR: Cannot uninstall 'wrapt'. It is a distutils installed project and thus we cannot accurately determine which files belong to it which would lead to only a partial uninstall.

[2019-06-29 17:02] williamFalcon commented on #46
[Test Tube](https://github.com/williamFalcon/test-tube)

[2019-07-01 20:12] bionicles commented on #32
seems critical to have plots for publication, otherwise why not just use matplotlib?

[2019-07-01 20:48] brunapinos commented on #1952
I think this issue can be closed!

[2019-07-01 21:01] wchargin commented on #1952
Yep; thanks!

[2019-07-01 21:01] #1952 closed

[2019-07-01 21:37] peps0791 commented on #2078
Why not make use of the [tensorflow projector website](https://projector.tensorflow.org/) inside of an iFrame in you web app?
You can create a shareable link with your own data and metadata with tensorflow projector and use that link inside an iframe in your own website.
I tested this on the w3schools iframe tutorial page and seems to be working fine.

![Screenshot from 2019-07-01 14-34-14](https:

[2019-07-02 01:26] xxllp opened #2404 "html show error"
Consider Stack Overflow for getting support using TensorBoard—they have
a larger community with better searchability:

https://stackoverflow.com/questions/tagged/tensorboard

Do not use this template for for setup, installation, or configuration
issues. Instead, use the “installation problem” issue template:

https://github.com/tensorflow/tensorboard/issues/new?template=installation_problem.md

To

[2019-07-02 01:28] xxllp commented on #2404
I  have train an    tf.estimator  model

[2019-07-02 01:32] stephanwlee commented on #2404
Can you please fill out the information requested in the template? Thanks!

[2019-07-02 01:36] xxllp commented on #2404
64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
W0702 08:56:11.323602 Reloader tf_logging.py:120] Found more than one graph event per run, or there was a metagraph containing a graph_def, as well as one or more graph events.  Overwriting the graph wi
th the newest event.
W0702 08:56:11.323602 26252 tf_logging.py:120] Found more than one graph event per

[2019-07-02 01:37] xxllp commented on #2404
also  I have try use one event ，but also get the html

[2019-07-02 02:46] wchargin commented on #2404
Hi @xxllp—you’ll need to fill out the requested information for us to
understand what’s going on:

[2019-07-02 06:46] silky commented on #1740
what ever happened here? anthing? @nfelt

[2019-07-02 09:17] xxllp commented on #2404
<details>
<summary>Diagnostics output</summary>

[code]

[2019-07-02 09:25] #2404 closed

[2019-07-02 14:39] KOLANICH opened #2405 "XY-plots"
XY-plot

They should look like histograms, but
1 every point has 0 width
2 custom color provided as a tensor (optiknally)
3 custom marker for each point
4 it should be selectable if points should be connected by a line or not

[2019-07-02 17:12] wchargin commented on #1740
@silky: Nope, there hasn’t been any work on this issue.

[2019-07-02 18:29] mateuszbuda commented on #469
As a workaround, I downloaded images for a specific step using wget:

[code]

You just need to know run, tag, and step index.

[2019-07-02 20:14] wchargin commented on #2405
Hi @KOLANICH—thanks for the suggestion. Can you give us a bit more
background about the kinds of curves that you’re interested in plotting?
For instance, we have an existing dashboard for plotting PR curves over
time:
<https://github.com/tensorflow/tensorboard/blob/1.14/tensorboard/plugins/pr_curve/README.md>

[2019-07-03 00:19] cliffwoolley commented on #1956
At NVIDIA, we deliver TensorBoard as well as Jupyter in our NGC containers, and it came up today that we have the problem described in this issue as well when combining the two.  Unfortunately, from inside the container, we won't be able to know what the host's IP address is, so while the default `%tensorboard` magic parameter for `--host=0.0.0.0` works fine for us, the browser (which may be runni

[2019-07-03 05:32] KOLANICH commented on #2405
I am predicting parameters of a distribution. So for visual control I may want to plot reference PDF and the PDF I get from the paramaters predicted by network on the current step for some samples.

[2019-07-03 05:36] gupta-vivek opened #2408 "Tensorboard Graph is different when using File Writer as opposed to Tensorboard callback"
The graph generated using tensorboard callback and the graph generated using FileWriter are different. Also, I am not able to retrieve scalar values when using FileWriter. Why is the behaviour different when using FileWriter? What changes should be done in FileWriter to get the graph and results similar to as when tensorboard callbacks are used? I have added the code as well as the tensorboard ima

[2019-07-03 13:15] leedongjae0611 opened #2409 "Does hparams not return best model?"
Like GridSearchCV returns best model,
Can I find the best model without looking directly at the results stored on the tensorboard?

[2019-07-03 14:48] stephanwlee commented on #2408
I have not looked at your graphs yet but for your second code where scalar chart is missing, you want to set writer as default before train_step.
[code]

I can see why this is confusing but trace is for graph collection and profiling at the moment.

[2019-07-03 16:53] wchargin commented on #2409
Hi @leedongjae0611! The TensorBoard HParams dashboard doesn’t perform
the tuning for you. You can use it to visualize results from whatever
tuner you like. There isn’t a programmatic interface to select the best
model, no, because tuners (like `GridSearchCV`) usually provide that
already.

[2019-07-03 16:53] #2409 closed

[2019-07-03 20:52] wchargin commented on #2405
That’s helpful; thanks. This doesn’t sound like it fits into any of the
existing dashboards, so I’ve tagged it as a new plugin request.

We’re unlikely to add first-class support for this any time soon, but we
are working on improving the plugin mechanism to make it easier for
contributors like yourself to add such plugins. Preliminary versions are
available now in the [example plugin directory][1

[2019-07-04 05:51] gupta-vivek commented on #2408
@stephanwlee Thanks. Now I am getting the scalar chart. :)

[2019-07-04 22:29] lobachevzky opened #2411 "data slow to display"
Consider Stack Overflow for getting support using TensorBoard—they have
a larger community with better searchability:

https://stackoverflow.com/questions/tagged/tensorboard

Do not use this template for for setup, installation, or configuration
issues. Instead, use the “installation problem” issue template:

https://github.com/tensorflow/tensorboard/issues/new?template=installation_problem.md

To

[2019-07-05 03:42] rmothukuru commented on #2411
@lobachevzky ,
Thank you for reaching out. You have mentioned that you have provided the link for **diagnose_tensorboard.py** but it is not present. Can you please share the same so that we can reproduce the bug at our end.

[2019-07-05 20:15] lobachevzky commented on #2411
The link where I downloaded the script is https://raw.githubusercontent.com/tensorflow/tensorboard/master/tensorboard/tools/diagnose_tensorboard.py.

[2019-07-06 16:20] WuJunde commented on #2399
I meet the similar problem and reinstalling doesn't work

`Windows fatal exception: access violation

Current thread 0x00001548 (most recent call first):
  File "c:\programdata\anaconda3\lib\site-packages\tensorflow\python\lib\io\file_io.py", line 384 in get_matching_files_v2
  File "c:\programdata\anaconda3\lib\site-packages\tensorflow\python\lib\io\file_io.py", line 363 in get_matching_files
  F

[2019-07-08 08:51] SumNeuron opened #2412 "TensorBoard not automatically refreshing after 45 / 200 epochs in both Firefox and Google Chrome"
## Environment information (required)

Please run `diagnose_tensorboard.py` (link below) in the same
environment from which you normally run TensorFlow/TensorBoard, and
paste the output here:

<details>
<summary>Diagnostics output</summary>

[code]

</details>

For browser-related issues, please additionally specify:

chrome: Version 74.0.3729.131 (Official Build) (64-bit)
Firefox: 67.0.4 (64-bit

[2019-07-08 09:53] wkoziej opened #2413 "Tensorboard does not display more then 100 bounding boxes"
## Environment information (required)

Please run `diagnose_tensorboard.py` (link below) in the same
environment from which you normally run TensorFlow/TensorBoard, and
paste the output here:

### Diagnostics

<details>
<summary>Diagnostics output</summary>

[code]

</details>

### Suggestion: Fix permissions on "/tmp/.tensorboard-info"

The ".tensorboard-info" directory was created by an old vers

[2019-07-08 18:25] wchargin commented on #2399
Hi @WuJunde—it looks like all the potentially problematic stack frames
are in TensorFlow’s `file_io.py`. (The only TensorBoard stack frame is
in [a call to `sleep`][1], and the rest are from the Python standard
library.)

Could you please [report this as a TensorFlow bug][2]?

[1]: https://github.com/tensorflow/tensorboard/blob/426786212a709e0d30eeaa6726b6554752057468/tensorboard/backend/applicati

[2019-07-08 18:45] wchargin commented on #2412
Hi @SumNeuron—thanks for the report. You may be running into #2084.
Could you try adding `profile_batch=0` to your Keras callback and seeing
if that fixes the problem?

[2019-07-08 18:49] gowtham-kp commented on #2412
@SumNeuron Did you write all the log files in the same directory? TensorBoard doesn't like it when you write multiple event files from separate runs in the same directory. It will be fixed if you use a new subdirectory for every run (new hyperparameters = new subdirectory)

[2019-07-08 18:59] stephanwlee commented on #2411
Hi @lobachevzky, thanks for creating the issue. I need a bit more information here though.

How large is your logdir? So there are multiple things at play here.
We reload/re-"index" event files every 5 seconds after an indexing is complete.
https://github.com/tensorflow/tensorboard/blob/20c79db625deb7f958e5b50536823507f1d117ad/tensorboard/plugins/core/core_plugin.py#L325-L329
When logdir is huge,

[2019-07-08 22:19] stephanwlee commented on #2413
I believe this is an issue with the model. Please refer to the linked TensorFlow bug: https://github.com/tensorflow/tensorflow/issues/30464

Will reopen if the bug is confirmed to be of TensorBoard's.

[2019-07-08 22:19] #2413 closed

[2019-07-09 10:07] SumNeuron commented on #2412
@wchargin first thanks for your time and insight, what exactly is `profile_batch=0` I do not see it in the defs of keras callbacks

[2019-07-09 16:15] lobachevzky commented on #2411
I can reproduce this issue with nothing else in the logdir, though the logdir's parent is very large.

[2019-07-09 16:43] wchargin commented on #2412
It’s a keyword argument to the `keras.callbacks.TensorBoard` callback:

<https://www.tensorflow.org/api_docs/python/tf/keras/callbacks/TensorBoard?hl=en#arguments>

(This was introduced in TensorFlow 1.14, so you won’t see it in
documentation from earlier versions.)

[2019-07-09 17:04] stephanwlee commented on #2411
What's the size of the logdir (not the parent)?

[2019-07-09 18:59] minnielxy opened #2415 "Tensorboard in google cloud: Hyparams not showing"
Chrome Version 75.0.3770.100 (Official Build) (64-bit)

## Issue description
The hyperparameter_tuning_with_hparams.ipynb runs perfectly fine in Colab. However, after I paste the code to the JupyterLab notebook on google cloud, the hyparams in tensorboard is not showing.
![image](https://user-images.githubusercontent.com/49539430/60915581-feec0c80-a240-11e9-8253-547121b43af8.png)

[2019-07-09 21:39] wchargin opened #2416 "Drop support for legacy text data format by TF 2.0"
TensorBoard’s text plugin primarily reads data from events files, like
most other plugins. But it also supports a legacy format that was used
prior to TensorFlow v1.3.0, in which text data is stored in a
`tensors.json` file inside the plugin assets directory.

The text summary TensorFlow op was changed to use the new form in
TensorFlow commit [1e8d1fe6c3], and the dead code path was removed
entire

[2019-07-10 03:33] lobachevzky commented on #2411
4k.

[code]

[2019-07-10 10:19] SumNeuron commented on #2412
ah, well @wchargin this seesm to resolve the issue

[2019-07-10 16:44] #1103 closed

[2019-07-10 19:04] wchargin commented on #2412
Glad to hear it, and thanks for posting back to let us know.

[2019-07-10 19:05] #2412 closed

[2019-07-10 19:11] nfelt commented on #1740
FWIW, there has been work on the second paragraph of my previous comment, for third-party dynamic plugins: https://github.com/tensorflow/community/blob/master/rfcs/20190411-tensorboard-improved-plugin-ext.md

[2019-07-10 19:35] nfelt commented on #2416
+1 to this.  I added it to the 2.0 project tracker.

[2019-07-10 21:31] gowtham-kp commented on #2415
@minnielxy Are the scalars and graphs showing?

[2019-07-10 22:11] magikyoung commented on #2296
You can try to ignore wrapt at the first time:
pip install XXX --ignore-installed

After installation finishes, reinstall wrapt to the specified version:
pip install wrapt==1.10.0 --ignore-installed

[2019-07-11 06:35] #2296 closed

[2019-07-11 17:51] #296 closed

[2019-07-12 00:15] graham63 opened #2418 "Image summary: adding more info to tags"
I would like to add more info to the images being displayed. For example, I would like to use a unique tag for all the mis-categorized images for the first epoch, then use the same tag if those images are mis-categorized in the second epoch, so they will be grouped together. I would also like to display info about what category the image belonged in vs what category the program placed it in. Is th

[2019-07-12 05:39] stephanwlee commented on #2418
@graham63 thanks for the issue. I might be mistaken but I believe all you are describing is mostly supported.

https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/summary/image

First off, the `name` parameter (tag) can have slashes to create a grouping of tags (e.g., `foo/bar/baz`) so in an epoch, you can write out images that have unique names but with some kind of grouping.

To group im

[2019-07-12 16:03] TheGuywithTheHat commented on #1439
I think this is because the current algorithm essentially sets each smoothed point to the weighted average of all original data points that come _before_ it in the series. Relevant code here: https://github.com/tensorflow/tensorboard/blob/cbfa27d2b3277adaf8dada16b2856527a830c7bc/tensorboard/components/vz_line_chart/vz-line-chart.ts#L1029-L1064

Current policy on the smoothing algorithm, from https

[2019-07-12 17:12] JoschuaXner opened #2421 "Tensorboard Projector - cosine distance "Nearest points in the original space" not correct"
## Environment information (required)
[code]
## Issue description

I am currently visualizing word embeddings (shape=60,300) from my TensorFlow model in the TensorBoard Projector and i am having troubles with the cosine distance.

The displayed distances distort the results and doesn't match the real cosine distances.

This was a test run with different category embeddings:

- TensorBoard:
![sklea

[2019-07-15 00:22] damienpontifex opened #2424 "Support filesystems from tensorflow/io"
The tensorflow/io repository has other file systems implemented such as azure blob storage as of 0.7.0. Currently running with these returns 'UnimplementedError: File system scheme 'az' not implemented' which makes sense.

I'm wondering what we could do here so we can utilise the file systems from tensorflow/io as log directories when launching tensorboard from the terminal?

[2019-07-15 09:33] rmothukuru commented on #2424
Please provide details about what platform you are using (operating system, architecture).

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https://github.com/tensorflow/tensorflow/issues/new/choose).

We ask for this in the issue submiss

[2019-07-15 15:47] stephanwlee opened #2425 "cleanup: remove type error suppression in webcomponents-externs"
`let` statements in https://github.com/Polymer/polymer/blob/2.x/externs/webcomponents-externs.js causes serious type error like below:
[code]

Newer externs for (v3; internal version matches that of v3) seems to be okay.
https://github.com/Polymer/polymer/blob/master/externs/webcomponents-externs.js

[2019-07-15 16:20] menon92 commented on #2240
@maxstrobel I'm facing same issue. Do you solve it ?

[2019-07-15 19:58] #2418 closed

[2019-07-16 02:03] Remember2018 opened #2431 "Request help on how to get data from tensorboard event file"
Hi there, is there any way to get the detail data for each step from the tensorboard event file? For example, the total loss is recorded in the event file. And from the browser we can see the curve. Is there any way to export the loss in each point from the event file? Could anyone give some advice, please? Thanks.

[2019-07-16 04:56] damienpontifex commented on #2424
This is a feature request as I'm pretty sure it's not a bug as it was never intended to work with the io repo as it hadn't existed in the past.

But requested details are:
**System information**
- TensorFlow version: 1.14/0
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
Feature - use file systems from tensorflow/io repo or tensorflow-io p

[2019-07-16 09:12] maxstrobel commented on #2240
Hi @menon92,

No I did not dive deeper into it. However, the issue seems to be also present in TF2.0.
If I find time and look deeper into this, I will share my findings.

[2019-07-16 17:31] bileschi commented on #2431
Hi!
The event file format is this protobuffer.   Standard protobuffer tooling should work for you.
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/util/event.proto

This stack overflow question seems to have satisfactory answers:
https://stackoverflow.com/questions/37304461/tensorflow-importing-data-from-a-tensorboard-tfevent-file

[2019-07-16 17:31] #2431 closed

[2019-07-16 17:52] nfelt commented on #2424
Thanks for the feature request.  I am not very familiar with tensorflow/io, but I think it may be the case that for the parts of it that enable additional schemes within `tf.gfile` (which appears to be the case from the [example for azure](https://github.com/tensorflow/io/tree/master/tensorflow_io/azure)), what's needed is basically just to load the tensorflow/io shared object, i.e. the code here:

[2019-07-16 20:24] damienpontifex commented on #2424
Thanks @nfelt for the guidance
I’ll try it out and make a PR

[2019-07-16 20:44] nfelt commented on #2240
cc @caisq FYI re tensor visualization

[2019-07-16 21:28] nfelt commented on #2421
cc @dsmilkov @nsthorat I think this functionality has been in the projector for a while, so I doubt it's changed lately.  Any thoughts?

[2019-07-17 03:10] Jakkiejinn commented on #2279
hi guys,
I think that is because profiler_outdir or log_dir issue. As below codes in tensorflow:
 plugin_dir = os.path.join(
      logdir, 'plugins', 'profile',
      datetime.datetime.now().strftime('%Y-%m-%d_%H-%M-%S'))
  gfile.MakeDirs(plugin_dir)

if you name your dir with './log/fit/' , above codes will pop up error, if you write as '.\\log\\fig\\' will not pop up error.

[2019-07-17 03:39] wchargin commented on #2279
That sounds like you’re running into tensorflow/tensorflow#26021, then:
<https://github.com/tensorflow/tensorflow/issues/26021>

TL;DR: Due to a current bug in TensorFlow, on Windows, if your path
contains any forward slashes then it should not contain any backslashes.
Thus, `os.path.join(logdir, "foo")` will hit this bug if `logdir`
contains any forward slashes.

In the meantime until this bug is

[2019-07-17 03:39] #2279 closed

[2019-07-17 04:44] yfarjoun commented on #1994
So, I'm have more time to investigate this now, and I'm confused about your comment @Harshini-Gadige. I only see versions up to 1.13.1 on conda and 1.14 in github. Can you clarify your question:

Regarding your other questions:
not sure how to create a minimal example, but so I'll add the relevant pieces:

[code]
- TensorBoard 1.11.0
- Both mac OSX (on CPU) and "Amazon" linux
- Python 2.7

[2019-07-17 04:47] yfarjoun commented on #1994
the one comment I should probably make is that my data isn't shaped like images. its shape is
samplesx200x6 (can be thought of as single channel image, or a 6 channel "strip")

[2019-07-17 06:48] rmothukuru commented on #2155
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-17 09:09] wushixong opened #2432 "parameters of UMAP"
I have tried the marvelous Embedding Projector in https://projector.tensorflow.org, and I found that UMAP can help me a lot. So I try to use the UMAP Python package，but I can not get the same visualization result even I set the same parameters as  Embedding Projector. As far as I know, there are other several  parameters of UMAP which are not be shown in Embedding Projector website. Can I get the

[2019-07-17 10:56] omarzouk opened #2433 "Audio controls disabled when using tf.summary.audio"
I can confirm this issue both on Mac and Windows. I'm using fresh installations of Tensorboard (1.4.0) and Tensorflow (1.4.0) on both environments.

Browser: Chrome 75.0.3770.100

## Issue description

I'm trying to use `tf.summary.audio`. Upon loading tensorboard, the audio controls are shown, with the correct file duration, but the play button is disabled. I do not see any errors in my browser c

[2019-07-17 13:44] krish-penumarty commented on #251
@wchargin - Is there a reason to move to Polymer 2 rather than directly go to Polymer 3? Just wondering what the justification for that was?

[2019-07-17 15:51] stephanwlee commented on #251
@krish-penumarty it is for less code change.

Polymer 1 -> Polymer 2: introduces Shadow DOM v1
Polymer 2 -> Polymer 3: remove HTML import and Vulcanization.

In order to go from Polymer 1 to Polymer 3, we'd have to change our code to make it Shadow DOM v1 compliant and remove HTML imports at the same time which would make the diff overwhelming.

[2019-07-17 16:09] stephanwlee commented on #2155
@rmothukuru this was asked few times at TensorBoard SIG and I would like to use  this issue to track the concern/feature request.

[2019-07-17 17:00] nfelt commented on #2432
Thanks for your question.  I believe @cannoneyed would be the best person to answer this question since he worked on the UMAP support, but he's out right now so it may take a while to get to this.

[2019-07-17 17:02] nfelt commented on #2433
Have you confirmed that the browser can play your audio file if opened directly in the browser?  E.g. on mac, navigating to a URL like `file:///path/to/testCropped.wav`?  If that doesn't work the issue would likely be with the audio file itself.

If that does work but TensorBoard still doesn't, is there a way you can provide the actual audio file so that the code is self-contained?  Otherwise ther

[2019-07-17 17:49] omarzouk commented on #2433
yes it plays fine, I can also confirm it for `ogg`. I can't distribute that file in particular due to licensing, but I have also tested my code with [this file](https://file-examples.com/wp-content/uploads/2017/11/file_example_WAV_1MG.wav) and I can confirm that it reproduces the problem. The new file is also playable in my browser normally.

[2019-07-17 18:01] Queuecumber opened #2435 "Deleted Runs Still Show on UI"
### Diagnostics

<details>
<summary>Diagnostics output</summary>

[code]

</details>

### Next steps

No action items identified. Please copy ALL of the above output,
including the lines containing only backticks, into your GitHub issue
or comment. Be sure to redact any sensitive information.

## Issue description

In previous tensorboard versions when I deleted a run from disk it would disappear

[2019-07-17 18:05] #2416 closed

[2019-07-17 18:49] stephanwlee opened #2437 "Debugger double stamps when loaded with event files without scalars"
Repro step:
1. `tensorboard --logdir foobar_idontexist --debugger_port 6007`
2. open tensorboard
3. it should open the debugger plugin because it is the only active plugin
4. notice that in the DOM, the scaffold for scalar plugin contains tf_debugger_dashboard.

This is not working as intended and, thus, is a bug.

Note that this is _not_ reproducible for images dashboard (and potentially others).

[2019-07-17 20:17] gowtham-kp commented on #2415
Closing this issue as this has been in awaiting response for more than 7 days. Please add additional comments and we can reopen the issue again. Thanks!

[2019-07-17 20:17] #2415 closed

[2019-07-17 21:01] caisq commented on #2437
@stephanwlee It turns out: even if tensorboard points to a non-empty logdir, the double stamping still happens if I navigate directly to the "host:port/#debugger" URL. It doesn't happen, if I navigate to the "host:port/#scalar" first and *then* navigate to "host:port/#debugger"

[2019-07-17 23:53] cannoneyed commented on #2432
I'll be back on Monday, so I can try to schedule some time to add support for the additional hyperparameters (which are all supported in UMAP, just not in the embedding projector).

[2019-07-18 00:07] thincal opened #2438 "About the tensorboard without tensorflow"
I just want to know when the tensorboard installed without tensorflow, which feature set will be missed in the tensorboard? I don’t find the detailed info from the document just be noticed this from the log. Thanks

[2019-07-18 03:29] wushixong commented on #2432
wow, thanks for your prompt attention to the matter.

[2019-07-18 03:32] wushixong commented on #2432
good to hear!  waiting for good news

[2019-07-18 06:30] Elysaveth opened #2440 "HParams Session Group Name."
When setting hyper parameter tuning, there is no way to pass a session group name.  following the folder name convention would be helpful to distinguish them.
<img width="1006" alt="HParams Table View" src="https://user-images.githubusercontent.com/48067332/61434444-d4f2b400-a8ea-11e9-9d7e-36b81a4eb164.png">

[2019-07-18 11:50] omarzouk commented on #2433
Ok, so turns out it works on Microsoft Edge browser....

I noticed that the audio was bad, and the reason was that I had a low samples per second because I missed a 0 `samples_per_second=1600`. Upon changing this to 16,000, it started working on Chrome again.

So apparently Chrome doesn't play audio if it has too few samples per second.

[2019-07-18 13:24] AlirezaAlizadeh opened #2441 "Tensorboard does not show real-time updates while training without Tensorflow installation."
I have a PyTorch based model and I log some metrics using the `SummaryWriter` from `torch.utils.tensorboard`.

The problem is that if I don't install the Tensorflow, the Tensorboard does not show the updated logs although it refreshes the page (or graphs), and to see the updates, I have to kill and restart the Tensorboard.

The problem got fixed after I installed the Tensorflow.

P.S.
torch versio

[2019-07-18 16:17] wchargin commented on #2440
Hi @Elysaveth! Thanks for the suggestion. We’d [discussed this a bit
before][1] and decided that it was a good idea, but I never got around
to implementing it. I’ll see if I can do that today.

[1]: https://github.com/tensorflow/tensorboard/issues/1998#issuecomment-490944873

[2019-07-18 16:38] thegrims commented on #94
@dsmilkov @jart I'm working on customizing the standalone embeddings projector, could you point to where the serving-mode is set to demo vs server or proto? I dug around a while in the codebase but wasn't able to find anything.

[2019-07-18 19:35] gowtham-kp commented on #2441
@AlirezaAlizadeh A few of the packages of Tensorboard is dependent on Tensorflow. So, its necessary to install Tensorflow before running Tensorboard. Hope that helps. Thanks!

[2019-07-18 21:57] #2438 closed

[2019-07-18 22:56] nfelt commented on #2433
Glad you were able to figure out the issue, thanks for following up.

[2019-07-19 01:20] #2440 closed

[2019-07-19 01:30] wchargin opened #2446 "Inactive dashboards menu is unstyled"
On HEAD (192ab46d), but not in today’s nightly (1.15.0a20190718):

![Screenshot of inactive dashboards menu](https://user-images.githubusercontent.com/4317806/61502729-db843880-a989-11e9-81f1-89077f69088a.png)

Note the white (not orange) background and the lowercase selected plugin.

Probably related to Polymer 2 changes?

[2019-07-19 03:58] rmothukuru commented on #2350
@chinmay5 ,
Can you please let us know if your issue is resolved.

If not, can you please let us know which version of Tensorflow you are using and can you also share the Google Colab, as requested by @wchargin. Thanks.

[2019-07-19 04:33] stephanwlee commented on #2446
Yup, it is Polymer 2 change. Couldn't exactly find the source of the visual regression at the time but I will soon be able to visit this.

[2019-07-19 07:20] chinmay5 commented on #2350
@rmothukuru  sorry for the delay. The only way things kept working was if I reset the runtime and often, shutdown the runtime. The issue still occurs but what I have now is sort of a patch fix.

[2019-07-19 07:20] #2350 closed

[2019-07-19 09:09] AlirezaAlizadeh commented on #2441
Thank you @gowtham-kp,
However, seeing the basic metrics logs in Tensorboard on the fly, independent to the installation of Tensorflow, seems to be an essential feature.
Would that make sense to include it in the future releases of Tensorboard?

[2019-07-19 15:20] krish-penumarty commented on #251
@stephanwlee Thank you for sharing!

[2019-07-19 15:46] caisq opened #2447 "Polymer 2.7 upgrade: JSComp mangles certain function names"
https://github.com/tensorflow/tensorboard/pull/2392 caused the following problem in the debugger plugin:
method _renderLatest not defined

This happens during stepping through the graph. The rows in the tensor summary table that are supposed to appear don't appear correctly.

@stephanwlee suggested looking into the JSComp options and find a way to prevent this mangling:
https://github.com/tensorfl

[2019-07-19 16:23] dsmilkov commented on #94
See this pull request for the relevant files: https://github.com/tensorflow/tensorboard/pull/1784 for how to launch it in standalone mode.

The actual setting of serving-mode is done in https://github.com/tensorflow/tensorboard/blob/master/tensorboard/plugins/projector/vz_projector/standalone.html

[2019-07-19 17:09] wchargin commented on #2440
Implemented! You can now pass a string `trial_id` kwarg to either the
Keras callback or the direct summary writing functions; for instance:

[code]

(I also renamed the “Session Group Name.” column in your screenshot to
“Trial ID”, for clarity.)

This is in today’s nightly build of TensorBoard. If you’d like to try it
out, please first **uninstall** any existing versions of TensorBoard and
then in

[2019-07-19 17:12] wchargin commented on #1998
@moritzmeister: Long delay, I know, but: I’ve just added a `trial_id`
kwarg to `KerasCallback`, `hparams`, and `hparams_pb`, as requested. The
new forms are in latest nightly; see #2440/#2442.

I’m going to close this issue, since its original purpose has been
completed and I don’t have any more planned changes in the works. Please
feel free to open new issues for any further requests or feedback!

[2019-07-19 17:12] #1998 closed

[2019-07-19 22:05] dsmilkov commented on #2421
Hi!

Yes, the functionality hasn't changed. Couple of notes:
- To make fast projections, the Projector projects high-dimensional data down to 200 dimensions (randomly chosen). Is `60,300` the dimensionality of your data, or the number of points?
- Make sure to turn off Sphereize Data (checkbox in the left panel), which shifts the points and makes them unit norm. While this affects the absolute val

[2019-07-19 22:14] JoschuaXner commented on #2421
Hey, tanks for your reply.

i wanted to visualize 60 vectors with each 300 dimensions.

I unhecked the checkbox but that doesnt change influence the ranking list.

The reduced dimensions to 200 only affects the 3D/2D PCA visualisation right? And not the cosine distances?

[2019-07-19 22:24] JoschuaXner commented on #2421
I got the expected results for my data with the Framework sklearn by computing the cosine distances in the original 300 dimension vector space and using the distance matrix to reduce the 300 dimensions to 2 with tsne so i can visualize it with matplotlib.

I was able to reproduce these results with different training cylcles.

So either tensorboard projector doesn't calculate the cosine distances

[2019-07-20 16:35] yfarjoun commented on #1994
I think that the problem is that I didn't tell Beholder which tensors to show (the `update` function didn't have either of the optional arguments) When trying to do this I found that I do not know how to get the TF tensors from the Keras framework....

Any hints in that regard would be very apprecaited.

[2019-07-21 03:16] yfarjoun commented on #1994
I upgraded tensorflow to 1.12.0 and now I see the beholder images!

[2019-07-21 03:16] #1994 closed

[2019-07-21 11:37] harusametime commented on #767
Just put `AWS_REGION=<region_name>` before `tensoraboard`

[code]

[2019-07-21 19:27] bashi-bazouk opened #2449 "Tensorboard Graph Variables are Mis-Labeled"
## Environment information (required)

### Diagnostics

<details>
<summary>Diagnostics output</summary>

[code]

</details>

### Next steps

No action items identified. Please copy ALL of the above output,
including the lines containing only backticks, into your GitHub issue
or comment. Be sure to redact any sensitive information.

## Issue description

I want to visualize a simple function using

[2019-07-22 09:57] joshlk commented on #1998
@wchargin Could we also include the run name (folder name) in the summary table too? So that you can easily link the data in the scalars tab with HPARMS

[2019-07-22 18:15] wchargin commented on #1998
@joshlk: There’s not a one-to-one correspondence; a single trial can
contain multiple runs, with the same hyperparameters but different
random seeds. This is why “trial ID” is a separate concept from “run
name” in the first place.

Do note that you can check the “Show Metrics” box in the table view to
view scalar charts for a trial:

![Screenshot of the table view with the “Show Metrics” box check

[2019-07-22 18:38] wchargin opened #2451 "HParams table always displays “No metrics are enabled”"
…even when there actually are metrics:

![Screenshot of the HParams dashboard complaining that “No metrics are
enabled” but simultaneously showing those very metrics][img]

This occurs on HEAD, but not 1.14. Suspect Polymer 2 changes.

The [guard for the `dom-if`][if] is `[[!_haveMetrics(…)]]`, and indeed
[the `_haveMetrics` method appears to be defined correctly][hm]. But the
JS console has warni

[2019-07-23 02:19] wchargin opened #2453 "Make `manager.get_all()` not spam logs"
when the binary TB version differs from the library TB version.

We can still warn—once, and without a stack trace.

[2019-07-23 03:00] #2447 closed

[2019-07-23 03:00] #2451 closed

[2019-07-23 08:42] joshlk commented on #1998
@wchargin Do you have an example of multiple runs per trail? How would that work? Do you take the average of the metrics in the display?

[2019-07-23 10:43] lucasbrynte commented on #2204
Me too! And not only labels, but preferably free-form text as well. With that I mean a text block underneath the image or similar. This would allow us to present all kinds of per-image quantitative results.

[2019-07-23 12:30] kouzant opened #2454 "Witwidget in JupyterLab"
Hi there,

I'm experiencing some issues with JupyterLab and WIT visualization.

I have created an Anaconda environment with Python 3.7.3 and JupyterLab v1.0.2. I installed WIT widget as instructed in project's README https://github.com/tensorflow/tensorboard/tree/master/tensorboard/plugins/interactive_inference#how-do-i-enable-it-for-use-in-a-jupyterlab-or-cloud-ai-platform-notebook and run the de

[2019-07-23 19:24] caisq opened #2455 "[debugger plugin] Graph visualizer doesn't zoom to current op correctly"
At current HEAD of tensorboard, when you use the Debugger Plugin and use it to do step debugging in a TF graph, the breakpoint ops will be hit and paused correctly. However, the graph visualizer doesn't pan and zoom onto the paused op correctly, even though it expands the nested hierarchies to reveal the op.

[2019-07-23 23:23] stephanwlee commented on #2437
I had some time to look into the issue and it is non-trivial to fix it.

Fact 1: after the dashboard registration change, most plugins are registered/make-known-to-tb from the plugins listing. There are few plugins that use the old mechanism and they are "debugger", "profile", "beholder", "whatif", "hparams".

Fact 2: when plugins_listing request resolves successfully, it can changes `_dashboardDa

[2019-07-23 23:51] caisq commented on #2437
@stephanwlee Any ETA to the tf-tensorboard revision? If it's long (after the next release), I'll take some patching measures in the debugger pugin.

[2019-07-24 05:36] stephanwlee commented on #2437
I don't think we want to fix tf-tensorboard with Polymer. We can discuss offline.

[2019-07-24 12:18] tanguycdls opened #2456 "Running Tensorboard 1.15 behind proxy - Projector"
## Environment information (required)

### Diagnostics

<details>
<summary>Diagnostics output</summary>

[code]

</details>

### Next steps

No action items identified. Please copy ALL of the above output,
including the lines containing only backticks, into your GitHub issue
or comment. Be sure to redact any sensitive information.

## Issue description
### Issue exists only on nightly version !  1

[2019-07-24 13:08] hvout commented on #773
Hello.
Sorry for bringing this up but the folder .//tensorboard/plugins/projector/vz_projector/ does not exist in my installation (installed with pip latest tensorboard version). Anyone knows where I can find that folder to increase the limit?

[2019-07-24 13:12] hvout commented on #773
I'm able to increase it in the `projector_plugin.py` file under tensorboard/plugins/projector and it does work. But T-SNE and PCA keep sampling data for "faster results" - I believe these limits are set in `data.ts` but when installed with pip the vz_projetor folder does not exist

[2019-07-24 15:27] wchargin commented on #2456
Hi @tanguycdls! Thanks for the clear report. This is likely due to
changes in #2356. We’ll take a look.

[2019-07-24 17:53] wchargin commented on #2437
This would be fixed by reverting #2340, which was a quick fix for #2338.
If we revert #2340, we should also include a proper solution to #2338,
likely some easy way for plugins to declare that they exist but are
incompatible with some environment state (e.g., no TensorFlow installed,
or no debugger port flags given).

Such a fix might look like:

  - A plugin’s loader can raise a `base_plugin.NotS

[2019-07-24 18:36] gowtham-kp commented on #2454
@kouzant You need to install an other extension:
`jupyter labextension install @jupyter-widgets/jupyterlab-manager`
For more detailed information you can refer to the following [issue](https://github.com/jupyterlab/jupyterlab/issues/4855).

[2019-07-24 21:32] wchargin commented on #1998
@joshlk: Yes, the default is to take the average of each metric
independently. The backend [supports options][1] to aggregate by a
metric: e.g., “for each session group, show me the metrics corresponding
to the run with the highest `accuracy`” or “…the run with the lowest
`xent`”. But the frontend doesn’t currently expose any UI to enable
this, so from a user’s perspective the behavior that you de

[2019-07-25 05:57] linzwatt opened #2458 "Error running extract_pip_package"
Hi, I can build tensorboard using `bazel build //tensorboard` and I can run the compiled tb with my local changes. But I cannot get a pip package out, in order to deploy it for the rest of our team to use.

From some other issues/stackoverflow answers you build the pip package with
`bazel run //tensorboard/pip_package/extract_pip_package`

When I run this I get the error below

I have attached the

[2019-07-25 07:01] kouzant commented on #2454
I have it installed. In the logs I sent, the first error is that failed to activate `jupyter-widgets`
The extensions I have installed are the following
[code]

[2019-07-25 09:30] rmothukuru commented on #2458
OS: Ubuntu
Tensorboard Version: tb-nightly==1.15.0a20190724

[2019-07-25 10:35] rmothukuru commented on #1748
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-25 10:35] #1748 closed

[2019-07-25 11:05] rmothukuru commented on #2203
@sleighsoft ,
Can you please provide the example requested by @stephanwlee. Thanks!

[2019-07-25 13:47] joshlk commented on #1998
@wchargin Thanks thats a really useful feature! 👍

I've been using the HParams feature for a couple of days now and it would still be really great to link the Tail ID to the Runs as otherwise the HParams tab is totally disconnected from Scalars.

The HParams tab doesn't have the same overview of all runs like the Scalars tab does. When I look at the results I start from the Scalars tab and identif

[2019-07-25 14:07] sleighsoft commented on #2203
Sorry for the long wait. It was part of a larger project I was working on and pulling out individual pieces to reproduce this is very diffcult + I currently don't have time to look into this again. If you don't mind leave the issue open, otherwise I would propose closing this issue and if I get time to look into it again I will ask for this issue to be re-opened and post my new results.

[2019-07-25 15:07] scychan opened #2459 "Make clear to users that data download links only load a subset of the full summaries, due to size_guidance defaults"
With data download through Tensorboard, only a subset of the full summaries are downloaded, due to the defaults on size_guidance. I am working with a few experienced Googlers who have used Tensorflow/Tensorboard for years, and we still had no idea that this was the case (it made us think that we had made mistakes writing summaries etc).

We suggest one of the following changes:
- allow the option

[2019-07-25 17:01] gabegrand commented on #70
Any plans to support this feature in 2019? It would be most welcome.

[2019-07-25 19:09] wchargin commented on #2458
Hi @linzwatt! Thanks for the clear report.

Could you modify `tensorboard/pip_package/build_pip_package.sh` to
change line 16 from `set -eu` to `set -eux`, and re-run the Bazel
command and post the output? This should give us some insight into where
exactly the build script is failing.

As a hunch, what does `type -a virtualenv` print on your machine? If I
recall correctly, Conda distributions do

[2019-07-25 19:32] wchargin commented on #2458
Indeed, I can reproduce this failure on a fresh Ubuntu 18.04 machine
with your Conda environment, having installed `python` but not
`python-virtualenv`. After installing `python-virtualenv`, the build
completes successfully and extracts the Pip packages as desired.

I’ll improve the error handling to be more explicit, both in this case
and the general case.

[2019-07-25 22:14] nfelt commented on #2441
@AlirezaAlizadeh can you try uninstalling `tensorboard` and installing `tb-nightly`?  There was a [bug](https://github.com/pytorch/pytorch/issues/20477) in the non-TF reading logic used for pytorch support, and this was fixed in https://github.com/tensorflow/tensorboard/pull/2342 but the fix is only in our nightly releases.

[2019-07-25 23:29] linzwatt commented on #2458
Thanks for your help @wchargin virtualenv was not installed as you suspected, I tried installing via apt
[code]
but still got the same error message, and after adding `-x` flag to `set -eu` I saw the more helpful error message mentioning virtualenv

I tried
[code]
instead and it worked this time, was able to build the pip package

Thanks for your help

[2019-07-25 23:29] #2458 closed

[2019-07-25 23:35] wchargin commented on #2458
Great—glad to hear it! Thanks for letting us know.

[2019-07-25 23:58] wchargin opened #2464 "Add UI support for min/max aggregation across runs in a trial"
The hparams dashboard groups multiple runs with the same hyperparameters
(but different random seed) into a single “trial”. Currently, the
metrics shown in the frontend are always averaged across runs in a
trial. This is perhaps a reasonable default, but it’s somewhat
misleading in that shows metrics that may not be consistent with any
feasible run.

The hparams backend already supports smarter ag

[2019-07-25 23:59] wchargin opened #2465 "Integrate hparams with global run selection"
[Quoth @joshlk:][1]

[1]: https://github.com/tensorflow/tensorboard/issues/1998#issuecomment-515050275

[2019-07-26 00:03] wchargin commented on #1998
@joshlk: Yep; we generally agree. The original vision was that the
hparams dashboard should do something like this. We didn’t get around to
implementing it in the initial version, partly because we’re not
entirely sure where we want to go with it. For instance, one ambitious
approach would be to redefine what a “run” is entirely; currently a run
is basically a directory on disk, but conceptually a

[2019-07-26 00:20] wchargin commented on #2458
Follow-up: I’ve adjusted the build script to dump its log on failure
(#2463), so hopefully an issue like this should be easier to debug in
the future. Thanks again for the report@

[2019-07-26 01:38] wchargin opened #2466 "Use Prettier"
@stephanwlee and I want to run [Prettier][prettier] on TensorBoard.

Prettier is a code formatter for JavaScript, TypeScript, HTML, and CSS
(among others). Its approach is different than that of most formatting
linters, like ESLint: instead of identifying “bad patterns” and
suggesting peephole fixes, it simply parses the entire file into a
concrete syntax tree and re-emits the tree with a pretty-p

[2019-07-26 01:38] wchargin commented on #2466
Open for comments.

[2019-07-26 01:48] #2455 closed

[2019-07-26 07:49] joshlk commented on #1998
@wchargin Great - thanks for the work!

[2019-07-26 08:53] tarrade opened #2467 "[Tensorflow 2.0 nightly]: invalid info file ->packages/tensorboard/manager.py -> ValueError: incompatible version: {'cache_key': ..)"
## Environment information (required)

Please run `diagnose_tensorboard.py` (link below) in the same
environment from which you normally run TensorFlow/TensorBoard, and
paste the output here:

## Diagnostics

<details>
<summary>Diagnostics output</summary>

[code]

</details>

### Next steps

For browser-related issues, please additionally specify:

  - Browser type and version (e.g., Chrome 64.0.

[2019-07-26 12:36] MarshmallowFlame opened #2469 "Displaying multiple audio snippets in tensorboard"
I have multiple audio snippets (wav) that I want to display in Tensorboard using tf.summary.audio, but there doen't seem to be a way of getting the players in the same slot/drop-down. With the code below, Im just keeping a list of the audio-summaries, and writing them in order to the tensorboard, hence the players all end up in different drop-downs/slots, with different tag names (even though they

[2019-07-26 18:14] wchargin commented on #2467
Hi @tarrade! Thanks for the report.

It looks like you started a copy of TensorBoard using the 2019-07-22
nightly, and another using the 2019-07-24 nightly, while your Jupyter
kernel has the 2019-07-25 nightly loaded. This is fine: what you’re
doing is supported and shouldn’t cause any actual problems. The log spam
is my fault; I have a TODO to clean it up in #2453.

It looks like PIDs 82744 and 9

[2019-07-26 19:28] tarrade commented on #2467
Hi @wchargin,

Thanks for the follow up. where do you see that I am using 2 different version of TensorBoard ? I am normally rebuild the conda env from scratch  with the new nightly version. For example today, in my env file, I just have :
[code]
Anyway, because of some update, I restared my Mac and the the problem was solved. Now I only see `pid-3165.info`  and it is fine. Since there is another

[2019-07-26 19:28] #2467 closed

[2019-07-26 19:40] asitplus-pteufl opened #2471 "Preparing embeddings for projector with tensorflow2"
Preparing embeddings for projector with tensorflow2.

tensorflow1 code would look something like that:

    embeddings = tf.compat.v1.Variable(latent_data, name='embeddings')
    CHECKPOINT_FILE = TENSORBOARD_DIR + '/model.ckpt'
    # Write summaries for tensorboard
    with tf.compat.v1.Session() as sess:
        saver = tf.compat.v1.train.Saver([embeddings])
        sess.run(embeddings.initializ

[2019-07-26 20:37] wchargin commented on #2467
It’s encoded in the `ValueError` message:

  - <code>ValueError: incompatible version: {'cache_key': '<snip>', 'db': '', 'logdir': 'results/Models/Mnist/tf_1_12/estimator/v3/ckpt/', 'path_prefix': '', **'pid': 96299**, 'port': 6006, 'start_time': 1564000650, **'version': '1.15.0a20190724'**}</code>

  - <code>ValueError: incompatible version: {'cache_key': '<snip>', 'db': '', 'logdir': 'results/Mo

[2019-07-26 21:09] caisq commented on #2466
Just to be clear, this will only affect the following four file types:
- html
- css
- js
- ts
Is that correct?

If so, LGTM modulo detailed `.prettierconfig` content. We can discuss and tweak the config once the infrastructure is in place.

The Python style should be separate from prettier IMO. We already have pylint.

[2019-07-26 21:18] wchargin commented on #2466
Yes. Prettier can also format JSON, but our JSON data tends to be
autogenerated and we wouldn’t want to format it anyway.

Prettier does not (cannot) format Python, so there you go.

We don’t actually run pylint. We run `flake8`, but [only for the
following checks][flake8-checks]:

  - E901: `SyntaxError` or `IndentationError`
  - E999: failed to parse AST
  - F821: undefined name
  - F822: undefi

[2019-07-26 21:26] wchargin commented on #1953
Fixed in #2060. Thanks, @stephanwlee !

[2019-07-26 21:26] #1953 closed

[2019-07-26 21:30] stephanwlee commented on #2466
For the same reason explained in the Why section, did we consider using Black?

[2019-07-26 21:43] wchargin commented on #2466
Good question. I did consider it.

Black is even more uncompromising than Prettier. It is entirely
unconfigurable except for max line length, and in particular it always
uses 4-space indentation. This is standard in the Python community (cf.
[PEP 8]), but not at Google—so much so that TensorFlow switched their
style guide entirely from Google style to “PEP 8 but with 2-space
indentation” to avoid

[2019-07-26 21:52] gowtham-kp commented on #2408
@gupta-vivek Did you solve the issue. Can I close it?

[2019-07-26 21:57] #2453 closed

[2019-07-26 22:57] nfelt commented on #2466
I'm generally in favor of opinionated autoformatters, but we should strive to remain compatible with Google's style guides.  Does Prettier's output meet the relevant style guides ([JS](https://google.github.io/styleguide/jsguide.html), [HTML/CSS](https://google.github.io/styleguide/htmlcssguide.html))?

It looks like for TypeScript Google actually publishes a linter/formatter that wraps Prettier,

[2019-07-27 00:26] wchargin commented on #2466
It sounds like people are generally open to this change. I’ll open a PR
with the changes, not to immediately merge, but so that people can see
the style for themselves.

sgtm

Agreed. Prettier takes about 11 seconds. If we like, we can probably
arrange to perform our lint checks in a separate CI “job” so that they
run in parallel and only once. Our current `before_script` block takes
about 16 seco

[2019-07-27 00:44] nfelt commented on #2466
Thanks for the extensive research!  I agree none of that sounds like a concern.  SGTM to open a PR.

I assume the thought is to start with just Prettier, and we can see if we like that enough to do this for python as well?

[2019-07-27 00:54] wchargin commented on #2466
Opened #2473 with just the config and formatting changes: no CI and no
documentation. This is not ready to merge, but feel free to poke around.
(Both “ignore whitespace” and “don’t ignore whitespace” are helpful diff
modes this time, interestingly.)

Certainly open to that!

[2019-07-27 17:41] zenetio opened #2474 "Cannot import TensorBoardProgressWriter"
I created a conda env where I am using python 3.6.8 and installed tensorboard 1.14.0. When I try to do "from tensorboard import TensorBoardProgressWriter", I receive an error message saying that cannot import TensorBoardProgressWriter.
I am trying to display the model usesd in TranferLearning CNTK example.
In fact the entire example works fine, but when I add the tensorboard code to save the model

[2019-07-28 03:58] wchargin commented on #2474
TensorBoard doesn’t provide anything called `TensorBoardProgressWriter`,
and never has. It looks like this is [provided by CNTK][cntk]; perhaps
you’re looking for

[code]

judging from [some examples online][ex]?

[cntk]: https://cntk.ai/pythondocs/cntk.logging.progress_print.html?highlight=tensorboard#cntk.logging.progress_print.TensorBoardProgressWriter
[ex]: https://github.com/Azure/ObjectDetec

[2019-07-28 03:58] #2474 closed

[2019-07-28 12:43] zenetio commented on #2474
You are right! Thanks for the tips.

[2019-07-29 06:14] rmothukuru commented on #2203
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-29 06:14] #2203 closed

[2019-07-29 14:55] stephanwlee commented on #2466
@nfelt forgot to add this bit. We gradually will have less JavaScript and more TypeScript. In that world, I expect our modification to look about the same as gts (or just use gts).

[2019-07-29 17:38] stephanwlee commented on #2003
Sorry for leaving you hanging for awhile. Now that we are getting closer to actually changing the build system, I think I owe you the answers.

1. Karma is not required and what I really meant is following. In my past experiences, I had better time with Jest or other test runners running in node than on browser. In my ideal world, I would want some macro that wraps Jest, but if, all fails, I would

[2019-07-29 17:42] stephanwlee commented on #2003
# How
### Managing a dependency
[code]
### Depending on the dependency
[code]
### Using Dependency
[code]
### Bazel Gotcha
#### rollup_bundle does not seem understand transitive dependency and cannot resolve the dependency
If the dependency is new and is part of the transitive dependency of the binary, you must add a line to the rollup_bundle.
[code]

# What was it before and Why do we need this c

[2019-07-29 19:06] podlipensky commented on #2324
FYI, the fix is in review (will appear as part of tf-graphics module).

[2019-07-29 21:09] nfelt commented on #1063
I've merged #1867 which introduces the experimental `--reload_multifile=true` option, which can now be used to poll all "active" files in a directory for new data, rather than the most recent one, and addresses the core concern of this issue.  Note that a file is "active" as long as it received new data within `--reload_multifile_inactive_secs` seconds ago, a new configurable flag that defaults to

[2019-07-30 02:18] Gouiaa commented on #1514
I think I had the same problem when converting a tensorflow.model to a keras model.

[2019-07-30 08:52] somedadaism commented on #1063
Just in time!
Thanks a lot!

[2019-07-30 14:33] Uiuran opened #2477 "_Rendezvous: <_Rendezvous of RPC that terminated with details Name resolution failure"
Yes i posted in Stackoverflow, will close this as soon as got an answer.
https://stackoverflow.com/questions/57274107/rendezvous-rendezvous-of-rpc-that-terminated-with-details-name-resolution

Versions

-python 2.7.16

-tensorboard: 1.13.1

-tensorflow: 1.13.1

code to reproduce:

[code]

[code]

So ... iam doing anything wrong or is this a bug ?
up: the error persists if i put the tensorboard wra

[2019-07-30 14:35] Uiuran commented on #1118
Ive similar error with
https://github.com/tensorflow/tensorboard/issues/2477

[2019-07-30 14:35] Uiuran commented on #2477
is similar to bug above, but its name resolution error, what i have no ideia from where it does pop up

[2019-07-30 14:40] caisq commented on #2477
@Uiuran Two comments.

1. The argument you passed to TensorBoardDebugWrapperSession shouldn't be an HTTP address, instead, it should be something like "localhost:6007", with the port being the argument you passed to the `--debugger_port` flag of tensorboard.

2. Make sure you start tensorboard first with the `--debugger_port` flag first, i.e., before you run your tensorflow process.

Please try th

[2019-07-30 14:44] Uiuran commented on #2477
after the removal of http:// the error change

[code]

[2019-07-30 14:45] caisq commented on #2477
@Uiuran Did you use the grpc port or the http port in the call to `TensorBoardDebugWrapperSession`? Make sure yo use the grpc port.

[2019-07-30 15:10] Uiuran commented on #2477
Yes i used localhost port 6046 (just edited the python code above). Stills:

[code]
the command of tensorboard server starting, i think is nothing wrong:
tensorboard  --logdir ~/stattus4/stattus4-audio-models/notebooks/ --port 6006 --debugger_port 6064

[2019-07-30 15:13] caisq commented on #2477
Is it `6046` or `6064`? There may be a typo. Can you check? Also, as I said above, please make sure you start the tensorboard process first.

[2019-07-30 15:16] Uiuran commented on #2477
yes i made sure, and you are right, i just misstyped, sorry, but the main thing, in the beginning, is that i was using the wrong protocol, thank you, sorry for the stupid mistake

[2019-07-30 15:37] #2477 closed

[2019-07-30 16:33] kouzant commented on #2454
Sorry, I might have not made myself clear. I didn't mean I've solved my problem. Since the beginning I had installed `jupyter-widgets` but with no luck as you saw from the logs above. Have you managed to reproduce the problem?

[2019-07-30 22:16] wchargin opened #2479 "DB import fails on hparams summaries (no tensor values)"
Repro:

[code]

[code]

Indeed, manual inspection of the events file shows that it includes a
`Value` proto with metadata but no actual tensor value (and implicitly
[`dtype` 0, which is invalid][dt0]). This is because the HParams plugin
generates these summaries manually, in both [V1 summary ops][v1] and [V2
summary ops][v2].

[dt0]: https://github.com/tensorflow/tensorflow/blob/8e0e14bb0cad9d3f0d

[2019-07-30 23:15] wchargin commented on #2324
@podlipensky: Looks like the [recent commit to tf-graphics][cm] fixed
the `forEach` error, and the meshes are rendering, but they’re almost
impossible to see:

![Screenshot of nearly-invisible mesh][ss]

Can we improve the rendering here?

[cm]: https://github.com/tensorflow/graphics/commit/fa0fc3496d86f0235d614a5f9a27257a1898cae2
[ss]: https://user-images.githubusercontent.com/4317806/62171802-0f

[2019-07-31 09:15] rmothukuru commented on #125
@jubjamie ,
Can you please let us know if your issue is resolved. Thanks!

[2019-07-31 09:37] jubjamie commented on #125
This was 2 years ago and I've since stopped using tensorboard so I'm not sure. I trust that the fix made a couple of years ago did the trick and happy to close the issue.

[2019-07-31 09:37] #125 closed

[2019-07-31 11:51] JimmyMcWeb opened #2481 "Tensorboard in Jupyter "localhost refused to connect" issue"
ENVIRONMENT:
About Jupyter Notebook

Server Information:
You are using Jupyter notebook.

The version of the notebook server is: 5.7.8
The server is running on this version of Python:
Python 3.7.3 (default, Mar 27 2019, 17:13:21) [MSC v.1915 64 bit (AMD64)]

Current Kernel Information:
Python 3.7.3 (default, Mar 27 2019, 17:13:21) [MSC v.1915 64 bit (AMD64)]
Type 'copyright', 'credits' or 'license

[2019-07-31 12:04] JimmyMcWeb commented on #2481
OK, guess work ... but it seems to be responding again.

A quick scan of the docs on this site mentioned network security issue on Macs:
https://github.com/tensorflow/tensorboard#i-get-a-network-security-popup-every-time-i-run-tensorboard-on-a-mac

Under that heading it mentioned specifying "localhost" instead of the default "0.0.0.0"

I amended my code above to:
'''
%tensorboard --logdir {logs_ba

[2019-07-31 18:49] wchargin commented on #2481
@JimmyMcWeb: Thanks for the report! Responses below.

That’s all correct. Running TensorBoard under Jupyter doesn’t affect the
port allocations; ports are a system-global resource.

The “Reusing TensorBoard” message isn’t an error; it’s just an
informational message. Reusing a previously started TensorBoard instance
should usually be fine, but we let you know anyway just in case the
instance has s

[2019-07-31 19:02] wchargin opened #2483 "Implement liveness check for notebook extensions on Windows"
Currently, each TensorBoard process writes its meta-information to a
file in the shared `.tensorboard-info` temp directory, and tries to
clean up the file on graceful exit. This has two problems on Windows:

  - The base temporary directory `%TMP%` is never automatically cleaned,
    even after logout or reboot.
  - It is not possible to gracefully shut down an arbitrary process
    given its PID.

[2019-07-31 19:03] wchargin commented on #2481
I’ve opened #2483 to track a better fix, so given the workaround above,
I think that we can close this issue—if something still seems awry,
please feel free to comment here and we can re-open it.

[2019-07-31 19:03] #2481 closed

[2019-07-31 20:22] #2408 closed

[2019-07-31 20:26] gowtham-kp commented on #2441
@AlirezaAlizadeh Did you follow the instructions provided by @nfelt. Did it solve the issue?

[2019-07-31 20:30] wchargin commented on #297
With current versions of TensorBoard, running `tensorboard` at the
command line is sufficient. (Just verified on Windows 10 (64-bit).)

It’s true that `python -m tensorboard` does not work, but that’s not a
supported invocation on any platform.

[2019-07-31 20:30] #297 closed

[2019-07-31 23:07] gowtham-kp commented on #517
@ranjiewwen  Is this still an issue or is it resolved. If its resolved, Can I close the issue?

[2019-07-31 23:12] gowtham-kp commented on #245
@wchargin Is this issue resolved. If it has, can we close this issue?

[2019-07-31 23:13] gowtham-kp commented on #981
Closing this issue due to the lack of recent activity. Please add additional comments and we can reopen this issue again. Thanks!

[2019-07-31 23:14] #981 closed

[2019-07-31 23:17] gowtham-kp commented on #991
@lucadigiammarino Are you still facing the issue? If you have resolved it, can you post the solution for the issue. Thanks!

[2019-07-31 23:22] gowtham-kp commented on #1439
Closing the issue due to lack of recent activity. Please add additional comments and we can reopen the issue again. Thanks!

[2019-07-31 23:22] #1439 closed

[2019-07-31 23:25] gowtham-kp commented on #1519
@manzagop Did you solve the issue or are you still facing with the same issue. Thanks!

[2019-07-31 23:28] gowtham-kp commented on #2039
@nfelt Can you please add your inputs on this issue. Thanks!

[2019-07-31 23:30] gowtham-kp commented on #2103
@krushika29 Are you still facing with the same issue or did you solve it?

[2019-07-31 23:49] wchargin opened #2484 "Port scanning does not work on Windows"
Repro: In one command prompt, launch `tensorboard --logdir logs1`; in
another, launch `tensorboard --logdir logs2`.

Expected behavior: Both TensorBoards launch, one on port 6006 and the
other on port 6007. Both can be reached at their expected endpoints.

Actual behavior: Both TensorBoards launch on port 6006. All requests to
that port go to the first TensorBoard until it is closed, at which poin

[2019-07-31 23:51] nfelt commented on #2039
It's quite possible that the run metadata timing is CPU-only, I don't know the details.  If that's the case, the format would need to change on the TensorFlow side for us to display it correctly.

We can certainly leave this open as a feature request but it may be a bit involved to get this working.

cc @qiuminxu @stephanwlee in case you happen to have any ideas.

[2019-07-31 23:57] wchargin commented on #245
Nope, this has not been resolved. The repro script that I posted in 2017
still exhibits the problem on TF/TB 1.14.0.

[2019-08-01 00:09] mhajiaghayi commented on #1252
I have a similar problem but i'm using custom estimator and input_fn reading data from a generator. Everything works fine except this huge tensorboard file that I think it also reduces the speed. When I increase save_summary_steps parameter, this problem doesn't go away. This is the info from my machine:
- TensorFlow version (use command below): tensorflow-gpu==1.12.0
tensorflow==1.13.1
tensorflow

[2019-08-01 03:08] llan-ml opened #2485 "[tf 2.0] use summary apis without occupying gpu memory"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.0.0-dev20190725

**Describe the feature and the current

[2019-08-01 06:47] mika-fischer commented on #2039
@nfelt The run metadata timing is most definitely *not* CPU only, you can see that in the profiler output I posted above.

The information is there, it just needs to be displayed correctly by TensorBoard...

[2019-08-01 09:15] rmothukuru commented on #2184
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-01 09:16] #2184 closed

[2019-08-01 09:59] Queequeg92 opened #2486 "unexpected result of tf.summary.histogram after call tf.exp"
## Environment information (required)

<details>
<summary>Diagnostics output</summary>

[code]

</details>

## Issue description

When I monitored a tensor name 'tw' and tf.exp(tw), the histogram of tf.exp(tw) was very strange. The range of tw was between -2 and 2. So the expected range of tf.exp(tw) was between 0.13 and 7.38. But it was very large in tensorboard.

I'm not sure this was a tensorbo

[2019-08-01 10:03] Queequeg92 commented on #2486
![exp](https://user-images.githubusercontent.com/8766653/62284574-70a52800-b486-11e9-8b09-51b953861aa1.png)
![tw](https://user-images.githubusercontent.com/8766653/62284577-70a52800-b486-11e9-90e9-3f892a44e8aa.png)

[2019-08-01 11:58] stefanbschneider commented on #2017
Actually, this was a quick and easy solution for me: https://github.com/tensorflow/tensorboard/issues/1976#issuecomment-471834147

[code]

[2019-08-01 12:11] JimmyMcWeb commented on #2481
@wchargin

Thanks William

Restarting work today (Th 1/8/19) I found that the "localhost refuses to connect" message was back when I asked Tensorboard to graph the log files created yesterday.

I ran
[code]
from cmd.exe as you suggested.

1st command threw an error saying tensorboard wasn't running.
2nd command completed with no comment.

Back in Jupyter I reran the
[code]
commands.

1st attempt t

[2019-08-01 14:34] manzagop commented on #1519
I did not! Instead, I parse summaries myself (without TB) using tf.train.summary_iterator, which has the benefit of giving full freedom to analyze and plot things the way you want.

[2019-08-01 15:10] lakovar commented on #2466
I notice that Prettier changes single quotes to double quotes, which is contrary to the internal style guide. Is that okay, or is it worth specifying single quotes in the config?

[2019-08-01 17:06] wchargin commented on #2017
@stefanbschneider: That downgrades you to a version of TensorBoard prior
to the notebook integration features. You should be able to safely
upgrade to TensorBoard 1.14, which has both the features and the fix.

[2019-08-01 17:06] wchargin commented on #1976
TensorBoard 1.14.0 was released with the fix, and should work even on
old (broken) versions of Python. :+1:

[2019-08-01 17:12] wchargin commented on #2466
Hmm; I didn’t realize that the Google JavaScript style guide requires
single quotes. (The Python guide permits either.)

I suppose that we should probably use single quotes throughout, then,
despite my personal preferences to the contrary. Thanks for pointing
this out!

[2019-08-01 18:00] wchargin commented on #2486
I can’t reproduce this. I ran the following script:

[code]

The resulting histogram dashboard looks like this:

![Screenshot of histogram dashboard with as-expected output][1]

As you can see, the `exp_tw` histogram domain ranges up to about 7.27,
which is as expected.

In your screenshots, it looks like `tw` actually extends a bit past 2.0,
maybe up to around 9 or 10. And `exp(9)` is around 8100

[2019-08-01 18:00] #2486 closed

[2019-08-01 18:07] wchargin commented on #2481
Yes; unfortunately, I suspected that this might be the case, because
Windows does not clean up the temporary directory. :-( More details in
#2483, if you’re curious.

This is the expected behavior when TensorBoard takes more than 10
seconds to start up—which is fairly rare in my experience (takes about 1
second on Linux), but things may be slower on Windows, or with more
background tasks or antivi

[2019-08-01 18:11] wchargin commented on #2483
Actually, this could “just” be

[code]

or even

[code]

because we expose `notebook` in `tensorboard/__init__.py` as of #1824.

[2019-08-01 19:08] peteboothroyd commented on #1340
is there any update on this?

[2019-08-02 09:20] NKUCodingCat commented on #937
Why not make tensorboard auto click fit in domain when updating data
I am suffering same issue and I dont have any knowledge about frontend...

[2019-08-02 14:42] AlirezaAlizadeh commented on #2441
@gowtham-kp Thanks for the instruction. However, I tested that and still, we have the same issue.

[2019-08-02 15:38] nfelt commented on #2441
@AlirezaAlizadeh can you provide a script to reproduce what you're seeing, and the exact version of `tb-nightly` that you were using?

[2019-08-02 15:40] c2rosa opened #2488 "Trouble loading tensorboard.plugins.hparams"
Consider Stack Overflow for getting support using TensorBoard—they have
a larger community with better searchability:

https://stackoverflow.com/questions/tagged/tensorboard

Do not use this template for for setup, installation, or configuration
issues. Instead, use the “installation problem” issue template:

https://github.com/tensorflow/tensorboard/issues/new?template=installation_problem.md

To

[2019-08-02 16:51] stephanwlee opened #2489 "Improve development workflow!"
Currently, TensorBoard build dependency maps something like below.
[code]

The implication above is, when using ibazel, changing any source in angular source will retrigger Vulcanization (tensorboard/components:index) and restart the Python server. Not only ngc is quite slow on our very tiny Angular source (takes about ~10s from linux machine; not sure if incremental build is properly implemented)

[2019-08-02 17:03] wchargin commented on #2488
@c2rosa: Thanks for the report! It looks like you’re running TensorFlow
and TensorBoard version 1.13.1, but the hparams functionality was first
introduced in version 1.14.0. Please upgrade to that version (it should
be a backward-compatible upgrade) to take advantage of the new features:

[code]

[2019-08-02 17:03] #2488 closed

[2019-08-02 17:05] nfelt commented on #2489
This makes sense to me for development.  Will there be a way to run this as just one server though if not doing FE development?  Or put another way, for actually deploying TB (e.g. via pip package, or otherwise) we probably still want the python code to have access to serve the angular source directly, right, without a separate `ng serve`?  What does that aspect look like?

[2019-08-02 17:09] c2rosa commented on #2488
OK....now running:
!pip install -U tensorflow==1.14.0
# Load the TensorBoard notebook extension
%load_ext tensorboard

# Clear any logs from previous runs
!rm -rf ./log

import tensorflow as tf
from tensorboard.plugins.hparams import api as hp

and get this error after this point:
---------------------------------------------------------------------------
ImportError

[2019-08-02 17:18] c2rosa commented on #2488
Does this run on Colab, but not in JupyterLab?  Just curious.  I was trying to run in JupyterLab.

[2019-08-02 17:20] stephanwlee commented on #2489
Actually, while trying to think of answer to your question, I realized when replacing tf-tensorboard, you would not vulcanize the Angular source and this is not a problem.

[2019-08-02 17:20] #2489 closed

[2019-08-02 17:46] wchargin commented on #2488
Can you run

[code]

and see what that prints?

I suspect that the old versions of TensorFlow and TensorBoard were
already running in the JupyterLab kernel, so installing them and then
“importing” again actually used the old cached modules. Restarting the
JupyterLab runtime (*Kernel* menu → *Restart Kernel…*) should suffice to
fix that.

Importing the `hparams` module will certainly work on all pl

[2019-08-02 22:26] #1956 closed

[2019-08-02 23:58] qiuminxu opened #2491 "Polymer already present error in Trace Viewer tool of profile plugin."
Consider Stack Overflow for getting support using TensorBoard—they have
a larger community with better searchability:

https://stackoverflow.com/questions/tagged/tensorboard

Do not use this template for for setup, installation, or configuration
issues. Instead, use the “installation problem” issue template:

https://github.com/tensorflow/tensorboard/issues/new?template=installation_problem.md

To

[2019-08-03 00:09] beasteers opened #2492 "Embedding Projector: Add zoom to embedding on [key]+click"
The embedding projector can be difficult to navigate and in order to zoom into the sprite of an image, you need to get it centered just right and then you zoom in to find out that you were off by a few degrees. There should be a way to click on a point (maybe while holding `option` or something, idk) and have it zoom and center the sprite that you clicked on.

Also, it would be nice if there was a

[2019-08-03 00:14] beasteers commented on #2492
Another nice feature would be to add a slider that increases the size of the sprites in the point cloud.

[2019-08-05 07:02] chanhal commented on #2238
It really helps

[2019-08-05 08:12] F4azboi opened #2497 "problem with chat bot, tflearn, tensorflow, numpy"
my errors are below, my code is - https://pastebin.com/UAACpEMy

C:/Users/iddos.DESKTOP-JTOR36M/AppData/Local/Programs/Python/Python36/python.exe c:/Users/iddos.DESKTOP-JTOR36M/Desktop/work/chatbot.py
C:\Users\iddos.DESKTOP-JTOR36M\AppData\Local\Programs\Python\Python36\lib\site-packages\tensorflow\python\framework\dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is

[2019-08-05 13:06] c2rosa commented on #2488
When I run: from tensorboard import version
print(version.VERSION), I get 1.13.1

[2019-08-05 13:08] c2rosa commented on #2488
We are using JupyterLab because our company is signing a deal with Google to get BigData, ML analytics, etc.....  I hope that using ML/TensorLab with google via JupyterLab gives us at least as much functionality as using ML/TensorLab via the free Colab service Google offers.  Please do add in whatever features are available in the paid JupyterLab offering as are available in the public free Colab

[2019-08-05 14:57] c2rosa commented on #2488
Even after I restart the Kernel, it still doesn't work.  The version is still 1.13.1
Here is the Note book instance page that shows my notebook.  I've circled it.
![JupyterNoteBook_google](https://user-images.githubusercontent.com/17578269/62473910-c07a3c80-b76f-11e9-95d2-496288b8e218.JPG)

[2019-08-05 15:00] c2rosa commented on #2488
If I were to instantiate a new tensorFlow Jupyter notebook, these are my options.  What options should I select so that I can run:
"!rm -rf ./log

import tensorflow as tf
from tensorboard.plugins.hparams import api as hp"
and not get the error I was seeing.
![JupyterNoteBook_google2](https://user-images.githubusercontent.com/17578269/62474116-2c5ca500-b770-11e9-92ce-667d70cf7648.JPG)

[2019-08-05 16:25] nfelt commented on #2497
Sorry, but I don't see anything in your stacktrace to indicate that this is a TensorBoard-specific issue, and we only use this issue tracker for bugs or feature requests for TensorBoard.  If you're looking for general advice about getting this code to work, I'd recommend trying StackOverflow.

[2019-08-05 16:25] #2497 closed

[2019-08-05 16:58] c2rosa commented on #2488
OK.  I created a new Jupyter notebook instance:
![JupyterNoteBook_google3](https://user-images.githubusercontent.com/17578269/62481460-806f8580-b780-11e9-80fe-377569bc6c37.JPG)
It is tensorflow 2.0.
It now runs the code....mostly alright.  However, when i run the command:
"%tensorboard --logdir logs/hparam_tuning"

I don't see the tensorboard come up.  I just see this printed to the screen:
<IPyth

[2019-08-05 18:44] c2rosa commented on #2488
By the way, when I run "from tensorboard import version
print(version.VERSION)" from this new Jupyter notebook, I get: 1.14.0a20190603

[2019-08-05 20:04] #2466 closed

[2019-08-05 20:13] wchargin commented on #2466
Merged!

For contributors:

  - Run `yarn fix-lint` to reformat all files, which takes about 10
    seconds on my machine. Run `yarn lint` to simply check formatting.

    (You will need to first install [Yarn], and then run `yarn` once in
    the TensorBoard repository to install dependencies.)

  - Consider enabling editor integration for format-on-save. I use the
    official [vim-prettier] plu

[2019-08-05 20:22] wchargin commented on #2488
Okay, I’ve tried this on a GCP JupyterLab instance rather than a public
<https://mybinder.org> instance. Running `pip3 install` rather than `pip
install` (and then restarting the kernel) suffices to install the
correct version.

The TensorFlow 2.0 notebook runtimes will have a nightly TensorBoard
from early June, as you’ve noted, so those will have the hparams APIs
available.

It looks like Jupyte

[2019-08-05 22:58] wchargin commented on #2488
I filed a bug for you internally. (Googlers, see <http://b/138959137>.)

[2019-08-05 23:18] wchargin commented on #2492
Hi @beasteers—thanks for the feature requests! These all sound sensible
to me. They’re not going to be at the top of our priority list for a
while, but if anyone would like to contribute a PR then we’d be happy to
take a look. :-)

[2019-08-06 00:42] davidsoergel opened #2502 "Reconsider handling of '/foo' vs '/foo/' routes."
Currently `_clean_path()` strips trailing slashes before further processing a route.  This has pitfalls, which could be avoided by instead serving a redirect.

See discussion on #2476.

[2019-08-06 09:03] abhishek11097 commented on #2454
I am getting the same error and am unable to resolve with jupyter labextension install @jupyter-widgets/jupyterlab-manager. @gowtham-kp  please open the thread again

[2019-08-06 12:50] SPP3000 commented on #179
Is there a new way of get around this issue in tensorflow2.0-beta?

[2019-08-06 12:57] c2rosa commented on #2488
As per your suggestion above, I modified my first line from:
!pip install -q tf-nightly-2.0-preview
# Load the TensorBoard notebook extension
%load_ext tensorboard

to

!pip3 install -q tf-nightly-2.0-preview
# Load the TensorBoard notebook extension
%load_ext tensorboard

Then ran everything as it was before (after restarting the Kernel).

The following steps all run fine.

# Clear any logs from

[2019-08-06 13:00] c2rosa commented on #2488
As per your suggestion about creating a separate TensorBoard, I did try this, and was able to bring up a Tensor Board in a separate tab.  I just don't understand how to link this with Python code that actually is training/testing a TensorFlow Neural net.

Thanks for any assistance with this.

![image](https://user-images.githubusercontent.com/17578269/62541855-a2244780-b828-11e9-93c4-673dadc71897.

[2019-08-06 15:50] wchargin commented on #179
I would love that, too.

Nothing new, no, though if you’re willing to add a shell function to
your `.bashrc` you can always automate the tiring symlink-directory
behavior:

[code]

Then running `multitb experiment{1,2,3} super_new_run{5,8}` actually
invokes TensorBoard with a fresh logdir that has the desired experiments
linked in.

This should work in any POSIX shell (e.g., `bash`, `zsh`).

[2019-08-06 16:42] marota opened #2505 "WitWidget not displaying in firefox"
I have been trying to run the What_if_Tool_Usage_notebook to successfully display the WitWidget at the end. I eventually managed to succeed on a Mac OS both in Colab and Jupyter notebook through a Chrome Browser.

However, I have been quite unsuccessful using firefox (68.0.1) browser ion the same computer either with colab or jupyter: the WitWidget remains blank. For a while I have been trying to

[2019-08-06 17:16] nfelt commented on #2505
@marota does anything show up in the JS console when it fails to display on Firefox?

cc @jameswex FYI

[2019-08-06 17:42] gowtham-kp commented on #2391
Closing the issue due to the lack of recent activity. Please add additional comments and we can open the issue again. Thanks!

[2019-08-06 17:42] #2391 closed

[2019-08-06 17:43] #517 closed

[2019-08-06 19:05] marota commented on #2505
![ColabScreenshot_ConsoleJS](https://user-images.githubusercontent.com/5496312/62568574-cf571100-b88d-11e9-8699-6b7d2e639cfb.png)
No unfortunately nothing seems to pop up in the JS web console.

[2019-08-07 00:13] nfelt opened #2510 "Update docs for TF 2.0 coordinated release"
This is a tracking issue for updating the docs (https://github.com/tensorflow/tensorboard/tree/master/docs) for TF 2.0 so that the default version of the docs is oriented towards TF 2.0.

The simple version of this would just be to migrate the `r2` subfolder files into the top level, add redirects from `r2/foo` to `foo` (TBD where to configure these), and change any prose referring to TF 2.0 so it

[2019-08-07 00:31] nfelt opened #2511 "Change CI from tf-nightly-2.0-preview to just tf-nightly"
Follow-up work from #2507: once `tf-nightly` uses the TF 2.0 API and behavior, we should switch to that instead of `tf-nightly-2.0-preview`

[2019-08-07 00:36] nfelt opened #2512 "Switch `tb.summary` to reflect `tb.summary.v2`"
This tracks changing our `tb.summary` module to re-export the symbols from `tb.summary.v2` rather than `tb.summary.v1` in the tensorboard 2.0 release.

[2019-08-07 01:01] nfelt opened #2513 "Bind to localhost rather than all interfaces (0.0.0.0)"
This tracks changing the default behavior value of TensorBoard's `--host` flag to `localhost`, rather than binding to all interfaces (aka `0.0.0.0` for IPv4 or `::` for IPv6).

This is a more conservative default behavior since it exposes the webserver only to the user's machine.  Users who specifically want to expose TensorBoard (e.g. in a lab context to let other users access the instance) can e

[2019-08-07 01:06] nfelt commented on #2387
Update: as mentioned, we plan on changing the default to `localhost` for our 2.0 release, since this is the more conservative and safe behavior.

Users who specifically want to expose TensorBoard (e.g. in a lab context to let other users access the instance) can either pass `--host=<interface>` explicitly to bind to the desired interface, or configure some type of proxied access (for example, ssh

[2019-08-07 01:07] nfelt commented on #2513
Duplicate of #2387

[2019-08-07 01:07] nfelt commented on #2513
Closing since I belatedly realized there is already a user issue for this.

[2019-08-07 01:07] #2513 closed

[2019-08-07 01:39] wchargin commented on #2512
Yes; thanks. My understanding is that there will be an intermediate
period where both work, so there won’t be a forced simultaneous rollout.

[2019-08-07 01:42] wchargin commented on #2511
Yes; thanks. My understanding is that there will be an intermediate
period where both work, so there won’t be a forced simultaneous rollout.

[2019-08-07 03:35] #2491 closed

[2019-08-07 08:42] AlirezaAlizadeh commented on #2441
@nfelt I retried with `tb-nightly-1.15.0a20190806` and the problem is solved with this version.
unfortunately, I lost the info related to `tb-nightly` in y previous attempt.
Thanks for your consideration.

[2019-08-07 12:14] #2441 closed

[2019-08-07 18:48] stephanwlee opened #2518 "[cleanup] debugger and graph plugin should not log errors"
When graph plugin loads, it can make requests[1] to the debugger routes which is not always provided by all possible implementations of the debugger_plugin [2].

It causes random JavaScript exceptions like below which is quite noisy:
[code]

[1]: https://github.com/tensorflow/tensorboard/blob/7e65cb9818386209f6943de206bf47a851d050de/tensorboard/plugins/graph/tf_graph_dashboard/tf-graph-dashboard.h

[2019-08-07 21:40] #2446 closed

[2019-08-08 07:57] stefanbschneider commented on #2017
Perfect, thanks!

[2019-08-08 17:43] wchargin opened #2527 "Health pills toggle label misaligned"
It’s flush-right, for some reason; everything else is flush-left:

![screenshot](https://user-images.githubusercontent.com/4317806/62725065-3f1de680-b9c9-11e9-8f0e-105ce802f239.png)

(head: 2fe5301a)

[2019-08-08 18:51] #2403 closed

[2019-08-08 22:00] hidrargyro commented on #69
More than a year, but, did you resolve the problem with the prefix path for the font? I have the same issue @Joe136

[2019-08-09 08:07] tiancaipipi110 commented on #991
Just encountered the same issue, fixed by `Ctrl+C` to quit the current console session, then do `tensorboard --logdir=<MyDataDir>`

[2019-08-09 14:03] #2527 closed

[2019-08-09 16:13] wchargin commented on #2471
Hi @asitplus-pteufl! Thank you for the detailed and clear report, and
for the background investigation. This is super helpful.

We can definitely update `visualize_embeddings` such that it doesn’t
need a TF 1.x `FileWriter`. Because the function only actually needs the
logdir, we’ll probably just let it take the logdir instead of the 1.x
writer (while still accepting the writer for backward compat

[2019-08-09 21:17] ceevee830 opened #2533 "Cannot see 'hello world' dynamic plugin in TB"
Used as reference:
https://github.com/tensorflow/tensorboard/tree/master/tensorboard/examples/plugins/example_basic

**Problem**: I cannot get the hello world plugin to display in TB.

**Corrective Action**: TBD.  Please help.

Here are the steps and sub-steps performed to display the new 'hello world dynamic plugin'.

1. Remove our TB
* Launch our internal TF docker
* pip uninstall tensorboard

[2019-08-09 21:26] beasteers opened #2534 "Build does not use proper Python path (Following instructions in DEVELOPMENT.md)"
This may be an issue with bazel (`2.28.1`, the current version), but either way it's a problem for tensorboard build that should at least be documented. I tried the installing `2.23.2`, the version found in `package.json`, but it was too old and another package required a newer version.

I'm trying to build Tensorboard locally using the instructions found in [DEVELOPMENT.md](https://github.com/ten

[2019-08-09 21:27] wchargin commented on #2533
Thanks for the clear instructions. I followed them and can reproduce
this output. But I think that it’s working as intended. On my end, the
example plugin is loaded but inactive. It appears under the “inactive
plugins” drop-down menu, and when you select it it loads properly:

![Screenshot of example plugin][1]

[1]: https://user-images.githubusercontent.com/4317806/62810020-7e276700-bab1-11e9-911

[2019-08-09 21:41] wchargin commented on #2534
Indeed. This was a breaking change in Bazel 0.27. We’re “tracking” this
in #2355, but candidly all of us on the TensorBoard team have just
pinned our Bazel versions to 0.26.1, because there doesn’t seem to be an
easy way to resolve this.

Yes; [0.26.1 is the minimum required version][bzv], and also happens to
be the _maximum_ possible version. :-( I’m not sure why `package.json`
is pointed to 0.23

[2019-08-09 21:44] wchargin commented on #2534
And, in case you find them useful, I use the following shell aliases to
manage Bazel versions. Usage: run `install_bazel 0.26.1` once, then in
any shell session write `PIN_BAZEL=0.26.1` and all your subsequent
`bazel` invocations for that shell will use `0.26.1`.

As written, this assumes that you have `gpg` set up with a copy of
Bazel’s signing key\* trusted, as I use GPG to verify the binaries a

[2019-08-09 21:55] wchargin commented on #2355
Update: All the statics have been fixed, but the semantics are still
broken due to Python toolchains as described above. As of 0.28.1,
passing `--incompatible_use_python_toolchains=false` does suffice to get
everything working.

I’ve just learned that Bazel supports [workspace-level `.bazelrc`s][rc]
in addition to the standard home directory `.bazelrc`s. Indeed, after

[code]

I can run `bazel run

[2019-08-09 22:06] beasteers commented on #2534
Awesome! thanks for the fast reply. And all of the helpful snippets. I ended up getting it to work by using:

[code]

It looks like they're both doing about the same thing. I'm glad that it's not just me, but it sucks that it's going to be an ongoing problem.

From what I understand from https://github.com/bazelbuild/bazel/issues/7899, it seems like they expect us to hardcode the interpreter paths

[2019-08-09 22:19] wchargin commented on #2534
Great! Glad to hear that you’re unblocked.

One of Bazel’s primary goals is to be a fully hermetic system: if it
builds on my machine, it should build on yours, with bit-for-bit
identical outputs. Depending on tools from `PATH` moves us farther from
that goal, by moving configuration out of the version-controlled project
and into the environment. So I can understand why non-hermetic
toolchains are

[2019-08-09 22:19] #2534 closed

[2019-08-09 23:12] beasteers commented on #2534
Understood. In the style of docker I suppose. I understand clearing $PATH in that respect. Would adding a virtualenv to the build work? Honestly, I'm not sure how it's building using the system python 2 when `tf-nightly` was only installed in the virtualenv 🤷‍♀️

I think it would be important to note all of this in `DEVELOPMENT.md` though.
i.e.

----
You have to install `Bazel==0.26.1` in order fo

[2019-08-09 23:54] ceevee830 commented on #2533
Hi William,

1) Yes I do see `example_basic` in the drop list.  When I select it, I don't see the data in the panel.  Here is what I see in the browser console:

![image](https://user-images.githubusercontent.com/5108675/62814326-0400dd80-bac5-11e9-8b94-a4cbf885b0ee.png)

2) Within `/dynamic_plugin/example_basic/tensorboard_plugin_example`, I ran `python demo.py`.  Saw some good output without any

[2019-08-10 00:56] wchargin opened #2536 "Dynamic projector plugin does not load in Firefox"
Can repro on HEAD (1c9412d1) and nightly (2019-08-09) with Firefox 68.

Selecting the “projector” tab renders an empty pane and an error in the
console:

Intriguingly, this error has virtually no documentation on the internet.
Its Firefox-internal message ID is `JSMSG_DYNAMIC_IMPORT_FAILED`, and,
according to [the changeset that introduced it][cs] in January 2019, it
“covers all import() failures

[2019-08-10 01:01] wchargin commented on #2533
Interesting. Thank you for the report. It looks like the dynamic plugin
loading mechanism is not working in Firefox. I’ve filed #2536 for this.
We aim to fully support latest Firefox as well as latest Chrome, and
this is a core mechanism, so I’ve triaged this as high-priority
internally. I can’t guess as to the cause: the actual network request is
succeeding with 200 and the right response, and th

[2019-08-10 01:51] wchargin commented on #2534
Yep, exactly.

Not sure whether you mean “creating a virtualenv as part of the Bazel
build” or “referring to an existing virtualenv from the Bazel build”.
The former is possible, and is kind of what the [`rules_python`
rules][rp] do. But for that approach you have to explicitly specify all
the packages and versions (by design), so when I want to test against

  - today’s `tf-nightly`,
  - today’s

[2019-08-10 01:56] wchargin commented on #2536
This is looking to be a bit of a Heisenbug: I prepended a `debugger;`
statement to the iframe script contents (in `tf-tensorboard.html`), and
the bug still repros but only when the console is closed. If the console
is open, the module resolves correctly, but has the wrong behavior
because the `baseURI` setting did not propagate for some reason; there
isn’t even a `base` element in the frame’s `hea

[2019-08-10 06:47] ceevee830 commented on #2533
Yes I can see it with Chrome.  Will this work inside TB 1.14?

[2019-08-10 19:11] huxl5 commented on #982
you can try to use Chrome

[2019-08-11 08:50] mbenami commented on #2421
Hi
Does someone know how the Sphereize data calculated?
when you hover on the Sphereize data its says
[code]
how the centroid point has been calculated?
what is the space of the features? the original or PCA?

thanks for the help

[2019-08-12 01:47] scottdickerson opened #2537 "security: exposure in one of the packaged libraries that tensorboard is packaging"
tensorboard 1.14 version has exposures in the packaged version of htmlserializer detected by the appscan tool, details attached.  To fix you should upgrade your htmlserializer
/Users/scottsd/Documents/GitHub/analytics-service-library/env/lib/python3.7/site-packages/tensorboard/_vendor/html5lib/serializer/htmlserializer.py

## Environment information (required)

![image](https://user-images.githubu

[2019-08-12 14:02] jameswex commented on #2505
I believe running WitWidget through Firefox will require some updates to the widget, as webcomponents need to be polyfilled in Firefox and loaded before the WIT webcomponent can be created.
We can keep this issue open to track enabling its use in Firefox.

[2019-08-12 14:12] ismael-elatifi commented on #766
It seems Tensorboard (at least versions below 1.14) is always loading all logs into RAM even they are deactivated in the UI.
So the more runs we have, the higher is the memory consumption. It forces us to clean our log folder once in a while to reduce the memory taken by Tensorboard.
A good thing would be to load in RAM only logs selected in the Tensorboard UI. That way the memory consumption will

[2019-08-12 16:13] guhur commented on #92
@alexattia an [alternative solution](https://stackoverflow.com/questions/51693983/has-anybody-found-a-way-to-make-tensorboard-password-protected) consists in using TensorBoard behind a web server and adding an authentication on the web server.

[2019-08-12 17:46] wchargin commented on #2536
The unique occurrence of `JSMSG_DYNAMIC_IMPORT_FAILED` is in the error
case of [`ScriptLoader::FinishDynamicImport`][fdi], which is itself only
called from other functions in that source file. I’m not familiar with
the Gecko codebase, but from what I can tell it looks like the
underlying cause of the error is squashed, and in a quick retrograde
analysis most of the possible failure conditions aren

[2019-08-12 18:00] wchargin commented on #2536
Minimal repro:

[code]

[code]

[code]

Then visiting `index.html` gives the same “TypeError: error loading
dynamically imported module”, even though the network request for
`mod.js` succeeds with 200 and the right content, and even though adding
`import("./mod.js")` to the top of the `script` element in `index.html`
properly imports the module.

Replacing the relative path with `http://localhost:

[2019-08-12 19:57] wchargin commented on #2536
Filed a Firefox bug: <https://bugzilla.mozilla.org/show_bug.cgi?id=1573262>

[2019-08-12 22:47] #2536 closed

[2019-08-13 00:33] wchargin commented on #2533
We’ve found a workaround to fix dynamic plugins in Firefox (#2540),
which should be released in today’s nightly.

Hard to say. We hadn’t officially finalized or released the dynamic
plugin infrastructure at the time of the 1.14.0 release; it’s just that
a lot of the pieces were already there, so many things will happen to
work. But, as you’re seeing from this Firefox bug, it’s certainly not
battle

[2019-08-13 03:04] mjlbach opened #2541 "tb-nightly profiler not working with tf-nightly-2.0-preview"
### Environment information
### Diagnostics

<details>
<summary>Diagnostics output</summary>

[code]

</details>

Chrome Version 76.0.3809.100

## Issue description

Using tf.summary.trace_on(graph=True, profiler=True) and tf.summary.trace_export("Profiling", step=1, profiler_outdir="/home/mjlbach/logs") surrounding any tf.function decorated or eager model yields a blank profile page. The same log

[2019-08-13 03:49] wchargin commented on #2541
Hi @mjlbach! Thanks for the clear report. This was previously reported
in #2491 and fixed in #2509, but we haven’t had any nightly releases
since then due to unrelated build failures. We think that we’ve fixed
these (#2539) so tomorrow’s nightly should have the fix, but here’s an
advance copy for you, built from current HEAD (bb17d5f3):

[tensorboard_wheels_20190812_bb17d5f3.tar.gz](https://github

[2019-08-13 03:49] wchargin commented on #2541
Duplicate of #2491

[2019-08-13 03:49] #2541 closed

[2019-08-13 03:58] mjlbach commented on #2541
@wchargin Thanks! The build you just sent me is working.

[2019-08-13 04:36] wchargin commented on #2541
Great! Glad to hear it.

[2019-08-13 08:05] flow2k commented on #1340
I get the same error with `bool`.

[2019-08-13 12:03] linshuliang opened #2542 "How to reload data in the mode of "reduced feature""
I haven't install TensorFlow, but I want to use Tensorboard to display the data logged with TensorboardX.

[code]

It can't reload data automatically,  unless I shut down tensorboard `Ctrl + C` and restart again.

How can I activate the automatically reload?

[2019-08-13 15:00] ceevee830 commented on #2533
Thanks for escalating and fixing the Firefox bug.
Is there a way you could package and send me the files that enable dynamic plugins so that I could include/merge them into our custom TB v1.14?  If I could get this functionality inside our TB, our customers would be extremely happy.

[2019-08-13 15:01] dsmilkov commented on #2421
Hi, the space is the original embedding (not the PCA). The unit normalization is done by dividing each component of the embedding by the magnitude.

[2019-08-13 16:30] nfelt commented on #2542
Duplicate of #2441

[2019-08-13 16:32] nfelt commented on #2542
This bug has been fixed, but so far it's only in our nightly releases, so you'd need to uninstall `tensorboard` and instead install `tb-nightly`.  See #2441 for details.

[2019-08-13 16:32] #2542 closed

[2019-08-13 17:39] wchargin commented on #2533
All the files related to dynamic plugins are in this public Git
repository. You’re more than welcome to clone, copy, modify, and merge
those files however you like (subject to the license conditions, of
course).

The changes are fairly cross-cutting across core parts of TensorBoard—
the plugin base `BasePlugin` and `TBContext`, the backend core routing
and serving logic, the frontend `tf-tensorboa

[2019-08-13 17:39] #2533 closed

[2019-08-13 17:48] zmjjmz commented on #1862
I've found this issue to also occur with TensorFlow 1.14, and was able to resolve it by installing `tb-nightly`.

[2019-08-14 04:49] nfelt commented on #59
Thanks for bearing with us and apologies for the delay.  The TF 2.0 summary API actually does address the underlying issue here, even though it doesn't include `display_name` as I originally described.

The tl;dr is that now the string given to [TF 2.0 summary ops](https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/summary/scalar) will be directly used as the tag, except that it will be p

[2019-08-14 04:49] #59 closed

[2019-08-14 11:35] omoindrot commented on #2471
Would be great to have a clean tutorial on how to use TensorBoard projector with TensorFlow 2.0 !

[2019-08-14 13:17] RaghuSpaceRajan commented on #1555
I faced this with TensorBoard 1.14 and TensorFlow 1.14. But my error was:
KeyError: 'DQN_BreakoutNoFrameskip-v4_0_2019-05-28_11-57-41hmp3w0qr'
which was actually the name of a directory inside a previous **logdir** I had loaded with tensorboard. No matter how many times I loaded a new **logdir**, it threw this error.
Reverting to tensorboard-1.12.2 and tensorflow-1.13.0rc1 seems to have worked.

D

[2019-08-14 15:03] wchargin commented on #1555
@RaghuSpaceRajan: Usually this happens when you launch TensorBoard, open
it in a browser, shut down the TensorBoard process, and start a new one
while keeping the old browser tab up. The old browser tab will continue
making requests to the refresh the charts that it already loaded, which
may not exist in the new TensorBoard process.

The solution is to just close the old TensorBoard tab.

[2019-08-14 15:35] marota commented on #2505
Thanks for your feedback. It would be really great if you could make it work in Firefox!

[2019-08-14 15:51] RaghuSpaceRajan commented on #1555
@wchargin: I see. That's very well possible since I tend to not close the old tab, but I don't remember this happening ever before. Strange!

Thanks for the info!

[2019-08-14 15:51] linshuliang commented on #2542
I have tried this method, but i doesn't work.

There is no log info printed in terminal, is that mean "The frontend does't send request of reloading data"?

Look forward to your kind reply.

[2019-08-14 16:23] nfelt commented on #2542
If you're still seeing this issue, can you provide the details that we ask for in our issue template?  You can see that here: https://github.com/tensorflow/tensorboard/issues/new?assignees=&labels=&template=bug_report.md&title=

In particular, we would need to know exactly which version of `tb-nightly` you installed, and instructions that reproduce the issue (e.g. something like "run these lines o

[2019-08-15 01:11] #2537 closed

[2019-08-15 01:12] wchargin commented on #2537
Thanks for letting us know! In the future, please feel free to email
security issues to us directly at security@tensorflow.org. I’ll copy
[TensorFlow’s `SECURITY.md`][1] into our repository and adjust
accordingly to make this clearer.

[1]: https://github.com/tensorflow/tensorflow/blob/master/SECURITY.md#reporting-vulnerabilities

[2019-08-15 02:56] wchargin commented on #2537
Added `SECURITY.md` in #2550. Thanks again!

[2019-08-15 09:39] linshuliang opened #2553 "Can't reload data without TensorFlow installation"
I make use of tensorboardX to log data, without TensorFlow installation, TensorBoard run with the reduced feature set. The frontend webpage can't reload data to refresh.

## Enviroment setting
Machine : MacBook Pro
Machine OS : macOS 10.14.6

Python Environment

[code]

The Version of tb-nightly is  1.15.0a20190814.

## My program to log data

[code]
## The command to launch tensorboard

[code]

I

[2019-08-15 16:18] stephanwlee commented on #2553
Hey @linshuliang, thanks for opening an issue.

In my preliminary attempt to debug the issue, I was able to reproduce the issue.

Few things I tried:
- I did increase the verbosity in TensorBoard and it does seem to go through the reload routine.
- Was not able to reproduce the issue with tf 2.0 (TensorBoard is run in virtualenv _without_ tensorflow)

In virtualenv with tensorflow
[code]
In virtua

[2019-08-15 17:00] ceevee830 opened #2554 "Enable dynamic plugin in cloned TB 1.14"
We have branched TB v1.14 and added our extensions to the GRAPHS plugin and added our new custom plugin.  This feature request is to try and get the new dynamic plugin working in our version of TB v1.14.

From a previous issue, I understand that `The changes are fairly cross-cutting across core parts of TensorBoard—the plugin base BasePlugin and TBContext, the backend core routing
and serving logi

[2019-08-15 20:43] stephanwlee opened #2555 "core: make a binary out of roboto"
For consistency of UX, it is reason for plugins to use Roboto.

Because TensorBoard strongly strongly recommend all resources to be part of the pip package for operability without internet, TensorBoard should provide a way to embed Roboto resource without much trouble.

[2019-08-15 21:02] wchargin commented on #2555
This is about exposing an endpoint from TensorBoard core to serve the
fonts and CSS, yes?

[2019-08-15 21:28] stephanwlee commented on #2555
fonts, yes.

[2019-08-16 02:52] linshuliang commented on #2553
It is not only a matter of writer, but also a matter of read.

[2019-08-16 02:57] wchargin commented on #1705
I have some fixes pending. After these pull requests are merged, the
stragglers will fall into two categories:

  - debugger-related tests:
      - `tensorboard/plugins/debugger/debug_graphs_helper_test.py`
      - `tensorboard/plugins/debugger/interactive_debugger_plugin_test.py`
      - `tensorboard/plugins/debugger/session_debug_test.py`
  - users of `tf.contrib.summary.create_db_writer`:

[2019-08-16 03:20] linshuliang commented on #2553
I have found the bug in tensorboardX, It doesn't `writer.flush()`，so the RecordReader can't find the new data.

We just need to add a new API in tensorboardX , which do flush in fixed time.

Thanks.

[2019-08-16 03:28] stephanwlee commented on #2553
Ok, it sounds like the bug requires no action item on our part. If I understood you incorrectly, please feel free to reopen the issue, thanks!

[2019-08-16 03:28] #2553 closed

[2019-08-16 03:51] hzlenjoy commented on #1862
if using `pip`, somehow the order of `tensorflow-tensorboard` and `tensorboard` matter...
[code]
then
[code]
this will be solved

[2019-08-16 03:54] lenjoy commented on #1862
if using `pip`, somehow the order of `tensorflow-tensorboard` and `tensorboard` matter...

[code]
then
[code]
this will be solved

[2019-08-16 04:03] wchargin commented on #1862
@lenjoy: The `tensorflow-tensorboard` distribution is a relic of a
bygone era; there’s no need to install it anymore. As noted on [the PyPI page][1]

[1]: https://pypi.org/project/tensorflow-tensorboard/

[2019-08-16 05:54] thincal opened #2562 "hparams plugin still depends on Tensorflow"
From `tensorboard/plugins/hparams/metrics.py`, it still uses the make_ndarray from tensorflow. But this function actually is provided by the `tensorboard/util/tensor_util.py` already.

[2019-08-16 06:14] wchargin commented on #2562
Hi @thincal! You’re right—it looks like that usage of `make_ndarray` is
the _only_ remaining dependency on TensorFlow. I’ll be happy to change
this over to `tensor_util` as you describe and drop the dependency on
TensorFlow.

Note that the writing APIs are already available without TensorFlow: you
can import `tensorboard.plugins.hparams.summary_v2` in your training
code without a TensorFlow depend

[2019-08-16 14:55] stephanwlee commented on #2518
@caisq is this bug fixed? Do you expect to do more work around it? Thanks!

[2019-08-16 15:16] #2562 closed

[2019-08-16 15:47] caisq commented on #1705
I can look into the debugger test failures.

[2019-08-16 15:50] caisq commented on #2518
The most salient bug is fixed. However, I'd like to see if I can do something smarter: I.e., hide the health-pills toggle when there is no health-pill data. So maybe we can leave the bug open for now, if that's okay?

[2019-08-16 15:56] stephanwlee commented on #2518
Sounds good!

[2019-08-16 17:02] lenjoy commented on #1862
@wchargin , got it. thanks! it works!

[2019-08-16 23:35] wchargin commented on #2355
We now actually do build on 0.27.0 through 0.29.0rc4, so I’m going to
close this even though we rely on a `.bazelrc`.

[2019-08-16 23:35] #2355 closed

[2019-08-18 09:52] mbenami commented on #2421
thanks, @dsmilkov
how the centroid for shifting each point is calculated?
how many centroids are there? one for each bit in the embedding space?

[2019-08-18 19:28] gar1t opened #2571 "Show session status somewhere in"
It's possible to filter sessions by status in the HParams plugin, but the session status does not appear anywhere in the UI (as of 1.14.0).

This addition would I think be best as an icon next to the session name + tooltip with status name. I think this ought to appear anywhere the session name appears (i.e. table view, parallel coords, scatter plot)

[2019-08-18 19:38] wchargin commented on #2571
Hi @gar1t! This makes sense. One thing to be cognizant of is that the
public APIs don’t place much emphasis on the session status: the Keras
callback will mark sessions as successful when appropriate, but there’s
no exposed function to do that from non-Keras code, and sessions will
never be marked as failed. We declined to include these functions
because their output isn’t shown usefully in the UI

[2019-08-18 19:51] gar1t commented on #2571
I'm working with the summaries directly and trying to understand how status can be updated. From what I can see, an hparams session ("session") is created when a SessionStartInfo summary is written. There's no "initial status" field and so the session status UNKNOWN. The status is updated when SessionEndInfo - but during the life of the session/trial, it's status is UNKNOWN.

It appears that sessi

[2019-08-19 03:45] linshuliang opened #2572 "The time to release TensorBoard 1.15"
May I ask a question?

When will the new version（TensorBoard 1.15） be released?

[2019-08-19 10:05] dasmehdix commented on #2399
I had same problem and solved it.Problem was occured when I tried to transfer learning with `faster_rcnn_inception_v2_coco` model.

As far as I understand the problem about the `config` file of the model you try to use.First check the path of config file correct or wrong.Then, check the paths given in the config file.I solved the problem by correct the paths.

[2019-08-19 13:45] dsmilkov commented on #2421
There is only one centroid vector (k-dimensional) for a k-dim embedding space. It's computed by averaging all the embeddings.

[2019-08-19 14:11] mbenami commented on #2421
Thanks
so the calculation on N vectors will be:
[code]
am I right?

[2019-08-19 14:17] jameswex commented on #2454
Thanks, taking a look starting today.

[2019-08-19 14:52] dsmilkov commented on #2421
Yes, with a tiny detail that you will have to call `np.linalg.norm(N_vectors,axis=-1,keepdims=True)` so the division broadcasting works in the last line of code.

[2019-08-19 16:34] jameswex commented on #2454
What version of ipywidgets is installed for you, out of curiosity. It must be >=7.5 to use with jupyterlab 1.x.

I just released wit-widget npm package 1.3.1 which updates a dependency version rule so that it might fix your problem. Please ensure you have ipywidgets 7.5 or greater, then install wit-widget 1.3.1 and see if that works. Thanks!

[2019-08-19 16:41] stephanwlee commented on #2572
@wchargin I believe you were working on this. What's the status?

[2019-08-19 16:44] wchargin commented on #2572
TensorBoard releases in lockstep with TensorFlow. Once a TensorFlow
release candidate is pushed, TensorBoard will push a full release, which
the TensorFlow release will depend on.

[2019-08-19 16:45] #2572 closed

[2019-08-19 17:58] nfelt opened #2573 "Restructure the WSGI app for easier direct use"
This issue tracks refactoring the main TensorBoard WSGI app to make it easier to use the app as a standalone WSGI app (rather than only via the `tensorboard` CLI).

The essential stream of work is the "core" stream below, but it leaves behind a lot of cleanup that we should at least partially address as well.

CORE
- [ ] Migrate callers of TensorBoardWSGIApp users to TensorBoardWSGI + explicit `Re

[2019-08-19 18:24] tribbloid commented on #1306
Also affect me, I'm using pytorch 1.2.0 so not sure if it is the right thread.

[code]

[2019-08-19 18:30] nfelt commented on #1306
I'm closing out this issue since "No dashboards are active" is the standard message if TensorBoard can't find your data, and it's not a bug in TensorBoard unless you can show why TensorBoard should be finding your data.

If you believe you're seeing the error because of a bug in TensorBoard, please open a new issue and fill out enough detail to be clear on how to easily reproduce the problem.

@tr

[2019-08-19 18:30] #1306 closed

[2019-08-19 18:47] wchargin commented on #2571
It’s a bit worse than that, actually. You’re right that session status
is determined by the `SessionEndInfo` record, but this is stored on the
`summary_metadata` field of a summary, and [we only record the first
metadata value that we see][1]. So if you emit a `SessionEndInfo` with
status “running”, then any further status “done” will never be read.

Thus, there’s currently no way for a session to

[2019-08-19 19:29] tribbloid commented on #1306
no problem, here you go.

[2019-08-19 23:33] nfelt opened #2579 "Mesh plugin hits KeyError when new mesh summary tags are added to a run"
cc @podlipensky

The following steps will recreate the issue against today's `tb-nightly`:

1. Create a virtualenv w/ `tf-nightly-2.0-preview` and the current `tb-nightly`
2. Build the mesh_demo_v2 binary as updated in https://github.com/tensorflow/tensorboard/pull/2578
3. `wget https://people.sc.fsu.edu/~jburkardt/data/ply/teapot.ply`
4. `bazel-bin/tensorboard/plugins/mesh/mesh_demo_v2 --mesh_pat

[2019-08-20 08:48] omoindrot commented on #469
Would be great to have this global slider !
Any update since last year?

[2019-08-20 13:57] paulguerrero commented on #766
I have the same issue, Tensorboard 1.14 was at 24 GB after running for about a day. This can't be only due to Tensorboard loading all logs into memory, since the total size of my logs on disk is between 1 and 2 GB. After restarting and waiting for all data to be shown in the UI, Tensorboard now uses 400 MB (although it will probably grow again over time).

[2019-08-20 14:56] ceevee830 commented on #2554
Hi @GalOshri , is there anything actionable I can do this week?

[2019-08-20 21:48] nfelt commented on #2554
Hi Chris - the gist of the previous comment was that TB 1.14 wasn't meant to ship with stable support for dynamic plugins.  You're of course welcome to try to get it working, but our recommendation would be to update your branch to pull in the more recent changes.

Is there a reason that you can't work with TB nightly / HEAD?  There will also be a TB 1.15 release, the last in TF 1.x, in the new fe

[2019-08-20 23:26] ceevee830 commented on #2554
Hi @nfelt, thanks.  Waiting for TB v1.15 is doable from our side.  Just to confirm: the dynamic plugin will be available in TB v1.15?

Also, in my travels I have heard that jQuery is available in the dynamic plugin architecture.  I see references to jQuery but do not see any examples of jQuery.  Do you have an example I can view?

[2019-08-21 00:10] nfelt commented on #2554
The minimal support for dynamic plugins should all be there in 1.15, yes.

Dynamic plugins can essentially use any library because they're hosted in an iframe and you can control the source of the iframe: https://github.com/tensorflow/tensorboard/tree/master/tensorboard/examples/plugins/example_basic#frontend-how-the-plugin-visualizes-your-new-data

I don't believe we have an example using jQuery,

[2019-08-21 05:56] loliq commented on #2399
Hi

Hi, I met the same problem using object detection api. And I check the path, but it didn't work, my tensorflow version is 1.14.

[2019-08-21 09:03] dsmic commented on #1063
Since in tf-2.0 beta1 the tensorflow.keras.callbacks.TensorBoard() callback seems to relay on that feature, it might be a good idea to enable it by default or (if that is not an option) give a hint to that feature in the warning E0821.

[2019-08-21 11:44] dasmehdix commented on #2399
Try to erase the codes below in your config file.
[code]

[2019-08-21 14:30] sahilpasricja commented on #2352
"i ran the diagnosis file and corrects errors it identified , still same issue

**W0821 16:11:25.460407 139898119034688 __init__.py:328] Limited tf.compat.v2.summary API due to missing TensorBoard installation.**

Here is the output of diagnosis file

### Diagnostics

<details>
<summary>Diagnostics output</summary>

[code]

</details>

### Next steps

No action items identified. Please copy ALL of

[2019-08-21 15:42] caisq commented on #1705
These tests in tensorboard/plugins/debugger are TF1/2 compatible now, thanks to the just-merged PR.

- tensorboard/plugins/debugger/debug_graphs_helper_test.py
- tensorboard/plugins/debugger/interactive_debugger_plugin_test.py
-  tensorboard/plugins/debugger/session_debug_test.py

@stephanwlee Can you update the issue description to reflect that?

[2019-08-21 16:05] stephanwlee commented on #1705
@caisq Done!

[2019-08-21 16:51] ceevee830 commented on #2554
Hi @nfelt the example in `tensorboard/examples/plugins/example_basic` is a javascript file that creates the DOM on the fly.  Do you have any suggestions or guidance to enable jQuery using an HTML file?

[2019-08-21 16:52] zaher88abd opened #2584 "Using tensorboard with tf.keras 1.14"
I am using Tensorboard with Tf.keras, the issue I have is the Tensorboard is not reading the data new data, I have to stop and start the Tensorboard to see the new loss values.
This the code for creating the Tensorboard callback:
[code]
Reagarding the versions:
tensorflow-gpu                1.14.0
tensorboard                   1.14.0

[2019-08-21 16:56] stephanwlee commented on #2554
@ceevee830 we generally wanted to avoid preferring a library over another since it gives other impression that the dynamic plugin only supports that library. You should be able to use any conventional way of building JavaScript to embed jQuery to your liking.

I would recommend you to use [jQuery from NPM](https://www.npmjs.com/package/jquery) and use [webpack](https://webpack.js.org/guides/gettin

[2019-08-21 17:55] wchargin commented on #2584
Hi @zaher88abd—could you try adding `profile_batch=0` to your Keras
callback? You may be running into #2084.

[2019-08-21 17:57] ceevee830 commented on #2554
I'm asking how to get TB launch HTML files in the dynamic plugin, not the javascript file.  I did not mean to imply that I'm asking for a different library.

So I'm looking at the projector plugin, since [that points to an `index.js` file](https://github.com/tensorflow/tensorboard/blob/master/tensorboard/plugins/projector/tf_projector_plugin/index.js#L29), just like the example_basic plugin.  It i

[2019-08-21 18:00] wchargin commented on #2554
An easy way to use standard HTML files without diving into the whole
Webpack and NPM ecosystem is to load the HTML file in an iframe, and
create the iframe inside the JS as in the projector examlpe that you
linked to.

The `projector_binary.html` file is generated dynamically by our build
system, and probably isn’t what you want to emulate. Instead, create a
normal `my_index.html` file in your plu

[2019-08-21 20:26] ceevee830 commented on #2554
Thanks William.  Getting closer, but not out of the woods.
The paragraph above your code snippet says to serve up the html, but the code serves up the index.js.  So I ported references to the index.js to my_index.html, and changed the content_type accordingly.
[code]
But this error message appears:
`Failed to load module script: The server responded with a non-JavaScript MIME type of "text/html".

[2019-08-21 21:05] wchargin commented on #2554
You’ll need one handler to serve your JS entry point, `index.js`. This
should serve as MIME type `application/javascript`, and the contents
should be an ES module that creates an iframe in the page, as in the
projector plugin entry point that you found.

You will need a separate handler to serve your HTML entry point,
`index.html`. This should serve as MIME type `text/html`, and the
contents can b

[2019-08-22 09:59] jhagege commented on #1915
@evictor did you find a solution to this issue ?
We encountered a "Bad file descriptor" when SummaryWriter is writing directly on a NAS (NFS) mounted folder, which seem to happen only when we are working on 4xGPU or 8xGPU machine.

[2019-08-22 14:37] zaher88abd commented on #2584
Thank you @wangpengmit, it's working now.

[2019-08-22 14:37] #2584 closed

[2019-08-22 16:51] wchargin commented on #2584
Great! Glad to hear it.

[2019-08-22 16:51] wchargin commented on #2584
Duplicate of #2084

[2019-08-23 13:49] kouzant commented on #2454
Hi @jameswex I re-installed wit-widget and now it works! Thanks a lot!
I posted above the extensions I've installed https://github.com/tensorflow/tensorboard/issues/2454#issuecomment-514923179

[2019-08-25 01:39] iansf opened #2595 "Multiple regressions in display of charts in scalars tab."
## Environment information (required)

Please run `diagnose_tensorboard.py` (link below) in the same
environment from which you normally run TensorFlow/TensorBoard, and
paste the output here:

Run on Google's internal infrastructure using latest prebuilt tensorboard binaries.

For browser-related issues, please additionally specify:

  - Browser type and version: Chrome 76.0.3809.100 (Official Bui

[2019-08-25 15:09] paulguerrero commented on #766
Here is a set of logs that reliably causes Tensorboard's memory to increase over time for me (after around 1-2 days it uses several 10s of GBs):
https://drive.google.com/file/d/1h16uu2GsW5qFNLzuqIu1HV7rkNJEUosR/view?usp=sharing

The log directory contains a lot of non-Tensorboard files as well, maybe this is what causes the issue?
I usually leave a browser tab with the Tensorboard client open in t

[2019-08-25 16:07] rom1504 commented on #766
I don't think any contributor care about this issue. Nobody has
investigated although it has been open for years.
So expect much to happen.
(Except if someone wants to pay for support or something)

On Sun, Aug 25, 2019, 17:09 paulguerrero <notifications@github.com> wrote:

[2019-08-26 11:08] rmothukuru commented on #2554
@ceevee830 ,
Can you please respond to @wchargin's comment so that we can work towards closure of your issue. Thanks!

[2019-08-27 12:39] gar1t opened #2597 "hparams plugin to not rely on tensorflow library"
It would be great if the hparams plugin would work without tensorflow. At casual glance I don't see why it needs this dependency.

[2019-08-27 15:40] #2597 closed, assigned to nobody

[2019-08-28 17:14] bhorkar opened #2601 ""Failed to pick subchannel","file":"src/core/ext/filters/client_channel/client_channel.cc""description":"failed to connect to all addresses""
Consider Stack Overflow for getting support using TensorBoard—they have
a larger community with better searchability:

https://stackoverflow.com/questions/tagged/tensorboard

Do not use this template for for setup, installation, or configuration
issues. Instead, use the “installation problem” issue template:

https://github.com/tensorflow/tensorboard/issues/new?template=installation_problem.md

To

[2019-08-28 17:42] #2601 closed, assigned to nobody

[2019-08-28 18:04] wchargin opened #2603 "Dragging the mesh step slider also rotates the mesh"
Screencast:

![Screencast of dragging the mesh slider][gif]

I’d noticed for a long time that the mesh would rotate slightly when I
loaded new steps, but I didn’t realize that it was just capturing the
drag events.

It also captures and responds to arrow key presses on the slider.

[gif]: https://user-images.githubusercontent.com/4317806/63880804-4cecd900-c983-11e9-992b-fbede3c7bd80.gif

[2019-08-28 19:14] joel-shor opened #2604 "Tensorboard often chokes in google cloud console"
Consider Stack Overflow for getting support using TensorBoard—they have
a larger community with better searchability:

https://stackoverflow.com/questions/tagged/tensorboard

Do not use this template for for setup, installation, or configuration
issues. Instead, use the “installation problem” issue template:

https://github.com/tensorflow/tensorboard/issues/new?template=installation_problem.md

To

[2019-08-28 22:01] bhorkar commented on #2601
I updated the post. I still have the issue.

[2019-08-29 21:53] wchargin commented on #2601
I can’t reproduce this. I installed your exact package listing (except
for the three `mkl-*` packages, which aren’t available on PyPI) into a
fresh Python 2.7.16 virtualenv, and ran your exact TensorBoard
invocation followed by your exact `test.py` program. Everything was as
intended: TF connected to the debugger, and the TensorBoard GUI worked.

The error message suggests that the TensorBoard ser

[2019-08-30 01:14] wchargin commented on #719
This should be fixed now. We depend on TensorFlow’s workspace
definition, which defines `python_headers`:

<https://github.com/tensorflow/tensorflow/blob/ea5477fe59b761605c7f1d29fdedf6b1360fc3a9/tensorflow/workspace.bzl#L1004-L1008>

We also run `bazel fetch //tensorboard/...` on every CI run, so
regressions should be caught quickly enough.

[2019-08-30 01:14] #719 closed

[2019-08-30 15:22] htung0101 commented on #39
@alexlee-gk Is there a way to use this for tf2, which is in eager mode.
I copy-paste your code, but it is not showing up.
can we add something like tf.summary at the very end to write the data out.

[2019-08-30 19:38] elrond79 commented on #1555
Got this with with TensorBoard 1.14 and TensorFlow 1.14, but unlike @RaghuSpaceRajan, it was the original error: KeyError: None.

[2019-08-30 23:43] wchargin commented on #1555
@elrond79, are you finding that TensorBoard works as expected but also
logs `KeyError: None` errors, or is TensorBoard inoperable and rendering
incorrectly as in the original post? Are any other, old TensorBoard
browser tabs open?

In either case, could you please run [`diagnose_tensorboard.py`][d] from
the same environment in which you run TensorBoard and paste the output
here?

[d]: https://raw.

[2019-08-31 00:09] wchargin commented on #1555
I think that it’s pretty likely that this will be resolved by #2611. The
original repro refers to a script that’s no longer available at its
original path, and the object detection script doesn’t appear to be
maintained at its new home (has `PYTHONPATH` module resolution errors,
missing dependencies, …).

If you think that the **original** issue here is still occurring, please
open a new issue and

[2019-08-31 00:09] #1555 closed

[2019-09-03 11:38] ericspod opened #2612 "__getattr__ protocol not adhered to at module level"
## Environment information (required)

<details>
<summary>Diagnostics output</summary>

[code]

</details>

## Issue description

The use of __getattr__ at the module level is not compliant with the specification in places.  One place is https://github.com/tensorflow/tensorboard/blob/a22566561d2b4fea408755a951ac9eaf3a156f8e/tensorboard/compat/tensorflow_stub/pywrap_tensorflow.py#L35

This returns

[2019-09-03 14:51] ceevee830 commented on #2554
ping @wchargin @GalOshri

[2019-09-03 17:30] wchargin commented on #2554
### `example_plugin.py`

[code]

### `static/index.js`

[code]

### `static/index.html`

[code]

### `static/jquery-3.4.1.dev.js`

(actual JQuery bundle)

[2019-09-03 17:31] wchargin commented on #2554
There are nicer ways to factor this, but this should get you started.

[2019-09-03 17:35] ceevee830 commented on #2554
Great thanks.

[2019-09-04 08:36] harvey-che commented on #2234
I still experience this problem with 1.13.1

[2019-09-04 08:50] llan-ml commented on #2485
Hi @wchargin What I mean here is for `tensorflow-gpu 2.0` if we can write summaries without initializing or occupying gpu devices.

For `tensorflow-gpu 1.x`, this could be achieved by `tf.summary.FileWriter` and `tf.Summary.Value`.

However, `for tensorflow-gpu 2.0`, the invocation of the function `tf.summary.create_file_writer` will lead to initialize gpu devices. Also, I cannot find any low-leve

[2019-09-04 19:03] ceevee830 commented on #2554
Works great!  See two jQuery plugins below (DataTables and CanvasJS)

![image](https://user-images.githubusercontent.com/5108675/64283227-dcf2cb80-cf0b-11e9-85ea-153c57cedb3d.png)

[2019-09-04 19:03] ceevee830 commented on #2554
I understand this will be available in TB v1.15.  Do you have a projected release date?  Ballpark date is ok.

[2019-09-04 19:11] wchargin commented on #2554
Very nice!

I don’t; sorry. It looks like TensorFlow [has cut an `r1.15` release
branch][1], and that cherry-picks are still landing onto it. There
hasn’t been a release candidate yet; it’ll show up [on PyPI][2] when
it’s released. TensorBoard 1.15 will be released shortly thereafter.
That’s all I know.

[1]: https://github.com/tensorflow/tensorflow/tree/r1.15
[2]: https://pypi.org/project/tensorf

[2019-09-04 20:59] wchargin commented on #2554
Looks like this is working—thanks for checking back in!

[2019-09-04 20:59] #2554 closed

[2019-09-04 21:04] ceevee830 commented on #2554
Thanks for your help William!

[2019-09-04 23:31] iansf commented on #2595
The tiny charts issue is not resolved in the Google prebuilt binary as of today:
![image](https://user-images.githubusercontent.com/12631059/64300106-7a5ff680-cf30-11e9-9858-4fc6da41aac5.png)

Perhaps the difference between my setup and what you test with is that my experiments have a large number of scalars (in the hundreds)? As you can see in both screenshots, I also am increasing the maximum nu

[2019-09-05 16:11] stephanwlee commented on #2595
Hi @iansf, sorry for the late reply.

The latest change in GitHub did not yet make it into Google and thus the Google prebuilt binary is not yet updated with the fix. I will today work on it to sync and release a new build.

[2019-09-05 17:43] stephanwlee opened #2614 "UI: run selector toggle all doesn't toggle _on_ on first click"
When there are [more than 40 runs](https://github.com/tensorflow/tensorboard/blob/master/tensorboard/components/tf_dashboard_common/tf-multi-checkbox.ts#L56), the run selector does not enable runs by default. Unlike my expectation, when no runs are selected, if you click on `Toggle All Runs`, runs do not get enabled. Only after the second click on the button, it toggles all runs.

[2019-09-06 02:56] wchargin opened #2615 "Remove special treatment for commas and colons in logdir specifiers"
Generally, the argument to `--logdir` is interpreted simply as a path.
But two characters have special meanings: commas allow specifying
multiple directories, and colons allow specifying custom names for runs.
Together, then:

    tensorboard --logdir model1:/my/logs/model1,model2:/my/logs/model2

This is problematic when people try to specify a log directory that
actually contains commas or colon

[2019-09-06 17:34] mahsa6310027328 commented on #71
how can i Encod my labels into utf-8 ?

[2019-09-07 08:30] sanidhyamangal opened #2619 "AttributeError: module 'tensorflow._api.v2.errors' has no attribute 'raise_exception_on_not_ok_status'"
Tensorboard - 13.0.0
TensorFlow - 2.0.0b1

Hi there I am getting following output after running following command
[code]

Output:

[code]

[2019-09-07 12:22] rfechtner commented on #1340
same here, also with `bool`

[2019-09-07 12:34] sahilpasricja opened #2620 "How to store weights with plugin name in keras model ( in tf.layers model i was doing with summary but keras had callback for storing weight )"
System information

OS Platform and Distribution - Linux Ubuntu 18.04:
TensorFlow version (or github SHA if from source):1.14.0
In my existing model, i am using CNN model with tf.layers

[code]

### In TF layers model, the solution was
And i used to write logs using summary

[code]

Within this summary, there was a feature to write plugin name, this plugin name is then used by my custom tensor boa

[2019-09-07 14:51] sahilpasricja opened #2621 "How to manually ftech weights from tensor in TF.Keras ( Same can be done in tf.layers model with help of (op:VariableV2))"
Hello,
For my tensorboard plugin, i need to store weights with plugin name and then fetch this data using the plugin name while the tensor board is running,

I was using TFconv model with tf.keras layers and to store weights, I used summary function where I was able to fetch the weights using the following line
tensor_ops = list(filter(lambda graph_node: graph_node.op == "VarHandleOp", graph.as_gr

[2019-09-07 17:06] wchargin commented on #2619
Hi @sanidhyamangal! TensorFlow 2.x requires a compatible version of
TensorBoard, and will not work with 1.13.x. Please **uninstall** any
copies of `tensorboard` or `tb-nightly` that you may have installed, and
then run `pip install tb-nightly` to grab the latest version.

[2019-09-07 17:06] #2619 closed

[2019-09-08 09:42] adizhol opened #2622 "Reading from SFTP (windows)"
Hi,

When running tensorboard (1.12 or 1.14) on logs from an SFTP drive using [sftp 2 driver](https://www.nsoftware.com/sftp/drive/?bld=7177&sno=NDX2AS1MACPERS0NA1), tensorboard doens't refresh the scalar display, and I see errors like
"[Thread-2 core_plugin.py:165] Unable to get first event timestamp for run ..."

Any idea how can I make it work?

Thanks

[2019-09-09 00:25] andrewschreiber commented on #2357
I'm eagerly awaiting the completion of the dynamic plugin system. @stephanwlee and @wchargin it looks like you guys have been focused elsewhere recently. Is there a timeline on when the last two items here will be wrapped up?

[2019-09-09 15:48] stephanwlee commented on #2620
I have roughly reformatted the issue.

Hi @sahilpasricja, thanks for raising the issue. It sounds like the question should be directed to the maintainer of Keras as getting the weight from the Keras Layers is a generic question. Would you be able to raise the issue to https://github.com/tensorflow/tensorflow?

Also, for my information, would you be able to use checkpoint to get the weights? https:

[2019-09-09 15:49] stephanwlee commented on #2621
Hi @sahilpasricja, that sounds like TensorFlow/Keras question. It would be great if you direct the question to https://github.com/tensorflow/tensorflow.

[2019-09-09 15:49] #2621 closed

[2019-09-09 17:09] evictor commented on #1915
Running Tensorboard from latest release of Tensorflow seemed to help! In fact I will close this now as I am no longer having that issue...

[2019-09-09 17:09] #1915 closed

[2019-09-09 18:40] omalleyt12 commented on #1340
Could you try with the latest 2.0 nightly? I am not seeing this issue there

[2019-09-09 20:59] stephanwlee opened #2624 "Re-enable mesh test"
In the latest TensorFlow, `@tf.function` broke due to missing symbols in gast.

TensorFlow describes its dependency on [gast with `>=0.2.0`](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/pip_package/setup.py#L57) and the new version 0.3.x removed symbols like `Str`, `Num`, etc... This breaks the autograph and below it will even break a simple function like below:
[code]

(i

[2019-09-09 21:02] stephanwlee commented on #2622
Hi @adizhol, would you be able to give us more complete picture into what you are doing? How are you invoking TensorBoard? How are you using sftp too?

[2019-09-09 21:29] adizhol commented on #2622
Hi @stephanwlee,

I map the SFTP to a drive letter, say X:\, and I start tensorboard with logdir=X:\logs.
It launches, but after a few minutes it stops showing new data.
I assume it's not receiving filesystem events.
I ended up using win-sshfs to map a network drive.

[2019-09-09 22:06] gowthamkpr commented on #2620
@sahilpasricja I am closing this issue as it belongs to tensorflow.keras. Please raise the issue in https://github.com/tensorflow/tensorflow. Thanks!

[2019-09-09 22:06] #2620 closed

[2019-09-09 22:15] nfelt commented on #2622
I'm not very familiar with windows SFTP mapping but it seems possible that the issue is similar to that with rsync, where by default the files are replaced rather than actually appended, so TensorBoard doesn't see the new data: https://github.com/tensorflow/tensorboard/issues/349

If there's a similar way to make SFTP reuse the same files, that might work.

Alternatively, if win-sshfs works for yo

[2019-09-10 05:27] nfelt commented on #2624
I'm confused by this issue - the mesh summary_v2 tests aren't the only one using @tf.function, several others do as well:

https://github.com/tensorflow/tensorboard/blob/1b623e7c914558b0e521d946fccee2b8ebdb53b9/tensorboard/plugins/scalar/summary_test.py#L192
https://github.com/tensorflow/tensorboard/blob/1b623e7c914558b0e521d946fccee2b8ebdb53b9/tensorboard/plugins/histogram/summary_test.py#L218
ht

[2019-09-10 10:10] sahilpasricja commented on #2620
@stephanwlee, @gowthamkpr   Thanks for the response.
Callback is a solution for storing weights but we need to add plugin name with these weights so that when tensorboard runs, the plugin I made can find its relevant data in logs using plugin name (refer to the summary function in my code above ).Call back is not at all an option unless it has a feature to store plugin name ( which as per my findi

[2019-09-10 15:07] stephanwlee commented on #2620
May I ask what kind of convention you have in mind?

[2019-09-10 16:40] stephanwlee commented on #2624
You are correct and autograph in those files indeed fails. Do note that even if autograph fails, it seems to run in some kind of fixture of graph mode / eager mode.

The type of error we are getting is unique to the mesh plugin and it is because of the conditional.
[code]
https://github.com/tensorflow/tensorboard/blob/master/tensorboard/plugins/mesh/summary_v2.py#L125

I tried to debug what kind o

[2019-09-10 17:25] ljstrnadiii opened #2628 "No Profile when using capture_tpu_profile"
Consider first reaching out to Stack Overflow for support—they have a
larger community with better searchability:

https://stackoverflow.com/questions/tagged/tensorboard

## Environment information (required)

Please run `diagnose_tensorboard.py` (link below) in the same
environment from which you normally run TensorFlow/TensorBoard, and
paste the output here:

[code]

## Steps to reproduce (requi

[2019-09-10 18:01] stephanwlee commented on #2628
Hi @ljstrnadiii, would it be possible to share what your MODEL_DIR looks like? `tree` would be sufficient.

[2019-09-10 18:29] ljstrnadiii commented on #2628
Hi, @stephanwlee.

I am not sure that tree works with gsutils and buckets. So, I will `gsutil ls [bucket]`

[code]
Is that at all helpful? I was trying to search for this `.traceable` file, but was not able to find it.

[2019-09-10 18:59] ljstrnadiii commented on #2628
Also, I try to run:
[code]
and get this
[code]

[2019-09-10 20:58] stephanwlee commented on #2628
@ljstrnadiii can you try to upgrade to TensorBoard nightly or 1.14.0?

I remotely recall there being a problem in 1.13.x. @qiuminxu would you remember if 1.13.x worked properly?

Do note that TB 1.14.x profile requires TF 1.14 so I recommend you to create a separate virtualenv for this.

[2019-09-10 21:13] qiuminxu commented on #2628
Yes, as @stephanwlee said, this is a version problem. From the logs, you have tensorflow 1.13.1 and capture_tpu_profile 1.14.0. What's your TPU version? Please make sure the tensorflow version, capture_tpu_profile version and the TPU version are the same, 1.13 or 1.14 for all.

[2019-09-10 21:42] ljstrnadiii commented on #2628
After `pip uninstall cloud-tpu-profiler` and installing the version that corresponds to my tpu with `pip install cloud-tpu-profiler==1.13` everything is up and running.

Thanks for your help @qiuminxu and @stephanwlee !

[2019-09-10 21:42] #2628 closed

[2019-09-11 04:49] #2614 closed

[2019-09-11 04:49] stephanwlee commented on #2614
Closed by #2633.

[2019-09-11 15:55] makslevental opened #2634 "TensorBoard: gracefully handle deleted event files"
as far as i can tell this is exactly the same as this issue https://github.com/tensorflow/tensorflow/issues/3267

if i delete files from the logdir while tensorboard is running i get things like

[code]

i'm using `tb-nightly==1.15.0a20190911` through pytorch.

i'm not sure when reaping is supposed to happen e.g. as in https://github.com/tensorflow/tensorflow/issues/3267#issuecomment-292911229
or

[2019-09-11 16:03] makslevental opened #2635 "NetworkWriter"
I have experiments that run on various machines. I would like to centralize all tensorboard logs on one dashboard machine. In my imagination this should be possible by simple sending the protobufs over the wire rather than writing to disk.

[2019-09-11 16:06] orionr opened #2636 "Feature Request: C++ logging from non-TensorFlow frameworks"
TensorBoard logging can be done from a variety of ML frameworks, including PyTorch with `torch.utils.tensorboard`. The `FileWriter` and protos exposed from TensorBoard provide an API contract that can be easily accessed in Python code to log everything from scalars and histograms to model graphs.

However, things get complicated with C++. Any proto specifications or code would need to be built as

[2019-09-11 16:09] orionr opened #2637 "Feature Request: Insights embedded in TensorBoard"
TensorBoard is great for logging data during an ML training run. As the model author, you can output scalars, histograms, embeddings, images and others.

However, data is presented in the specific order that it was written (by epoch / step values) and doesn’t surface any specific metrics that might be out of range or anomalous. We’d like to propose a few features that might help this:

1. Users ca

[2019-09-11 16:14] orionr opened #2638 "Feature Request: Loading indicator for slow progress"
There are some scenarios (especially with cloud-based filesystems) where the TensorBoard UI can be slow to load. We’ve experienced this internally at Facebook with PyTorch. We are curious whether others have seen this same behavior (with GFS, S3, etc) and if adding a loading indicator to the UI while doing filesystem fetches would be worthwhile.

Comments welcome!

cc @nfelt @manivaradarajan @GalO

[2019-09-11 19:20] wchargin commented on #2624
Test passes locally for me; tensorflow/tensorflow#32319 is closed.

[2019-09-11 19:49] wchargin commented on #2572
TensorFlow 1.15.0rc0 is out, so we’ll release TensorBoard 1.15 soon:
<https://pypi.org/project/tensorflow/1.15.0rc0/>

[2019-09-11 19:50] wchargin commented on #2554
TensorFlow 1.15.0rc0 is out, so we’ll release TensorBoard 1.15 soon:
<https://pypi.org/project/tensorflow/1.15.0rc0/>

[2019-09-11 22:22] wchargin opened #2641 "Use unified error types where appropriate"
See #2631 for context.

We’ll want to consider both standard 400s (“invalid run/tag”, as in most
plugins) and custom error types (like `HParamsError`).

[2019-09-11 22:58] stephanwlee commented on #2635
We did consider that but it leads to other complexities when network is flaky (should we fallback to local filesystem while offline? then how do we sync?) and when throughput is not enough (we don't want to slow down TensorFlow). We do actively think about this problem but it currently is not our priority.

+cc @nfelt.

[2019-09-11 23:04] nfelt commented on #2635
My recommendation would be using an existing general solution for exposing files across the network, e.g. you might consider things like rsync or sshfs mounts (for rsync you'll want the `--inplace` option per #349).

We've considered ways to make it easier to user TensorBoard with remote jobs, but in reality making a robust distributed summary writing system is not a particularly simple task, and

[2019-09-11 23:05] stephanwlee commented on #2634
Hi @makslevental, perhaps I am missing few things here but what exactly is an issue?

AFAICT, it is gracefully handling the deleted event files by printing _warning_ about the deleted runs and it prints something like below.
[code]

[2019-09-11 23:10] wchargin opened #2643 "Web tests are flaky when starting local server"
I’ve seen this spurious failure twice in the past two days, which is
also around the time that I upgraded to Bazel 0.29.1:

[code]

I’m not sure why this would be failing to bind. I have lots of free
ports, and can easily run

[code]

(use `kill %{1..1000}` to clean up after that).

Re-running the test by itself fixes the problem.

[2019-09-12 00:55] makslevental commented on #2634
i get no such "deleting accumulator" print and the run still stays up in the dashboard.

[2019-09-12 01:09] makslevental commented on #2635
@nfelt @stephanwlee sshfs occurred to me but it felt hacky. but thanks for the input.

[2019-09-12 01:09] #2635 closed

[2019-09-12 03:16] wchargin opened #2645 "Run labels in images cut off at top"
Screenshot:

![Screenshot](https://user-images.githubusercontent.com/4317806/64751424-e910f700-d4d0-11e9-9f7b-2b8c39b86db7.png)

[2019-09-12 03:33] wchargin opened #2646 "Graph deep linking broken on page load"
Repro: Navigate to the graph plugin, so that your URL becomes something
like:
<http://localhost:6006/#graphs&run=audio_demo%2Fwave%3A01%2Csine_wave>

Then, refresh the page.

Expected behavior: The graph reloads to the same view.

Actual behavior: A modal error appears, even as the actual graph renders
underneath it—

![Screenshot of the described error message](https://user-images.githubuserconte

[2019-09-12 18:08] wchargin opened #2650 "Flash of preloaded content: “no graph definition files were found”"
When loading the graphs dashboard on current HEAD/nightlies, the “No
graph definition files were found” message appears briefly on the screen
before runs are loaded.

[2019-09-12 19:12] #2650 closed, assigned to nobody

[2019-09-13 10:16] GarciaDelMolino commented on #1282
`.*` works like a charm when the runs/scalars/histograms to filter share a naming convention and parameters.

In case anybody is trying to filter several runs/metrics that DO NOT share the same string format (as I've been for a bit of time now), you can list several tags with `(tag0|tag1|tag2)`, e.g `.*(hidden_units_10-10|v2_050_96).*` to show all runs with `hidden_units=(10, 10)` OR `v2=(50, 96)`

[2019-09-13 10:21] GarciaDelMolino commented on #1282
`.*` works like a charm when the runs/scalars/histograms to filter share a naming convention and parameters, and you want both to be true (e.g. `v2_050_96.*hidden_units_10-10` will filter runs with `hidden_units=(10, 10)` AND `v2=(50, 96)`).

In case anybody is trying to filter several runs/metrics that DO NOT share the same string regexp (as I've been for a bit of time now), you can list several

[2019-09-14 19:05] SudhanvaMG commented on #2645
Is this taken ? Can i work on it

[2019-09-14 19:07] SudhanvaMG commented on #2641
Hi, i would like to work on this .

[2019-09-14 19:14] SudhanvaMG commented on #1552
Is this still open ? can i work on it ?

[2019-09-14 23:08] wchargin commented on #2645
Sure, we’d be happy to accept a PR that fixes this. You’ll probably want
to start by looking at `tf-card-heading.html`, which is what renders the
run label.

[2019-09-15 05:53] SudhanvaMG commented on #2645
Ok, i will start working on it. Can you assign me this issue .

[2019-09-15 07:51] soylisK opened #2658 "Extract scalars & histogram plots as image(download instantly)"
A useful feature:
I would like to see the option of extracting accuracy or loss or variables(like weights, etc) plots directly from tensorboard and save it as an image file, for use in presentations and staff like that.

 We need to save time and invest in the actual development of our neural nets!

[2019-09-16 02:48] Nfreshbird commented on #1724
thanks,it do work! use pip show tensorboard and then delete all  directories about tensorboard ,next reinstall  a lower version of tensorboard (mine is 1.12).

[2019-09-16 14:53] stephanwlee commented on #2658
Not true for histograms but you can download the scalars as an image today.

![image](https://user-images.githubusercontent.com/2547313/64968416-f9b9c800-d856-11e9-89ce-7c6a04292663.png)

[2019-09-16 16:31] soylisK commented on #2658
In what version? I am using 1.9.0 and there is only the option of extract as CSV or JSON at least for scalar that I've tested recently.

[2019-09-16 16:33] stephanwlee commented on #2658
@soylisK, it is available as of 1.12: https://github.com/tensorflow/tensorboard/releases/tag/1.12.0
Is there a reason why you are using the older version?

[2019-09-16 17:17] soylisK commented on #2658
I am working on a project which started by using 1.9 one year+ ago, I didn't want to upd in order to avoid any trouble! Anyway since there is, at a newer version I think I have to close the issue for this feature

[2019-09-16 17:17] #2658 closed

[2019-09-16 19:41] sahilpasricja commented on #2620
let's discuss in a very basic way.

The only way for tensorboard and tensroflow to communicate is through log data.
In my existing model, I used to store tensors with metadata as plugin name and then tensroboard reads data with given plugin_name and publishes it.

Now what I meant by convention is some other way that tensorboard has to do with without plugin name.

[2019-09-17 18:54] wchargin commented on #2615
We’re going to introduce `--logdir_spec` as a deprecated endpoint for
the complicated behavior, while promoting `--logdir` to the more correct
behavior (literal interpretation modulo `expanduser`).

[2019-09-18 02:52] #1220 closed

[2019-09-18 02:52] #2615 closed

[2019-09-18 15:26] rryan commented on #406
This would go a long way to improving the usefulness of histograms/distributions! Being able to see the max/min values is a really crucial detail for model debugging.

[2019-09-18 23:09] #2512 closed

[2019-09-19 00:43] wchargin commented on #2387
Fixed by #2589.

[2019-09-19 00:43] #2387 closed

[2019-09-19 01:55] yurivict opened #2673 "ERROR: An error occurred during the fetch of repository 'npm':"
I already have npm installed. How to use the existing npm?

[2019-09-19 04:05] yurivict commented on #2673
Is there an easier way to install ```tensorboard``` than with bazel? I see that it only has platform-neutral files. What does it really install? I am trying to create a FreeBSD port for it, but the installation procedure is quite dense, bazel downloads even the whole TensorFlow tarball for some reason, and npm.

[2019-09-19 05:17] yurivict opened #2676 "AttributeError: module 'tensorflow' has no attribute 'estimator'"
I have py36-tensorflow-1.14.0 and py36-tensorflow-estimator-1.14.0_1 installed (both are latest versions), but tensorboard fails:

[code]

tensorboard is of version 2.0.0, also the latest from PyPI.

So tensorboard is broken, fails to run.

[2019-09-19 05:44] KOLANICH commented on #2387
Thanks.

[2019-09-19 10:22] jubjamie opened #2677 "Page scrolls whilst zooming on graph."
## Environment information (required)

TB - 1.14.0
TF - 1.14.0

Don't think it's a browser issue but this was on Chrome 76.0 (although i'm sue an update).

## Issue description

Related to #2214 in that it's great that graphs only zoom when you hold `alt` as I believe it is now. However I am finding that whilst holding `alt` and scrolling it both zooms the graph and scrolls the page. This means th

[2019-09-19 14:48] wchargin commented on #2676
TensorBoard 2.0.0 requires TensorFlow 2.0.0 or a corresponding release
candidate. Please do the following:

 1. Uninstall **all** copies of `tensorflow`, `tensorflow-estimator`,
    `tensorboard`, and any corresponding nightly packages. (Or, just
    throw away your virtualenv and create a new one.)
 2. Install `tensorflow==2.0.0rc1`.
 3. Uninstall `tb-nightly`, which will have just been installed

[2019-09-19 14:48] #2676 closed

[2019-09-19 14:58] stephanwlee commented on #2677
It is a Chrome only issue (Chrome decided to take different interpretation of a spec for overall performance improvement of the web) and it should be addressed in TB nightly or TB 1.15. Would you please TB by doing `pip install -U tensorboard`?

[2019-09-19 15:12] yurivict commented on #2676
candidate.

You need to keep releases of related software compatible. If TensorFlow is at one stable release number, you should keep TensorBoard's release compatible with the same TF release. Otherwise, how would users figure out what is compatible with what?

I install from the FreeBSD package. It is currently at ```1.14.0```, which is a stable version. It is extremely difficult to build a new ve

[2019-09-19 15:24] wchargin commented on #2676
This is the case: TensorBoard 2.0 and TensorFlow 2.0 are compatible.

For any given minor series *x*.*y*, TensorBoard *x*.*y* is compatible
with TensorFlow *x*.*y*, and no other guarantees are made.

You don’t need to build TensorFlow from scratch. (I don’t usually—it
takes a long time.) Release candidate binaries are provided on PyPI.

We don’t control what packages are available in the FreeBSD
r

[2019-09-19 15:46] wchargin commented on #2676
FreeBSD is not one of TensorFlow’s supported platforms:
<https://www.tensorflow.org/install#install-tensorflow>

We generally approve fixes for FreeBSD when provided by the community
(e.g., tensorflow/tensorflow#28689), but don’t test or build release
binaries for FreeBSD.

[2019-09-19 16:33] yurivict commented on #2676
This is lousy. Thousands of other projects build fine on FreeBSD, and TF doesn't because Bazel fails.

[2019-09-19 17:04] wchargin commented on #2676
Please feel free to send patches that improve support for FreeBSD. We’d
be happy to accept them, provided that they don’t complicate the overall
system too much. Bazel also has [“community support”][bcs] for FreeBSD,
so I suspect that they have a similar policy.

[bcs]: https://docs.bazel.build/versions/master/install.html#community-supported-packages

[2019-09-19 18:15] rmothukuru commented on #2673
@yurivict,
You can install Tensorboard using the command, `pip install tensorboard`.
Can you please try that and let me know if that helps. Thanks!

[2019-09-19 18:21] stephanwlee commented on #2673
Yuri, I presume there is a special version of node too?

I have not tried it myself but this might help you: https://bazelbuild.github.io/rules_nodejs/Built-ins.html

Specifically, you may be able to write one line below for freebsd and point to a tar.gz-ed node for it.
[code]

[2019-09-19 19:49] wchargin commented on #1844
Obsoleted by #2664.

[2019-09-19 19:49] #1844 closed

[2019-09-20 00:08] rmothukuru commented on #2247
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-20 00:08] #2247 closed

[2019-09-20 00:11] rmothukuru commented on #2303
@dtchuink ,
Sorry for the delayed response. Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow and Tensorboard version.

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](

[2019-09-20 00:37] rmothukuru commented on #2103
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-20 00:37] #2103 closed

[2019-09-20 00:42] rmothukuru commented on #2622
@adizhol,
Can you please let us know if @nfelt's comments helped you so that we can work towards closure of this issue. Thanks!

[2019-09-20 08:08] jubjamie commented on #2677
I've pulled an update and this has fixed the issue. Cheers

[2019-09-20 08:08] #2677 closed

[2019-09-20 08:22] #2622 closed

[2019-09-20 13:56] IanKirwan opened #2685 "Make Tensorboard email training updates"
I'm just about to leave the office for the weekend. I cannot access the machine that is now training my model from outside of the office because of the corporate firewall, IT policy and such like. So I can't check in on the training to know if I need to come in to the office (some 20 odd miles from home) to make some changes or fix something. I could however receive emails as the machine can acces

[2019-09-21 00:41] ceevee830 opened #2687 "Plugin tabs disabled inside TB v1.15"
While porting our plugin to TB v1.15, I'm noticing that both plugin tabs in the plugin bar are disabled.  I've stubbed out the GPU_SUMMARY dashboard to try and remove any environmental issues.  Thoughts?

![image](https://user-images.githubusercontent.com/5108675/65364560-63273700-dbc7-11e9-9032-e651adae3645.png)

tf-gpu-dashboard.html
[code]

## Environment information (required)

### Diagnostics

[2019-09-21 02:04] psybuzz commented on #2687
Hello!  I've noticed this on a local build, usually after setting "compile = False" in "tensorboard/components/BUILD".  It's kind of frustrating.
In your repro, did you alter any of the BUILD flags?

If not, could you please open the DevTools Console and share any errors with us, if any?

[2019-09-22 08:29] pviolette3 opened #2689 "Profiler issue in browser TensorBoard: Uncaught Error: Cannot proceed. Polymer already present. at trace_viewer_index.html?trace_data_url=data%2Fplugin%2Fprofile%2Fdata%3Fhost%3D%26run%3D2019-09-22_00%3A48%3A43%26tag%3Dtrace_viewer&is_streaming=false:25252"
Hello, Thank you for all the great work on TensorBoard. I am having some issues with the Profiler plugin.

## Environment information (required)
I have been using the TensorFlow 2.0 (Release Candidate 1) with GPU on a remote, headless linux box. I built this package with Bazel, to configure the NVIDIA header/library locations for arch.

[code]

For browser-related issues, please additionally speci

[2019-09-22 14:10] ceevee830 commented on #2687
That's it!  Changing that `compile` flag from True to False enabled the tabs in the plugin toolbar.  Thanks.

Any chance we could get this in the TB v1.15 release?  I'd like to have that flag False to enhance debugging and reduce compile time.  Thanks again.

[2019-09-23 10:21] vakker commented on #2465
It would be a great feature to add.
Also, another solution could be to have all the values shown after clicking 'Show Metrics' on a single graph, not on individual graphs for each trial. It's very hard to compare metrics in it's current form.

[2019-09-23 15:42] amackillop opened #2690 "Tensorboard frontend does not update when the log directory changes."
## Environment information (required)
### Diagnostics

<details>
<summary>Diagnostics output</summary>

[code]

</details>

## Issue description

Please describe the bug as clearly as possible. How can we reproduce the
problem without additional resources (including external data files and
proprietary Python modules)?

I am trying to run the tensorboard server in a docker container but there seems

[2019-09-23 19:02] wchargin opened #2691 "TensorBoard probably doesn’t work with `--host localhost` (default) on IPv6-only machines"
See #2686 for context.

[2019-09-24 14:27] dibakarray commented on #949
My graph appeared once I switched to Chrome.

[2019-09-25 00:35] rmothukuru commented on #2303
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-25 00:35] #2303 closed

[2019-09-25 03:50] pviolette3 commented on #2689
Hello, I resolved my issue. It turned out to be a version mismatch between TensorBoard and TensorFlow.

I had installed

**INFO: installed: tb-nightly==1.15.0a20190806**
INFO: installed: tensorflow==2.0.0rc1

But this seems incompatible with TensorFlow 2.0.

So I updated TensorBoard

[code]

To version: `tb-nightly-2.1.0a20190924`

Now the profile shows up.

![Selection_002](https://user-images.gi

[2019-09-25 03:50] #2689 closed

[2019-09-25 13:54] a1-mukul commented on #1862
@wchargin Thanks I was looking for this answer. This thing worked for me.

[2019-09-26 04:00] nfelt commented on #2690
The error `google.protobuf.message.DecodeError: Error parsing message` looks like there's some issue with the actual event file reading.  Does that happen every time?  It's possible there is some issue with exposing the event files within the container.

The other thing that would be useful is the full logs, from running TensorBoard with `--verbosity 1`.

[2019-09-26 04:06] nfelt commented on #2687
Compilation has to be on for the What-If Tool to work, so we can't disable it by default (and vulcanization still happens even if compilation is off; they're not quite the same thing).  You can just change the flag value locally though.

[2019-09-26 13:46] amackillop commented on #2690
It happens 99% of the time I would say. There was one time that it was oddly working. Another piece of information that may be useful is that it seemed to work on OSX but not on Linux machines. I'll get you the full logs .

[2019-09-26 13:50] amackillop commented on #2690
The logs appear to be the same:
[code]

[2019-09-26 21:30] jmd-0 opened #2699 "Histogram Tab Not Showing up with tf.keras Callback"
# Environment information (required)

<details>
<summary>Diagnostics output</summary>

[code]
</details>

# Issue description

I have been trying to use the basic TensorFlow-Keras callback to get more information about my model. Earlier yesterday, when I first attempted to visualize the Histogram of the model, there was no issue. However, today for whatever reason, as I was updating the model, the

[2019-09-26 21:33] ceevee830 commented on #2687
Hi Nick, the vulcanzing of tensorboard.html takes ~25 seconds each build and impacts my productivity.
`Vulcanizing /tensorboard.html; 25s linux-sandbox`.
How can I get the What-If-Tool to work _and_ remove the long vulcanizing step each time I call bazel build?

[2019-09-26 21:42] nfelt commented on #2687
Vulcanization and closure compilation are different steps.  What-If Tool is the only thing that needs closure compilation, so you can set `compile` to false locally while you develop and then restore it to true afterwards.

Vulcanization is much more deeply enmeshed in how TensorBoard's frontend build system works, it's not just the What-If Tool that needs it.  If it were easy to eliminate we woul

[2019-09-26 22:17] ceevee830 commented on #2687
Nick, which files do I edit and how in TB v1.15 to 1) get bazel to omit the `Vulcanizing /tensorboard.html; 25s linux-sandbox` step, and 2) have the dashboard tabs enabled?

[2019-09-26 22:42] nfelt commented on #2687
As I just explained, there isn't a way to omit the vulcanization step when building TensorBoard.  It's mandatory.  JS compilation is a separate step.

In your earlier comment, you said "Changing that compile flag from True to False enabled the tabs in the plugin toolbar."  Is this correct, or did you mean to say that changing it from False to True enabled the tabs?

If the latter, then the issue i

[2019-09-26 22:58] nfelt commented on #2699
Duplicate of #2084

I think the `.profile-empty` file is the culprit; this is the same issue as #2084.  As a workaround, you can try passing `--reload_multifile=true` to TensorBoard, or you can disable profiling in the Keras callback by passing `profile_batch=0` as described in https://github.com/tensorflow/tensorboard/issues/2084#issuecomment-483395808

[2019-09-26 22:58] #2699 closed

[2019-09-26 23:07] jmd-0 commented on #2699
Hi @nfelt, thanks for your response!

I just want to be explicit to ensure that I'm addressing the issue. I just tried to run the `profile_batch=0` workaround by adding it to the tf.keras callback. Is this what is being suggested (as below)?

`tensorboard_cb = tf.keras.callbacks.TensorBoard(log_dir, histogram_freq=1, batch_size=10, write_grads=True, profile_batch=0)`

I tried this ^ and was unsucc

[2019-09-26 23:19] nfelt commented on #2699
Yep, that's the suggestion.  Can you show the contents of your new log directory when running with that argument passed?

As for `--reload_multifile=true` I forgot to mention that it's only available in our latest release (TensorBoard 2.0).  If you can try `pip install tensorboard==2.0.0` the flag should be available, and I believe that version of TB should still be compatible with your TensorFlow

[2019-09-26 23:41] ceevee830 commented on #2687
In TB v1.14, changing tensorboard_html_binary.compile from True to False (as recommended by Gal) had two benefits: 1) the vulcanization step was omitted, and 2) the dashboard tabs were enabled.
In TB v1.15, changing it from True to False disables the dashboard tabs.  When set to True, the tabs are enabled but it takes ~25 seconds for bazel to complete.

[2019-09-27 01:19] jmd-0 commented on #2699
Yes, definitely.

The directory structure is as follows:

[code]

I am still getting same result (see below), will try upgrading TensorBoard next.

<img width="1297" alt="upload2" src="https://user-images.githubusercontent.com/54457928/65734915-2a91cc80-e0a3-11e9-99c9-81448c648248.png">

[2019-09-27 01:31] jmd-0 commented on #2699
Hey @nfelt ,

Just upgraded to TensorBoard 2.0.0 via `pip install tensorboard==2.0.0`.

I am still getting the same result with the missing histogram tab (after passing `--reload_multifile=true` to TensorBoard call). I generated two runs, both with and without `profile_batch=0` in the function call for the tf.keras callback, and the problem persists.

For the `profile_batch=0` run, directory struc

[2019-09-27 06:50] Jasonnor commented on #40
Hello there, I write a simple chrome extension for hiding empty panes/scalars.

https://github.com/Jasonnor/tensorboard-empty-scalar-hider

Hope it helps! 😃

[2019-09-27 15:21] celynwalters commented on #905
I found in Firefox, the labels exist, but the CSS style for these has the `visibility: hidden` attribute for some reason.
By overriding the CSS (I use Dark Reader extension to do this they are shown correctly in all plots.
Here's the override I'm using.
[code]
Tested on Firefox 69.0.1 on Ubuntu 16.04.
I can test on Windows and Mac (which are exhibiting the same issue for me, I had no idea there ev

[2019-09-27 19:58] sharvil commented on #766
This issue brought my machine to a grind today. Tensorboard chewed through ~ 50GB of RAM. @wchargin I appreciate you looking into this issue. Is it possible to raise its priority to P1 so you or someone on the team can carve out the necessary time to chase this issue down?

[2019-09-29 23:32] Bidski commented on #570
Did this feature make it anywhere?

[2019-09-30 01:31] baxterai commented on #2352
Issue description (example):

executing;
```python -c 'import tensorflow; print(tensorflow.__version__)'```
throws;
```WARNING:root:Limited tf.compat.v2.summary API due to missing TensorBoard installation```

I solved the issue by executing [diagnose_tensorboard.py](https://raw.githubusercontent.com/tensorflow/tensorboard/master/tensorboard/tools/diagnose_tensorboard.py);
```python diagnose_tensor

[2019-09-30 05:42] wchargin commented on #2352
Hi @baxterai—thank you for posting! Indeed, the `tensorflow-tensorboard`
PyPI package is a legacy artifact used by TensorBoard versions 1.5.1 and
below only. Removing it and all related packages prior to reinstalling
was the right thing to do. I’ve updated the diagnosis script to detect
this case to help future users in the same situation (#2706). Thanks!

[2019-10-01 00:29] Bidski opened #2707 "Large graphs fail to render correctly"
## Environment information (required)

Please run `diagnose_tensorboard.py` (link below) in the same
environment from which you normally run TensorFlow/TensorBoard, and
paste the output here:

### Diagnostics

<details>
<summary>Diagnostics output</summary>

[code]

</details>

### Next steps

No action items identified. Please copy ALL of the above output,
including the lines containing only back

[2019-10-01 07:48] svenstaro opened #2709 "tensorboard 2.0.0 doesn't build with bazel 0.29.1"
I can't build tensorboard 2.0.0 with bazel 0.29.1:

[code]

[2019-10-01 09:08] rmothukuru commented on #2709
Please provide details about what platform you are using (operating system, architecture).

Make sure you also include the exact command to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https://github.com/tensorflow/tensorflow/issues/new/choose).

We ask for this in the issue submission template

[2019-10-01 13:11] PeterMitrano commented on #39
Also wondering how to use this in eager mode!

[2019-10-01 14:49] ceevee830 commented on #2687
Nick is there any combination of parameters or settings that enables the dashboard tabs and omits the ~25 vulcanizing step?

[2019-10-01 14:54] svenstaro commented on #2709
Sorry, for some reason I didn't see that particular template.

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Arch Linux
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.0.0
- Python version: 3.7.4
- Installed using virtualenv? pip? co

[2019-10-01 15:01] amackillop commented on #2690
Sorry my entry point was overriding the command that I sent. These are the logs with verbosity enabled:

[code]

[2019-10-01 15:32] wchargin commented on #2709
Hi @svenstaro! This looks like a problem in the dependent TensorFlow
workspace. Unfortunately, the error handling appears to be a bit broken.
Please clone TensorFlow and check out `v2.0.0-rc0` (`c75bb66a99ad`),
then apply the following patch:

[code]

Then, run `bazel build @com_google_protobuf//:protobuf_headers` and see
what error it prints out (which should now be properly reported)?

It may be

[2019-10-01 17:41] nfelt commented on #2690
Does `events.out.tfevents.1565885285.foundations-job-f46dcb53-132f-4c37-b68c-afc21c68fdb2-5v77c` happen to be something you could share?  If not, any chance you can try running TensorBoard on it outside the container and seeing if it produces the same exception?

Also, does it work if you omit the job3 directory entirely, i.e. do the other 3 folders load successfully in that case or do they hit th

[2019-10-01 17:49] nfelt commented on #2687
Not right now, no.  There is probably a way to get the tabs to work again even when JS compilation is disabled, but it would require some investigation, and as I said we ship with compilation set to True so support for making TB work with it off is best-effort.

My best recommendation right now is to do the development that requires fast iteration outside TensorBoard (the same way you would develo

[2019-10-01 19:27] amackillop commented on #2690
TF Events file (renamed as a .txt so i could upload it): [events.out.tfevents.1565885033.foundations-job-f46dcb53-132f-4c37-b68c-afc21c68fdb2-5v77c.txt](https://github.com/tensorflow/tensorboard/files/3678208/events.out.tfevents.1565885033.foundations-job-f46dcb53-132f-4c37-b68c-afc21c68fdb2-5v77c.txt)

[2019-10-01 19:45] amackillop commented on #2690
I created a fresh environment, installed tensorboard 1.14, then started the server on my PC. Same error.

[code]

[2019-10-02 01:56] svenstaro commented on #2709
I did as you asked but the output is a bit weird:

[code]
This is probably not the error you want to see. This is weird, too, because:
[code]

[2019-10-02 01:58] svenstaro commented on #2709
Also, could you explain why we're doing this in the tensorflow repo and not tensorboard?

[2019-10-02 02:23] wchargin commented on #2709
Hmm; that is indeed not what I expected. I would go so far as to say
that this appears to be an entirely different error, though that itself
is strange.

Is your `/opt/cuda/include/cuda.h` maybe for a version other than 10.0,
judging from the error message?

Only because we needed to apply that patch to TensorFlow’s `repo.bzl`
for the errors to be printed correctly; otherwise this could have been

[2019-10-02 02:32] svenstaro commented on #2709
Just FYI I'm actually the Arch downstream maintainer for tensorboard and tensorflow. tensorflow 2.0.0 compiles just fine on Arch: https://git.archlinux.org/svntogit/community.git/tree/trunk/PKGBUILD?h=packages/tensorflow

I used the exact same set of env vars to run your command and expected it to keep working.

[2019-10-02 02:53] wchargin commented on #2709
Is there perhaps a discrepancy between the `v2.0.0-rc0` ref that we
depend on and the `v2.0.0` ref that your `PKGBUILD` uses? You could try
fast-forwarding our TensorFlow dep—

[code]

—to use the same version, and see if that resolves the problem?
(Conversely, you could try running your `PKGBUILD` against `v2.0.0-rc0`,
but that would probably take longer.)

[2019-10-02 21:04] sanekmelnikov commented on #2603
yeah, the same if you use left/right/up/down keys

[2019-10-03 04:04] OverLordGoldDragon commented on #893
Any updates? TF2's out, TB remains unicolored - the issue's still relevant

[2019-10-03 05:40] J3rome commented on #2204
+1

[2019-10-03 18:39] qrtt1 opened #2720 "Get exception when open tensorboard"
## Environment information (required)

### Diagnostics

<details>
<summary>Diagnostics output</summary>

[code]

</details>

![image](https://user-images.githubusercontent.com/193223/66154270-aa91d680-e64f-11e9-88e3-a6bf633567a7.png)

## Issue description

cannot open tensorboard

[code]

https://github.com/tensorflow/tensorboard/commit/2d6964d37148ab694b56c4b75ffbf163d3c42e6a#diff-7d6c99d40aa5095

[2019-10-03 21:12] gowthamkpr commented on #2720
Can you please take a look at this [issue](https://stackoverflow.com/questions/28422883/attributeerror-namespace-object-has-no-attribute) and let me know if it helps!

[2019-10-04 03:46] DrvoiDcy7 opened #2724 "How to merge multiple tensorboard outputs?"
Sometimes the training is extremely time-consuming and interrupts several times. There would be multiple tensorboard outputs if training is resumed from a checkpoint.

Is there any way to straightforwardly merge multiple tensorboard outputs into one?

[2019-10-04 04:00] wchargin commented on #2724
When you point TensorBoard at a directory, TensorBoard recursively
explores all descendant directories and reads all event files found
therein. If all your data is in one directory, you can just point
TensorBoard at that directory. Are you having trouble getting this to
work? If so, could you please post your logdir to this issue, or at
least describe its structure?

You might also try the new `--

[2019-10-04 04:17] DrvoiDcy7 commented on #2724
@wchargin Thanks a lot! My original logdir was generated with timestamp, now it's fixed!

[2019-10-04 05:30] wchargin commented on #2724
Great; glad to hear it!

[2019-10-04 05:30] #2724 closed

[2019-10-04 05:57] stephanwlee opened #2725 "graph: no graphdef page UI regression"
![image](https://user-images.githubusercontent.com/2547313/66184493-20d31080-e631-11e9-9ac0-c28d6a53a8cf.png)

It should just say "No graph definition files were found." and not show the graph controls. This is a regression of Polymer migration.

[2019-10-04 15:43] qrtt1 commented on #2720
sorry, i think i am report to the wrong repo.
got the same problem with https://github.com/lspvic/jupyter_tensorboard/issues/55

[2019-10-04 15:43] #2720 closed

[2019-10-07 14:31] bersbersbers opened #2738 "Inconsistent bind_all/hostname behavior on Windows 10"
I have trouble making the TensorBoard browser interface available on `localhost`, from external systems, and via an SSH tunnel at the same time. I use `LocalForward 6006 localhost:6006` in my client SSH config, using the Windows 10 OpenSSH server and client.

Basically, in the default configuration (no extra parameter), tensorboard is available on `localhost:6006` (as expected), but not via hostna

[2019-10-07 14:54] ntasfi commented on #766
Seeing the same issue. Leaving it running has it consume 56/64gb of ram on my machine.

[2019-10-07 17:05] otavio-silva opened #2739 ""ERROR: Timed out waiting for TensorBoard to start." on Jupyter"
## Environment information (required)
OS: Windows 10 Education 1903
Python version: 3.7.4
TensorFlow version: 2.0
TensorBoard version: 2.0
Jupyter version:
`jupyter               1.0.0`
`jupyter-client        5.2.4`
`jupyter-console       6.0.0`
`jupyter-core          4.4.0`
`jupyterlab            1.1.4`
`jupyterlab-server     1.0.0`

Please run `diagnose_tensorboard.py` (link below) in the same
e

[2019-10-07 17:06] victorflorintsev opened #2740 "Arg to turn off in-notebook window"
There should be an optional argument in the "%tensorboard" magic (maybe --no-window or --nowindow) to optionally turn off the in-notebook browser window just in case it's impossible for the browser to access TensorBoard directly to prevent outputs like this in notebooks:

![Capture](https://user-images.githubusercontent.com/27743853/66332506-ed2f0980-e902-11e9-9e73-6c31ff32657a.PNG)

Just a nice-t

[2019-10-07 19:02] gowthamkpr commented on #2739
Similar to the issue #2057. As mentioned in this [comment](https://github.com/tensorflow/tensorboard/issues/2057#issuecomment-477253676) Can you please create a new environment and try if the error still persists. Thanks!

[2019-10-07 19:11] victorflorintsev opened #2741 "HPARAMS - TABLE VIEW - Sort on column header click"
I would like to see an automatic sort when the header of a column in "TABLE VIEW" in "HPARAMS" is clicked, with alternating ascending/descending each click and an arrow showing whether it's ascending or descending.

This is intuitive for most people. As soon as we see a table, clicking on the header is a quick way to sort things.

Moreover, the sorting in the sidebar doesn't engage automatically u

[2019-10-07 19:36] wchargin commented on #2740
Hi @victorflorintsev! Which version of TensorBoard are you using? As of
TensorBoard 1.15.0 or 2.0.0, you should be able to use `%tensorboard` to
connect to TensorBoard instances even if your Jupyter notebook is on a
remote host, thanks to #2407. If you’re on TensorBoard 2.0 or higher,
you’ll need to pass `--bind_all` to serve to the network (which was the
default in 1.x but changed in #2589). If y

[2019-10-07 20:23] wchargin commented on #2739
Sometimes this can happen if the TensorBoard process just takes more
than 10 seconds to start. If you re-run the `%tensorboard` cell with the
same arguments, it should find the existing TensorBoard and attach to it
immediately. Does this work for you, or does it still give an error even
when the TensorBoard process was running prior to running the cell?

[2019-10-07 20:26] victorflorintsev commented on #2740
@wchargin I am using 2.0.0 but have limited access on the instance we use so I get an error on  --bind_all. The only reason I'd prefer the magic is to keep the code clean and self-explanatory. The notebook.start solution is fine I think.

[2019-10-07 20:32] wchargin commented on #2740
Okay, that’s fair enough. We probably won’t have the bandwidth to get to
this in the near future, but I’d be happy to review a PR that adds that
argument to `notebook.start`.

[2019-10-07 20:44] victorflorintsev commented on #2740
@wchargin May I take a crack at this one?

[2019-10-07 20:49] wchargin commented on #2740
Sure, please feel free! The code is in `tensorboard/notebook.py` here:
https://github.com/tensorflow/tensorboard/blob/0981d8a7b0137d0dd67b935d77ee139e687d212f/tensorboard/notebook.py#L123

Because of the nature of this module, it doesn’t have any automated
tests. To test your changes manually, you can do the following:

 1. Run `bazel run //tensorboard/pip_package:extract_pip_package`, which
    w

[2019-10-07 23:38] otavio-silva commented on #2739
I tried on a brand new virtual environment, but had no success. This was the output:

![image](https://user-images.githubusercontent.com/22914610/66356478-6b120580-e941-11e9-8dc7-7709afb32b41.png)

But such process with that PID is non-existent. Also, I ran `diagnose_tensorboard.py` on the virtual environment, and this was the output:

### Diagnostics

<details>
<summary>Diagnostics output</summar

[2019-10-08 00:41] otavio-silva commented on #2739
Thanks for the tip (I also saw your answer from that other topic), I deleted my entire python installation and installed again from zero, tried this and got the same error as above, TensorBoard is trying to access a process that does not exist and I don't know why. But still, if I invoke TensorBoard from command line outside Jupyter it works as if nothing is wrong.

[2019-10-08 12:50] Asorie opened #2743 "hparams table not getting displayed many hparams are beeing used"
Consider Stack Overflow for getting support using TensorBoard—they have
a larger community with better searchability:

https://stackoverflow.com/questions/tagged/tensorboard

Do not use this template for for setup, installation, or configuration
issues. Instead, use the “installation problem” issue template:

https://github.com/tensorflow/tensorboard/issues/new?template=installation_problem.md

To

[2019-10-08 14:30] BlueFisher opened #2745 "Reading TF2 summary file with tf.data.TFRecordDataset"
In TF1, i could use `summary_iterator` to read summary files. But now, it will throw a warning

[code]

So i'm wondering how to use `tf.data.TFRecordDataset(path)` to read tfevent files generated by TF2.

[2019-10-08 17:30] svenstaro commented on #2709
Building it against 2.0.0 didn't work but against 364fecb68c48dd4c4fc89fdaede51f29550b612e0c70be33c8ff880e3d535128 it built so I dunno. Probably solved.

[2019-10-08 17:34] svenstaro commented on #2709
I'll leave this open. Close this if you like. It's not really solved in the current repo state and needs a more modern version of tensorflow apparently.

[2019-10-08 17:54] wchargin commented on #2709
Okay; I’ll leave this open until we upgrade our workspace dep past
a6ba397. Thanks for looking into this, and glad that you found a working
version!

[2019-10-08 18:02] gowthamkpr commented on #2743
@Asorie Can you please try running this [script](https://colab.sandbox.google.com/github/tensorflow/tensorboard/blob/master/docs/hyperparameter_tuning_with_hparams.ipynb) in your notebook and let me know if you are facing the same issue?

[2019-10-08 19:14] gowthamkpr commented on #2745
@BlueFisher `summary_iterator` is also available in Tensorflow 2.0. You can find it [here](https://github.com/tensorflow/tensorflow/blob/r2.0/tensorflow/python/summary/summary_iterator.py)

[2019-10-09 01:46] BlueFisher commented on #2745
@gowthamkpr `summary_iterator` is indeed accessible in Tensorflow 2.0. However, there is no `simple_value` in summary anymore. Like the following code
[code]
It prints zeros all the time.

[2019-10-09 02:05] davidrichards10 opened #2748 "Docs shouldn’t recommend installing nightly on top of stable"
I am training a model in google colab and am trying to use tensorboard for visualization. This code below is what I used to install but when I run "  %tensorboard --logdir logs " I get the following errors before even running my model. This was working for me a couple days ago. Please help if you can.

    !pip install -q tf-nightly-gpu-2.0-preview
    %load_ext tensorboard

    %tensorboard --log

[2019-10-09 02:18] wchargin commented on #2748
Hi @davidrichards10! This happens when you have multiple copies of
TensorBoard installed in the same environment. Colab has `tensorboard`
installed by default; when you install `tf-nightly-gpu-2.0-preview`, you
also transitively install `tb-nightly`, which causes conflicts.

The solution is to uninstall **all** copies of TensorBoard and reinstall
just the one that you want:

[code]

I see that som

[2019-10-09 03:29] joehoeller commented on #1999
@diego898 how did you fix it, my docker container doesnt launch tensorboard

[2019-10-09 07:12] Asorie commented on #2743
I tried the [script ](https://colab.sandbox.google.com/github/tensorflow/tensorboard/blob/master/docs/hyperparameter_tuning_with_hparams.ipynb), but at section 4. the line `%tensorboard --logdir logs/hparam_tuning` procudes an error:

[code]

[2019-10-09 16:51] alexandru-dinu commented on #2720
Hi there,

I am facing the same problem. Is there an official solution?

[2019-10-09 17:33] dimart commented on #1002
@jart from PRs I got a feeling that you're working on adding support for a SQLite DB backend.
Is there a way to help? Does the tensorboard team share the progress / current tasks / etc somewhere publicly? 🤔

[2019-10-09 18:27] gowthamkpr commented on #2745
@BlueFisher This works in Tensorflow 2.0:

`import os

import tensorflow as tf
from tensorflow.python.framework import tensor_util

summary_dir = 'tmp/summaries'
summary_writer = tf.summary.create_file_writer('tmp/summaries')

with summary_writer.as_default():
  tf.summary.scalar('loss', 0.1, step=42)
  tf.summary.scalar('loss', 0.2, step=43)
  tf.summary.scalar('loss', 0.3, step=44)
  tf.summary.

[2019-10-09 18:55] alexandru-dinu commented on #2720
Any updates on this?

[2019-10-09 18:57] gowthamkpr commented on #2743
Its because there might be multiple versions of Tensorboard in your system. Please find my github gist [here](https://colab.sandbox.google.com/gist/gowthamkpr/9cda36d636409e5160057765ecd50eea/copy-of-hyperparameter_tuning_with_hparams.ipynb)

I am able to see all the hyperparameters on Tensorboard using Tensorflow 2.0. There might be an issue with your tensorboard. Please try to run the same scrip

[2019-10-09 19:07] nfelt commented on #2720
This is an issue with jupyter_tensorboard since they monkey-patch our code, which then broke due to recent internal changes we made.  Please comment on https://github.com/lspvic/jupyter_tensorboard/issues/55 if this is an issue for you.

[2019-10-09 19:08] alexandru-dinu commented on #2720
Will do. Thank you!

[2019-10-10 01:03] BlueFisher commented on #2745
@gowthamkpr Thanks a lot, This works for me

[code]