[2019-03-11 21:28] nfelt commented on #260
I appreciate the concern but I don't think that TensorBoard supporting or not supporting SSL out of the box has a meaningful impact on the risks of leaking of sensitive data.  The privacy advantage of adding SSL to TensorBoard is purely in the data that's sent from the user to the TensorBoard server, which is by far the less sensitive path.  Data sent from TensorBoard to the user could be quite se

[2019-03-11 21:32] erzel commented on #1960
So I've figured this out. This happens because the Mocha reports some tests passing in the document title before it runs all the tests and the driver test doesn't wait for Mocha to finish. I have a fix and will send a PR for this soon.

[2019-03-11 21:33] wchargin commented on #1960
Ugh…that’s frustrating. Thanks, Erez.

[2019-03-11 21:42] wchargin commented on #251
Resurrecting this issue for tracking purposes. We currently plan to
migrate to Polymer 2 by end of Q2 2019; after that, we might migrate to
Polymer 3.

[2019-03-11 22:21] wchargin opened #1998 "Design a public Python API for the hparams plugin"
To use the hparams dashboard, users currently have to manually construct
[hparams-specific protocol buffers][proto] and send them to file
writers (see [the tutorial notebook][nb] for an example; it takes a few
dozen lines of Python code). The protobuf bindings are not particularly
idiomatic Python, and are less than pleasant to use. We should
investigate possible simplifications to this API.

[pro

[2019-03-11 23:25] diego898 opened #1999 "TF-2+Conda - TensorBoard doesn’t launch"
System Information:
 - TensorBoard version: 1.14.0a20190301
 - TensorFlow version: 2.0.0-alpha and nightly, installed with pip
- Using anaconda python distribution
 - OS Platform and version: CentOS 7
 - Python version: 3.6

Starting from a basic numpy/scikitlearn anaconda environment, I installed tensorflow 2 via pip. From that enviroment, launching tensorboard gives the following error:

[code]

[2019-03-11 23:49] wchargin commented on #1999
Hi @diego898! Thanks for the report. Could you please provide
step-by-step instructions to reproduce the issue? It sounds like you’re
using a combination of Conda and Pip. Does the problem occur if you
create a non-Conda virtualenv and run `pip install --pre tensorflow` to
set it up?

[2019-03-12 00:48] diego898 commented on #1999
hey @wchargin - I can confirm that using the systems python 2.7.5, I created a new virtualenv, activated it, and used pip to install tensorflow2 and I was able to import it, and launch tensorboard without error.

I think the problem is specific to conda and tf2+tensorboard

[2019-03-12 01:01] wchargin commented on #1999
Okay, thanks! If you would like us to look into this further, please
provide repro steps to help us diagnose the problem.

[2019-03-12 01:48] diego898 commented on #1999
@wchargin would the conda environment's `.yml` file be enough?

[2019-03-12 02:52] deva-gopalani commented on #1976
How can I rollback to the previous version of tensorboard? Can you please tell me the command?

[2019-03-12 03:01] wchargin commented on #1976
@deva-gopalani: `pip install tensorboard==1.12.2`

[2019-03-12 18:09] stephanwlee opened #2003 "BUILD: revamp frontend building"
# Current state
Most of our build is done in our Vulcanization process today.
Before bringing up what a Vulcanization entails, it is important to note that dependencies of a module is defined in HTML via `script` and `import` tags. Vulcanization talks the dependency graph and:
- first builds TypeScript files (along with necessary d.ts files) that outputs .js and a .d.ts file
- compile all JSs (gen

[2019-03-12 19:31] hgadig commented on #1743
@jnjaby  Could you please elaborate and provide more information as asked above ?

[2019-03-12 19:35] hgadig commented on #1724
@DummyCo  Hi, did you happen to resolve this ? Please keep us posted.

[2019-03-12 19:46] hgadig commented on #1982
Closing this as there is no response received within 3 days. Please add your comments(if any) we will reopen. Thanks !

[2019-03-12 19:46] #1982 closed

[2019-03-12 20:10] wchargin commented on #1981
Hi @youkaichao! Thanks for the feature request. We’d like to provide
tools to export event files to more common data formats. We don’t have
an ETA on this right now, but I’ll keep the issue open!

[2019-03-12 20:26] GalOshri commented on #46
I think it would be great to have some common format so users don't need to do the conversion themselves or duplicate the hparam configuration. Another option is also for tensor2tensor to directly log the summary to TensorBoard (as it can already log to TensorBoard). Is your hparams.json always a flat list or are there ever nested hyperparameters?

/cc @erzel @wchargin @manivaradarajan for their t

[2019-03-12 21:24] diego898 commented on #1999
@wchargin Here are full reproduction steps:

[code]

this gives the same error as above:
[code]

The yml file:
[code]

Can you please reopen the issue?

[2019-03-12 22:56] omalleyt12 commented on #1666
This should be fixed now

[2019-03-12 22:59] nfelt commented on #1666
Fixed by https://github.com/tensorflow/tensorflow/commit/d994300bde00c7dee8bacccdbc5d67c3f3f2b322

This fix should be available in the 1.14 release of TensorFlow, or you can check out the nightly release `tf-nightly`, which should already have it.

[2019-03-12 22:59] #1666 closed

[2019-03-12 23:52] wchargin commented on #1999
Great; thanks for the repro steps. I’ve followed those steps with conda
4.5.12 on Debian (not CentOS) and am unable to reproduce the
problem—I can run `from google.protobuf.pyext import _message` both
before and after pip-installing TensorFlow, and after installing
TensorFlow I can run `tensorboard` successfully.

I think that you’ll likely get a better response on Stack Overflow,
which has a [`[t

[2019-03-13 00:08] hgadig commented on #1993
Closing this issue as this can be resolved with tb-nightly and will be available in the patch release as mentioned above.

[2019-03-13 00:08] #1993 closed

[2019-03-13 00:12] hgadig commented on #1997
For further assistance, please post in [StackOverflow](https://stackoverflow.com/questions/tagged/tensorboard).

[2019-03-13 00:13] #1997 closed

[2019-03-13 01:27] wchargin commented on #2003
Thanks for writing this up!

I agree with all your analysis in the “Current state” section, and have
a few clarifying questions about the “Future state” section:

  - Why is [Karma] specifically a requirement? I have no strong opinions
    as to what test runners is best for us, but it’s not clear to me why
    Karma is a must-have.

  - I’ve never worked with native ES modules in development befo

[2019-03-13 01:36] diego898 commented on #1999
@wchargin Respectfully, I disagree with you. I'm reporting what I believe to be bug that appears in TF2+Conda+CentOS7 according to the steps above. I think this report should be opened, and investigated by a member of the tensorboard community willing to try to reproduce this bug completely, on a CentOS7 system. After having done that, if they can't reproduce, perhaps some more discussion/investig

[2019-03-13 02:01] #1989 closed

[2019-03-13 02:10] wchargin commented on #1999
Sure, that’s fair enough—it would be great to find something that works
better for you than an `LD_PRELOAD` hack. :-)

It’s a little surprising to me that TensorBoard should fail to work
while TensorFlow works fine, given that the stack trace is inside an
`import tensorflow`. Are you able to run `python -c 'import tensorflow'`
from within the problematic conda env?

[2019-03-13 02:11] yfarjoun commented on #1994
Ah, no I've been using an older version of tensorboard. sorry for the trouble.

[2019-03-13 12:30] DummyCo commented on #1724
@hgadig yep seems like clean reinstallation of tf and tb resolved the problem, Thanks everyone for sharing 'n attempts!

[2019-03-13 12:30] #1724 closed

[2019-03-13 15:24] cwbeitel commented on #46
@GalOshri Having t2t write the necessary summaries sounds appropriate for those using t2t. I could also see it from the perspective of writing to a common format that is used more generally.

Currently always flat, [for example](https://gist.github.com/cwbeitel/00f0bbc5acf5a275d5b231aeb49fba1f) But this does create some challenges and I would prefer to organize these hierarchically. I think some o

[2019-03-13 18:16] diego898 commented on #1999
hey @wchargin - the plot thickens! I am **not** able to import tensorflow from the terminal as you described. I get the same error:

[code]

The same thing happens if I launch ipython in the terminal and try to import it.

**However** - If I activate this enviroment, and launch a `jupyter notebook` I **can** import tensorflow from within the notebook!

![image](https://user-images.githubuserconten

[2019-03-13 21:48] wchargin commented on #1999
Interesting. It looks like the problem is most likely in core
TensorFlow, then, rather than the TensorBoard entry point. Have you run
across tensorflow/tensorflow#26378? It looks related, at the very least:
also running on CentOS 7, also with a Conda env plus a Pip installation
of TensorFlow.

The Jupyter notebook bit is indeed surprising. On my machine, although
Jupyter modifies the `PATH`, it do

[2019-03-13 23:09] nfelt opened #2007 "Prune unnecessary TensorFlow dependencies from plugins and tests"
This issue tracks pruning unnecessary TensorFlow dependencies from TensorBoard plugins that work with the "stub" TensorFlow API implementation in compat/tensorflow_stub and hence don't have a hard dependency on TensorFlow.  This includes plugins like Scalars but not e.g. the Debugger plugin which is only functionally useful with TensorFlow.

This issue also tracks generally reducing the number of

[2019-03-14 09:32] bhack commented on #1606
I think that all these tickets are related to the problem of Metadata handling. It is hard to put all the info that you need in the folder name or you need to abuse the text summary.

[2019-03-14 09:42] omoindrot commented on #1998
Thanks for this awesome plugin, this is really a useful addition to Tensorboard.

After using it in my project, I have some comments:

1. Would it be possible to support int types? There is currently only `api_pb2.DATA_TYPE_FLOAT64`, I think it would make sense to add `api_pb2.DATA_TYPE.INT64`.
It would just be a little better for the display.

2. The idea above to have intervals (`api.interval(mi

[2019-03-14 15:40] tete1030 opened #2010 "Permission denied issue when writing to `/tmp/.tensorboard-info`"
- TensorBoard version (from pip package, also printed out when running `tensorboard`)
1.13.1
 - TensorFlow version if different from TensorBoard
1.13.1
 - OS Platform and version (e.g., Linux Ubuntu 16.04)
Ubuntu 16.04
 - Python version (e.g. 2.7, 3.5)
2.7

**Please describe the bug as clearly as possible, and if possible provide a minimal example (code, data, and/or command line) to reproduce the

[2019-03-14 17:59] wchargin commented on #2010
Hi @tete1030! Thanks for the clear report. This is a good point—I’d
considered the multi-user case and determined that it wouldn’t be a
problem for _reading_ files in this directory, but didn’t realize that
it would not be possible to _write_ new files in the directory.

I think that the following patch should suffice, at least on Unices:

[code]

I’ll have to test this on Windows. If you’re looki

[2019-03-14 18:12] qqfish opened #2013 "Update capture profile contract to allow FE start and stop"
Right now to capture profile in TensorBoard, user is asked set an duration in prior. But a better way is to have a start and stop button that allow users to start or stop profiling at any time they want. It can also avoid holding the request open for the duration of profiling.

[2019-03-14 18:18] wchargin opened #2014 "Adding new hyperparameters should be supported"
Adding new hyperparameters should be supported

c/o @omoindrot, [who says][1]:

One approach would be to modify the [`HParamInfo` proto][proto] to
include an optional `default_value` attribute, which would be set
whenever a new hyperparameter is created and all previous runs had a
fixed value for the parameter (which should be the common case). Users
certainly shouldn’t have to modify the old even

[2019-03-14 18:20] wchargin commented on #1998
Hi @omoindrot—thanks for writing in, and glad to hear that you like it!

I was wondering the same thing. The parallel coordinates view and the
scatter plot matrix view each display integers without any decimal
points, but it’s true that the table view does show superfluous decimal
points. Patching the table view to be consistent with the other views
would certainly help; it might still be reasonab

[2019-03-14 20:14] dsmilkov commented on #1984
Hi, sorry for the delay (I was traveling last week and catching up today).

The sprite image method was private and used internally, and we didn't get to expose to the public API, but we were planning to.

Reviving it and exposing it would be very beneficial to our users.

[2019-03-15 00:21] #1960 closed

[2019-03-15 07:00] jnjaby commented on #1743
@manivaradarajan Sorry for the late response. Let me elaborate with a toy example.
Suppose we have a network `conv1 -> norm1 -> relu1 -> conv2 ...` and I save the histograms of feature map before and after 'norm1', named as `conv1_feature` and `norm1_feature`, respectively.
In tensorboard, they are listed as `conv1_feature, conv2_feature, ..., convn_feature, norm1_feature, ...`. However, those his

[2019-03-15 17:33] SuperElectric opened #2015 "FR: Make it possible to set title text, to display in the orange bar at the top."
### User story
I often have several experiments running in parallel, with a tensorboard tab for each. hen tabbing between them to compare results, it's very hard to keep track of which experiment's results I'm looking at.

### Proposed solution
Allow the user to programmatically set some arbitrary but short (one line) title text, to be displayed in the orange bar at the top of that experiment's te

[2019-03-15 17:40] nfelt commented on #2015
This is pretty similar to the `--window_title` command line flag which sets the actual browser window title.  Does that work for you?

[2019-03-15 18:41] SuperElectric commented on #2015
Huh! I've never noticed a window title on the Chrome browser. Which part of the window does it show up in?

[2019-03-15 18:59] nfelt commented on #2015
It's just the tab title in Chrome - really by "window" it just means the title of the viewport in the browser.

[2019-03-15 19:28] SuperElectric commented on #2015
Ah, I see. Unfortunately I think the tab title space will be far too small to fit a descriptive-enough string. For example, the following is a typical experiment description string, taken from the experiment manager I use:

"pixel-only critics, pixels, control J1, predict all, share both, prediction reward"

...and here's the typical state of my tensorboard tabs:
![tensorboard_tabs_screenshot](htt

[2019-03-16 04:27] sunnydreamfly commented on #1976
@wchargin  @IamWangYunKai Tks

[2019-03-16 04:31] yinjiangjin commented on #1976
let us know whether this resolves the issue for you?

I suffer from the same problem due to I installed Python 3.6.2.  How can I upgrade to the 3.6.7 version of Python? Can you please tell me the command?

[2019-03-16 05:19] wchargin commented on #1976
@yinjiangjin: You can install Python 3.6.8 (the latest version in the
3.6.x series) from the Python website:

<https://www.python.org/downloads/release/python-368/>

Select the appropriate binary for your operating system from the “Files”
section at the bottom of the page.

[2019-03-16 05:41] yinjiangjin commented on #1976
Thank you very much

[2019-03-16 05:41] yinjiangjin commented on #1976
Thank you very much

[2019-03-16 05:42] yinjiangjin commented on #1976
@wchargin Thank you very much.

[2019-03-16 05:43] wchargin commented on #1976
Sure thing.

[2019-03-16 05:45] wchargin opened #2017 "Work around `fromtimestamp(0)` bug in Windows Python 3.6.0…3.6.6"
See #1976.

[2019-03-16 05:45] wchargin commented on #1976
Given the number of people who have commented in this thread, I do think
that we should release a patch release of TensorBoard to work around the
bug in early versions of Python 3.6. Tracking this in #2017.

[2019-03-16 05:45] #1976 closed

[2019-03-17 06:51] ssagala opened #2018 "hello i still have the same help please"
Consider Stack Overflow for getting support using TensorBoard - they have a larger community with better searchability:

https://stackoverflow.com/questions/tagged/tensorboard

For bug reports, please include the following:

 - TensorBoard version (from pip package, also printed out when running `tensorboard`)
 - TensorFlow version if different from TensorBoard
 - OS Platform and version (e.g., Li

[2019-03-17 07:01] ssagala commented on #2018
(tf-gpu) C:\AI\tensorflow-for-poets-3>python -m scripts.retrain
Traceback (most recent call last):
  File "C:\Users\ssaga\Anaconda3\envs\tf-gpu\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "C:\Users\ssaga\Anaconda3\envs\tf-gpu\lib\runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "C:\AI\tensorflow-for-poets-3\scripts\retrain.py", line 1326, in

[2019-03-17 09:33] Spenhouet commented on #46
@GalOshri Nice to see some progress on this! I really like the new view.

My concern is the ton of boilerplate code that currently seems to be necessary.
I wish that you reduce it to something like:

[code]

That would make it much more usable and I don't see why that wouldn't be possible.
What do you think? Are you planning to reduce it to that?

[2019-03-18 03:23] wchargin commented on #2018
Hi @ssagala! The error that you’ve posted doesn’t appear to be related
to TensorBoard at all. If you’re still experiencing a problem, please
post a question [on Stack Overflow][so] for support; if you think that
there is a bug in TensorFlow, please open an issue [on the TensorFlow
repository][tf], making sure to fill out **all** the information in the
issue template. Thanks!

[so]: https://stackov

[2019-03-18 03:23] #2018 closed

[2019-03-18 05:51] wchargin commented on #46
Hi @Spenhouet! Thanks for the feedback. We definitely agree—as noted in
the tutorials, this is a very rough cut of the Python API. We’re using
issue #1998 to track improvements to this API.

Currently: no. This is also something that we’re interested in; it ties
into broader questions about how TensorBoard should consider “runs” in
general.

We haven’t discussed this much; if we were to do this, w

[2019-03-18 06:43] Spenhouet commented on #46
@wchargin Thank you for your feedback and good to hear this is in the works.

It definitely would need to be selectable which hparams are shown in the tooltip. I agree that showing all hparams per default in the tooltip wouldn't work. I think it would be better to show no hparam in the tooltip per default but with the option to select hparams that should be shown in the tooltip. Then, if needed, s

[2019-03-18 13:00] Owenscu opened #2019 "AttributeError: module 'tensorboard.util' has no attribute 'Retrier'"
- TensorBoard version 1.8.0
 - TensorFlow version 1.8.0
 - OS Platform and version (e.g., Linux Ubuntu 18.04)
 - Python version (e.g.3.6)
AttributeError: module 'tensorboard.util' has no attribute 'Retrier'

[2019-03-18 16:00] hgadig commented on #2019
This can happen when multiple versions of tensorboard are installed. Please try the following.

1) Uninstall tb-nightly(if it is installed in your virtual environment).
2) Go to site-packages and remove tensorflow/tensorboard folders. Then do pip install tensorboard

[2019-03-18 17:01] wchargin opened #2020 "Consider adding __version__ for consistency with TensorFlow and PEP 396"
TensorFlow has a top-level `__version__`, but TensorBoard does not:

[code]

TensorBoard does have a `tensorboard.version` submodule, though this
needs to be explicitly imported, unlike TensorFlow’s corresponding
module (`__import__("tensorflow").version` works).

[PEP 396] permits third-party modules, like TensorBoard, to include a
`__version__` attribute. It might be nice, for consistency with o

[2019-03-18 18:43] erzel commented on #46
@Spenhouet Thanks so much for using the tool and the thoughful feedback.

Currently, if one does not emit an 'experiment' summary, the plugin backend will try to create one by scanning all the sub-directories of the log dir and gathering session-info summaries. This would have the effect of collecting all the scalar summaries as metrics (and by default enabling only the first few of thems for disp

[2019-03-18 18:53] shashvatshahi1998 commented on #2020
You can try this:
Python 3.6.7 |Anaconda, Inc.| (default, Oct 23 2018, 14:01:38)
[GCC 4.2.1 Compatible Clang 4.0.1 (tags/RELEASE_401/final)] on darwin
Type "help", "copyright", "credits" or "license" for more information.

1.13.1
Mostly when you download TensorFlow , TensorBoard is also automatically downloaded. So in most of the cases their version is same. But both of them are independent of eac

[2019-03-18 20:02] shashvatshahi1998 commented on #2019
You can also go by this:

1) pip uninstall tensorflow
2) pip uninstall tensorboard
3) conda show OR pip show --> have a look at which other tensorflow related packages you have installed and remove them.
4) Go to site-packages and remove tensorflow/tensorboard folders (look for any folder in your filesystem related to a tensorflow / tensorboard installation)
5) conda clean --all (not sure if this

[2019-03-18 20:58] wchargin commented on #2020
Yes, I know—this is the `tensorboard.version` submodule that I refer to
in the issue above.

This issue is about _additionally_ supporting a top-level `__version__`
attribute in the same way that TensorFlow does, for consistency with
other packages in the TensorFlow family.

[2019-03-18 22:46] Spenhouet commented on #46
@erzel Correct me if I'm wrong but the steps (frequency and size) are defined by the act of saving a summary. Different steps only appear if multiple `FileWriter` are used (given a proper implementation).

Yes, you are right that there isn't a step slider that fits all since it is not clear how different steps relate to each other, but I'm not sure this is such a hard problem to solve.

I don't th

[2019-03-19 01:33] peterhsu2018 opened #2023 "[TF2.0] Error from Tensorboard with keras callback"
Consider Stack Overflow for getting support using TensorBoard - they have a larger community with better searchability:

https://stackoverflow.com/questions/tagged/tensorboard

For bug reports, please include the following:

 - TensorBoard version (from pip package, also printed out when running `tensorboard`)
    tb-nightly=1.14.0a20190301
 - TensorFlow version if different from TensorBoard
   te

[2019-03-19 01:43] wchargin commented on #2023
You’re hitting <https://github.com/tensorflow/tensorflow/issues/26021>,
a Windows-specific bug in TensorFlow.

The fix is to use the platform-appropriate path separators in `log_dir`
rather than hard-coding forward slashes:

[code]

Can you try this and see if it works for you?

[2019-03-19 02:15] peterhsu2018 commented on #2023
Hi, @wchargin 👍
This is very helpful, thanks a lot!

[2019-03-19 02:15] #2023 closed

[2019-03-19 05:21] wchargin commented on #2023
Great; glad to hear it!

[2019-03-19 10:28] bersbersbers opened #2025 "Consider new "raw" option for horizontal axis"
This issue is motivated by an issue in current TensorFlow, which incorrectly annotates the `step` parameter for `epoch_` summaries when using `update_freq` (https://github.com/tensorflow/tensorflow/issues/26873).

Anyway, I have a number of TF summaries that are impossible to compare because the x-axis values are meaningless. I can think of other examples where this may happen, for example, when u

[2019-03-19 13:03] #2019 closed

[2019-03-19 14:25] shashvatshahi1998 commented on #2020
from tensorflow.python import pywrap_tensorflow
from tensorflow.python.util.tf_export import tf_export

__version__ = pywrap_tensorflow.__version__
__git_version__ = pywrap_tensorflow.__git_version__
__compiler_version__ = pywrap_tensorflow.__compiler_version__
__cxx11_abi_flag__ = pywrap_tensorflow.__cxx11_abi_flag__
__monolithic_build__ = pywrap_tensorflow.__monolithic_build__

VERSION = __versi

[2019-03-19 19:23] #2020 closed

[2019-03-19 21:25] orionr opened #2027 "Add clean UI for plugins requiring TensorFlow when not installed"
As a part of supporting non-TensorFlow installs of TensorBoard, we need to disable UI for plugins that require TensorFlow and can't be loaded. One option is to take inspiration from the debugger plugin and show a popup with the following:

* Title: This plugin is disabled without TensorFlow
* Message: To enable this plugin in TensorBoard, install TensorFlow with <code>pip install tf-nightly</code>

[2019-03-19 21:37] orionr commented on #2027
cc @lanpa,  @nfelt

[2019-03-19 23:45] nfelt opened #2028 "Werkzeug 0.15.0 causes TensorBoard to log HTTP requests at INFO"
Updating Werkzeug to today's 0.15.0 release (from 0.14.1) changes the behavior so that it starts logging all HTTP requests at level INFO by default, even though TensorBoard is supposed to only log WARNING and above.

Looking at the logging code, it seems like https://github.com/pallets/werkzeug/pull/1407 is the relevant change.  It makes it so that Werkzeug's logging is set to log at INFO uncondit

[2019-03-20 07:56] RacingDawn opened #2030 "Tensorboard ERR_CONNECTION_REFUSED"
1. Firstly i started the tensorboard on the docker, and the nodeport is 8600.
![image](https://user-images.githubusercontent.com/13477849/54667847-66623d00-4b28-11e9-8d49-e356d32ead34.png)
2. I visited the `hostname -i`:8600 by the chrome at the first time, i got the information:
![image](https://user-images.githubusercontent.com/13477849/54667171-af18f680-4b26-11e9-89a1-4d2bd909038f.png)
3. I got

[2019-03-20 18:14] hgadig commented on #2030
Could you please try either of the following resolutions and please keep us posted.

1) Try changing the log directory to the base directory of your project.
2) Upgrading Tensorboard to the latest version

[2019-03-21 05:27] shashvatshahi1998 commented on #2030
Best way to run TensorBoard which I use frequently is first run your model in one tab of your terminal, then open a new tab in terminal and type tensorboard --logdir=path/to/log-directory --DEBUG(this path is the same path which you have created or referenced in your model) . This debug in the end is very important, most of the time it is the root cause of all the errors raised

[2019-03-21 12:58] RacingDawn commented on #2030
Thank you. The reason for this may be that I ran ternsorborad in docker, and the server was not ready when i visited the ip:port.
So i change the way that starting tensorboard on the machine to validate it. The err_connection_refused only appears before the server started. Otherwise, it doesn't appear no more.

[2019-03-21 12:59] RacingDawn commented on #2030
Thank you. Indeed, the way is very useful.

[2019-03-21 14:47] #2030 closed

[2019-03-21 15:51] mrTsjolder opened #2033 "Feature request for ability to set reference lines"
It would be nice if there would be some simple way to add some sort of reference line to the scalar plots. E.g. for some particular tasks, it might be useful to consider the loss when predicting the mean signal or to have a reference to the threshold that corresponds to random predictions, human performance, state-of-the-art performance. Most of the references I can think of, could be represented

[2019-03-21 17:23] wchargin opened #2035 "Tests failing on master since tf-nightly-2.0-preview-20190319"
`__import__("tensorflow").io.TFRecordCompressionType` was removed; this breaks `//tensorboard/plugins/interactive_inference:interactive_inference_plugin_test`.

[2019-03-21 18:02] wchargin commented on #2035
This failure was not caught on our CI for a few days because the test
target was always cached until #2024 happened to change one of its
dependencies. This is systemic—perhaps we should set up our test status
caches to be keyed against the TensorFlow package versions, and add a
daily build against master at 05:00 PT to prime the caches each day so
that it’s not a pain in terms of added latency?

T

[2019-03-21 19:18] Guneetkaur03 commented on #640
I too have the same issue. I have made a cluster with two parameter servers, 2 workers and 1 master. Tensorboard shows me only two PS and no worker device.
![Screenshot from 2019-03-22 00-46-04](https://user-images.githubusercontent.com/25096896/54779021-2e4c1e80-4c3c-11e9-8281-38a3e2fada99.png)

[2019-03-21 20:31] #2035 closed

[2019-03-22 03:59] shashvatshahi1998 commented on #1999
tensorboard --logdir /tmp/mnist --debug , try this.

[2019-03-22 04:13] shashvatshahi1998 commented on #1961
So in both the cases graph does not appear??

[2019-03-22 12:17] philippHRO commented on #1564
I have the same problems. teh HParams tab isn't showing up in Tensorboard.

[code]

[2019-03-22 12:35] philippHRO opened #2038 "Hparams tab not showing up in Tensorboard"
I run the notebook `hyperparameter_tuning_with_hparams`.
Everything works fine, but when I start tensorboard, the HParams tab isn't showing up.

I tried to start tensorboard from the command line, too.
`tensorboard --logdir="C:\python_code\tensorboard_notebooks\logs\hparam_tuning"`
The tab is not showing up.

Here is what I see in jupyter notebook:
![grafik](https://user-images.githubusercontent.c

[2019-03-22 15:00] stephanwlee commented on #1961
Latter is a bug of TensorFlow's and former is working as intended; if your code is purely eager, there is absolutely no computational graphs and thus the graph plugin cannot do anything about it.

[2019-03-22 15:43] wchargin commented on #2038
Hi @philippHRO! It looks like you have two concurrent versions of
TensorBoard installed. TensorBoard 1.13.1 does not include the hparams
dashboard, while TensorBoard 1.14.0a20190313 does. Could you please
uninstall both of these packages and then reinstall the same version of
`tb-nightly`? (Because of how Pip works, simply uninstalling
`tensorboard` may corrupt your installation.)

[2019-03-22 17:04] mika-fischer opened #2039 "Execution times seem to be only CPU times, accelerator times are ignored"
- TensorBoard version: 1.13.1
 - OS Platform and version: Ubuntu 18.04
 - Python version: 3.6

The following example code runs a simple graph on the GPU and records run metadata for a single run. It then writes the metadata to a logdir and uses it to generate profile info:

[code]

My expectation is that the timings in the profile match exactly. However, there is a huge discrepancy. It seems that

[2019-03-22 20:07] pluskid opened #2041 "feature request: allow selection of step range in histogram visualization"
Currently the histogram have a default range and sampling mechanism for the training steps axis. It would be great if some mechanism is added to allow choosing the range of steps to visualize, just like what we can do in scalar plots.

The rationale is that it is quite common to continue training for a while after convergence. In this case, the default range and sampling mechanism will mostly show

[2019-03-22 21:07] bersbersbers opened #2042 "Incorrect epoch number in TensorBoard callback when using batch-level metrics"
I am re-reporting https://github.com/tensorflow/tensorflow/issues/26873 here as requested.

----------------------

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes, see below
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): pip install tensorflow
- Tenso

[2019-03-23 02:29] nfelt commented on #2035
For the record, I agree that we should avoid caching test status across TF package versions.  Maybe worth opening a separate issue for that?

[2019-03-23 03:34] viveky259259 opened #2044 "tensorboard not running"
Consider Stack Overflow for getting support using TensorBoard - they have a larger community with better searchability:

https://stackoverflow.com/questions/tagged/tensorboard

For bug reports, please include the following:

 - TensorBoard version (from pip package, also printed out when running `tensorboard`)
 - TensorFlow version if different from TensorBoard
 - OS Platform and version (e.g., Li

[2019-03-23 04:40] wchargin commented on #2044
Duplicate of #1976. See also #2017.

[2019-03-23 04:40] #2044 closed

[2019-03-23 06:35] wchargin commented on #2017
For the record, I’ve attempted to do this a few times and given up each
time, because I can’t find a good way to implement `strftime("%s")`
portably. Using `(dt - EPOCH).total_seconds()` (the current code) is not
correct because it incorporates daylight savings time…

[code]

In Python 3, `datetime.timezone.utc` looks like it should at least
provide the foundations to solve these issues, but witho

[2019-03-23 18:01] Queuecumber opened #2045 "TensorBoard Jupyter Magic HTML Export"
Tensorflow from tf-nightly-2.0-preview

I frequently using `jupyter-nbconvert` to share my notebooks as HTML since it's easier to host on a static site and be viewable by anyone. I have recently been using the tensorboard magic to get nice graphs of my metrics and loss as I train, but I found that when I export, these graphs are missing.

It would be nice to be able to export the tensorboard inter

[2019-03-24 15:50] Abhijit-2592 opened #2046 "Support for HTML-based word annotations in tf.summary.text"
Since tf.summary.text supports markdowns, It will be great if it supports HTML too. Because, IT becomes easier to visualize NER, POS tagging training easier. For example,
[code]
Visualizing the above HTML will be more appealing while training an NER model. Now I guess the only way to visualize an NER training is to view them as 2D tensors with one column being the tag name and the other column bei

[2019-03-25 09:18] QuadTriangle opened #2049 "Q: How to generate static demo of what-if-tool?"
[sorry for asking a noob question]

Let's say I have this
https://colab.research.google.com/github/pair-code/what-if-tool/blob/master/WIT_Age_Regression.ipynb
notebook?

Now, I want to generate a static page like
https://pair-code.github.io/what-if-tool/age.html

How can I do it?

[2019-03-25 12:02] pietroastolfi commented on #766
Same problem (I'm using TB 1.12.2). Any news?

[2019-03-25 17:26] hgadig commented on #2049
For creating a standalone what-if-tool web page(like you mentioned), you'll probably want to add a build target like this one: https://github.com/tensorflow/tensorboard/blob/cf76398963491f01ac92731a8bdafb01e3162228/tensorboard/plugins/interactive_inference/tf_interactive_inference_dashboard/demo/BUILD#L109-L123

[2019-03-25 17:34] hgadig commented on #1776
Closing as this is in "awaiting response" state for more than a week. Feel free to add your comments(if any), we will reopen. Thanks!

[2019-03-25 17:34] #1776 closed

[2019-03-25 17:38] tlkh commented on #1956
Just one to add in one common scenario that would require the user to specify a hostname (to view TensorBoard) that is **different** from the `--host` parameter that is passed to `tensorboard`.

On shared GPU servers (e.g. university) it is very common for users to be required to run jobs in a Docker container for isolation. In this case, TensorBoard is running within the container and host parame

[2019-03-25 19:08] wchargin opened #2051 "//tensorboard/plugins/graph:keras_util_test failing at master"
Can repro at cf76398963491f01ac92 with tf-nightly-20190325-py2.7.

Diff:

[code]

Full traceback:

[code]

[2019-03-25 19:20] wchargin commented on #2051
From `git log `v1.12.0-10848-g76e879d1c1..v1.12.0-10950-g840022b021`,
the root cause seems to be 90f1ed7cd3ae167b60c1b0acc6f45af454c8d592,
whose Google-internal version <http://cl/239834276> includes a change to
`keras_util.py` that has not yet been synced out. Making this change
fixes the test.

[2019-03-25 19:49] wchargin opened #2053 "Clean Bazel test output cache before running CI cron tests"
The main purpose of our CI cron job is to quickly detect breaking
changes in TensorFlow nightlies. But the Bazel cache that indicates
which tests have passed is preserved across TensorFlow nightly versions,
so in fact our cron job is of very little utility because all\* the
tests are already cached due to the post-merge PR hook.

As a result, breaking changes in TensorFlow nightlies are simply
und

[2019-03-25 21:24] #2051 closed

[2019-03-25 22:26] #2017 closed

[2019-03-25 22:38] stephanwlee opened #2055 "1.13.2 cherry-pick tracking"
- manager.py to use bare timestamp #2054 - addresses #2017

[2019-03-25 23:39] #1564 closed

[2019-03-26 02:11] Suger131 commented on #2023
@wchargin thanks a lot!

[2019-03-26 09:10] philippHRO opened #2057 "Tensorboard not starting in notebook"
I ran the notebooks `get_started.ipynb` and `hyperparameter_tuning_with_hparams`.

Each time, after `%tensorboard --logdir "logs"`, I'm getting this under the notebook cell:
`ERROR: Timed out waiting for TensorBoard to start. It may still be running as pid 10864.`

And then this:

This goes on in a long list, over and over again.

After a few attempts to start TB like this, I notice several tensor

[2019-03-26 09:13] philippHRO commented on #2038
That worked, when I open TB via Console.
But now I keep getting this, when I try to open TB in notebook via %tensorboard --logdir="logs".
I opened a new issue (#2057 ). Meanwhile, I updated tf-nightly and tb to their newest versions.

[2019-03-26 11:12] QuadTriangle commented on #2049
so, I will have to write javascript every time
https://github.com/tensorflow/tensorboard/blob/master/tensorboard/plugins/interactive_inference/tf_interactive_inference_dashboard/demo/tf-interactive-inference-age-demo.html#L37-L317

I thought there was a way to export output from notebook.

You can close the issue if there is no any automatic way.

[2019-03-26 13:19] NaveenGandla opened #2058 "Unable to generate images in tensor board using keras (showing only black and grey coloured images)"
- TensorBoard version (from pip package, also printed out when running `tensorboard`)= 1.12
 - TensorFlow version if different from TensorBoard = tensorflow-gpu 1.12
 - OS Platform and version = Linux Ubuntu 16.04)
 - Python version (e.g. 2.7, 3.5) = 3.6
 - For browser-related issues:
   - Browser type and version = Chrome 64.0.3282.140)
   - Screenshot if it's a visual issue

![tensor_board_probl

[2019-03-26 15:18] stephanwlee commented on #2057
@wchargin probably can answer better but if I may do the first triage, based on your error message, there are TensorBoard==1.13.1 (contrary to the snippet on conda env) on  running with pid 9488, 6196, 6224, and 6420. Though you should do a better job than the timeout, you can probably work around it by killing these processes manually first.

[2019-03-26 15:27] wchargin commented on #2057
What Stephan says is correct. Can you check whether you also have the
`tensorboard` package (not `tb-nightly`) installed in your environment?

If you run `!tensorboard --logdir /tmp/whatever` from a Jupyter cell,
what version does TensorBoard print out once it starts its server?
(After checking, you can press the “stop” button in Jupyter to kill the
subprocess.)

[2019-03-26 17:25] hgadig commented on #2049
@jameswex  Could you please suggest if there is any alternate for the above ?

[2019-03-26 17:48] hgadig commented on #2038
Thanks for opening the new issue. Closing this.

[2019-03-26 17:48] #2038 closed

[2019-03-26 17:54] stephanwlee commented on #2058
Hi @NaveenGandla, can you provide a bit more detail on what your model looks like? A full example will allow us to debug it better. Thanks!

[2019-03-26 17:57] hgadig commented on #2025
@nfelt  Any update on this ?

[2019-03-26 18:11] stephanwlee opened #2059 "Bazel 0.24 breaks TensorBoard build"
FileType has been deprecated and TensorBoard is using it in third_party/clutz.bzl.
https://github.com/tensorflow/tensorboard/blob/3e52d07db1d5d9673ba0861fb2a04229417806ff/third_party/clutz.bzl#L54

[2019-03-26 18:21] hgadig commented on #2042
Apologies for the miscommunication about this issue whether to post it in tensorflow or tensorboard repo.
I had a chat with the team and was asked to retain this issue in the tensorflow core repository as it is related to TBcallback in TensorFlow.

[2019-03-26 18:23] #2042 closed

[2019-03-26 18:56] #2059 closed

[2019-03-26 19:34] nfelt commented on #2046
Thanks for the feature request.  I think we're unlikely to want to expose anything other than a small subset of HTML for security reasons, since that would increase the risk of XSS - I've narrowed the issue title accordingly.

This seems fairly related to feature request https://github.com/tensorflow/tensorboard/issues/1740 which is for a way to indicate attention via highlighting.  I realize the

[2019-03-26 19:39] nfelt commented on #2045
Thanks for the feature request - yes, this is a known limitation of the way that the tensorboard magic is currently implemented, since the frontend HTML visualization expects to find an actual running tensorboard backend from which it can fetch data.  Unfortunately I suspect it would not be easy to work around this unless there's possibly some way that nbconvert can cache those responses and bundl

[2019-03-26 19:51] nfelt commented on #2033
Thanks for the feature request!  I agree this would be a useful feature and don't think you're overlooking anything - logging a constant value would be the workaround.  That said, I'm not sure when we might get to this, but we'll keep it in mind.

[2019-03-26 19:58] nfelt commented on #2025
Thanks for the feature request.  Just so that I understand, by "raw" do you mean the index/offset of the summary in the file?  E.g. just laying them out linearly as 1, 2, 3, 4, 5, ... regardless of the actual step?

This is a little tricky to do correctly if the same tag is written across multiple files, because it's not necessarily clear how to order data from the two files when they're interleav

[2019-03-26 20:06] bersbersbers commented on #2025
Thanks a lot for considering this!

Yes, correct!

I cannot say for sure since I try to avoid splitting runs across multiple files (I am not even aware I ever used this). But your proposed solution is the first thing that came to my mind: Sort like you normally would, then replace steps by subsequent numbers. (I *am* wondering whether it makes a difference to sort by wall time or anything else fir

[2019-03-26 21:09] wchargin opened #2062 "Eager graph fails to display (Failed Normalizing names)"
Code to reproduce:

[code]

Expected behavior: Running this and then `tensorboard --logdir ./logs`
provides a graph visualizer that shows the Keras implementation graph.

Actual behavior: On versions of TensorFlow from 2019-03-23 onward, the
“Default” graph in the graph visualizer gives the error, “Graph: Failed
Normalizing names”.

![Screenshot of error](https://user-images.githubusercontent.com/

[2019-03-26 21:10] wchargin commented on #2062
Previous “Normalizing names” issues: #375, #702.

[2019-03-27 02:03] Queuecumber commented on #2045
Interestingly, google colab has no problem displaying the data even when its not connected to a backend, not sure if thats a known thing but however that works would probably be enough

[2019-03-27 02:20] shashvatshahi1998 commented on #2058
import tensorflow as tf

def make_image(tensor):
    """
    Convert an numpy representation image to Image protobuf.
    Copied from https://github.com/lanpa/tensorboard-pytorch/
    """
    from PIL import Image
    height, width, channel = tensor.shape
    image = Image.fromarray(tensor)
    import io
    output = io.BytesIO()
    image.save(output, format='PNG')
    image_string = output.getva

[2019-03-27 02:26] shashvatshahi1998 commented on #2058
or you may also try reinstalling tensorboard (using tf nightly)

[2019-03-27 02:32] shashvatshahi1998 commented on #2033
@nfelt I will work on that if you will just guide me a little bit about it.

[2019-03-27 08:36] philippHRO commented on #2057
There was no Tensorboard 1.13.1 in that env.  I guess it detected the pid***.info files from previous runs, when it was still installed. But I uninstalled tensorboard earlier and reinstalled tb-nightly (as **wchargin** recommended in #2038).

I also noticed, although conda list did not show 'tensorboard' anymore, there still was a tensoroard folder in site-packages folder? I deleted that, but it d

[2019-03-27 09:56] DavidS3141 opened #2064 "Specify custom thresholds for pr_curves"
This is a feature request for the TensorBoard plugin pr_curves!

There is very little power over the thresholds used by the plugin and I was wondering if this is necessary. Specifically, I would like to give a specific list of thresholds (same length as precision, recall, TP, TN, FP, FP) for the `raw_data_op`, which would be used instead of an evenly distributed threshold between 0 and 1. I imagin

[2019-03-27 16:57] wchargin commented on #2057
Directories in site-packages are named by the Python module name, not
the Pip distribution name. The `tensorboard` entry in your site-packages
corresponded to `tb-nightly`’s code. Deleting it will surely corrupt
your TensorBoard installation:

[code]

It sounds like this conda environment is in pretty bad shape
(conflicting versions, manual changes to the internal structures, …).
Can you just blow

[2019-03-27 18:13] wchargin commented on #2045
Colab caches network requests made within a cell output frame and saves
them in the notebook directly. If you create a simple Colab notebook
with a `%tensorboard` invocation, then download the ipynb, you can see
the cached data:

[code]

This is the kind of caching mechanism that @nfelt was referring to;
`nbconvert` would need to do something similar, and the generated HTML
would need some kind of

[2019-03-27 18:17] stephanwlee commented on #2062
Got some time to look into this and it looks like the newer version of the TF started to populate attributes that it previously did not.

First few lines that I got
[code]

and my initial thinking is that something is missing here: https://github.com/tensorflow/tensorboard/blob/37c5b50108be97e7bc48ef9d646cb8b52302d472/tensorboard/plugins/graph/tf_graph_common/parser.ts#L161-L175

Now the question

[2019-03-27 20:26] ectg opened #2066 "estimatore"

[2019-03-27 20:27] #2066 closed

[2019-03-27 20:33] ectg opened #2067 "AttributeError: module 'tensorflow' has no attribute 'estimator'"
Hi,

I get the following error when I run tensorboard:

Here is the setup info:

Does anyone know how to fix this? I have tried most of the solutions on stackexchange, but nothing has worked so far.

[2019-03-28 02:40] Queuecumber commented on #2045
Or the caching could be done by the client right?

[2019-03-28 08:45] zpcl412 opened #2069 "Errors occur when the time zone is not Greenwich"
\tensorboard\manage.py
line 47 to 53 like
`_type_timestamp = _FieldType(
    serialized_type=int,  # seconds since epoch
    runtime_type=datetime.datetime,  # microseconds component ignored
    serialize=lambda dt: int(
        (dt - datetime.datetime.fromtimestamp(0)).total_seconds()),
    deserialize=lambda n: datetime.datetime.fromtimestamp(n),
)`
should be changed into
`_type_timestamp = _Fie

[2019-03-28 10:52] bono1567 commented on #1984
@dsmilkov Shouldn't this feature request be migrated to the tensorflow issue ??

[2019-03-28 10:57] Abhijit-2592 commented on #2046
@nfelt  Sure we can merge the issues if you feel it's better that way. Meanwhile will check if there are any markdown extension alternatives

[2019-03-28 12:24] shashvatshahi1998 commented on #2067
I guess reinstall everything with higher versions.

[2019-03-28 14:31] jameswex commented on #2049
I'm not aware of a way to export the results of a notebook that shows the what-if tool to a static web page where the tool would be usable as it is in the notebook.

You can think of the what-if tool itself as an html element that shows the tool, and takes as input a set of examples, and sends out events when it needs some new data (like model inference results on some of those examples), then con

[2019-03-28 14:31] #2049 closed

[2019-03-28 14:33] shashvatshahi1998 commented on #2041
@stephanwlee can you please guide me regarding this issue, I want to contribute??

[2019-03-28 15:30] stephanwlee commented on #2041
Hey @shashvatshahi1998, thanks for wanting to contribute. We did explore this with https://github.com/tensorflow/tensorboard/pull/1588 but wanted to take more generic by allowing the same on x-axis to resolve the issue like #405.

Before you improve the closed pull request, please do note that there are multiple ways of "zooming" in x-axis: (1) you may just change the domain in the chart or (2) yo

[2019-03-28 17:23] stephanwlee commented on #2013
@qiuminxu What changes do you think needs to be made to enable this feature? Thanks!

[2019-03-28 17:31] stephanwlee commented on #2058
AFAICT, it looks like the color channel is properly used only for 4D tensors: https://github.com/tensorflow/tensorflow/blob/22653fa1ac370a8d537dc8ee610d26926d955436/tensorflow/python/keras/callbacks.py#L1435-L1436

@omalleyt12 Is this working as intended?

[2019-03-28 17:38] wchargin commented on #2069
I’ve replaced this code in #2054 to avoid problems like this.

[2019-03-28 17:38] #2069 closed

[2019-03-28 18:06] PaulDaoudi opened #2070 "Witwidget problem with GPU"
Hi,

I am trying to apply the What If Tool on my model on Jupyter Notebook with the library wit widget.
However, it seems that I cannot use tensorflow-gpu with wit widget: this library automatically install another tensorflow which does not recognize any gpu.

Is there a way to use the What If Tool with tensorflow-gpu?

Thank you!

[2019-03-28 18:30] GalOshri commented on #766
Does anyone have a set of logs they can share that reliably reproduces this issue?

I know a few people have tried reproducing this with several examples but did not notice steadily increasing memory. A repro would be really helpful in starting to investigate this!

[2019-03-28 18:32] qiuminxu commented on #2013
We need to add a GRPC call between GCE vm and TPU to cancel/stop a profile. For GPU, I guess a similar GPRC interface needed to be added in GPU profiler server.  We decided not to support this feature for TPU because TPU could generate hundreds of MBs of traces in just one second, and when the profile getting too large, the rest of the trace has to be dropped. We assume the traces around the point

[2019-03-28 18:45] nfelt commented on #766
It would also be especially helpful if this can be reproduced using the latest stable TensorBoard version (1.13.0) or our nightly releases (tb-nightly), and in an environment that we have access to - e.g. a docker container or a standard GCP VM instance.

[2019-03-28 20:17] stephanwlee opened #2071 "third_party/clutz.bzl does not pass Skylint"
Specifically, we violate depset-plus-depset
https://github.com/bazelbuild/bazel/blob/master/site/docs/skylark/skylint.md#using-the-operator--on-depset-deprecated-plus-depset

[2019-03-28 21:05] nfelt commented on #2046
Duplicate of #1740

[2019-03-28 21:05] nfelt commented on #2046
Okay, I'll centralize on #1740 - feel free to chime in there if you find anything.

[2019-03-28 21:05] #2046 closed

[2019-03-28 21:08] nfelt commented on #1740
Generalizing this issue to encompass styling words not just to indicate attention but also other use cases like tagging words.  It seems like at a minimum, this requires some way to highlight text with a custom color value.  If you think this requires more than just highlighting (versus what could be done by preprocessing the text and using other markdown features that are already supported), plea

[2019-03-28 21:16] silky commented on #1740
i think it's unfortunate to not allow html styling. i understand that google may not want that, but i'd say that most companies actually don't have the same security concerns as google.

so i think a fine suggestion is just a plugin, that is off by default, but enable-able via the command line, that allows this, would be great.

alternatively, it seems your only other option is to add a new method

[2019-03-28 21:58] nfelt commented on #1740
Understood that there's still interest in the full flexibility of and attendant risk of allowing arbitrary HTML.

For what it's worth, we are tentatively working on making it easier to develop/distribute/install third-party plugins that don't require any approval/vetting from the core team, so it's quite possible that other parties who have a different sense of the security/convenience tradeoff co

[2019-03-29 00:01] wchargin commented on #2071
Is this resolved by #2072?

[2019-03-29 00:08] wchargin commented on #2070
cc @jameswex (noting that TensorBoard itself does _not_ depend on
TensorFlow for this reason)

[2019-03-29 00:51] jameswex commented on #2070
Out of curiosity, it possible to manually uninstall tensorflow (the non-gpu version) after pip installing witwidget, to use it with tensorflow-gpu?

Perhaps we should switch the witwidget package to not have dep on TF as you did with TensorBoard William.

[2019-03-29 06:12] comzyh opened #2073 "Beholder: how does Resize.initialize_graph even work"
tensorflow and tensorboard versions:
[code]

 - OS Platform and version: ubuntu 18.04.2
 - Python version Python 3.6

I notice that in Resizer.initialize_graph, you use two placeholders **without** shape as parameters of tf.image.resize
https://github.com/tensorflow/tensorboard/blob/c8b2f5761fd8e9eba6d1c70fae965fe2f970cd2d/tensorboard/plugins/beholder/im_util.py#L119-L124

but in tensorflow code,

[2019-03-29 08:51] zpcl412 commented on #2069
Hi，@wchargin.
I got it,. I'll have a try.Thanks

[2019-03-29 10:44] PaulDaoudi commented on #2070
No it is not. I cannot import wit widget with only tensorflow-gpu, because it cannot import tensorflow-serving-api.
I also tried to install tensorflow-serving-api-gpu, but it still does not work.

[2019-03-29 13:11] jameswex commented on #2070
Here are builds of witwidget 1.0 pip files (both for py2 and py3) with the pip dependencies on tensorflow and tensorflow-serving-api removed. Could you try pip installing the right one for your python version, in your environment where you have tensorflow-gpu installed? You will also need to pip install tensorflow-serving-api-gpu, as you mentioned. Let me know if this pip package allows WIT to wor

[2019-03-29 15:27] stephanwlee commented on #2071
Yes, I must have not used the magic word :\

[2019-03-29 15:27] #2071 closed

[2019-03-29 16:29] philippHRO commented on #2057
Ok so that was clearly a mistake.

I already created a fresh conda environment and the problem persists.

[2019-03-29 17:27] ChanchalKumarMaji commented on #1179
I was planning to work on this issue as a part of GSoC-2019. Can anyone help me ? What all things are needed to be added.

[2019-03-29 18:07] GalOshri commented on #1179
Thanks for volunteering! I think the existing tutorials (e.g. [get started](https://www.tensorflow.org/tensorboard/r2/get_started) and [scalars](https://www.tensorflow.org/tensorboard/r2/scalars_and_keras)) cover the main points raised in this issue. Is there anything specifically missing? Otherwise, @dynamicwebpaige, do you think we should close this issue?

[2019-03-29 20:34] hgadig commented on #2067
Hi, please follow the following steps and retry.

1) Uninstall tensorflow, tensorboard
2) Uninstall tb-nightly(if it is installed)
3)Use pip freeze | grep tensorflow  to check if tensorflow-estimator package has been installed. If so, uninstall it.
4) Go to site-packages and remove all tensorflow folders related to tensorflow, tensorboard, tensorflow-estimator etc
5) Reinstall the latest versions

[2019-03-31 05:19] sdk21 opened #2074 "Tensorboard callback for embedding errors in kera"
- TensorBoard version (from pip package, also printed out when running `tensorboard`) 1.13.1
 - TensorFlow version if different from TensorBoard 1.13.1
 - OS Platform and version (e.g., Linux Ubuntu 16.04) Mac OS 10.13.6
 - Python version (e.g. 2.7, 3.5) 2.7
 - For browser-related issues:
   - Browser type and version (e.g. Chrome 64.0.3282.140) chrome
   - Screenshot if it's a visual issue

Pleas

[2019-03-31 11:57] PaulDaoudi commented on #2070
It works!! Thank you very much.

Paul

[2019-04-01 05:07] shashvatshahi1998 commented on #2041
@stephanwlee  I inspected both issues link which you mentioned , they are related to zooming issue in tensorboard and this issue is regarding selection of step range how these two can be related, please provide some insights.

[2019-04-01 05:10] shashvatshahi1998 commented on #2014
@wchargin  I want to work on this issue can you please guide me where to start and how to proceed.

[2019-04-01 05:40] shashvatshahi1998 commented on #1998
@wchargin can we add int64 dtype in DataType(present in api.proto) as requested by @omoindrot

[2019-04-01 06:33] shashvatshahi1998 commented on #2014
@wchargin for identifying a new hparam can we distinguish using its id which is there in message HParamInfo(String name)

[2019-04-01 06:50] rmothukuru commented on #2074
Hello sdk21,
When trying to reproduce your issue, we have observed that some variables like "vocab_size, train_data, partial_x_train, etc.." are missing. If possible for you, can you please share the code snippet where these variables are defined.

[2019-04-01 07:38] NaveenGandla commented on #2058
@stephanwlee
this is how my model looks like
model = Sequential()
model.add(Conv2D(16, 5, activation='relu', padding='same', input_shape=ip))
model.add(Conv2D(16, 5, activation='relu',padding='same'))
model.add(BatchNormalization(momentum=0.99,epsilon=0.001))
model.add(MaxPooling2D(2))
model.add(Conv2D(32, 5, activation='relu', padding='same'))
model.add(Conv2D(32, 5, activation='relu',padding='sa

[2019-04-01 09:45] amanp592 commented on #1961
@stephanwlee  autograph can be used to bridge the gap between eager execution and graphs. It can be used to convert the eager-style python code to graph-generating code.

[2019-04-01 16:30] krushika29 opened #2078 "Add tensorboard embedding visualization in my own web application"
Hello
I want to understand if it is possible to include the embedding projector visualization in my own web application, and if tensorboard library provides that support.

I understand that to visualize it, it opens a new session on port 6006 and the board displays. But for my use case I need only the embedding visualization to display from a python script.
Let me know if that is possible, and if

[2019-04-01 17:10] #2070 closed

[2019-04-01 17:14] hgadig commented on #2067
Closing the issue. Please keep us posted(by providing more details) if the above solution didn't work.
Thanks!

[2019-04-01 17:14] #2067 closed

[2019-04-01 17:25] hgadig commented on #2078
Below ai blog link has more information about open sourcing Embedding Projector.
https://ai.googleblog.com/2016/12/open-sourcing-embedding-projector-tool.html

Below links have some example usage of Embedding projector.
https://stackoverflow.com/questions/40849116/how-to-use-tensorboard-embedding-projector
https://github.com/harveyslash/TSNE-Embedding-Visualisation

[2019-04-01 17:41] stephanwlee commented on #2041
I may have read too much in between lines.

@pluskid When you said scalar plots have mechanism to choose range of steps  to visualize, what do you specifically mean? Also, can you kindly tell us what sampling are you referring to? If you are referring to the reservoir sampling, it is done on all steps, not within the range of steps you choose. Thanks!

[2019-04-01 19:23] amanp592 commented on #2078
@krushika29 Till date there is no support that you can use the embedding visualizer in your own web application, a standalone version of embedding visualizer is currently available at http://projector.tensorflow.org/ as mentioned by @hgadig but right now there is no such support to my knowledge, the tensorboard library also have no as such support till now!

[2019-04-01 21:19] sdk21 commented on #2074
partial_x_train is basically a numpy array with each element list of size 20.
array([[ 128,  459, 1129, ...,    0,    0,    0],
       [ 174,    1,  155, ...,    0,    0,    0],
       [ 338,  216, 2427, ...,    0,    0,    0],
       ...,
       [ 188,  146,   15, ...,    0,    0,    0],
       [ 253,   77, 1714, ...,    0,    0,    0],
       [ 319,   56,   90, ...,    0,    0,    0]], dtype=int

[2019-04-01 23:41] wchargin opened #2081 "Internal k-nearest-neighbors data management is broken"
Missed this in my review of #1901. The state management performed by
clients of `computeKnn` is incorrect. The intent was that `computeKnn`
should manage the `this.nearest` field entirely. Assignments on lines
361 and 384, and dereferences on 363, 387, and 388, are wrong:

https://github.com/tensorflow/tensorboard/blob/9270699784657b69a21f022dce98c439f7602d86/tensorboard/plugins/projector/vz_proje

[2019-04-01 23:41] wchargin commented on #2081
Assigning @cannoneyed.

[2019-04-01 23:53] wchargin opened #2082 "k-nearest-neighbors caching is broken (unsound)"
Missed this in my review of #1901. The cache key check is incorrect. The
code reads:

https://github.com/tensorflow/tensorboard/blob/9270699784657b69a21f022dce98c439f7602d86/tensorboard/plugins/projector/vz_projector/data.ts#L444-L447

where the `nNeighbors <= this.nearest.length` is intended to check
whether the cached KNN computation was computed with a value of
`nNeighbors` not smaller than the

[2019-04-01 23:57] wchargin commented on #2082
Assigning @cannoneyed.

[2019-04-02 17:07] wchargin commented on #2058
Hi @NaveenGandla—please provide a complete, self-contained Python file
that we can run to reproduce the problem.

[2019-04-02 17:49] wchargin commented on #2073
Hi @comzyh! Thanks for the bug report, and thanks for the clear repro
script. You’re right: this is broken as of #1734. The `tf.image.resize`
function used to allow dynamically shaped images, and the version
exposed under `tf.compat.v1.image.resize_nearest_neighbor` still does,
but the new `tf.image.resize` does not.

@stephanwlee, should we revert this part of #1734 and add a test case in
the sty

[2019-04-02 17:50] wchargin commented on #2073
(You can verify that this is the problem by noting that both your MWE
and the `beholder_demo.py` in the TensorBoard repository work in a fresh
virtualenv with `tensorflow==1.13.0rc2` but not `tensorflow==1.13.1`,
and that if you subsequently patch `im_util.py` in your virtualenv’s
site packages to revert the patch in #2073 then both scripts do work.)

[2019-04-02 18:00] mkillinger commented on #1803
Any progress? I think a bar plot or KDE visualization would be really advantageous - as of now these histograms are pretty unscientific.

[2019-04-02 18:03] wchargin commented on #2074
Hi @sdk21—please provide a self-contained Python file that we can run to
reproduce the problem.

[2019-04-02 18:06] stephanwlee commented on #2073
Dang, it looks like the implementation of the API changed in a breaking way. Let's revert #1734 and address this issue. @wchargin would you have time to do that? I am a bit swamped :(

[2019-04-02 18:14] wchargin commented on #2078
Hi @krushika29! There isn’t a way to do this out of the box, no.
Depending on how much effort you’re willing to invest, and what
functionality exactly you want, you may be able to make something work.
The projector is defined as a web library here—

https://github.com/tensorflow/tensorboard/blob/9270699784657b69a21f022dce98c439f7602d86/tensorboard/plugins/projector/vz_projector/BUILD#L8-L9

—which

[2019-04-02 20:22] nfelt commented on #2073
FYI there's a somewhat related b/112771514 internally.

[2019-04-02 20:47] #2073 closed

[2019-04-02 23:26] wchargin commented on #2014
Hi @shashvatshahi1998—thanks for your interest. There’s still some
design work to be done here, in the context of larger issues like #1998;
I don’t think that we have enough information at this time to select a
particular implementation.

[2019-04-03 02:10] wchargin opened #2084 "Keras callback creating .profile-empty file blocks loading data"
Repro steps:

 1. Create a virtualenv with `tf-nightly-2.0-preview==2.0.0.dev20190402`
    and open two terminals in this environment.

 2. In one terminal, run the following simple Python script (but
    continue to the next step while this script is still running):

[code]

 3. Wait for (say) epoch 2/5 to finish training. Then, in the other
    terminal, launch `tensorboard --logdir ./logs`.

 4

[2019-04-03 02:26] nfelt commented on #2084
What is the event file structure on disk after running this?  This sounds like a case where there are multiple active event files in the run and TensorBoard advances to the last one too quickly and thus misses new data from the earlier one.

[2019-04-03 02:39] wchargin commented on #2084
Yep, I suspect so, too:

[code]

Note that the fake `.profile-empty` events file only appears in the
`train/` directory.

[2019-04-03 02:40] wchargin commented on #2084
So, related: #1867.

[2019-04-03 04:08] nfelt commented on #2084
Yeah, that must be it.  I thought the code that was writing our the `.profile-empty` file was supposed to check if there were any events.out.tfevents files pre-existing in the directory, which doesn't totally avoid this happening (due to races) but could at least reduce the incidence.  Perhaps that isn't actually the case.  Another hacky solution until #1867 is actually ready could be changing the

[2019-04-03 08:22] XFeiF opened #2085 "Bazel 0.22 build tensorboard failed"
## Bazel 0.22 build tensorboard failed
ubuntu 18.04
python 3.6
tf-estimator-nightly 1.14.0.dev2019040201
tf-nightly           1.14.1.dev20190402
tb-nightly           1.14.0a20190319

INFO: Invocation ID: 0c8e229f-c313-4eb2-8cdc-6c1a37a0a3a2
ERROR: While resolving toolchains for target //tensorboard:tensorboard: invalid registered toolchain '@go_sdk//:go_android_386': no such package '@go_sdk//': T

[2019-04-03 13:01] cipri-tom commented on #1681
Yess, this is so inconvenient !

But what do you mean about the 30s reload _turned on_? can you actually turn it off temporarily ? From the frontend?

Thank you!

[2019-04-03 13:56] ZZM37 opened #2086 "When I used tensorboard as tensorboard --logdir=logs ,it told me that"
When I used tensorboard as tensorboard --logdir=logs ,it told me that
`D:\workspace\python\Human-Detection_by_tiny_YoLo_v3>tensorboard --logdir=logs
Traceback (most recent call last):
  File "d:\software\run\python\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "d:\software\run\python\lib\runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "D:\soft

[2019-04-03 14:01] amanp592 commented on #2086
@ZZM37 which ide do you use? anaconda or pycharm??

[2019-04-03 14:37] ZZM37 commented on #2086
does it matter?I use sublime text3

[2019-04-03 16:45] wchargin commented on #2084
It only checks whether a `.profile-empty` events file exists:

[code]

(from [`python/eager/profiler.py`][src]).

[src]: https://github.com/tensorflow/tensorflow/blob/45df90d5c2d6b125a10cb0809899c254d49412e6/tensorflow/python/eager/profiler.py

[2019-04-03 16:57] wchargin commented on #2085
Hi @XFeiF! TensorBoard should work just fine with Bazel 0.22. It looks
like you had a network error: “Network is unreachable (connect failed)”.
Perhaps your internet was disconnected during the fetch phase?

In general, our minimum Bazel version is listed here:
https://github.com/tensorflow/tensorboard/blob/4c5e3f323beb1974473c1b32d5e6daff33c11ae6/WORKSPACE#L19

Currently, it’s at 0.22.0.

[2019-04-03 17:01] hgadig commented on #2086
The reason could be due to the use of older version of tensorboard and tensorflow. Could you please try with the latest versions of both Tensorflow and Tensorboard and see if  you are running into the same error.

[2019-04-03 17:06] wchargin commented on #2086
Hi @ZZM37! The expression `tf.estimator.SessionRunHook` doesn’t actually
appear in TensorBoard 1.9.0 at all—it was `tf.train.SessionRunHook`
until #1706, which first appeared in TensorBoard 1.13.0.

It sounds like you may have multiple versions of TensorBoard installed
in the same environment (which won’t work out very well). Could you
please run `pip freeze` to list the packages in your environme

[2019-04-03 17:42] wchargin opened #2087 "`tensorboard` should support `--version`"
When dealing with path issues, such as when users (mistakenly) have
multiple versions of TensorBoard installed or are trying to coordinate
modules from multiple sources (e.g., a virtualenv plus system site
packages), having `tensorboard --version` would be helpful. It’s also
useful as a minimal “is TensorBoard installed?” command that’s less
verbose than `tensorboard --helpshort` (131 lines) and m

[2019-04-03 17:44] wchargin commented on #1681
You can, yes: click the gear in the top-right of the TensorBoard window,
and deselect the “Reload data every 30s” box.

[2019-04-03 19:15] amanp592 commented on #2087
@wchargin can you guide me on this I would love to work on this!!

[2019-04-03 20:33] qqfish opened #2090 "Show "capture profile" button in profile plugin even if there is no profile data"

[2019-04-04 01:26] ZZM37 commented on #2086
thanks all of you!I delete tensorboard in site-packages,and reinstall tensorboard1.9.0. I don't know why but it does work!

[2019-04-04 02:38] #2086 closed

[2019-04-04 08:06] XFeiF commented on #2085
@wchargin Thanks. I've solved it!

[2019-04-04 08:06] #2085 closed

[2019-04-04 14:12] tolandwehr opened #2092 "Cannot launch tensorboard from console due to numpy issue"
- TensorBoard version: 1.13.1
 - TensorFlow version: 2.0.0-alpha0
 - OS Platform and version (e.g., Linux Ubuntu 16.04):Win10
 - Python version (e.g. 2.7, 3.5):3.6

I'd like to make use of TensorBoard.I already saved training and validation data in the same directory as the rest of the project data using the **tensorflow.keras.callbacks** library.

When calling it via Anaconda prompt on a Win10-OS

[2019-04-04 16:29] wchargin commented on #2085
Great; glad to hear it.

[2019-04-04 16:42] wchargin commented on #2092
Hi @tolandwehr! Thanks for the report. It looks like you’re running into
[this numpy issue][np] and/or [this TensorFlow issue][tf] (or something
like it)—but other people report the numpy issue as being resolved by
reinstalling numpy, which you’ve already tried. I also note that you
have the TensorFlow 2.0 preview but TensorBoard 1.13, which is a bit
strange—installing the 2.0 preview should autom

[2019-04-04 16:58] hgadig commented on #2078
Closing as this issue is in "awaiting response" status for 3 days. Please take a look into the answers provided above and post your comments(if you still have queries on this). Thank you!

[2019-04-04 16:58] #2078 closed

[2019-04-04 17:01] hgadig commented on #2057
@philippHRO  Any update on this ?

[2019-04-04 17:04] hgadig commented on #2010
@tete1030  Any update on this ?
@wchargin  Please let me know if you want me to keep this issue open until Windows test ?

[2019-04-04 17:06] hgadig commented on #1775
Closing this as it is in "awaiting response" status for long time. Feel free to add your comments(if any) and we will reopen. Thanks!

[2019-04-04 17:06] #1775 closed

[2019-04-05 01:13] tete1030 commented on #2010
Sorry that I didn't reply. The patch works great and I have not encountered this problem again.

[2019-04-05 08:48] tolandwehr commented on #2092
@wchargin
Thanks for the reply. Carried out the commands

[code]

Not sure whether I did that right regarding the first three commands.

[2019-04-05 17:18] wchargin opened #2093 "Graph size balloons over consecutive Keras models"
Running many unrelated Keras models in one Python script leads to
steadily increasing event file sizes, even when the models and callbacks
are unrelated to each other.

I noticed this because I ran 200 runs overnight, and wondered why the
event file for the first one was 220KB while the event file for the last
run was 20MB.

Run the following script in `tf-nightly-2.0-preview` in Python 3 (in a
di

[2019-04-05 17:18] wchargin commented on #2093
cc @stephanwlee

[2019-04-05 17:41] wchargin commented on #2092
I note that you have both `tensorboard` and `tb-nightly` installed:

[code]

Each of these packages provides a different version of TensorBoard, but
Pip doesn’t really know how to handle them properly if they’re _both_
present. Please **uninstall them both** and then **reinstall** the same
version of `tb-nightly`:

[code]

My bad, sorry—forgot that you were on Windows. You’ll need to swap the
quot

[2019-04-05 17:43] wchargin commented on #2010
Great—glad to hear that the patch is working, @tete1030 (and sorry for
the inconvenience).

@hgadig: Yes, please keep this open.

[2019-04-05 18:05] wchargin commented on #2087
Hi @amanp592! Yes, this is probably a good starter issue.

You’ll want to define a new `--version` flag. There’s not a clearly
correct place for this flag to live, but it seems reasonable enough to
add it to `core_plugin.py`’s `define_flags` method. Then, in `fix_flags`
in the same file, you can print out the version and exit with success if
the `--version` flag was passed.

Let us know if you hav

[2019-04-05 19:01] nfelt commented on #2087
I think it might be a bit better to implement the version printing in `tensorboard.program.Tensorboard.main`, which is the way it works for `--inspect`:

https://github.com/tensorflow/tensorboard/blob/58df24b5aad3c828e8d87c3e8abbc507f8bc68b7/tensorboard/program.py#L219-L223

That seems slightly cleaner than just calling `sys.exit()` in the flag processing code itself since it keeps the functional

[2019-04-05 19:17] krushika29 commented on #2078
@hgadig Thank you so much for all the links.
Specifically, a link you provided was helpful to me, and I have a few doubts regarding it. https://github.com/harveyslash/TSNE-Embedding-Visualisation

I am trying to replicate the above standalone embedding projector for my model.
I have already built a translation model, and I need this standalone embedding projector to visualize the word embeddings.

[2019-04-05 20:14] wchargin commented on #2087
That’s also fine with me, given that `inspect` works that way already.

(For what it’s worth, IMHO this isn’t entirely satisfactory, either,
because really `main` should not depend on any plugin… and really it’s
questionable whether `core_plugin` should be a plugin at all.)

[2019-04-05 20:16] nfelt commented on #2087
Yes, I think the problem there is that we have been putting flags that really relate mostly to `program` itself into CorePlugin for lack of a better place.

[2019-04-05 20:20] nfelt commented on #1907
Another example of this happening: https://github.com/tensorflow/tensorboard/issues/2092

[2019-04-05 20:31] wchargin commented on #1907
Note that you get in this state if you upgrade to the TensorFlow 2.0
alpha using the recommended incantation from the [Dev Summit talk]:

[code]

[Dev Summit talk]: https://youtu.be/k5c-vg4rjBw?t=102

[2019-04-05 20:39] nfelt commented on #1907
At some point in the lead-up to the 2.0 final release we'll want to release a TensorBoard 2.0 alpha under the `tensorboard` package name, which will resolve that, but it's a good point that at least for now it's easy for users to arrive in this state by following our own instructions.

It would really be ideal if we could auto-uninstall `tensorboard` when installing `tb-nightly` and vice versa, bu

[2019-04-05 20:49] wchargin commented on #2093
I’ve triaged this as high priority because it makes logdirs
quadratically sized. I have a logdir that should be 50MB but is 2GB.

[2019-04-05 22:45] stephanwlee opened #2094 "Write test against TensorFlow proto and graph parser.ts to check for divergence"
TensorBoard graph parser rolled its own prototxt parser and it requires to know name of the repeated field upfront. Although this problem would go away if we use jspb, since we want to keep the parser for foreseeable future, we might want to write a test that automatically checks for divergence.

Good starting point can be found here: https://github.com/tensorflow/tensorboard/pull/2068#issuecommen

[2019-04-05 22:46] #2062 closed

[2019-04-05 22:51] stephanwlee commented on #2093
Few things I noticed:
1. This is reproducible in tf-nightly
2. TF v1: Keras uses default graph in `ops` for defining graph. All model calls are basically adding onto the same graph.
3. TF v2: Keras instantiates a `FuncGraph('keras_graph')` but I do lack knowledge in how this is actually used when defining TensorFlow graph when instantiating a Keras layer.

@omalleyt12  is my assessment correct? Al

[2019-04-06 03:21] austinmw commented on #767
@srikumar-b How did you pass S3_REGION?

[2019-04-06 06:42] shashvatshahi1998 commented on #2087
@wchargin, @nfelt can you please tell me what else i have to add in this PR.

[2019-04-06 10:43] amanp592 commented on #1718
@stephanwlee @nfelt  can I work on the remaining ones, the two mentioned
tf.compat.v1.Session -> Use eager mode
tf.contrib.ffmpeg -> Have to find the replacement ??

[2019-04-06 15:07] alew3 opened #2098 "Plugin Projector Visualize Embeddings: 'ResourceSummaryWriter' object has no attribute 'get_logdir'"
Tensorboard: tb-nightly==1.14.0a20190319
Tensorflow: tf-nightly-gpu-2.0-preview==2.0.0.dev20190403
Ubuntu 18.04

it is calling a method that doesn't exist

/tensorboard/plugins/projector/__init__.py in visualize_embeddings(summary_writer, config)
     50     ValueError: If the summary writer does not have a `logdir`.
     51   """
---> 52   logdir = summary_writer.get_logdir()
     53
     54   #

[2019-04-06 15:19] #2098 closed

[2019-04-07 03:15] XFeiF commented on #66
I've pulled a [request](https://github.com/tensorflow/tensorboard/pull/2099) to handle this. Can someone review it?

[2019-04-08 08:38] XFeiF commented on #224
Maybe I can handle it. As far as I understand, it can be handled using [Grad-CAM](https://arxiv.org/abs/1610.02391),  can it work?

[2019-04-08 15:15] stephanwlee commented on #1718
I recently learned about https://github.com/tensorflow/io which now includes ffmpeg.

[2019-04-08 15:57] nfelt commented on #1718
I think tensorflow/io's ffmpeg support is only for VideoDataset, i.e. it's only for reading videos.

For the v2 audio summary op we can just use `tf.audio.encode_wav()` now that it exists after https://github.com/tensorflow/tensorflow/commit/b30d3f5ac037c2d84f99130d1e7547d4dc6bbd5a.

For the v1 audio summary op and the v1 audio_pb function (which uses contrib ffmpeg via PersistentOpEvaluator), we

[2019-04-08 17:11] hgadig commented on #2074
Closing as this issue is in "awaiting response" state for more than 3 days. Feel free to add your comments and we will reopen. Thanks!

[2019-04-08 17:17] hgadig commented on #2058
Closing as this issue is in "awaiting response" status for more than 3 days. Please provide the information asked above and we will reopen. Thank you!

[2019-04-08 17:17] #2058 closed

[2019-04-08 17:19] hgadig commented on #1999
@diego898  Any update on this ? Please keep us posted.

[2019-04-08 17:22] hgadig commented on #1751
Closing as this issue is inactive and in "awaiting response" state for long time. Feel free to add your comments and we will reopen. Thanks!

[2019-04-08 17:22] #1751 closed

[2019-04-09 07:09] rakababa commented on #949
I get a blank white screen when i run tensorboard (v 1.13.1). Also running --inspect gives me the following:

![image](https://user-images.githubusercontent.com/23608242/55779943-a64b7e80-5a5b-11e9-8d8b-f662d672b5b4.png)

Is there something wrong in my events file??

[2019-04-09 07:21] amanp592 commented on #2094
@stephanwlee  @nfelt  can you gudie me this, i want to work on this

[2019-04-09 07:59] amanp592 commented on #949
@rakababa  can you provide the code that is producing this issue?? it will be easier to help then.

[2019-04-09 14:01] amanp592 commented on #1176
@nfelt @wchargin i fixed the ommiting trail slash bug please review this!!

[2019-04-09 17:39] qiuminxu opened #2102 "Having plugins appear automatically as soon as is_active() checks is done"
- TensorBoard version
   1.14.0a20190319
 - TensorFlow version if different from TensorBoard
   nightly
 - OS Platform and version (e.g., Linux Ubuntu 16.04)
   Linux
 - Python version (e.g. 2.7, 3.5)
   3.5

When loading profile from gs://cloud-tpu-tools-tf13, the profile tab doesn't show up immediately. A few extra manual refreshes are required to have the profile dashboard appear. The user may

[2019-04-09 20:54] krushika29 opened #2103 "What are the configuration parameters for the standalone-embedding proejctor?"
Hello, I am trying to replicate the below standalone embedding projector for my model.
https://github.com/harveyslash/TSNE-Embedding-Visualisation

which was originally forked from [here](https://github.com/tensorflow/embedding-projector-standalone).

I have already built a translation model, and I need this standalone embedding projector to visualize the word embeddings.

For this in the above pr

[2019-04-10 05:40] tolandwehr commented on #2092
@wchargin Sry for the late reply. I had to do some extensive travels for work and come back to the issue right now.

[code]
Pip deleting tensorboard and tb-nightly and then reinstalling tb-nightly transforms the error. It keeps on being the same regardless whether it's version posted above or the newest version:

[code]

[2019-04-10 07:00] wchargin commented on #2092
Okay, great. This is known (#2017) and it’s a bug in Python itself that
only occurs on Windows in Python versions 3.6.0 through 3.6.6 inclusive.
We have a patch (#2054) to work around it even on those versions, but
haven’t yet released a new version of TensorBoard with that patch. In
the meantime, please upgrade your Python to 3.6.7 or later.

See also: https://github.com/tensorflow/tensorboard/is

[2019-04-10 07:00] #2092 closed

[2019-04-10 10:08] shashvatshahi1998 commented on #2082
@wchargin can I work on this, just guide a little more about the issue.

[2019-04-10 12:47] maxhgerlach commented on #1103
@caisq I still experience the issue in TF 1.13.1.

[2019-04-10 16:41] krushika29 commented on #2103
Edit 1 :
Updating the structure of my log directory `(log-dir)` obtained after training the model.This is the same directory which I use when I open tensorboard by using the command `tensorboard --logdir="log_dir"`

[code]

I am trying to figure out which file do I provide for the parameter `tensorpath` in the above mentioned `config.json` file

Thanks in advance !!

[2019-04-10 16:54] hgadig commented on #2057
Closing this issue as it is in "awaiting response" status for more than 3 days. Please post your comments(if any) and we will reopen. Thanks!

[2019-04-10 16:54] #2057 closed

[2019-04-10 23:02] wchargin commented on #1718
fwiw, I have noted extremely poor performance of the `wave` module in
the past. The following blog post describes a way to improve the default
performance from 10m24s to 51s (for 5 minutes of audio output):

<https://soledadpenades.com/posts/2009/fastest-way-to-generate-wav-files-in-python-using-the-wave-module/>

By contrast, `tf.audio.encode_audio` completes in 0.271s (hundreds of
times faster t

[2019-04-11 16:45] SiegeLordEx commented on #59
Is having this be configurable still the plan? I see the preview TF2.0 summary API does not have this feature.

[2019-04-11 17:51] janosh opened #2106 "AttributeError: module 'tensorflow._api.v2.compat.v1' has no attribute 'pywrap_tensorflow'"
Cross-posted here from TF issue [27719](https://github.com/tensorflow/tensorflow/issues/27719), as it might be a problem with TensorBoard.

**System information**

 - TensorBoard version: `tb-nightly=1.14.0a20190319`
 - TensorFlow version: `tf-nightly-2-0-preview=2.0.0.dev20190411`
 - OS: macOS 10.14.4
 - TensorFlow installed from: binary
 - TensorFlow version: 2.0.0-dev20190410 (latest nightly)

[2019-04-11 20:07] Nick-Lucas opened #2108 "Only showing first log, and no others"
For bug reports, please include the following:

[code]

 - OS Platform and version: `Ubuntu 18.04`
 - Python version: `Python 3.6.8 :: Anaconda, Inc.`
 - For browser-related issues:
   - Browser type and version: `Chrome 73.0.3683.103 (Official Build) (64-bit)`

At some point my tensorboard has got stuck only able to show the first log file from any given set.

What I've tried:

* Disabling indivi

[2019-04-11 20:11] nfelt commented on #2106
Can you try updating to the latest `tb-nightly` release?  I think #2096 should have fixed this but it will only be in more recent nightly releases, and it looks like yours is from 20190319.

[2019-04-11 20:26] Nick-Lucas commented on #2108
Quick update. I left it running for the last 15 minutes, and now there are 2 charts. The files are around 2.5-3.5gb, but it was all working really fast yesterday, so I'm a bit confused why this is taking so long to process.

[2019-04-11 21:29] janosh commented on #2106
Are you suggesting building from source? Because 1.14.0a20190319 is the latest release [currently available on PyPI](https://pypi.org/project/tb-nightly).

[2019-04-11 21:30] janosh commented on #1907
Exactly. This happened to me. Didn't realize for quite some time that I had an old TB installation lying around.

[2019-04-11 22:15] nfelt commented on #2106
Indeed it is - my bad and thanks for pointing this out.  We'll investigate.  In the mean time, then yes, the workaround would be building from source (or downgrading to a slightly older TF nightly).

[2019-04-11 23:00] nfelt opened #2109 "update TF 2.0 summary usage to avoid deprecated/removed APIs"
This is a cleanup issue to track removing TensorBoard's references to old versions of TF 2.0 summary APIs.  Specifically, the `tf.summary.import_event` API is removed entirely (in favor of `tf.summary.experimental.write_raw_pb`) and `tf.summary.summary_scope` is moved to `tf.summary.experimental.summary_scope`, since it's unclear that we want either API to exist in the long term and they're primar

[2019-04-12 04:32] ceevee830 commented on #1864
Closing....

[2019-04-12 04:32] #1864 closed

[2019-04-12 08:30] jheffez commented on #2106
Having same error on Windows10/Python3.6.8. Reverting to tf-nightly-2.0-preview-2.0.0.dev20190409 fixed the problem.

P.S. Any chance to speed up processing of large tfevents files?

[2019-04-12 09:56] janosh commented on #2106
@jheffez Downgrading to TF 2.0.0.dev20190409 didn't work for me.

@nfelt Building TB from source did. However, now I'm getting a new error
[code]
Does this sound familiar as well?

[2019-04-12 10:04] jheffez commented on #2106
@janosh, could be the python version. I've had issues with 3.7.x with nightly TF. I'm using 3.6.8.

[2019-04-12 10:09] janosh commented on #2106
I don't think so. The error sounds like TB is having problems reading summaries without a corresponding graph. I'm guessing such summaries might be produced by eagerly executed code without the `@tf.function` decorator in TF 2.0. Could this be the issue, @nfelt?

In any case, I'm running Python 3.6.7.

[2019-04-12 12:43] shashvatshahi1998 commented on #1677
@stephanwlee can you please guide me regarding this, I want to work on this issue.

[2019-04-12 19:33] amanp592 commented on #2109
@nfelt i want to work on this! can you please guide me a little bit

[2019-04-12 19:35] amanp592 commented on #2053
@wchargin i want to work on this, can you guide me ??

[2019-04-13 01:47] sdk21 commented on #2074
from __future__ import absolute_import, division, print_function
import tensorflow as tf
from tensorflow import keras
import numpy as np

print(tf.__version__)

imdb = keras.datasets.imdb

(train_data, train_labels), (test_data, test_labels) = imdb.load_data(num_words=10000)
print("Training entries: {}, labels: {}".format(len(train_data), len(train_labels)))

#print(train_data[0])

len(train_data[

[2019-04-13 02:30] shashvatshahi1998 commented on #2109
@nfelt can I also work with @amanp592 as a team on this issue?

[2019-04-13 10:03] ZhikuoChen commented on #1153
Has your problem be solved？

[2019-04-14 13:37] cclauss opened #2113 ".travis.yml: The 'sudo' tag is now deprecated in Travis CI"
[Travis are now recommending removing the __sudo__ tag](https://blog.travis-ci.com/2018-11-19-required-linux-infrastructure-migration).

"_If you currently specify __sudo: false__ in your __.travis.yml__, we recommend removing that configuration_"

[2019-04-15 07:24] golfgedamu commented on #1863
python -mpip install protobuf --upgrade

[2019-04-15 16:35] danijar commented on #294
I'm creating multiple TensorBoard instances every day and every time have to make the following changes via the UI:

- Set smoothing value
- Change tooltip sorting to `nearest`
- Disable ignoring outliers in chart scaling
- Disable automatic data reload
- Change the pagination limit to fit my screen

It would be very useful if those could be set via the command line, so I can create an alias and d

[2019-04-15 17:44] danijar commented on #1221
The main use case for the globs is to look at multiple experiments. Ideally, TensorBoard can be started together with the experiments. In this case, the log directories don't exist yet.

[2019-04-15 19:58] wchargin commented on #2084
Just to note explicitly: setting `profile_batch=0` in the Keras callback
options is a workaround that disables profiling entirely.

[2019-04-15 22:21] colinshenc commented on #2109
Hey, in the meantime, how to use tf.summary.import_event()?

[2019-04-16 08:00] luckygl commented on #1976
I have a same problem . And I have Upgrade Python to Version 3.6.7,the issue still exists
Error:
D:\Users\Administrator\AppData\Local\Programs\Python\Python36>python -V
Python 3.6.7

D:\Users\Administrator\AppData\Local\Programs\Python\Python36>tensorboard --logdir='D:\Users\Administrator\PycharmProjects\DeepLearning\NNmodel\TensorflowBase\logs\'
d:\users\administrator\anaconda3\lib\site-packages\

[2019-04-16 19:07] wchargin opened #2115 "Broken at nightly 2.0 preview due to `raise_exception_on_not_ok_status`"
Can’t run TensorBoard with current `tf-nightly-2.0-preview`:

[code]

Hitting the server at that port gives 500s with the same error, and
fails to load any plugins that depend on the multiplexer. The projector
still works.

[2019-04-16 19:11] wchargin commented on #2115
Probably related:
<https://github.com/tensorflow/tensorflow/commit/ea3f474c5ff94152f72b5417eff2046111bb77e3>

[2019-04-16 19:14] nfelt commented on #2115
Hmm, Travis is still green.  Is this due to caching or is there no test that actually covers this failure?

[2019-04-16 19:15] wchargin commented on #2115
The smoke test doesn’t catch it because it points at an empty
(nonexistent) logdir, which never hits the bad path because there are no
event files to load.

[2019-04-16 19:43] nfelt commented on #2115
But this should be covered by event_file_loader_test.py shouldn't it?  I think I'll try clearing the travis cache for master and rerunning.

[2019-04-16 19:57] nfelt commented on #2106
The new version of `tb-nightly` has been published, so if you `pip install -U tb-nightly` that should fix the pywrap_tensorflow issue.

For the error "Attempting to process TensorSummary output" as far as I can tell, that error would only be produced by a very old version of TensorFlow/TensorBoard (at least two years old).  Could you check that you're using up-to-date versions of both?

@jheffez w

[2019-04-16 20:37] cottrell commented on #1961
So to clarify, if you use eager only code, you can not debug with tensorboard graphs?

[2019-04-16 20:38] cottrell commented on #1961
So to clarify, if you use eager only code, you can not debug with tensorboard graphs?  I'm confused as to how the keras writer does this. Maybe that is a tf.function under the hood now.

[2019-04-16 20:40] nfelt commented on #2115
Confirmed that it failed when re-run with a fresh cache.

[2019-04-16 20:44] nfelt commented on #2113
Thanks for the heads-up!

[2019-04-16 20:48] stephanwlee commented on #1961
@cottrell Yup correct. Pure eager builds no graph. Keras always has built some graph underneath (the details escape me at the moment but IIRC, in v1, it built a graph using its own session and, in v2, it constructs graph with FuncGraph) and is able to show some graph unless you pass `run_eagerly` to its compile method.

[2019-04-16 20:48] wchargin commented on #2115
Self-assigning because this is blocking some work that I want to do; if
someone else wants to take this, let me know and I can use an older
nightly for now.

[2019-04-16 21:43] wchargin commented on #2115
This is, unfortunately, not entirely trivial. Using `tf.compat.v1` fixes
the problem in builds that depend on TensorFlow, but the notf tests are
(rightly) failing because our stub does not provide `.compat.v1.errors`;
it only provides an empty `.compat.v1` module.

I propose a new lazy-loaded module `tensorboard.compat.tf1`, which would
be analogous to the existing `tf2` module except that it guar

[2019-04-16 21:43] alexlee-gk commented on #39
The original ffmpeg command was dropping some frames for gifs that had more than a certain number of frames. This would only happen under certain circumstances (e.g. only in some machines I tried). The dropping issue is fixed by adding `[x]fifo[x]` to the filtering part of the ffmpeg command. I have updated the colabs with this fix. Thanks to @kpertsch for pointing and figuring this out!

Referenc

[2019-04-16 21:53] nfelt commented on #2115
I think we could just change the stub `__init__.py` to assign `errors` to `compat.v1.errors`, the same way that `pywrap_tensorflow` worked before it was made unnecessary by #2096.  Using the existing stub framework seems a little better to me than creating yet more lazy-loaded modules.

The larger solution to the larger problem is https://github.com/tensorflow/tensorboard/issues/1718, and for this

[2019-04-16 22:02] wchargin commented on #2115
Yes, that also works, and makes sense to me. Thanks for the suggestion.

[2019-04-16 22:54] #2115 closed

[2019-04-17 07:31] Danmou commented on #1606
I think #210 is closest to what @zhangmozhe is requesting. Basically sometimes you want to add information to a run which was not known at the time the run was started, e.g. "best RMSE", "overfits" etc.

[2019-04-17 20:16] dbieber commented on #1569
I'm getting around to trying this now. Is the tutorial you linked still the best starting point?

[2019-04-17 21:12] #1857 closed

[2019-04-17 21:14] wchargin commented on #1569
Yep, that’s the one.

[2019-04-17 23:43] josiahls opened #2120 "Feature: Add regex filtering field to "Custom Scalar" plugin"
I currently have a custom scalar graph for showing motion entropy and reward per episode.
So I needed a graph per episode and is accomplished via add_scalar. I am bothered by not being able to filter the episodes because as you can see below, there are a lot of episodes and thus a lot of graphs:
![image](https://user-images.githubusercontent.com/19930483/56327170-2bfbb800-6147-11e9-8180-f6ccb418c1

[2019-04-18 00:36] wchargin opened #2121 "Metaclass syntax is not py3k-compatible"
Low-priority.

Our codebase assigns to `__metaclass__` to set metaclasses, but this
only works in Python 2. The portable way is to use `six.add_metaclass`,
which works as a decorator. The following occurrences are broken in
Python 3:

[code]

Demo:

[code]

[2019-04-18 02:24] nfelt commented on #86
Just to catalog what is available:
- https://www.tensorflow.org/guide/embedding (old guide, doesn't specifically cover the TensorBoard `visualize_embeddings()` API)
- 2017 TF dev summit example code uses the projector API: https://github.com/martinwicke/tf-dev-summit-tensorboard-tutorial/blob/8c12cc0eac88db2239cbe453c9e828367021a515/mnist.py#L117-L124
- Crowdsourced info on StackOverflow: https://

[2019-04-18 05:23] lebrice commented on #2010
Hey there, just stumbled upon this, I just thought I'd mention that this patch doesn't fix the issue from the non-sudo user perspective. I added the patch first, but It did not fix the problem, as I do not have write access on that directory anyway. I'm gonna try and change the ".tensorboard-info" name to something unique, and hope this works!

[2019-04-18 06:26] jheffez commented on #2106
Updated to:
tb-nightly                       1.14.0a20190417
tensorflow-estimator-2.0-preview 1.14.0.dev2019041200
tf-nightly-2.0-preview           2.0.0.dev20190417

Getting warnings:

`(tf2) C:\Users\user\py\>tensorboard --logdir=.  --host 0.0.0.0
W0418 09:21:39.153165  4264 deprecation_wrapper.py:76] From c:\users\user\py\tf2\lib\site-packages\tensorboard\plugins\interactive_inference\utils\pla

[2019-04-18 10:44] moritzmeister opened #2122 "HParams plugin ModuleNotFoundError v1.13.1"
Installing Tensorflow/board v1.13.1 via pip, it seems like the pip package is missing the HParams plugin.

Importing it `from tensorboard.plugins import hparams`
I get a `ModuleNotFoundError: No module named 'tensorboard.plugins.hparams'`

But the module is in the release branch of 1.13.0 here on GitHub? Am I missing something?
@wchargin can shed some light? why is the HParams plugin not included

[2019-04-18 15:42] stephanwlee opened #2123 "Beholder: Regression - info section grows infinitely"
The regression happened in PR #1075. Previously, the property `items` was spliced 0 before we pushed item onto items. After the PR, the `items` only grow.

Context:
https://github.com/tensorflow/tensorboard/blob/559722addfc9c4759bb3bb5348b1c5ffec158008/tensorboard/plugins/beholder/tf_beholder_dashboard/tf-beholder-info.html#L71

[2019-04-18 16:20] hgadig commented on #2122
Can you try with tb-nightly and let us know if you are getting the same error?

[2019-04-18 16:55] wchargin commented on #2122
Hi @moritzmeister—you’re correct that hparams is not included in the
1.13 series. A version of the code is in the repository, but #1882 had
not merged by the time that we released TensorBoard 1.13.0, so the
plugin was not enabled or included in the Pip package. This is also why
it’s not mentioned in the release notes (`RELEASE.md`).

The hparams plugin will be in TensorBoard 1.14, and is in our ni

[2019-04-18 16:55] #2122 closed

[2019-04-18 17:10] wchargin commented on #2010
@lebrice, could you clarify what you mean by the “non-sudo user
perspective”? I can see from @tete1030’s screenshot that they’re not
running as root or with `sudo`. Does your user account not have write
access to `$TMPDIR`?

(To be clear, the patch needs to be applied _before_ the info directory
is first created. If you’ve created a write-restricted info directory as
root by running TensorBoard wi

[2019-04-18 17:20] wchargin commented on #2106
Those warnings are spurious: <https://github.com/tensorflow/tensorflow/issues/27897>

You can ignore them.

[2019-04-18 17:35] noisychannel commented on #2010
My workaround while this issue is resolved involves setting the TMPDIR environment variable. Since tensorboard uses tempfiles which will respect user set environment variables (TMPDIR, TMP, etc.), this is possible. <b> Make sure that TMPDIR exists! </b>

You can change and test the new temp directory by running the following (which sets it to /tmp/$USER instead of /tmp).

[code]

A safe tensorboar

[2019-04-18 17:39] noisychannel commented on #2010
Also, for @wchargin, the issue being referenced as the multi-user scenario is:

1. User A starts tensorboard and hence /tmp/.tensorboard-info is owned by that user.
2. When user B invokes tensorboard, it will crash since it cannot create files in /tmp/.tensorboard-info which is owned by user A.

[2019-04-18 17:51] nfelt commented on #2106
My understanding is that the original issue this was filed for (the missing pywrap_tensorflow AttributeError) should be resolved now, so I'm closing this issue.  If you still encounter that please comment; for any other concerns, feel free to open a new issue.

[2019-04-18 17:51] #2106 closed

[2019-04-18 18:27] wchargin commented on #2010
`> Also, for @wchargin, the issue being referenced as the multi-user

Right, I understand this; thanks. (That’s what this issue is about.) And
this should be fixed by the patch above, though changing `TMPDIR` is
also certainly a valid workaround.
`

[2019-04-19 00:19] nfelt commented on #2120
The reason the custom scalars plugin doesn't have a regex filter for tags is because regex filtering is already the mechanism for choosing which tags are used for each plot, although it works differently because it's configured up-front as part of the custom scalar layout definition.

In theory we could allow further filtering the set of tags show using a tag filter, but this could be confusing be

[2019-04-19 03:19] dby2017 commented on #2010
@wchargin I have encountered this problem and used the method you provided. I still can't solve it.

[2019-04-19 03:43] tete1030 commented on #2010
Make sure you have deleted the old /tmp/.tensorboard-info, or use `chmod a+w /tmp/.tensorboard-info`. They both require root privilege.

Be aware if you have only patched tensorboard installed in one environment (e.g. a conda env, or locally installed package), other user with unpatched env could also cause this problem

[2019-04-19 06:24] zh794390558 opened #2127 "Feature Request: roc, det curve binary and multi-class support"
Since pr_curve has supported, it is  preferred to support roc and det curve.

[2019-04-19 23:15] #2010 closed

[2019-04-20 04:27] shashvatshahi1998 commented on #2121
@wchargin @nfelt Can you provide me with the link where i can contribute as I am not able to find the doc

[2019-04-20 04:55] shashvatshahi1998 commented on #2121
Ok i got the files to contribute.

[2019-04-20 05:28] shashvatshahi1998 commented on #2121
@nfelt I have to repalce @abstractmethod with @abc.abstractmethod in all functions  in that class

[2019-04-20 05:46] wchargin commented on #2121
No, the problem isn’t to do with the `abstractmethod` declarations. The
two forms `@abc.abstractmethod` and `@abstractmethod` are equivalent
(our style guide does require that we only import modules, not symbols,
but the functionality is the same in this case).

Rather, the problem is that the classes’ metaclasses are not being
declared properly. For instance, it should not be possible to
instanti

[2019-04-20 07:45] shashvatshahi1998 commented on #2121
So basically we have to make those classes compatible with both python 2 and python 3. But I am not able to understand what's the bug in their declaration which makes them incompatible with python 2 they appear perfectly fine in documents.

[2019-04-20 16:39] wchargin commented on #2121
The *current* forms that we use are compatible with Python 2 but not
Python 3.

Python 3 [changed the metaclass syntax][pep-3115], and Python 2 is not
forward-compatible with the new Python 3 syntax.

The decorator `@six.add_metaclass` provides an interface that works in
*both* Python 2 and Python 3.

[pep-3115]: https://www.python.org/dev/peps/pep-3115/#specification

[2019-04-20 18:29] shashvatshahi1998 commented on #2121
class TensorBoardServer(object):
  """Class for customizing TensorBoard WSGI app serving."""

  @six.add_metaclass
  def __init__(self, wsgi_app, flags, metaclass=ABCMeta):
    """Create a flag-configured HTTP server for TensorBoard's WSGI app.

    Args:
      wsgi_app: The TensorBoard WSGI application to create a server for.
      flags: argparse.Namespace instance of TensorBoard flags.
    """

[2019-04-20 18:46] wchargin commented on #2121
When posting comments, please use code formatting for code so that it
renders properly. Like this:

[code]

This way, the indentation and line breaks are preserved (which is
important in all languages but actually significant in Python!), and
strings like “`__init__`” aren’t rendered as “__init__”.

Now, to your question: Do _you_ think that this is correct? What does it
do? How have you tested it

[2019-04-20 19:18] shashvatshahi1998 commented on #2121
No I have not tested it. I just tried to change it according to the guide provided by you in previous comments.

[2019-04-20 21:44] stephanwlee opened #2133 "Profile: plugin does not appear to be active when running demo"
To repro: ```
bazel run tensorboard/plugins/profile:profile_demo
bazel run tensorboard -- --logdir /tmp/profile_demo
# In browser, launch http://localhost:6006/#profile
[code]

[2019-04-22 10:11] janosh commented on #2106
@nfelt Fix confirmed. All is working now.

[2019-04-22 10:19] jheffez commented on #2106
It still spits warnings on Win10/python 3.6.8
tb-nightly                       1.14.0a20190419
tf-nightly-2.0-preview           2.0.0.dev20190417

sample:
W0422 13:16:45.991814 21988 deprecation_wrapper.py:76] From c:\users\user\py\tf2\lib\site-packages\tensorboard\backend\event_processing\event_file_loader.py:72: The name errors.OutOfRangeError is deprecated. Please use errors.OutOfRangeError ins

[2019-04-22 10:52] SushanthDC commented on #1863
When using tensorflow, the ImportError: DLL load failed error, there are many reasons, up from the google.protobuf.pyext import _message error, it should be the protobuf version of the problem,

When tensorflow is automatically installed, protobuf installs the latest version 3.7.1, and there is an incompatibility problem.

Replace with protobuf 3.6.1 (pip install protobuf==3.6.1)

[2019-04-22 13:30] PhilipVinc commented on #1110
Bump.

Has any work gone in this direction?

[2019-04-22 16:15] moritzmeister commented on #2122
Thanks for the clarification @wchargin :)
When will 1.14 be released? Only with TF2.0 later this year or earlier?

[2019-04-22 19:00] wchargin commented on #2122
1.14 will be released earlier than TF 2.0, and will be compatible with
the 1.x series.

[2019-04-23 01:52] amanp592 commented on #2121
@shashvatshahi1998 is this done or anything left, if left can i work on this??

[2019-04-23 01:55] shashvatshahi1998 commented on #2121
@amanp592  I am working on further modification as told by wchargin

[2019-04-23 01:58] amanp592 commented on #2121
@shashvatshahi1998 ohk cool

[2019-04-23 08:28] moritzmeister commented on #2122
Thanks again!
I got one last question though. I saw the [ml_demo](https://github.com/tensorflow/tensorboard/blob/d25aaf38472c9137a73611b5b2394cb26c32632b/tensorboard/plugins/hparams/hparams_ml_demo.py) you created, and I am wondering about the comment in the beginning:

How are the metrics written by the Keras TensorBoard callback mapped to the Metrics in the HParams View?
Are the tags that you de

[2019-04-23 15:36] csy530216 opened #2142 "Display: The image scroll slider width is incorrect when samples_per_plugin is large"
TensorBoard version: 1.13.0.
TensorFlow version: I am using PyTorch 1.0.0 with TensorBoardX, but since it is a visual issue, the backend should be irrelevant.
OS: Linux, 5.0.5-1-MANJARO
Python version: 3.7
Browser: Chrome 73.0.3683.103
*********************************************
I am running an adversarial attack with 3000 iterations, and I want to visualize the current image in each iteration (

[2019-04-23 18:20] wchargin commented on #2122
Yes; metrics are identified by the tag of the associated scalar summary
(not, for instance, than the Keras-specific metric “name”).

The result of `model.fit` has a `history` attribute, which is a `dict`.
I can’t find any specification of what this is supposed to contain, but
empirically it appears to approximately map the tag names to their lists
of scalar values. With

[code]

the output is `['l

[2019-04-23 18:29] wchargin commented on #2122
Update: I’ve asked the Keras team; we’ll bump `tf.keras.__version__` at
the TF 2.0 release. Currently, that version is 2.2.4; as of TF 2.0, it
will likely be 2.3.

[2019-04-24 13:24] amanp592 commented on #2142
@wchargin i would love to work on this! can you guide me a little bit??

[2019-04-24 14:03] BigBadBurrow opened #2145 "Bar graph"
It would be very useful to have a bar plot graphing type.  My use case is I'm training a RL agent which can choose between 10 different actions for a given state, so given that this data is inherently discretized, the histogram output isn't fit for purpose, and would make more sense with a bar plot.

[2019-04-24 14:53] #2123 closed

[2019-04-24 15:14] Ownmarc commented on #1976
Hello, same error with python 3.6.8 :

D:\emoji_game>tensorboard --logdir D:/emoji_game/log
TensorBoard 1.13.1 at http://DESKTOP-D08275B:6006 (Press CTRL+C to quit)
Traceback (most recent call last):
  File "c:\users\marcp\anaconda3\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "c:\users\marcp\anaconda3\lib\runpy.py", line 85, in _run_code
    exec(code, run_glob

[2019-04-24 15:19] Ownmarc commented on #1976
@luckygl make sure you re-installed tensorflow in your new python 3.6.7 env

[2019-04-24 18:24] #2027 closed

[2019-04-24 18:57] nfelt commented on #2145
Thanks for the feature request - we realize the histogram visualization is somewhat limited; folks have previously tried to use it for non-histogram data (see https://github.com/tensorflow/tensorboard/issues/900) but as you point out it's not a good fit.

[2019-04-24 21:14] BigBadBurrow commented on #2145
Thanks Nick.  I'm wondering, is this you in this presentation? https://youtu.be/PicxU81owCs?t=348

[2019-04-24 22:29] manivaradarajan commented on #2093
Taylor / Tom, can you take a look and update?

[2019-04-24 23:13] robieta commented on #2093
You are correct; all keras models share a single graph. (Unless called under an explicit graph scope, in which case they will use that instead.) The primary reason for this is that you can mix and match models, so the ops have to live on the same graph. However this does indeed introduce issues as you accrue more and more orphaned stuff. For now the solution is to call `tf.keras.backend.clear_sess

[2019-04-25 01:16] nfelt commented on #2145
As flattered as I am at the suggestion that I lecture at the Stanford School of Engineering, I have to say that no, that is not me :)

[2019-04-25 10:20] BigBadBurrow commented on #2145
Ha ha, well your profile says you live in Stanford, you're a TensorFlow developer and you look *just* like him (in your profile photo anyhow).

Putting that aside, thanks for your work and effort in developing TF and TB, it's a great resource.  Fingers crossed for bar plots in future  :-D

[2019-04-25 20:00] #1774 closed

[2019-04-25 20:08] wchargin commented on #971
Fixed by #2150.

[2019-04-25 20:08] #971 closed

[2019-04-25 22:06] ceevee830 opened #2155 "How to create hyperlink to select node on GRAPHS plugin"
Hi,

In our TensorBoard plugin, we have a list of op nodes that display various attributes in a vaadin grid v3.0.2.  I'd like to make the node name a hyperlink (ie, 'a href').  When clicked, I'd like the event handler to:
1) Tell TensorBoard to switch the active/selected plugin from our plugin to the GRAPHS plugin
2) Drill down to the op node to make it visible
3) Select the op node

How is this p

[2019-04-26 00:46] nfelt commented on #2106
@jheffez I think that deprecation warning was a spurious one from TF that has since been resolved; can you try again?

[2019-04-26 01:45] nfelt commented on #1711
For reference: PR https://github.com/tensorflow/tensorboard/pull/2096 changed our current imports from tf.compat.v1 to tensorflow.python, which is still available in TF 2.0 but not part of the public API (though pywrap_tensorflow was never covered by API guarantees in TF 1.x anyway).

[2019-04-26 10:06] zaccharieramzi opened #2158 "Feature request: Adding a way to display pixel value in images visualisations"
When displaying images in Tensorboard, there is no way to display the value of each pixel. I am interested in knowing the value of each pixel individually (I know I have access to a distro/histo vis), but currently I would have to do it in code. In my specific use case, it's because I want to inspect the values I have in my kernel weights.

I think it would be a nice addition to be able to visuali

[2019-04-26 13:05] jheffez commented on #2106
@nfelt,  as of this morning update the issue is gone. Thanks!

[2019-04-26 13:51] Joyli66 commented on #1433
I encountered the same problem and can't fix it, have you found the solution? Thanks a lot.

[2019-04-26 17:02] rmothukuru commented on #2155
@stephanwlee,
Can you please take a look

[2019-04-26 17:14] stephanwlee commented on #2155
HI @ceevee830, besides linking to another plugin, there is no way of deep linking to a specific functionality of a plugin. Do note that such deeplinks will have to be supported by the plugin.

If you are interested in just navigating to graph plugin (your ask 1), you can simply have `<a href="#graphs">foobar</a>`. Now, I will state that it will be brittle because now you are creating weak coupling

[2019-04-26 20:07] tolga-b commented on #1630
#2141 fixes this.

[2019-04-26 20:08] tolga-b commented on #1592
I think we can close this as well after #1672.

[2019-04-26 20:09] #1630 closed

[2019-04-26 20:09] #1592 closed

[2019-04-26 21:52] nfelt commented on #1433
@Joyli66 do you have `absl-py>=0.4.0` installed in the environment where you are running TensorBoard?  That should fix the issue.

[2019-04-26 23:41] Joyli66 commented on #1433
@nfelt It works!!! Thank you! ^_^

[2019-04-26 23:41] stephanwlee opened #2161 "Feature Request: more complete profile demo"
Current `bazel run tensorboard/plugins/profile:profile_demo` does not create data enough for two tools in the tf-profile-dashboard. Those tools are:
- overview_page
- input_pipeline_analyzer

[2019-04-28 05:17] shashvatshahi1998 commented on #1996
@stephanwlee ya thats true,  on my own do that. So whats the point f this issue and how can I contribute in it?

[2019-04-28 05:41] shashvatshahi1998 commented on #1978
@wookayin can't we add this feature?

[2019-04-28 10:04] shashvatshahi1998 opened #2166 "Is there a way to compute only the histograms of the weights and not the output with the keras tensorboard callback?"
Consider Stack Overflow for getting support using TensorBoard - they have a larger community with better searchability:

https://stackoverflow.com/questions/tagged/tensorboard

For bug reports, please include the following:

 - TensorBoard version (from pip package, also printed out when running `tensorboard`) -1.6.0
 - OS Platform and version (Linux Ubuntu 14.04)
 - Python version (3.5)

Please d

[2019-04-28 22:20] alla15747 opened #2167 "How to run already exist “events” from “logs” for Tensorboard in Google Colaboratory?"
I have run a code for a Deep Generative model. And the code generates logs, checkpoints, and events files for Tensorboard:

Example of what shown in the files " Google Colab:

folder: content

.............experiments

.................mnist-experiment

........................checkpoints

........................logs

............................events.out.tfevents.15454....

I want to run the ev

[2019-04-29 05:02] wchargin commented on #2166
Verbatim duplicate of https://stackoverflow.com/questions/55863882/is-there-a-way-to-compute-only-the-histograms-of-the-weights-and-not-the-output.

[2019-04-29 05:02] #2166 closed

[2019-04-29 05:08] shashvatshahi1998 commented on #2166
@wchargin no solution present there, thats why I asked it here?

[2019-04-29 05:52] nicoosokhan commented on #1961
I have the same problem

[2019-04-29 11:47] rmothukuru commented on #2167
@alla15747 ,
Can you please provide the information of the Browser you are using?

[2019-04-29 12:33] rmothukuru commented on #2155
@ceevee830 ,
Please confirm if your query has been answered so that we can close this issue.

[2019-04-29 12:57] alla15747 commented on #2167
@rmothukuru
Thanks for your responding. my browser is Google chrome.

[2019-04-29 16:50] wchargin commented on #2167
Hi @alla15747! You can run TensorBoard directly within Colab without
needing to configure ngrok or set up any tunnels at all. We have a
tutorial on how to do that here:

<https://www.tensorflow.org/tensorboard/r2/tensorboard_in_notebooks>

For a quick summary:

 1. Make sure that you’re on the latest version of TensorFlow, either
    the stable branch or the TF 2.0 preview:

[code]

 2. Load the T

[2019-04-30 04:59] rmothukuru commented on #1999
@diego898 ,
Can you please let us know if you got a chance to go through [tensorflow/tensorflow#26378](https://github.com/tensorflow/tensorflow/issues/26378).
Please confirm if you still feel this issue is related to Tensorboard. Else, we can close this.

[2019-04-30 07:05] alla15747 commented on #2167
Hi William,
Thanks for your time and answer.

Unfortunately, it is not working.

**To rephrase my question:**
First, I'm using Tensorflow and keras.
The event file already created in the content **colab** after I trained my neural network.
Now, simply, I just want to read the event file has been created in tensorboard.

Thank you!

[2019-04-30 17:24] cannoneyed commented on #2082
Hey @wchargin, now that everything is sorted on the rest of the UMAP end, I'm gonna take care of this. Hopefully I'll have a PR for you by EOD.

[2019-04-30 20:27] #1176 closed

[2019-05-01 00:47] wchargin commented on #1998
A few people have expressed confusion about the term “session” as used
by the current hparams API. In TensorFlow 1.x, `tf.Session` is a core
piece of technical infrastructure for evaluating graphs. In the hparams
API, a “session” is a single run of the model (training plus validation)
with one set of hyperparameter values, but in TensorFlow 1.x this may
correspond to many `sess.run()` calls, and i

[2019-05-01 11:52] minygd commented on #2010
So does it means that in one Linux Server, only one user can use tensorboard freely? And if others want to use it, he/she must get root privilege to fix the problem?

[2019-05-01 14:47] wchargin commented on #2010
@minygd: This issue has been fixed, and the fix will be in the next
TensorBoard release. You can get that release now by installing the
latest version of `tb-nightly`, or you can wait for TensorBoard 1.14 to
be released (in the next few weeks, probably).

[2019-05-01 17:09] diego898 commented on #1999
@rmothukuru I have since stepped around this issue using docker, so Ill close this at this is probably not a specific tensorboard problem.

[2019-05-01 17:09] #1999 closed

[2019-05-01 23:48] ceevee830 commented on #2155
What is the definition of a deep link, and why doesn't the GRAPHS plugin support it?

How does the 'search node' text box zoom and select a node?

[2019-05-02 00:37] nfelt commented on #1998
Some thoughts: even having a separate "trial/trial group" concept seems a little unwieldy to me.  What if we just called them "runs" to use the terminology from the rest of TensorBoard?

The mapping is not exact, but I think in the common cases the concepts do align, and it seems better to me to share terminology in the common cases than introduce new terms just to be slightly more exact in the le

[2019-05-02 00:50] wchargin commented on #2167
The workflow that I described works with TensorFlow and Keras, and works
just fine with event files that have already been created in Colab. Your
use case is basically exactly what this functionality is for.

You say, “Unfortunately, it is not working”. What’s not working? How?

[2019-05-02 07:54] amanp592 commented on #2142
@stephanwlee can you give me a small start to this??

[2019-05-02 09:18] IIIBlueberry commented on #2167
I tried the demo link
https://colab.research.google.com/github/tensorflow/tensorboard/blob/master/docs/r2/tensorboard_in_notebooks.ipynb
but then i executing '%tensorboard --logdir logs' tensorboard does not show up

[2019-05-02 10:33] madymnm opened #2176 "tensorboard logdir"
I am trying to run Tensorboard but every time it askme to install logdir in folder where Python3.7 is installed.In the comand line when I run tensorboard --logdir mylogdir (as given example in the tensorboard --help).I am getting,
TensorBoard 1.13.1 at http://mayurbhavi-PC:6006 (Press CTRL+C to quit
and it stays until I press CTRL +C but then it gives following error
forrtl: error (200): program a

[2019-05-02 16:54] #2090 closed

[2019-05-02 17:22] wchargin commented on #2167
In Firefox, you may need to [explicitly enable service workers][1]:

In my testing, this also works in Firefox 60.6.1esr (no nightly needed).

We’ll add this to the documentation. Thanks for bringing it to our
attention.

[1]: https://developer.mozilla.org/en-US/docs/Web/API/Service_Worker_API/Using_Service_Workers#Setting_up_to_play_with_service_workers

[2019-05-02 17:25] wchargin opened #2177 "Firefox users must enable service workers for TensorBoard-in-Colab"
See discussion on #2167. Service workers appear to be disabled by
default in Firefox, and can be enabled through an `about:config` option.
We should (a) document this, and (b) see if we can detect this failure.
It should manifest as a failed network request to `localhost:6006`,
which we can cross-reference against a browser check.

[2019-05-02 17:39] wchargin commented on #2176
This is expected. It means that TensorBoard is running. You should visit
that URL in your web browser to open TensorBoard.

This appears to be a known error on Windows with Scipy:
<https://stackoverflow.com/questions/15457786/ctrl-c-crashes-python-after-importing-scipy-stats>

It doesn’t look like there’s an easy fix, but if it only occurs when
you’re trying to quit TensorBoard anyway then I would

[2019-05-02 17:39] #2176 closed

[2019-05-02 22:11] wchargin opened #2181 "TensorBoard doesn’t build with Bazel 0.25.0"
New incompatible flags:

[code]

But an error even when flipping those:

[code]

Confirmed still fine with Bazel 0.24.1.

[2019-05-02 22:31] nfelt commented on #1718
A belated response to the comment about WAV encoding - I agree that we should benchmark.

That said, I am not sure the above article really establishes that the `wave` module itself is a bottleneck.  They aren't precise about where the timing was done, but it doesn't look like they're differentiating between the loop that generates audio values and the actual call to write out the data.  I'm not t

[2019-05-02 22:36] nfelt commented on #2181
It looks like rules_webtesting has had failing builds on Travis for its master branch for at least a month due to build errors like this:

https://travis-ci.org/bazelbuild/rules_webtesting/builds/517398510  <-- latest build at master, 24 days ago
https://travis-ci.org/bazelbuild/rules_webtesting/builds/513158130  <-- same failure, over a month ago

[2019-05-02 22:46] IIIBlueberry commented on #2167
But, 'dom.serviceWorkers.enabled' is already default to true on my firefox 66.0.3

[2019-05-03 08:27] HyunjiEllenPak opened #2183 "delete the question plz"

[2019-05-03 08:55] HyunjiEllenPak opened #2184 "Tensorboard show only graph and nothing"
HI, I have trouble with tensorboard showing.
I'm using those versions of modules below.

-tensorflow 1.12.0
-tensorflow-gpu 1.12.0
-tensorboard 1.12.0
-python 3.5
-window10
-crome browser: 73.0.3683.103

with these, when I tried to show the tensorboard in chrome using the code below, I failed to see the tensorboard results such as scalar, image, histogram, distribution and etc..

**tensorboard --l

[2019-05-03 09:00] #2183 closed

[2019-05-03 14:56] stephanwlee commented on #2184
Hi @HyunjiEllenPak,

Dashboard activeness highly relates to type of data written out to an event file. Above, are you saying that TensorBoard has changed in behavior when using the same logdir? If so, it is a critical bug we'd like to address. Would you be able to provide us with an example we can work with? Thanks!

[2019-05-03 15:42] SrushtiRS commented on #1068
Hello @nfelt,

I also faced the same issue while trying to visualize the word2vec embeddings using projector in TensorBoard.
working with
Win 10
Python 3.6
Tensorflow-gpu: 1.12.0
TensorBoard: 1.12.2

please let me know if I need to provide any more information.

I have referenced the issue #682 but couldn't get the code to work even after changing the PC name.

This is the error stack.
`E0503 11:3

[2019-05-03 16:40] nfelt commented on #1068
@SrushtiRS I don't think this is quite the same issue, actually.  It looks like one of the embedding metadata files you're using isn't encoded using UTF-8.  I'd check to make sure all text files within the log directory you're using are UTF-8 encoded.

[2019-05-03 17:22] SrushtiRS commented on #1068
Yes indeed! that was the problem.
I was writing the metadata file without specifying encoding.

Could you please tell me how you traced the problem though, I kept thinking it was a hostname issue

[2019-05-03 17:35] nfelt commented on #1068
Sure - the stacktrace shows that it's coming the TF `file_io` module, called from `_serve_metadata()` in the projector plugin, which indicates that the encoding problem was with reading a projector metadata file.

The actual final error about UnicodeDecodeError looks similar to the issue the poster above had which I think probably is related to decoding a hostname, but in general a unicode error c

[2019-05-03 17:36] nfelt commented on #1068
Closing out this issue since it sounds like it's been resolved for you and we haven't heard back from the OP.

[2019-05-03 17:36] #1068 closed

[2019-05-03 18:38] SrushtiRS commented on #1068
That makes sense.
Thanks a ton for helping me resolve this!

[2019-05-03 23:17] stephanwlee commented on #1134
Very late spring clean: I believe this is closed like #982. Thanks for sending us the issue!

[2019-05-03 23:17] #1134 closed

[2019-05-03 23:27] stephanwlee commented on #2155
Deep link is a general terminology where a URL encodes information so that an app can put the UI in the right state. An example of that would be GitHub's link like `https://github.com/tensorflow/tensorboard/issues/2155#issuecomment-488501065`.

Each plugins vary in quality/feature completeness and definitely do not know about other plugins' requirements. As a result, the author of the graph plugin

[2019-05-04 06:18] ceevee830 commented on #2155
Ok gotcha.  So to connect these dots, how can GRAPHS plugin be updated to be called from plugin X?  In other words, what technical advice do you have so that I can contribute to the graphs plugin to handle and process deep links?

[2019-05-05 09:33] #167 closed

[2019-05-05 12:40] simonschroder commented on #1961
When using a model which inherits from `tensorflow.python.keras.Model`, there is a graph which can be visualized! This even works with `run_eagerly=True`. The trick is to save the graph at the right moment. Such a moment occurs, when keras/tensorflow builds the model, because it invokes model.call in non-eager mode (not exactly sure why). The resulting tensor holds the model graph (without losses

[2019-05-06 20:30] cannoneyed opened #2195 "No bounding box shown in embedding projector selection"
The bounding box selection tool in the embedding projector no longer shows the bounding box when selecting.

cc @nsthorat

[2019-05-06 20:49] wchargin opened #2196 "Mesh plugin needs demo"
The `mesh` plugin currently has no corresponding `mesh_demo.py` script.
This means that we do not have any consistent set of test data, and so
effectively cannot develop or test this plugin.

@podlipensky, can you give us a timeline here?

[2019-05-07 10:03] sleighsoft opened #2203 "Loading tf.function graph fails with 404"
- TensorBoard version (from pip package, also printed out when running `tensorboard`) TensorBoard 1.14.0a20190301
 - TensorFlow version if different from TensorBoard 2.0-alpha
 - OS Platform and version (e.g., Linux Ubuntu 16.04) Win10
 - Python version (e.g. 2.7, 3.5) 3.7.3

I tried exporting a graph with:
[code]

The existence of a graph file is recognized by tensorboard but it fails to load it

[2019-05-07 15:16] stephanwlee commented on #2203
HI @sleighsoft, thanks a lot for very thorough report. I was able to reproduce this.

First off, I will recommend you to upgrade the tb-nightly to the latest with `pip install -U tb-nightly`. Your current version is stuck on one from March 1st.

In more recent version, with your event file, you will see this
![image](https://user-images.githubusercontent.com/2547313/57311285-33581680-70a0-11e9-95d

[2019-05-07 15:35] moritzmeister commented on #2122
Hey @wchargin! Thanks one more time.

I've been trying out your resent additions to the Python API. And there is one thing that I. might have misunderstood, you said in an earlier answer:

compatible with the 1.x series.

However, you are using this `tf.summary.experimental.write_raw_pb(raw_pb, step=0)`
method which is not in the TF1.x series. And also not in the TF 2.0.0a0 preview:

`module 'tens

[2019-05-07 17:01] shianiawhite opened #2204 "Extend image summary so it allows displaying a label next to an image"
Back when TensorBoard was still part of the TensorFlow repository, an issue ([#335 - Extend image summary so it allows displaying a label next to an image](https://github.com/tensorflow/tensorflow/issues/335)) was posted to allow the text of the an image's label to be shown next to the images in the image summaries. The issue was "temporarily" closed with the intention to reopen it when TensorBoar

[2019-05-07 20:49] eisenjulian opened #2210 "HParams Table Download as csv/markdown/latex"
For the new awesome HParam feature, it would be great to download the generated tables in some format that's helpful for including in papers or documentation. I've integrated the feature into my company's internally facing tensorboard and besides all the awesome feedback this question keeps popping up.

I might have some bandwidth to contribute to this if you think it's valuable. Thanks!

[2019-05-07 22:35] reactivetype commented on #2010
@wchargin  I am using ubuntu with tb-nightly 1.14.0a20190506 and I still have the issue.

[code]

[2019-05-07 22:58] wchargin commented on #2010
@reactivetype: Could you please run

[code]

and post the full output here?

[2019-05-08 09:08] sleighsoft commented on #2203
Hi @stephanwlee, thanks for the tip of upgrading.
This is the install output
[code]

It is a contrived example. Basically what I do is the folllowing.
[code]

Hope that helps. I am not running multiple `tf.functions` unless `keras.Model` does that internally

[2019-05-08 12:00] sleighsoft opened #2214 "Zoom charts by holding Shift"
Current versions of tensorboard support zooming of charts by mouswheel.
I find it rather annoying that when scrolling down the page I sometimes accidentally zoom out charts.

I propose to support zooming charts only when pressing `Ctrl` while scolling.

[2019-05-08 15:30] stephanwlee commented on #2214
Sounds easy and doable but I do not want to override browser default behavior. As such, I think `shift` + wheel makes more sense (shift + wheel horizontally scrolls)

[2019-05-08 15:31] sleighsoft commented on #2214
Sure

[2019-05-08 15:34] wchargin commented on #2214
I’ve also been annoyed by this when scrolling down the page and getting
my mouse “caught” in a chart. Not sure what the right solution is; maybe
Shift-scroll is fine. We might also want to have zoom functionality that
does not depend on the mouse, for accessibility reasons.

[2019-05-08 19:09] reactivetype commented on #2010
@wchargin  thanks for replying. here is the output:
`$ pip freeze 2>&1 | grep -e tensor -e tf- -e tb-; printf '%s\n' ---; python -c 'print(__import__("inspect").getsource(__import__("t ensorboard.manager").manager._get_info_dir))'; printf '%s\n' ---; stat /tmp/.tensorboard-info/
tb-nightly==1.14.0a20190506
tf-estimator-nightly==1.14.0.dev2019042901
tf-nightly-gpu==1.14.1.dev20190506
---
def _get_i

[2019-05-08 19:45] wchargin commented on #2010
@reactivetype: Thanks. It looks like your `.tensorboard-info` directory
was created with an older version of TensorBoard, before the fix went
in. You’ll need to manually change its permissions just this once:

[code]

[2019-05-08 20:53] nfelt commented on #1996
Can we just do

[code]

I know it's not a public API, but this is only for tests and only for interim functionality, and that symbol is clearly the correct definition of whether TF2 is enabled.  I think between using an undocumented API or an undocumented env var, if the latter is more comprehensive, there's no reason not to use it.  (It also has the benefit that if were to be moved/removed the te

[2019-05-08 21:11] wchargin commented on #1996
Okay, that’s pretty convincing. I’ll update #2217 accordingly.

[2019-05-08 22:02] reactivetype commented on #2010
@wchargin  Makes sense. Thank you very much!

[2019-05-08 22:08] #1996 closed

[2019-05-09 08:29] moritzmeister commented on #1998
If I may throw in my opinion, I have been trying out the API and I totally agree with @wchargin about

name doesn’t make it obvious that these are specifically groups of
trials with the same hyperparameters (nor did “session groups”). Rather
than just using this literal replacement, we should try to convey the
actual meaning: e.g., instead of asking for a “session group name”, ask
for a “hparams k

[2019-05-09 15:10] wchargin commented on #1998
Hey @moritzmeister: thanks a ton for trying out the new APIs. This
feedback is invaluable.

We can certainly add a `group_name`/`group_id` parameter to the Keras
callback and to `summary_v2.hparams{,_pb}`. I omitted it initially
because it’s easier to add it in later than to remove it, and I wasn’t
sure whether it was actually useful. But linking the IDs to those used
in other systems is totally r

[2019-05-09 17:51] nfelt commented on #2122
`tf.summary.experimental.write_raw_pb` is in the tf-nightly release, and will be in TF 1.14, it just isn't out yet.  So TensorBoard 1.14 will be compatible with TF 1.14.

[2019-05-09 18:21] wchargin commented on #2122
@moritzmeister: Sorry, missed your comment earlier. In that file, we’ve
actually imported

[code]

which will be equivalent to `tensorflow.compat.v2` when you have
TensorFlow 1.x installed, or `tensorflow` when you have TensorFlow 2.0
installed. On current TF 1.x nightlies, you can see:

[code]

We do run automated tests on both 1.x and 2.0.

[2019-05-09 18:43] wchargin commented on #2122
@moritzmeister: If you’re still running into errors after upgrading to
latest `tf-nightly` and `tb-nightly`, could you please post the output
of `pip freeze | grep -e tensor -e tf- -e tb-` and the code that you’re
running to hit the error?

[2019-05-09 21:53] stephanwlee commented on #2155
I have not thought too deeply about this but I am generally adverse to one-off integration. If you think the feature can be used by others, you may want to look into our storage service concept:
https://github.com/tensorflow/tensorboard/blob/master/tensorboard/components/tf_storage/storage.ts

Example:
https://github.com/tensorflow/tensorboard/blob/1925d060fbfa71fa8e26d793a94f704b7ba413e3/tensorbo

[2019-05-09 22:16] stephanwlee commented on #2203
Sorry for delayed response. Computer "crashed" and my response got lost :\

[code]

I do not know what I am doing differently but I can't seem to reproduce the issue. Struggling to reproduce, I looked into how our graph plugin is reading your event file and there seems to be multiple graph defs (two, specifically) inside the RunMetadata.

I do not know how I can better debug without more tangible

[2019-05-10 00:39] stephanwlee opened #2222 "Plottable + Mousewheel: Noisy!"
After Chrome 73, all mousewheel listeners are by default passive.
https://developers.google.com/web/updates/2019/02/scrolling-intervention

Because Plottable dispatcher prevents default, wheeling on charts produce large amount of noise in the console. This was addressed by Plottable recently by explicitly disabling passive listener.

https://github.com/palantir/plottable/releases/tag/v3.8.6
https:

[2019-05-10 02:02] wchargin opened #2224 "CI for `audio:summary_test` broken on tf2.0+py3"
Reported by @jameswex (thanks!); seems to be affecting all PRs that have
a dependency path to this target.

The `//tensorboard/plugins/audio:summary_test` test target is
consistently timing out after 300s on only the Python 3 + TensorFlow 2.0
preview build configuration. Sample log:

<https://travis-ci.com/tensorflow/tensorboard/jobs/198991418>

Excerpt:

[code]

That test case:

<https://github.c

[2019-05-10 10:39] sleighsoft commented on #2203
I cannot come up with a better example right now.
I'll try to spend some time on this over the weekend.

[2019-05-10 22:38] stephanwlee commented on #2224
For history: could not reproduce this when opened another PR from the HEAD. After struggling a bit, we decided to clear the Travis cache for #2192 and #2194 and it magically fixed the issue.

https://travis-ci.com/tensorflow/tensorboard/caches

[2019-05-10 23:08] podlipensky opened #2226 "UsageError: Line magic function `%tensorboard` not found."
- TensorBoard version: the one in tf-nightly
 - TensorFlow version: tf-nightly
 - OS Platform and version (e.g., Linux Ubuntu 16.04), CPU
 - Python version 3.6

Can't use tensorboard in colab with python3: https://colab.research.google.com/drive/1RG61ME3VCrqHazqpfrTQSvdX-Hm4G2mR?authuser=1

Removing default tensorboard and tensorflow doesn't help. Note this is an issue with python3 only, python2 w

[2019-05-10 23:14] stephanwlee commented on #2226
@podlipensky your colab is ACL protected. :\

[2019-05-10 23:31] wchargin commented on #2226
Your install sequence in that notebook is:

  - By default, `tensorflow` and `tensorboard` are installed.
  - Install `tf-nightly`, which installs `tb-nightly` (now bad state)
  - Remove `tensorflow` and `tensorboard`.
  - Attempt to install `tf-nightly`, which does nothing because the
    package is already installed.

You must uninstall `tensorflow` and `tensorboard` _before_ installing
`tf-nigh

[2019-05-13 05:30] perfinion opened #2227 "Build: Remove WORKSPACE dependency on TensorFlow"
As discussed during the SIG-TensorBoard meeting, heres an issue with more detail. @nfelt

Currently TensorBoard has an `http_archive` rule in the `WORKSPACE` file depending on tf. It's been around for a long time and hopefully we can migrate away from it soon.
Eg: https://github.com/tensorflow/tensorboard/blob/cc01bc1eb57d123511dc0d8a659cb19a9c979976/WORKSPACE#L66-L74

Most other tensorflow-relate

[2019-05-13 13:00] liutongxuan commented on #1713
Notes: if use `--host localhost` , can't remotely access the ip:port in website. Use `--host <ip>` would be a better choice.

[2019-05-14 02:06] benjamin9555 opened #2229 "Bug: tensorboard logdir can't contain escaped colon"
- TensorBoard version: 1.13.1
 - TensorFlow version: 1.13.1
 - OS Platform and version: MacOS 10.13.6
 - Python version: 3.7.3

When I run e.g. the command
[code]
tensorboard does not detect the summary and shows an empty board:

<img width="1427" alt="Screen Shot 2019-05-13 at 21 59 05" src="https://user-images.githubusercontent.com/8866751/57665597-78ada400-75ca-11e9-8876-3dddd32b4ecf.png">

How

[2019-05-14 05:01] roboserg opened #2230 "Delete runs from the web interface of tensorboard"
Referencing a very old feature request. It was never implemented. https://github.com/tensorflow/tensorflow/issues/5039

[2019-05-14 17:39] nfelt commented on #2230
Duplicate of #785

Please see latest comment there which is pretty much still the status.

[2019-05-14 17:39] #2230 closed

[2019-05-14 17:40] nfelt commented on #785
Original issue for this opened in the TensorFlow repo, which has more context: https://github.com/tensorflow/tensorflow/issues/5039

[2019-05-15 11:33] sleighsoft opened #2233 "Allow fine grained control over image plugin sampling"
When creating a `tf.summary.image` across multiple epochs tensorboard will start sampling. This is indicated by the small orange vertical stripes on the grey slider.

![grafik](https://user-images.githubusercontent.com/9438971/57772346-799f1c80-7715-11e9-8f3d-66e390a320cd.png)

This is sometimes very annoying because tensoboard will not show images from the epochs I am interested in.

A slider on

[2019-05-15 11:57] M-oplo opened #2234 "grpc: received message larger than max (4842152 vs. 4194304)"
Consider Stack Overflow for getting support using TensorBoard - they have a larger community with better searchability:

https://stackoverflow.com/questions/tagged/tensorboard

For bug reports, please include the following:

 - TensorBoard 1.13.0
 - TensorFlow-gpu 1.13.1
 - Linux Ubuntu 16.04
 - Python 3.5.2
 - Chrome 74.0.3729.131

The error only happens when I run with tf_debug.TensorBoardDebugW

[2019-05-15 15:47] caisq commented on #2234
@M-oplo As a temporary workaround, add the keyword arg `send_traceback_and_source_code=False` to your `TensorBoardDebugWrapperSession` call. We'll fix the problem, after which you won't need the workaround.

[2019-05-15 16:10] KennethKJ commented on #867
Is this issue still monitored despite being closed? Do I need to open a new issue?

I have encountered the same issue. I am using Tensorflow 1.13 in a Google Datalab notebook run on a vm on the compute engine. I initialize TensorBord the following way:

from google.datalab.ml import TensorBoard
TensorBoard().start("gs://mypath_to_estimator_output_dir")

I am assuming that google.datalab.ml is call

[2019-05-15 17:39] nfelt commented on #2087
Fixed by #2097.

[2019-05-15 17:39] #2087 closed

[2019-05-15 17:41] nfelt commented on #867
@KennethKJ Do you have multiple "tfevents" summary files generated in a single directory by your estimator?  If so you may be hitting #1063 where only the last summary file to be created will be polled for new data after the initial pass over the files.

If that doesn't sound like it, then please open a new issue.

[2019-05-15 17:58] wchargin commented on #2233
Hi @sleighsoft! Thanks for the report. This is by design, as described
in the FAQ in our README:

<https://github.com/tensorflow/tensorboard#is-my-data-being-downsampled-am-i-really-seeing-all-the-data>

As discussed in the FAQ, the sampling can only be controlled at the time
that you launch the TensorBoard process, not from the frontend. There’s
not an easy way to adjust the granularity or focus

[2019-05-15 17:58] #2233 closed

[2019-05-15 18:03] KennethKJ commented on #867
Thanks a lot for your quick reply! Yes, looks like that is indeed the case. It seems that the default behavior of the Estimator is to store multiple tfevent files directly in the specified output directory. I will refer to issue #1063 instead and comment there if necessary for my use case. Thanks!

[2019-05-15 20:07] sleighsoft commented on #2233
@wchargin Thanks for pointing that out and sorry for bringing it up again.

tensorboard --help shows db flags being available. Can you maybe elaborate a little more how they work? When using `db_import` does it then allow me to choose from all images on the webpage?
[code]

[2019-05-16 09:13] M-oplo commented on #2234
@caisq Thank you so much for your quick response, Shanqing.
The workaround solution works for my case. Please definitely update in the case when the issue has been fixed in future releases.

[2019-05-16 11:25] Pastafarianist opened #2238 "ValueError: can only convert an array of size 1 to a Python scalar"
* `tensorboard 1.13.1-1` and `python-tensorflow-opt-cuda 1.13.1-5` (both installed from Arch repository)
* Fully updated Manjaro Linux (`Linux 4.19.36-1-MANJARO #1 SMP PREEMPT Sat Apr 20 22:05:46 UTC 2019`)
* Python 3.7.3

I am getting the following error trying to read a directory created with `tensorboardX`:

[code]

I've uploaded the corresponding `tfevents` file to Google Drive: https://drive.

[2019-05-16 12:39] JafferWilson opened #2239 "How I can get the two axes for the dataset with different scales in the same chart?"
For bug reports, please include the following:

 - TensorBoard version (from pip package, also printed out when running `tensorboard`)
1.12.0
 - TensorFlow version if different from TensorBoard
 - OS Platform and version (e.g., Linux Ubuntu 16.04)
Windows 10 Professional Desktop
 - Python version (e.g. 2.7, 3.5)
Python 3.5.0

Here are the two examples:
**1 perfectly worked as the scales was same:*

[2019-05-16 13:37] maxstrobel opened #2240 "tf.keras.callbacks.Tensorboard: write_images does not visualize Conv2D weights"
I moved this issue from https://github.com/tensorflow/tensorflow/issues/28767

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- TensorFlow version (use command below): v1.12.2-0-gcf74798993 1.12.2
- Python version: 3.6.5

**Describe the current behavior**
When I want to have a look at the weights of Conv2D filters in Ten

[2019-05-16 15:40] spitis commented on #1518
Just use a simple moving average? Or offer multiple smoothing functions. This is a serious bug.

[2019-05-16 17:36] wchargin commented on #1518
Thanks for the report, and thanks @stephanwlee for the explanation. It
looks like this is indeed an artifact of the reservoir sampling (which
_does_ sample uniformly, but does not sample linearly). I can reproduce
it with the following code:

[code]

When passing `--samples_per_plugin=scalars=10000`, the divergence
disappears.

Our [general policy with issues about the smoothing algorithm][1] is t

[2019-05-16 17:36] #1518 closed

[2019-05-16 17:44] wchargin commented on #2238
Hi @Pastafarianist! Thanks for the report, and thanks for including the
events file.

The events file contains both scalar and histogram summaries with the
tag `val_rmse`. A minimal script to generate an events file that
reproduces the problem is:

[code]

Each tag name is required to be uniquely associated with a summary.
Please ensure that your training script doesn’t use the same tag name
for d

[2019-05-16 17:44] #2238 closed

[2019-05-16 20:57] Pastafarianist commented on #2238
Thank you for investigating the issue. Perhaps there could be an extra check to ensure a more helpful error message?

[2019-05-16 21:52] wchargin commented on #2233
The DB flags correspond (as the help texts suggest) to an experimental
TensorBoard mode in which an SQLite database rather than an in-memory
Python object is used as the backing store into which event files are
read. It’s the kind of thing that could eventually support downsampling
on the fly rather than ahead of time, yes, but it’s very much not stable
or guaranteed to work right now. At a glance

[2019-05-16 22:10] nfelt commented on #2229
Duplicate of #1220

[2019-05-16 22:12] nfelt commented on #2229
Thanks for the report.  Yes, this is because a feature (or perhaps misfeature) of the logdir parsing is that you can specify multiple logdirs separated by commas and optionally named with colon-terminated prefixes.  It's not a great implementation because 1) it's hard to understand that it's doing this in the first place and 2) there's no way to escape it.

Deduped with #1220 which already exists

[2019-05-16 22:12] #2229 closed

[2019-05-16 22:15] nfelt commented on #1220
We should fix this by 1) making it more obvious that a special interpretation is happening, 2) giving a way to escape/avoid this interpretation, and 3) ideally changing this feature to conflict less with valid directory names.

In the mean time, a workaround is to use another name to refer to the directory - e.g. creating a symlink, or by CD'ing into it and using "./" as described in #2229.

For t

[2019-05-16 22:40] gowtham-kp commented on #2226
@podlipensky Dis that answer your question. Can i close the issue?

[2019-05-16 22:47] nfelt commented on #2239
If I understand correctly, you're asking for two different y-axes on the same plot, which indicate different scales?  Like one on the left side and one on the right?

There is no current support in TensorBoard for multiple y-axes so this would mean adding functionality to do this - not just at the frontend but probably at the time the data is recorded as well, since I don't think we would want to

[2019-05-17 06:33] JafferWilson commented on #2239
@nfelt  Thank you for your reply, Nick. Yes, the above code just a sample. Its not what actually I tried. Actually, it is a little fuzzy thing if I code the actual stuff here. But still I can try and explain it.
In my case, There are two different values. One is the loss and the other is the percentage increase in the correct output.
It means that, I have calculated the loss function, say you may

[2019-05-17 08:22] sleighsoft commented on #2233
I hope to see it work sometime in the future :)

[2019-05-17 12:26] theevann commented on #905
Is there still no fix to this issue ? I am experiencing the same bug for quite a while now.

[2019-05-17 14:53] stephanwlee commented on #905
@theevann I have tried to address it last year. Which version of TensorBoard are you using?

[2019-05-17 22:20] #2121 closed

[2019-05-18 00:12] #2181 closed

[2019-05-18 01:11] viniciusguigo commented on #905
Same here with TensorBoard 1.12.0. It does not work on Firefox (Quantum, 66.0.5, 64-bit) but it does work on Google Chrome (Version 74.0.3729.131, Official Build, 64-bit). I'm on Ubuntu 16.04 LTS.

[2019-05-18 11:32] theevann commented on #905
@stephanwlee I am using 1.13.1 on Ubuntu 16 with firefox 66

[2019-05-19 01:04] Neabfi opened #2246 "Getting a random value from a Domain"
It would be convenient to have a single method to get a random value from a Domain. It would make the code to do a random search shorter and prettier.

Would that make sense? If yes, I can create a PR.
(cc @wchargin )

Examples:

[code]

[code]

[2019-05-19 17:48] sleighsoft opened #2247 "CSS crisp-edges leads to bad image quality"
TB version: 1.14.0a20190513

How the image looks with `image-rendering: -moz-crisp-edges;`:
![grafik](https://user-images.githubusercontent.com/9438971/57985901-ff50fe00-7a6e-11e9-8d3a-a62c6d5d86f2.png)

How the image actually looks like (without the css property):
![grafik](https://user-images.githubusercontent.com/9438971/57985892-e3e5f300-7a6e-11e9-8d25-59d2a92be792.png)

[2019-05-20 04:01] wchargin commented on #2246
Hi @Neabfi! Thanks for the feedback. I considered this, and a [previous
draft of the APIs included `Domain.sample_uniform`][1]. I opted to cut
it for a few reasons, which all boil down to the following: while we
provide a vocabulary for describing domains, we don’t provide any actual
tuning algorithms (nor do we currently plan to), and I didn’t want to
give an impression to the contrary. That is,

[2019-05-20 04:51] JafferWilson commented on #2239
@nfelt @gowtham-kp  Please let me know if there is anything else if you need. I am not getting the solution elsewhere.

[2019-05-20 23:40] nfelt commented on #2239
I think we're unlikely to want to implement support for a second Y-scale in the default scalar chart viewer case.  It would be a significant amount of work and complicates the basic use case where the values being compared on the chart all represent the same conceptual quantity and so it makes sense to view them all on a uniform Y-scale.

I can leave this open as a feature request for the custom s

[2019-05-21 00:08] nfelt commented on #2158
Thanks (belatedly) for the feature request.  Are you thinking of e.g. a float value between 0.0 and 1.0 for a greyscale image, or the literal RGB value?  Also what size of image are you working with?

Showing the value on hover sounds reasonable.  Having an overlay seems difficult to fit unless the pixels are shown as very large?  And a colorbar seems like it wouldn't be quite as accurate.  If you

[2019-05-21 07:36] JafferWilson commented on #2239
@nfelt Delighted by your reply. But is this process not going to take an infinite time whereas I may even die before it gets implemented as feature? Does Tensorboard developer have no insights on this? Even if you see normally the matplotlib or plotly gives you such a option then why Tensorboard is not implementing the scalar plugin with that insights?
I am afraid as I don't know why Tensorboard i

[2019-05-21 07:45] henningsway opened #2253 "Implement Precision-Recall Curves for What-If Tool"
The What-If Tool seems really useful.

However for imbalanced data, additional metrics would be great. Being able to use to use Precision-Recall Curves instead of ROC would be amazing. F0.5 Score and logloss as metric would also be very much appreciated.

[The Precision-Recall Plot Is More Informative than the ROC Plot When Evaluating Binary Classifiers on Imbalanced Datasets](https://journals.plo

[2019-05-21 12:00] zaccharieramzi commented on #2158
Well in my case the images are kernel weights so they are float (with no restriction). The image is therefore `3 x 3` or `5 x 5`.

I understand overlay would not be a suit-all solution, so maybe not the one to privileged. The colorbar is inaccurate but it allows a first quick inspection, which is useful, and if the image is too big for displaying particular values on hover then you can look at the

[2019-05-21 16:19] jameswex commented on #2253
Yup, we have this on our tracking list as well. It definitely is happening.

[2019-05-21 18:19] gowtham-kp commented on #2226
@podlipensky  Closing this issue due to lack of recent activity. Please add additional comments and we can open the issue again. Thanks!

[2019-05-21 18:19] #2226 closed

[2019-05-21 18:49] wchargin commented on #2246
This is fine with us. Sent #2259.

Thank you for the offer—we appreciate it! In this case there were some
particular tests that I wanted to include, so I went ahead and created
the PR myself, but in general we’d be more than happy to accept your
contributions!

[2019-05-21 21:20] nfelt commented on #2239
TensorBoard isn't supposed to be a general-purpose plotting tool like matplotlib or plotly, so it's expected that we won't support all the features those libraries provide.

We want to improve the custom scalars experience in the near-ish term and this is a feature we'll take under consideration when we do that.  But you're right that it won't be a top priority - it's not trivial to add (mostly in

[2019-05-22 00:12] #2082 closed

[2019-05-22 04:56] JafferWilson commented on #2239
@nfelt Thank you once again for your response, Nick. I will wait.

[2019-05-22 08:43] tillns commented on #1961
@simonschroder Unfortunately, this doesn't seem to work with tf 2.0 anymore. The use of FileWriter seems to have changed. Any ideas?

[2019-05-22 11:29] mouradmourafiq opened #2263 "Profile plugin does not respect --path_prefix when serving trace_viewer_index.html"
## Issue description

Running tensorboard behind an nginx reverse proxy serves all assets, visualizations, graphs, ..., Unfortunately the tensorboard does not add `--path_prefix` when serving the trace viewer. So an errors occurs for:
`http://localhost:8000/trace_viewer_index.html?trace_data_url=/data/plugin/profile/data?host=local.&run=2019-05-21_17-53-18&tag=trace_viewer&is_streaming=false`

Add

[2019-05-22 12:17] mouradmourafiq commented on #2263
To reproduce, you don't need to set a reverse proxy, you can just start tensorboard with a `--path_prefix`, all tabs should work but the profile/trace_viewer.

[2019-05-22 15:07] stephanwlee commented on #2247
Hi there, thanks for raising an issue.

Before discussing the CSS changes, may I ask how you have obtained this image (a minimal code to reproduce would be awesome)? Is this showing the "actual image size"? I did try to reproduce but was without success: when showing the actual size, there was no interpolation/sub-sampling done by the browser that it did not create any weird artifacts.

[code]

[2019-05-22 17:11] sleighsoft commented on #2247
Here is the image itself. Cannot really share the stuff around it to generate it.

![individualImage](https://user-images.githubusercontent.com/9438971/58194285-69fb7700-7cc5-11e9-9ea8-acc78c1858c5.png)

[2019-05-22 17:34] stephanwlee commented on #2247
So, is the above plot showing the "actual image size"?

[2019-05-22 23:09] podlipensky opened #2270 "Mesh Plugin: slider has 3x more steps than required"
Looks like total count of steps in the mesh plugin is miscalculated because of internal representation of the mesh.

[2019-05-22 23:20] podlipensky opened #2271 "JS error in the mesh plugin when displaying sample mesh"
While running TB with mesh demo app summaries, an error is shown in Chrome browser:

[code]

[2019-05-22 23:29] wchargin opened #2272 "Mesh “point of view” selector is confusing"
The mesh plugin has a radio button family with three options: “Display
all points”, “Current view”, “Share viewpoint”. Their effects seem to
be:

  - Display all points: On selection, immediately changes the camera for
    all mesh views.
  - Current view: Does nothing?
  - Share viewpoint: When a mesh view changes camera positions, if this
    option is selected, all other mesh views snap to matc

[2019-05-22 23:29] wchargin commented on #2272
cc @podlipensky; let me know if you’d like me to assign this to you.

[2019-05-23 08:06] luvwinnie commented on #1961
Device: macbook pro 2018 , macOS Mojave 10.14.5
tensorflow version:
tensorflow==2.0.0a0
tensorflow-estimator-2.0-preview==1.14.0.dev2019052100
-----------
I have the same issues too, i followed the code shows in [https://tensorflow.org/tensorboard/r2/graphs](https://www.tensorflow.org/tensorboard/r2/graphs) the most below method.

<pre># The function to be traced.
@tf.function
def my_func(x, y):

[2019-05-23 12:11] sleighsoft commented on #2247
My first comment shows two screenshots of the images with and without the property.
I obtained these by clicking on the smaller version of the image within tb to display the image in its actual size. The blurry effect happens in both the smaller "preview" version as well as the "actual size" case.

The last image I uploaded is the image as I can download it from tb.

I hope that clarifies it.

[2019-05-23 17:06] stephanwlee commented on #2247
Thanks for confirming this. Of course, I was able to reproduce this with Firefox by just loading the image on a tab (of course without any scaling). Now, I am a bit conflicted here because the original intention of the rule was for people who writes _data_ (like Tensor values) out as an image where very pixel signify meaningful data. In that case, we would not want any interpolation. @nfelt any th

[2019-05-23 17:18] nfelt commented on #2247
I think ultimately we should factor out what is essentially tensor data representation (pixelated images, etc.) from data that is more fundamentally visual (like an actual photographic input image, or this case of using a chart as an image) and that would resolve the issue.

For now I'm inclined to keep the pixelation, since I think bad image quality for visual data is more of a nuisance than an a

[2019-05-23 18:26] tillns commented on #1961
I found out that one has to pass an input shape to the first layer of the model, so that keras is able to build the graph in advance. Otherwise, the tensorboard callback is not able to draw the graph because it lacks the predefined graph information from keras. I hope that I could help somebody with this information :)

[2019-05-23 20:31] stephanwlee commented on #1961
@luvwinnie I just tried your example and the graph was showing up correctly.
![image](https://user-images.githubusercontent.com/2547313/58284057-aaf39a00-7d5e-11e9-9203-68a4fbe7514b.png)

Especially because you put a timestamp onto the name of the logdir, I cannot imagine why you'd face a bug. Can you first try to reproduce this in very small minimal example? Thanks!

[2019-05-23 20:55] stephanwlee commented on #1961
I have made some incorrect statements about TF 2 and Keras so I would like to clear it up.

Keras, in TF 2, even before calling compile or build, since layers are built with TensorFlow ops, can technically display a graph.
[code]

However, although I lack deep knowledge in this, it seemed like Keras makes few mutations to the graph and this is one of the reason why Keras implements [custom graph e

[2019-05-24 01:06] nfelt commented on #2263
@qiuminxu could you take a look when you get a chance?

[2019-05-24 14:42] qiuminxu commented on #2263
Sure, can you point to me how does "--path_prefix" work for other plugins?

[2019-05-24 17:06] qiuminxu commented on #1290
This should already have been fixed by the following PR:
https://github.com/tensorflow/tensorboard/pull/1931

[2019-05-24 17:06] #1290 closed

[2019-05-24 18:27] nfelt commented on #2263
In the process of remembering how to test path_prefix I realized it was a pretty simple fix so I just put together a PR here: https://github.com/tensorflow/tensorboard/pull/2276

For future reference, the `--path_prefix` flag is just used for cases when TensorBoard isn't running at the root path on the webserver - so instead of "http://myserver.com/index.html" for the main tensorboard page, it's s

[2019-05-24 19:03] Ouwen commented on #59
I haven't heard much from this issue so I use the following work around.

`tf.summary` ops can still be used to generate the protobuf. However, in the graph I use a dummy name. In python I simply replace the dummy string with the actual dynamic string desired.

[code]

[2019-05-24 20:24] #2263 closed

[2019-05-26 10:12] duancaohui opened #2279 "TensorFlow keras callback using tensorboard, "ProfilerNotRunningError: Cannot stop profiling. No profiler is running.""
## Environment information (required)
**System:** Windows 10, RAM 64 GB
**Environment:** Python 3.6, TensorFlow-gpu==2.0.0-alpha0
**GPU:** GeForce RTX 2080 Ti, CUDA 10.0, cudnn-10.0-windows10-x64-v7.4.2.24

## Issue description
When I try the Guide in [https://tensorflow.google.cn/tensorboard/r2/graphs](https://tensorflow.google.cn/tensorboard/r2/graphs), a mistake is often encountered, such as a

[2019-05-27 14:45] VladislavZavadskyy opened #2280 "Less forgiving CLI"
TensorBoard CLI tolerates flags like `--logdir==./` and won't say a thing is wrong with them.
It won't say anything, and one may spend a little eternity wondering why the logs aren't showing (as did my colleague :slightly_smiling_face:).

[2019-05-28 10:41] rmothukuru commented on #2280
Can you please provide the below mentioned details:
1. Platform Details
2. Tensorflow Version
3. Tensorboard Version
4. Exact code to reproduce your issue

[2019-05-28 10:47] rmothukuru commented on #2280
In the latest versions of Tensorflow and Tensorboard, in Ubuntu Terminal, when we run the command,
**tensorboard logdir==./**, it gives this error, **tensorboard: error: unrecognized arguments: logdir==./**.

[2019-05-28 11:49] VladislavZavadskyy commented on #2280
I'm using Tensorboard `1.14.0a20190524` on Ubuntu `18.04.2` and Tensorflow of version `1.14.1-dev20190312`.
When I run `tensorboard --logdir==./` in bash I get
[code]
and nothing else.

I will try installing latest version of Tensorboard in master (399b86b862263cfeca0d3aae91b677b993330896) from source now, and tell you what I get.

[2019-05-28 13:45] brunapinos opened #2282 "Documentation for Debugger Dashboard"
Hi! I'm Bruna, one of the GSoCers of TensorFlow, and the main goal of my project is to improve TensorBoard documentation.

I've seen that on [TensorBoard - TF 2.0 Alpha](https://www.tensorflow.org/tensorboard/r2/get_started) already has documentation of the main dashboards of TensorBoard, but it is still missing Debugger one. Searching any information about Debugger, I've found this [page](https:/

[2019-05-28 15:04] aeweiwi commented on #1514
I think I have the same issue here

![image](https://user-images.githubusercontent.com/374486/58488943-96ead680-816a-11e9-9d58-e91e0001c14e.png)

[2019-05-28 16:20] VladislavZavadskyy commented on #2280
Done that.
Now when I run `./bazel-bin/tensorboard/tensorboard --logdir==./` I get
[code]

[2019-05-28 17:01] stephanwlee commented on #2282
Hi Bruna, welcome and thanks for helping us improve the documentation!

Unfortunately, the debugger is still very `tf.Session`-centric and is not so TF 2.0 friendly and, as a result, I don't think it is not yet so appropriate to create one for https://www.tensorflow.org/tensorboard/r2/get_started.

Regardless, I think it is still a good idea to create a Colab tutorial for the plugin that show case

[2019-05-28 18:00] brunapinos commented on #2282
Okay! I'll work in this tutorial. Thanks (:

[2019-05-28 20:49] sidSingla commented on #1797
Can anyone what is the behavior on the tensorboard whenever NaN value is encountered. I am mostly encountering a NaN value somewhere because accuracy of the network dips down largely after few epochs and the loss graph spikes up. I mostly think it is because of NaN value of the loss function.
So, want to know what is the expected behavior on the tensorboard when NaN value is encountered.

[2019-05-29 00:26] manivaradarajan commented on #1797
@sidSingla Is your question related to the What-If Tool? If not, can you open a separate issue and give some more details as to the problem you are seeing, including logs to reproduce?

[2019-05-29 16:30] stephanwlee opened #2284 "profile: pod viewer tooltip position"
The tooltip displayed when hovering on image of a pod not only is positioned suboptimally but also incorrectly positions with respect to the scroll position.

Before scroll:
![image](https://user-images.githubusercontent.com/2547313/58574100-15d82180-81f4-11e9-8683-14d7cbdc376d.png)

After scroll:
![image](https://user-images.githubusercontent.com/2547313/58574132-27212e00-81f4-11e9-9b5d-a85c47b00

[2019-05-29 16:34] qiuminxu commented on #2284
Sure, I will take a look on how to better position the tooltip. BTW, I've moved the folder and please use gs://cloud-tpu-tools/test in the future.

[2019-05-29 22:19] stephanwlee commented on #2279
Hi @duancaohui, I was unable to reproduce it both on Colab (with GPU) and my local environment (Cuda 10.0, Pascal, tensorflow-gpu@pre and tf-gpu-nightly-2.0-preview@latest).

Would you be able to share, perhaps, a Colab that reproduces this issue? Thanks!

[2019-05-30 00:04] TylerADavis commented on #766
What type of memory consumption should be considered "normal" for tensorboard?

I've got an instance of tensorboard 1.13.1 that's been running for about a month now, pointed at a logdir that holds info from 127 different runs (the logdir is 3.9 GB on disk), and it's currently consuming 21.8 GB of memory (going by the `res` column in htop).

Memory usage does appear to be increasing even when I am

[2019-05-30 01:18] #2113 closed

[2019-05-30 12:57] brunapinos commented on #1179
Hi! Is there anything that can be added on this issue? I'm working with new tutorials for TensorBoard, and I think this issue is already finished.

[2019-05-30 15:28] #2214 closed

[2019-05-30 17:06] #2284 closed

[2019-05-31 12:35] rishabhsahrawat opened #2296 "Can not install TF 2.0"
I want to use this new functionality of TF 2.0 but it is not working for me on Google Colab or on my Mac with OS 10. Since there TF 0.13 is installed on Google Colab, I first used the command given in the code [here](https://www.tensorflow.org/tensorboard/r2/hyperparameter_tuning_with_hparams) to install TF 2.0. On execution, it gives

It was my first time opening and using Google Colab, so I did

[2019-05-31 19:30] ceevee830 opened #2297 "How to add email link?"
TB version 1.13

Goal: Would like to add an `a href`  link in the TensorBoard GUI that when clicked, allows user to send us an email.

I grepped through the entire code base and did not find any hooks or links or tests that supports any references to any email system.

I'm looking for something like this:

[code]

When I include a link to an email address in the TensorBoard HTML file, then compile

[2019-05-31 21:09] wchargin commented on #2297
Hi @ceevee830—thanks for the report. The error message is due to
`rules_closure`. Specifically, the `shouldIgnoreUri` function should
have a case for `mailto:` URLs:

<https://github.com/bazelbuild/rules_closure/blob/21081338d795d2894c59175930a338cda2262260/java/io/bazel/rules/closure/webfiles/WebfilesValidator.java#L212-L223>

I’d suggest sending a PR there. In the meantime, you could work around

[2019-05-31 22:50] gowtham-kp commented on #2296
@rishabhsahrawat You Can safely ignore the error as tf-nightly-2-0-preview 2.0 has requirement wrapt>=1.11.1.
Can you please provide me with an errorlog that is being generated while importing tensorboard?

[2019-06-02 08:36] martinpovolny commented on #2296
I have the same issue on my notebooks on colab:

[code]

However when I start from this notebook:
https://www.tensorflow.org/tensorboard/r2/image_summaries
https://colab.research.google.com/github/tensorflow/tensorboard/blob/master/docs/r2/hyperparameter_tuning_with_hparams.ipynb

I get the extension load w/o issues.

[2019-06-02 23:26] HebaGamalElDin commented on #1718
what for this line of code : 'tf.compat.v1.summary.image'
gets this error : 'AttributeError: 'module' object has no attribute 'v1' .

[2019-06-03 05:13] CognitiveClouds-Prasad commented on #66
It is 2019 now and is this feature available?

[2019-06-03 05:56] wchargin commented on #1718
@HebaGamalElDin: The `tf.compat.v1` module was introduced in TensorFlow
version 1.13, and the `tf.compat.v2` module will be in TensorFlow 1.14
(RC currently available).

If you’re seeing that error when running TensorBoard, please open a
separate bug report and be sure to include the requested environment
information.

[2019-06-03 08:32] rishabhsahrawat commented on #2296
@gowtham-kp thank you for your reply. Excuse me for replying late, I was offline during the weekend.
As you suggested, on ignoring the error it worked on Colab.
To test it on Mac (OS 10), I created a virtual environment without importing already existing pip packages. When I run the `pip install -q tf-nightly-2.0-preview` command, as suggested [source](https://www.tensorflow.org/tensorboard/r2/hyp

[2019-06-03 15:07] #2195 closed

[2019-06-03 17:05] gowtham-kp commented on #2296
@rishabhsahrawat In pip install -q tf-nightly-2.0-preview, can you please remove the quiet flag -q and run the command and let me know if you can see the installation happening. Thanks!

Also please note that there is no Tensorflow 2.0 stable release yet.  Alpha version describes a development status that usually means the first complete version of a program or application, which is most likely un

[2019-06-03 17:58] gowtham-kp commented on #2282
Closing this issue as this has been resolved. Please add additional comments and we can reopen the issue again. Thanks!

[2019-06-03 17:58] #2282 closed

[2019-06-03 18:05] HebaGamalElDin commented on #1718
@wchargin : what for python 2.7 , as almost Tensorrflow version 1.13 , 1.14 isn't applicable for python 2.7 .

[2019-06-03 21:25] wchargin commented on #1718
@HebaGamalElDin: TensorFlow versions 1.13 and 1.14 work just fine on
Python 2.7:

[code]

[code]

TensorFlow will support Python 2.7 at least until its [end of life][1],
which is still seven months out.

[1]: https://endoflife.date/python

[2019-06-03 22:01] dtchuink opened #2303 "Parse tensorboard graph in an independent program for optimization"
HI

I would like to read a Tensorboard graph in an independent program to run some optimization on the graph.

Does Tensorflow provide functions or libraries to read a Tensorboard graph?

Thanks.

[2019-06-04 05:00] #2246 closed

[2019-06-04 10:46] jkbcm commented on #94
+1 This feature would be really useful.  As others have found, replicating the outputs of word2vec in TensorFlow can be non-trivial.

[2019-06-04 14:08] HebaGamalElDin commented on #1718
@wchargin : I have searched more for that version of tensorflow for windows but I just found the applicable versions for Linux and mac OS only .

[2019-06-04 17:40] wchargin commented on #1718
@HebaGamalElDin: I was able to install TensorFlow 1.13 on Windows
without difficulty:

![Screenshot of TF 1.13.1 on Windows](https://user-images.githubusercontent.com/4317806/58900557-3997dd80-86b4-11e9-857d-6fb6b917da2e.png)

If you continue to have problems installing TensorFlow, please consult
Stack Overflow or open an issue on the TensorFlow repository:
<https://github.com/tensorflow/tensorflo

[2019-06-05 00:54] ceevee830 commented on #2297
Thanks!  This is on my current sprint so I'll try it out soon.

[2019-06-05 01:54] #2270 closed

[2019-06-05 02:18] wchargin commented on #2297
@ceevee830: Sounds good. You can cherry-pick #2308 to upgrade the
TensorBoard workspace. Let us know how it goes.

[2019-06-05 05:22] #2297 closed

[2019-06-05 11:01] Randl opened #2310 "Speed up the rendering of big amount of data"
For big amounts of data it take very long to render them. To speed up the rendering we could, for example, limit  the number of points rendered per plot (by rendering each n-th point) and allow user to increase/decrease resolution if needed.

[2019-06-05 14:48] stephanwlee commented on #2310
This is generally a known issue in TensorBoard and we are thinking about several ways to fix this. To help me prioritize one, can you tell us which plugin you are specifically referring to?

There is no way of doing this dynamically (although I think this is only sensible), you can use `samples_per_plugin` CLI flag to achieve something like this.

[code]

[2019-06-05 16:31] Randl commented on #2310
I am talking about scalars plugin. It's impossible to process per-batch information for long enough tasks as for now. The offline sampling is somewhat useful but it less convenient. If I could dynamically change resolution I may zoom in into region of interest and then increase the resolution.

[2019-06-05 17:17] podlipensky commented on #2196
PR https://github.com/tensorflow/tensorboard/pull/2265 with demo app merged.

[2019-06-05 17:24] #2196 closed

[2019-06-05 17:28] stephanwlee commented on #2310
Thanks a lot for more detail. It will definitely help us prioritize the right things when we actually get to fixing the performance issue.

[2019-06-05 20:54] TylerADavis commented on #766
As an update, over the last week tensorboard's memory utilization has grown from 21.8 to 27 GB, despite not doing any additional runs

[2019-06-06 00:00] olesalscheider commented on #1961
I tried this example with TF2 from today's master branch and tensorboard 1.13.1. Here, tensorboard cannot find the exported graph...

[2019-06-06 00:28] wchargin opened #2320 "Mesh plugin JS warnings: “'cls' is not a property of this material.”"
Repro steps (from current master, 0fe0413f):

 1. Run `//tensorboard/plugins/mesh:mesh_demo` to generate test data.
 2. Launch TensorBoard, and open the mesh plugin.
 3. Drag the step slider back and forth.

Each tick that the slider is dragged, a new warning will appear in the
console:

Presumably the `cls` key should be removed from the `config` objects
before they’re passed along to THREE.js.

[2019-06-06 00:29] wchargin commented on #2320
cc @podlipensky

[2019-06-06 07:17] noctune commented on #1555
Also hitting this issue in TF 1.13.1. We use the `--path_prefix` parameter and serve it behind a reverse proxy. Could this be relevant?

[2019-06-06 09:36] bhack opened #2322 "Camera calibration"
Can you add Camera creation interface from Camera calibration parameters at least starting with fx,fy,cx,cy?
https://github.com/tensorflow/tensorboard/blob/master/tensorboard/plugins/projector/vz_projector/scatterPlot.ts

[2019-06-06 13:47] ufgtb24 opened #2324 "version 1.14 tensorboard has the tab “MESH”,but keeps loading with no mesh displayed Ask Question"
I use tensorboard of version 1.14 which has a new plugin--"mesh", to display points cloud. But nothing can be displayed.

The dashboard maintains blank, but the title of the summary is displayed. I have tried to add as few as possible points into the summary file to exclude the probablity of overload. I also tried to write another summary file with only a scalar inside, then put it into the same d

[2019-06-06 17:27] wchargin commented on #2324
Hi @ufgtb24—thanks for the clear report! I can reproduce this with
latest nightly on TensorBoard master (46c510da).

JS console error:

[code]

This is the same symptom as in #2271, but PR #2315 doesn’t fix the
issue.

@podlipensky, could you please take a look at this?

[2019-06-06 17:59] wchargin opened #2325 "Chrome M75 visual regression: double scrollbar on runs selector in sidebar"
Screenshot:

![Screenshot of double ](https://user-images.githubusercontent.com/4317806/59055099-f4a5af80-8849-11e9-9cf8-2740ac628105.png)

Have been noticing this since Chrome M75 yesterday. On M75, can repro on
both master and a commit from two months ago; on M74, cannot repro.

It’s both unsightly and really frustrating, because you feel like you
want to scroll down to the “Toggle All Runs” but

[2019-06-07 01:12] reedwm commented on #1892
+1 to this issue. Note that [timeline](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/client/timeline.py) already does this, but it cannot be used with tf.functions. We should address this issue to make debugging tf.function performance as easy as debugging graph performance.

[2019-06-07 04:45] rmothukuru commented on #2155
@ceevee830 ,
Please confirm if you feel this Feature can be used by others, and if you are working on it. Else, since it is a one-off scenario, we can close this Feature Request.

[2019-06-07 04:49] rmothukuru commented on #2074
@wchargin ,
Can you PTAL

[2019-06-07 16:25] ncoop57 opened #2330 "What If Tool for Tensorflow 2.0"
Currently using `tensorflow 2.0.0a0` and attempting to run the WIT walk through for the Jupyter Notebook, however, I run into the following error:

[code]

from running the following code snippet:

[code]

and I believe the issue to be due to the `witwidget` 1.1 version is not compatible with tensorflow 2.0 since many of the namespaces have changed including the logging namespace.

I would very mu

[2019-06-07 16:33] stephanwlee commented on #2330
@ncoop57, thanks for creating the issue. I've faced similar issue when using `path to example`.

[code]

[2019-06-07 19:04] wchargin commented on #2074
With a slight modification, the provided code works in the release
candidate for TensorFlow 1.14. The `embeddings_data=partial_x_train`
line needs to be changed to `embeddings_data=[partial_x_train]`:

![Screenshot of embeddings](https://user-images.githubusercontent.com/4317806/59127313-2edf8180-891c-11e9-92bf-d1860880340b.png)

If you’re still having the issue in 1.14 or nightly, let us know and

[2019-06-07 19:04] #2074 closed

[2019-06-07 23:34] stephanwlee commented on #2325
Fixed by #2333.
(sorry, forgot to annotate the PR with the GitHub magic)

[2019-06-07 23:34] #2325 closed

[2019-06-09 12:58] flobotics commented on #1961
when following this https://www.tensorflow.org/tensorboard/r2/graphs  with @tf.function it shows a "Graphs" -tab in tensorboard, but the loading bar only runs till the half and then stops loading, so there is no graph to see ?

I am using colab with

[code]

[2019-06-09 14:26] NguyenViet123 commented on #2204
I look forward to it!

[2019-06-09 19:35] StealthySemicolon opened #2335 "Tensorflow debugger slows down minibatch training due to too many session.run calls."
The problem is described in the title. Because I am doing minibatch training, I have hundreds of session.run calls, and I believe that the problem is that the code needs to report these changes to Tensorboard for every session.run call which slows things down. I am not reporting this as a bug as this seems like expected behavior. So feature request to find a way around this?

[2019-06-10 17:20] #2271 closed

[2019-06-10 18:35] qiuminxu opened #2338 "Plugins without backend have no frontend since 2019-06-06"
Consider Stack Overflow for getting support using TensorBoard—they have
a larger community with better searchability:

https://stackoverflow.com/questions/tagged/tensorboard

Do not use this template for for setup, installation, or configuration
issues. Instead, use the “installation problem” issue template:

https://github.com/tensorflow/tensorboard/issues/new?template=installation_problem.md

To

[2019-06-10 18:38] qiuminxu commented on #2338
tb-nightly 0602 has the profile page.

[2019-06-10 19:03] wchargin commented on #2338
I can’t reproduce this. Pointing TensorBoard at a logdir containing only
profile data opens the trace viewer, which works properly; pointing
TensorBoard at a directory that contains no profile data shows the
profile plugin under the inactive menu, and clicking it displays the
proper “No profile data was found” message and “Capture Profile” button.

Can you please run the `diagnose_tensorboard.py`

[2019-06-10 20:12] ShaneSmiskol opened #2339 "Enhancement: Remove ability to zoom in and out of charts without shift-holding"
For me, when I'm scrolling through my TensorBoard page, it seems to still zoom the graphs as I'm scrolling which is really annoying when you have the graph exactly how you like it. To avoid this I have to place my mouse in the small white section on the left to scroll and avoid changing the views on my graphs. Here's a video showing the bug: https://streamable.com/5sp0g

[2019-06-10 21:10] zongweiz commented on #2338
We are running Nvidia's tensorflow container:
TensorFlow 19.03-py3 NGC container
https://ngc.nvidia.com/catalog/containers/nvidia:tensorflow

Here is the output of diagnose_tensorboard.py
(after I uninstall tensorboard and reinstall tb-nightly (1.14.0a20190610))

### Diagnostics

[code]

End of diagnostics.

### Next steps

No action items identified. Please copy ALL of the above output,
including

[2019-06-10 21:16] stephanwlee commented on #2339
Duplicate of #2214. Should be addressed by #2221.

[2019-06-10 21:16] #2339 closed

[2019-06-10 21:59] wchargin commented on #2338
Okay, thanks. I can reproduce this by running

[code]

and then, inside the Docker shell,

[code]

and navigating to <http://localhost:6006/> from the host.

The problem is that the profile plugin backend is failing to load,
because the `profiler_client` module cannot be imported, because the
Docker image has TensorFlow 1.13 rather than TensorFlow 1.14:

https://github.com/tensorflow/tensorboard/b

[2019-06-10 22:55] qiuminxu commented on #2338
From PR#2136, there should be a pop up asking the user to install tf 1.14 if it is not present.
Yes, we'd like the plugin to appear anyway, and user can click on that pop up.

[2019-06-11 00:04] wchargin commented on #2338
Okay, @nfelt and I discussed this a bit and we agree that this is
unfortunate. I’ll look into a proper fix, but for now we should be able
to add back the `registerDashboard` calls for the profiler and beholder
plugins to restore the previous behavior. I’ll send that out today.

[2019-06-11 15:35] qiuminxu commented on #2338
Thanks William for the quick fix!

[2019-06-12 00:21] #2338 closed

[2019-06-12 13:12] Nayana-ibm opened #2344 "Tensorboard build fails on s390x"
**System information**
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Linux Ubuntu 18.04 s390x**
Tensorboard version: 1.13.1
Bazel version (if compiling from source): **v0.24.1**
GCC/Compiler version (if compiling from source): **7.4.0 (Ubuntu 18.04)**
JAVA : ***openjdk version "1.8.0_212**"
OpenJDK Runtime Environment (build 1.8.0_212-8u212-b03-0ubuntu1.18.04.1-b03)
OpenJDK 64-Bit Zer

[2019-06-12 13:14] Nayana-ibm commented on #2344
@gunan @sjamesr Could you please provide inputs on this?

[2019-06-13 08:52] zhixuanli commented on #2010
Just try
[code]

[2019-06-14 07:56] rishabhsahrawat opened #2348 "Documentation on Tensorboard HParams plugin"
I am looking for documentation on Tensorboard HParams plugin, in particular, I want to know about `hp.Discrete` & `hp.RealInterval` and if there are also some other functions like these available. I tried to look for documentation on these but could not find anything. I would be thankful if someone can share a link of the documentation.

[2019-06-14 08:39] rahulkrishnan98 commented on #773
@vitalyli once we run the projector on 100000+ vectors and metadata, it can limit the vector and sample 100000+ points on it, but the metadata for even the loaded points fail.

[2019-06-14 16:18] wchargin commented on #2348
Hi @rishabhsahrawat! We have a [tutorial notebook] with a demo that
shows these APIs. You can run the demo in Colab or download it as an
IPython notebook. You can also read the [top-level API docs] in
`api.py`, and of course the individual docstrings on the various classes
and functions. You can also consult the [hparams demo script] for an
end-to-end example.

The three domain types are the two t

[2019-06-14 19:35] mmv commented on #1421
This issue is more relevant now because TF2.0 removes `SummaryWriter`, making the projector impossible to use without a workaround.

[2019-06-15 21:04] chinmay5 opened #2350 "TensorBoard not running on colab"
Consider Stack Overflow for getting support using TensorBoard—they have
a larger community with better searchability:

https://stackoverflow.com/questions/56606176/tensorboard-projector-not-working-on-colab

I am using colab and although the non GPU version works fine, as soon as I try enabling GPU on the colab notebook, I get errors.

![image](https://user-images.githubusercontent.com/16525717/59

[2019-06-16 00:14] wchargin commented on #2350
Hi @chinmay5! I can’t reproduce this error. On `tf-nightly` from either
yesterday (your SO question) or today, the `projector` import works
fine:

[code]

[code]

This also works fine on TensorFlow 1.13.1 and 1.14.0-rc1.

On the TF 2.0 preview, the import fails because `tensorflow.contrib`
does not exist in TF 2.0, which is to be expected.

You can probably ignore the “already loaded” `%load_ext`

[2019-06-16 09:56] Nayana-ibm commented on #2344
@nfelt Could you please provide inputs on this?

[2019-06-17 11:20] swainsubrat opened #2351 "Hparams"
Please describe the problem that you’re facing and the enhancements that
you’d like to see. Feel free to include screenshots or code samples.

[2019-06-17 11:23] swainsubrat commented on #2351
Can we implement Bayesian method for Hyper-parameter optimization using Hparams directly? OR we have to code it from scratch?

[2019-06-17 15:19] JCMiles opened #2352 "Limited tf.compat.v2.summary API due to missing TensorBoard installation"
I came across this warning after updating to the las nightly release.
Any idea on how to fix it?

[2019-06-17 17:20] wchargin commented on #2352
This generally happens if your Python process is running from the
TensorBoard repository:

[code]

This is because the `tensorboard.summary._tf.summary` module can’t be
imported from the TensorBoard repository, because it depends on compiled
proto bindings that are generated by Bazel and are not in the actual
repository root.

Can you reproduce the issue when importing TensorFlow in an empty
direc

[2019-06-17 18:04] JCMiles commented on #2352
Hello,

I'm running this as usual in anaconda environement.
I just executed the cmd pip install --upgrate tf-nightly and get this error.

where is diagnose_tensorboard.py? so I can perform the test and give you more details

[2019-06-17 22:57] stephanwlee commented on #2351
We at the moment have, AFAIK, no plans to introduce that feature. +cc @wchargin
We'd welcome a contribution to add the feature though.

[2019-06-17 23:02] wchargin opened #2355 "TensorBoard doesn’t build with Bazel 0.27 (and once it builds it doesn’t run)"
New incompatible flags:

[code]

The following flags suffice to get the build to work:

[code]

You need to additionally add

[code]

for Python virtualenv imports to resolve at runtime.

It’s not obvious to me why `depset_is_not_iterable` is back, given that
we fixed those already, but I’ll look into it.

[2019-06-18 00:37] stephanwlee opened #2357 "[Dynamic plugin] tracking bug"
We are building the dynamic loadable plugin system as per described in  https://github.com/tensorflow/community/pull/90. This is a task tracking bug for those who are interested in following the status.

- [x] Infrastructural changes
  - plugin detection and loading: #2257
  - frontend loading of the plugin resources: #2318
  - misc: #2304, #2334, #2329, #2317, #2340,
- [ ] create a "Hello World"

[2019-06-18 07:07] leomao opened #2358 "the width of tf-runs-selector is not correct"
## Environment information (required)

[code]

For browser-related issues, please additionally specify:

- Browser:
  - Firefox 67.0.2
  - Google Chrome 75.0.3770.90
- Screenshot:
![Screenshot from 2019-06-18 14-58-10](https://user-images.githubusercontent.com/1811303/59659807-8eba1000-91d9-11e9-9f5d-06f608f680f3.png)

## Issue description

After the commit 1aa9e53, the width of `tf-runs-selector`

[2019-06-18 15:19] ceevee830 opened #2359 "Upgrading to v1.14: "TypeError: dashboardsTemplate is null""
Hi William,

Here is that console output I spoke about at our meeting last week.  We're upgrading to v1.14 and are coming across this error.  Nothing appears in the browser (ie, no toolbar, no navigator, no orange).  It sounds like I need to register the dashboard.  Sorry if I missed the announcement, but time is of the essence.  Thanks,

-Chris

[code]

[2019-06-18 15:49] JCMiles commented on #2352
the error persist even if aI create a new conda env
with just pip install tf-nighlty

[2019-06-18 15:51] wchargin commented on #2352
When you create an issue, the issue template includes the following
instructions:

(For future reference, it’s really helpful to us if you can read and
follow the template rather than just deleting it. It prevents all this
back-and-forth if we can just get the information up front.)

[2019-06-18 15:53] JCMiles commented on #2352
thx

### Diagnostics

[code]

End of diagnostics.

### Next steps

No action items identified. Please copy ALL of the above output,
including the lines containing only backticks, into your GitHub issue
or comment. Be sure to redact any sensitive information.

[2019-06-18 16:02] JCMiles commented on #2352
Solved!. a project file was accidentally renamed to tenorboard.py
after renaming the file everything's fine.

[2019-06-18 16:02] #2352 closed

[2019-06-18 16:02] wchargin commented on #2359
Hi Chris—

  - Under what conditions do you see that error?
  - Is this the stock `tensorboard` binary? or a custom build of
    TensorBoard from master or the `1.14` branch? or a custom build of
    TensorBoard with additional plugins?
  - If you remove any additional plugins, does the error persist?
  - What browser and what browser version are you using?
  - If this is the error that you mentio

[2019-06-18 16:07] wchargin commented on #2352
I think you mean that one of _your_ project files was actually renamed
to `tensorboard.py` (not `tenorboard.py`), not that one of the
TensorBoard files was accidentally renamed from `tensorboard` to
`tenorboard`. This is apparent from the self-diagnosis output under the
`tensorboard_python_version` check.

Glad that you solved the problem. Again, for future reference, the
answer is immediately app

[2019-06-18 17:14] ceevee830 commented on #2359
Hi William,
`Under what conditions do you see that error?`: Starting the TB back-end server is fine; this error occurs when the browser client starts.  Nothing appears; console output above.
`(what kind of build)?` This is the standard TB v1.14 with our plugins inside (and additions to GRAPH plugin)
`browser version?`: Firefox 67.0.2
`If this is the error that you mentioned at our meeting last wee

[2019-06-18 17:38] wchargin commented on #2359
Not directly. That registration code is still valid, and exists for some
plugins for legacy reasons (cf., e.g., `tf-profile-dashboard.html`).
There is a new way of registering dashboards (define `frontend_metadata`
on the Python plugin; see existing plugins for examples), but the old
way is still supported.

Your default-plugins BUILD and HTML look fine. If you remove the runtime and build depende

[2019-06-18 18:42] nfelt commented on #2344
Hi @Nayana-ibm - sorry, but the s390x build isn't one of TF's officially supported ones and TensorBoard follows that precedent in terms of what we directly support.  I'm happy to leave the issue open but I honestly don't have any idea why it's segfaulting (and don't have a machine available to test).

That said, I'd be surprised if there is anything about TensorBoard that is inherently incompatibl

[2019-06-18 20:35] ceevee830 commented on #2359
OK, so if the old way is still supported, I'd like to continue down that path.<br/>
Working on the bazel query.  Can you help me with the cmdline?  somepath?
```bazel query 'somepath(//bazel-bin/tensorboard/tensorboard, //gpu_summary/...)'```
Here is the output:
[code]
So I copied out plugin code under `plugins/gpu_summary`.  It compiled fine.  Runtime was fine too, of course I could not see the p

[2019-06-18 20:45] khuesmann opened #2361 "Only receiving last step when calling EventAccumulator().Histograms()"
I faced a problem when reading histogram data from da log file.
When calling `EventAccumulator(...).Histograms(...)`, i'll only receive the last step's histogram. `EventAccumulator(...).CompressedHistograms(...)` returns all steps, but unfortunately the histograms are .... compressed...

Tensorflow Version: '1.13.1'

I have the following code to fetch histograms from a log file:
[code]

The histog

[2019-06-18 21:05] #2361 closed

[2019-06-19 00:11] ceevee830 commented on #2359
Hi William, we were going to release our version of TB v1.13 last Friday, but TB 1.14 was released that day.  I'm tasked to upgrade to v1.14 ASAP.  Any cycles you could give to this issue would be greatly appreciated.

[2019-06-19 09:50] ellonde commented on #2122
Any updates on this, will it ever be available in TF2?

Thanks :)

[2019-06-19 14:06] zfang98 commented on #2348
Hi

Hi I looked and tried the tutorial notebook in your note.
I have some questions about this line:
HP_DROPOUT = hp.HParam('dropout', hp.RealInterval(0.1, 0.2))
It seems hparams ran the model with only two values for dropout_rate :0.1, 0.2 instead of using values inbetween 0.1 and 0.2.
How can I let hparams to try values in a range?

Thanks
Fang

[2019-06-19 15:27] wchargin commented on #2348
This is described in the text and code of section 3:

and

[code]

You can see that we’re explicitly picking the two endpoints of the
domain only. You could instead use something like

[code]

for a grid search, or

[code]

for a random search.

More generally, the TensorBoard hparams plugin doesn’t tune the model
for you. You bring your own tuner, or write a simple one inline, as in
the tutorial;

[2019-06-19 15:30] #2348 closed

[2019-06-19 17:40] wchargin commented on #2359
The fact that adding your plugin causes the loop to emit _zero_
containers rather than simply failing to add your plugin sounds like
something in your plugin is breaking the rest of TensorBoard. Combined
with the `SyntaxError`s that you mention in your original post, perhaps
check whether your files are being compiled as you expect?

Recent changes to TensorBoard’s BUILD (#2267, #2308) have requir

[2019-06-19 17:44] wchargin commented on #2122
@ellonde: Not sure exactly what you’re asking. TensorBoard 1.14 has now
been released, and includes the HParams plugin, as does the current
TensorFlow 2.0 beta. This thread is getting a bit hard to follow; if you
have further questions, please be explicit about what you’re asking, or
open a new thread if it’s unrelated to this one. Thanks!

[2019-06-20 00:50] wchargin commented on #2361
Yep, the size guidance is the right thing to tune. Glad that you found a
solution!

[2019-06-20 04:24] SystemErrorWang commented on #1252
I have the same issue without calling ```tf.data.Dataset.from_tensor_slices()``` api. I guess it may be because I loaded a pretrained vgg-19 model. would like to know if there's anyway to reduce the file size

[2019-06-20 16:09] #2358 closed

[2019-06-21 01:46] ceevee830 commented on #2359
HI William,

Seeing that the dashboard extensions and dashboard loaders have changed between versions, I copied the GRAPHS plugin code to where my plugin used to be, changed the names to match, and am slowly replacing the GRAPHS business logic with mine.  This is so that the dashboard and loader signatures have the same signatures.  Things were going good until I found this error message again (da

[2019-06-21 09:13] morgangiraud commented on #1961
H everybody, I think I have a different version of this bug :

[code]

Do you think I should create an issue in the TF repository ?

[2019-06-21 16:04] stephanwlee commented on #1961
Hi @morgangiraud, I didn't know too much about `tf.autograph` but, in TF 2.0, it seems like you should be using `@tf.function` instead. As you can see in [autograph README](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/autograph/README.md), the `autograph.to_graph` only gives you a graph but does not really change the TensorFlow execution mode -- the resulting graph code i

[2019-06-21 17:59] ceevee830 commented on #2359
Hi William,

I've removed all the code in this html file to make a degenerative case that demonstrates the problem:

[code]

When I remove (or comment-out) `<script src="../webcomponentsjs/webcomponents-lite.min.js"></script>`, TB appears in the browser.

Bazel 0.22.0
Firefox browser 67.0.4 (64-bit) windows
Firefox browser 67.0.3 (64-bit) ubuntu

stack trace
[code]

Thoughts?

[2019-06-21 19:46] wchargin commented on #2359
Great; thanks for the minimal repro. Loading Polymer or the web
components polyfills multiple times is definitely known to cause
problems. Can you just remove this line? (From a quick `grep`, it
doesn’t look like any of the other plugins include it in the main
frame; it’s only used by `trace_viewer.html`, which appears in an
iframe.)

I’m not sure what changed from 1.13 to 1.14 to surface this.

[2019-06-21 21:54] ceevee830 commented on #2359
OK, thanks, I removed the line `<script src="../webcomponentsjs/webcomponents-lite.min.js"></script>` from all the source files and the `dashboardsTemplate` problem has stopped.

But one thing I just read in your recent message was `Loading Polymer or the web components polyfills multiple times is definitely known to cause problems`.  Regarding the polyfill: I'm noticing that my panels are being r

[2019-06-21 22:10] wchargin commented on #2359
The `style-scope`ing is done by Polymer, as a polyfill for scoped CSS:
styles defined in `<style>` elements inside your `<dom-module>` only
apply to components specified in that `<dom-module>`, so you can use
short, readable selectors like `.icon` without worrying about conflicts
with other components.

The `#document-fragment` is an artifact of Shadow DOM itself. It’s the…
“shadow root”, I believ

[2019-06-21 22:11] wchargin commented on #2359
And glad to hear that the problem has stopped!

[2019-06-21 22:17] ceevee830 commented on #2359
That's good to know.  The bigger issue is referred-to be the hand-drawn curly brace with the arrow.  Where did the html for those two panels go?  Shall I start a new issue?

[2019-06-21 22:21] stephanwlee commented on #2359
This is a normal behavior. When you define a Polymer component, you specify what the DOM should look like in a template which by itself is not user visible element. _Polymer_, during the runtime, parses the template HTML to figure out its data bindings and hides the template content away from the user. It, after parsing it, does hold the reference to inner templates in the memory which gets used o

[2019-06-22 10:46] Airop opened #2376 "'from tensorflow.keras.callbacks import ModelCheckpoint, Tensorboard'"
Problem Solved

[2019-06-22 12:33] kernelizd commented on #2348
I highly recommend that these details be added to the notebook, cause the it leaves much to be desired.